{
    "swagger": "2.0",
    "info": {
        "title": "AcademicRecordsCWAIM",
        "description": "This service accesses previous and current Independent Studies and Conferences and Workshops class registration information for an individual, adds Independent Studies or Conferences and Workshops classes for an individual, and modifies grades for Independent Studies or Conferences and Workshops classes for an individual in the AIM System.",
        "version": "v1",
        "contact": {
            "email": "it@byu.edu",
            "name": "OIT Service Desk Support",
            "url": "https://it.byu.edu"
        }
    },
    "host": "api.byu.edu:443",
    "schemes": [
        "https"
    ],
    "basePath": "/domains/legacy/academic/records/CWAIM/v1",
    "produces": [
        "application/json",
        "application/xml"
    ],
    "paths": {
        "/*": {
            "get": {
                "summary": "Shows classes uploaded for Independent Study or Conferences and Workshops for logged in user",
                "description": "Shows classes uploaded for Independent Study or Conferences and Workshops for logged in user",
                "operationId": "getUploads",
                "parameters": [],
                "tags": [
                    "CwAimService"
                ],
                "responses": {
                    "200": {
                        "description": "Service request is OK and a response has been generated.",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "request": {
                                    "type": "object",
                                    "properties": {
                                        "method": {
                                            "type": "string"
                                        },
                                        "resource": {
                                            "type": "string"
                                        },
                                        "attributes": {
                                            "type": "string"
                                        },
                                        "status": {
                                            "type": "number"
                                        },
                                        "statusMessage": {
                                            "type": "string"
                                        }
                                    }
                                },
                                "response": {
                                    "type": "object",
                                    "properties": {
                                        "0": {
                                            "type": "object",
                                            "properties": {
                                                "teaching_area": {
                                                    "type": "string"
                                                },
                                                "catalog_number": {
                                                    "type": "string"
                                                },
                                                "section_number": {
                                                    "type": "string"
                                                },
                                                "block": {
                                                    "type": "string"
                                                },
                                                "curriculum_id": {
                                                    "type": "string"
                                                },
                                                "title_code": {
                                                    "type": "string"
                                                },
                                                "lab_quiz": {
                                                    "type": "string"
                                                },
                                                "section_type": {
                                                    "type": "string"
                                                },
                                                "credit_hours": {
                                                    "type": "string"
                                                },
                                                "honors": {
                                                    "type": "string"
                                                },
                                                "service_learning": {
                                                    "type": "string"
                                                },
                                                "date_added": {
                                                    "type": "string"
                                                },
                                                "added_by": {
                                                    "type": "string"
                                                },
                                                "grade": {
                                                    "type": "string"
                                                },
                                                "repeat": {
                                                    "type": "string"
                                                },
                                                "date_graded": {
                                                    "type": "string"
                                                },
                                                "graded_by": {
                                                    "type": "string"
                                                },
                                                "date_updated": {
                                                    "type": "string"
                                                },
                                                "updated_by": {
                                                    "type": "string"
                                                }
                                            }
                                        },
                                        "status": {
                                            "type": "string"
                                        },
                                        "message": {
                                            "type": "string"
                                        },
                                        "person_id": {
                                            "type": "string"
                                        },
                                        "byu_id": {
                                            "type": "string"
                                        },
                                        "net_id_or_ssn": {
                                            "type": "string"
                                        },
                                        "CLASSES": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "teaching_area": {
                                                        "type": "string"
                                                    },
                                                    "catalog_number": {
                                                        "type": "string"
                                                    },
                                                    "section_number": {
                                                        "type": "string"
                                                    },
                                                    "block": {
                                                        "type": "string"
                                                    },
                                                    "curriculum_id": {
                                                        "type": "string"
                                                    },
                                                    "title_code": {
                                                        "type": "string"
                                                    },
                                                    "lab_quiz": {
                                                        "type": "string"
                                                    },
                                                    "section_type": {
                                                        "type": "string"
                                                    },
                                                    "credit_hours": {
                                                        "type": "string"
                                                    },
                                                    "honors": {
                                                        "type": "string"
                                                    },
                                                    "service_learning": {
                                                        "type": "string"
                                                    },
                                                    "date_added": {
                                                        "type": "string"
                                                    },
                                                    "added_by": {
                                                        "type": "string"
                                                    },
                                                    "grade": {
                                                        "type": "string"
                                                    },
                                                    "repeat": {
                                                        "type": "string"
                                                    },
                                                    "date_graded": {
                                                        "type": "string"
                                                    },
                                                    "graded_by": {
                                                        "type": "string"
                                                    },
                                                    "date_updated": {
                                                        "type": "string"
                                                    },
                                                    "updated_by": {
                                                        "type": "string"
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        },
                        "examples": {
                            "application/json": {
                                "request": {
                                    "method": "GET",
                                    "resource": "/json/",
                                    "attributes": "",
                                    "status": 200,
                                    "statusMessage": "Service request is OK and a response has been generated."
                                },
                                "response": {
                                    "status": "A",
                                    "message": "1 Conferences and Workshops or Independent Study classes found",
                                    "person_id": "123456789",
                                    "byu_id": "123456789",
                                    "net_id_or_ssn": "net_id",
                                    "CLASSES": [
                                        {
                                            "teaching_area": "ENGL",
                                            "catalog_number": "316",
                                            "section_number": "029",
                                            "block": "20161",
                                            "curriculum_id": "01857",
                                            "title_code": "005",
                                            "lab_quiz": "",
                                            "section_type": "IND STUDY",
                                            "credit_hours": "3.00",
                                            "honors": "",
                                            "service_learning": "N",
                                            "date_added": "23 Apr 2016",
                                            "added_by": "IndStudy",
                                            "grade": "A",
                                            "repeat": "",
                                            "date_graded": "23 Apr 2016",
                                            "graded_by": "",
                                            "date_updated": "23 Apr 2016",
                                            "updated_by": "IndStudy"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "There appears to be a syntax error in the composition of the service request. The response structure may contain information about the error. If the base URI or service request URI is invalid, any response will come as an HTTP response.",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "request": {
                                    "type": "object",
                                    "properties": {
                                        "method": {
                                            "type": "string"
                                        },
                                        "resource": {
                                            "type": "string"
                                        },
                                        "attributes": {
                                            "type": "string"
                                        },
                                        "status": {
                                            "type": "number"
                                        },
                                        "statusMessage": {
                                            "type": "string"
                                        }
                                    }
                                },
                                "errors": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "code": {
                                                "type": "string"
                                            },
                                            "name": {
                                                "type": "string"
                                            },
                                            "message": {
                                                "type": "string"
                                            },
                                            "httpStatusCode": {
                                                "type": "number"
                                            }
                                        }
                                    }
                                },
                                "response": {
                                    "type": "object",
                                    "properties": {}
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Failure to authenticate",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "request": {
                                    "type": "object",
                                    "properties": {
                                        "method": {
                                            "type": "string"
                                        },
                                        "resource": {
                                            "type": "string"
                                        },
                                        "attributes": {
                                            "type": "string"
                                        },
                                        "status": {
                                            "type": "number"
                                        },
                                        "statusMessage": {
                                            "type": "string"
                                        }
                                    }
                                },
                                "errors": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "code": {
                                                "type": "string"
                                            },
                                            "name": {
                                                "type": "string"
                                            },
                                            "message": {
                                                "type": "string"
                                            },
                                            "httpStatusCode": {
                                                "type": "number"
                                            }
                                        }
                                    }
                                },
                                "response": {
                                    "type": "object",
                                    "properties": {}
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "The user does not have access to the resource.",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "request": {
                                    "type": "object",
                                    "properties": {
                                        "method": {
                                            "type": "string"
                                        },
                                        "resource": {
                                            "type": "string"
                                        },
                                        "attributes": {
                                            "type": "string"
                                        },
                                        "status": {
                                            "type": "number"
                                        },
                                        "statusMessage": {
                                            "type": "string"
                                        }
                                    }
                                },
                                "errors": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "code": {
                                                "type": "string"
                                            },
                                            "name": {
                                                "type": "string"
                                            },
                                            "message": {
                                                "type": "string"
                                            },
                                            "httpStatusCode": {
                                                "type": "number"
                                            }
                                        }
                                    }
                                },
                                "response": {
                                    "type": "object",
                                    "properties": {}
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "The target resource can not be found for the provided resource identifiers.",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "request": {
                                    "type": "object",
                                    "properties": {
                                        "method": {
                                            "type": "string"
                                        },
                                        "resource": {
                                            "type": "string"
                                        },
                                        "attributes": {
                                            "type": "string"
                                        },
                                        "status": {
                                            "type": "number"
                                        },
                                        "statusMessage": {
                                            "type": "string"
                                        }
                                    }
                                },
                                "errors": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "code": {
                                                "type": "string"
                                            },
                                            "name": {
                                                "type": "string"
                                            },
                                            "message": {
                                                "type": "string"
                                            },
                                            "httpStatusCode": {
                                                "type": "number"
                                            }
                                        }
                                    }
                                },
                                "response": {
                                    "type": "object",
                                    "properties": {}
                                }
                            }
                        }
                    },
                    "405": {
                        "description": "The service method is not supported by the service.",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "request": {
                                    "type": "object",
                                    "properties": {
                                        "method": {
                                            "type": "string"
                                        },
                                        "resource": {
                                            "type": "string"
                                        },
                                        "attributes": {
                                            "type": "string"
                                        },
                                        "status": {
                                            "type": "number"
                                        },
                                        "statusMessage": {
                                            "type": "string"
                                        }
                                    }
                                },
                                "errors": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "code": {
                                                "type": "string"
                                            },
                                            "name": {
                                                "type": "string"
                                            },
                                            "message": {
                                                "type": "string"
                                            },
                                            "httpStatusCode": {
                                                "type": "number"
                                            }
                                        }
                                    }
                                },
                                "response": {
                                    "type": "object",
                                    "properties": {}
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "A conflict has occurred. The response structure may contain information about the conflict.",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "request": {
                                    "type": "object",
                                    "properties": {
                                        "method": {
                                            "type": "string"
                                        },
                                        "resource": {
                                            "type": "string"
                                        },
                                        "attributes": {
                                            "type": "string"
                                        },
                                        "status": {
                                            "type": "number"
                                        },
                                        "statusMessage": {
                                            "type": "string"
                                        }
                                    }
                                },
                                "errors": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "code": {
                                                "type": "string"
                                            },
                                            "name": {
                                                "type": "string"
                                            },
                                            "message": {
                                                "type": "string"
                                            },
                                            "httpStatusCode": {
                                                "type": "number"
                                            }
                                        }
                                    }
                                },
                                "response": {
                                    "type": "object",
                                    "properties": {}
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "An error occurred generating the response to the service request. This is strictly a server error and not an application error.",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "request": {
                                    "type": "object",
                                    "properties": {
                                        "method": {
                                            "type": "string"
                                        },
                                        "resource": {
                                            "type": "string"
                                        },
                                        "attributes": {
                                            "type": "string"
                                        },
                                        "status": {
                                            "type": "number"
                                        },
                                        "statusMessage": {
                                            "type": "string"
                                        }
                                    }
                                },
                                "errors": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "code": {
                                                "type": "string"
                                            },
                                            "name": {
                                                "type": "string"
                                            },
                                            "message": {
                                                "type": "string"
                                            },
                                            "httpStatusCode": {
                                                "type": "number"
                                            }
                                        }
                                    }
                                },
                                "response": {
                                    "type": "object",
                                    "properties": {}
                                }
                            }
                        }
                    }
                }
            }
        },
        "/cw": {
            "get": {
                "summary": "Shows classes uploaded for Conferences and Workshops for logged in user",
                "description": "Shows classes uploaded for Conferences and Workshops for logged in user",
                "operationId": "getCWUploads",
                "parameters": [],
                "tags": [
                    "CwAimService"
                ],
                "responses": {
                    "200": {
                        "description": "Service request is OK and a response has been generated.",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "request": {
                                    "type": "object",
                                    "properties": {
                                        "method": {
                                            "type": "string"
                                        },
                                        "resource": {
                                            "type": "string"
                                        },
                                        "attributes": {
                                            "type": "string"
                                        },
                                        "status": {
                                            "type": "number"
                                        },
                                        "statusMessage": {
                                            "type": "string"
                                        }
                                    }
                                },
                                "response": {
                                    "type": "object",
                                    "properties": {
                                        "0": {
                                            "type": "object",
                                            "properties": {
                                                "teaching_area": {
                                                    "type": "string"
                                                },
                                                "catalog_number": {
                                                    "type": "string"
                                                },
                                                "section_number": {
                                                    "type": "string"
                                                },
                                                "block": {
                                                    "type": "string"
                                                },
                                                "curriculum_id": {
                                                    "type": "string"
                                                },
                                                "title_code": {
                                                    "type": "string"
                                                },
                                                "lab_quiz": {
                                                    "type": "string"
                                                },
                                                "section_type": {
                                                    "type": "string"
                                                },
                                                "credit_hours": {
                                                    "type": "string"
                                                },
                                                "honors": {
                                                    "type": "string"
                                                },
                                                "service_learning": {
                                                    "type": "string"
                                                },
                                                "date_added": {
                                                    "type": "string"
                                                },
                                                "added_by": {
                                                    "type": "string"
                                                },
                                                "grade": {
                                                    "type": "string"
                                                },
                                                "repeat": {
                                                    "type": "string"
                                                },
                                                "date_graded": {
                                                    "type": "string"
                                                },
                                                "graded_by": {
                                                    "type": "string"
                                                },
                                                "date_updated": {
                                                    "type": "string"
                                                },
                                                "updated_by": {
                                                    "type": "string"
                                                }
                                            }
                                        },
                                        "status": {
                                            "type": "string"
                                        },
                                        "message": {
                                            "type": "string"
                                        },
                                        "person_id": {
                                            "type": "string"
                                        },
                                        "byu_id": {
                                            "type": "string"
                                        },
                                        "net_id_or_ssn": {
                                            "type": "string"
                                        },
                                        "CLASSES": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "teaching_area": {
                                                        "type": "string"
                                                    },
                                                    "catalog_number": {
                                                        "type": "string"
                                                    },
                                                    "section_number": {
                                                        "type": "string"
                                                    },
                                                    "block": {
                                                        "type": "string"
                                                    },
                                                    "curriculum_id": {
                                                        "type": "string"
                                                    },
                                                    "title_code": {
                                                        "type": "string"
                                                    },
                                                    "lab_quiz": {
                                                        "type": "string"
                                                    },
                                                    "section_type": {
                                                        "type": "string"
                                                    },
                                                    "credit_hours": {
                                                        "type": "string"
                                                    },
                                                    "honors": {
                                                        "type": "string"
                                                    },
                                                    "service_learning": {
                                                        "type": "string"
                                                    },
                                                    "date_added": {
                                                        "type": "string"
                                                    },
                                                    "added_by": {
                                                        "type": "string"
                                                    },
                                                    "grade": {
                                                        "type": "string"
                                                    },
                                                    "repeat": {
                                                        "type": "string"
                                                    },
                                                    "date_graded": {
                                                        "type": "string"
                                                    },
                                                    "graded_by": {
                                                        "type": "string"
                                                    },
                                                    "date_updated": {
                                                        "type": "string"
                                                    },
                                                    "updated_by": {
                                                        "type": "string"
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        },
                        "examples": {
                            "application/json": {
                                "request": {
                                    "method": "GET",
                                    "resource": "/json/",
                                    "attributes": "",
                                    "status": 200,
                                    "statusMessage": "Service request is OK and a response has been generated."
                                },
                                "response": {
                                    "status": "A",
                                    "message": "1 Conferences and Workshops or Independent Study classes found",
                                    "person_id": "123456789",
                                    "byu_id": "123456789",
                                    "net_id_or_ssn": "net_id",
                                    "CLASSES": [
                                        {
                                            "teaching_area": "ENGL",
                                            "catalog_number": "316",
                                            "section_number": "029",
                                            "block": "20161",
                                            "curriculum_id": "01857",
                                            "title_code": "005",
                                            "lab_quiz": "",
                                            "section_type": "IND STUDY",
                                            "credit_hours": "3.00",
                                            "honors": "",
                                            "service_learning": "N",
                                            "date_added": "23 Apr 2016",
                                            "added_by": "IndStudy",
                                            "grade": "A",
                                            "repeat": "",
                                            "date_graded": "23 Apr 2016",
                                            "graded_by": "",
                                            "date_updated": "23 Apr 2016",
                                            "updated_by": "IndStudy"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "There appears to be a syntax error in the composition of the service request. The response structure may contain information about the error. If the base URI or service request URI is invalid, any response will come as an HTTP response.",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "request": {
                                    "type": "object",
                                    "properties": {
                                        "method": {
                                            "type": "string"
                                        },
                                        "resource": {
                                            "type": "string"
                                        },
                                        "attributes": {
                                            "type": "string"
                                        },
                                        "status": {
                                            "type": "number"
                                        },
                                        "statusMessage": {
                                            "type": "string"
                                        }
                                    }
                                },
                                "errors": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "code": {
                                                "type": "string"
                                            },
                                            "name": {
                                                "type": "string"
                                            },
                                            "message": {
                                                "type": "string"
                                            },
                                            "httpStatusCode": {
                                                "type": "number"
                                            }
                                        }
                                    }
                                },
                                "response": {
                                    "type": "object",
                                    "properties": {}
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Failure to authenticate",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "request": {
                                    "type": "object",
                                    "properties": {
                                        "method": {
                                            "type": "string"
                                        },
                                        "resource": {
                                            "type": "string"
                                        },
                                        "attributes": {
                                            "type": "string"
                                        },
                                        "status": {
                                            "type": "number"
                                        },
                                        "statusMessage": {
                                            "type": "string"
                                        }
                                    }
                                },
                                "errors": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "code": {
                                                "type": "string"
                                            },
                                            "name": {
                                                "type": "string"
                                            },
                                            "message": {
                                                "type": "string"
                                            },
                                            "httpStatusCode": {
                                                "type": "number"
                                            }
                                        }
                                    }
                                },
                                "response": {
                                    "type": "object",
                                    "properties": {}
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "The user does not have access to the resource.",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "request": {
                                    "type": "object",
                                    "properties": {
                                        "method": {
                                            "type": "string"
                                        },
                                        "resource": {
                                            "type": "string"
                                        },
                                        "attributes": {
                                            "type": "string"
                                        },
                                        "status": {
                                            "type": "number"
                                        },
                                        "statusMessage": {
                                            "type": "string"
                                        }
                                    }
                                },
                                "errors": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "code": {
                                                "type": "string"
                                            },
                                            "name": {
                                                "type": "string"
                                            },
                                            "message": {
                                                "type": "string"
                                            },
                                            "httpStatusCode": {
                                                "type": "number"
                                            }
                                        }
                                    }
                                },
                                "response": {
                                    "type": "object",
                                    "properties": {}
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "The target resource can not be found for the provided resource identifiers.",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "request": {
                                    "type": "object",
                                    "properties": {
                                        "method": {
                                            "type": "string"
                                        },
                                        "resource": {
                                            "type": "string"
                                        },
                                        "attributes": {
                                            "type": "string"
                                        },
                                        "status": {
                                            "type": "number"
                                        },
                                        "statusMessage": {
                                            "type": "string"
                                        }
                                    }
                                },
                                "errors": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "code": {
                                                "type": "string"
                                            },
                                            "name": {
                                                "type": "string"
                                            },
                                            "message": {
                                                "type": "string"
                                            },
                                            "httpStatusCode": {
                                                "type": "number"
                                            }
                                        }
                                    }
                                },
                                "response": {
                                    "type": "object",
                                    "properties": {}
                                }
                            }
                        }
                    },
                    "405": {
                        "description": "The service method is not supported by the service.",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "request": {
                                    "type": "object",
                                    "properties": {
                                        "method": {
                                            "type": "string"
                                        },
                                        "resource": {
                                            "type": "string"
                                        },
                                        "attributes": {
                                            "type": "string"
                                        },
                                        "status": {
                                            "type": "number"
                                        },
                                        "statusMessage": {
                                            "type": "string"
                                        }
                                    }
                                },
                                "errors": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "code": {
                                                "type": "string"
                                            },
                                            "name": {
                                                "type": "string"
                                            },
                                            "message": {
                                                "type": "string"
                                            },
                                            "httpStatusCode": {
                                                "type": "number"
                                            }
                                        }
                                    }
                                },
                                "response": {
                                    "type": "object",
                                    "properties": {}
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "A conflict has occurred. The response structure may contain information about the conflict.",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "request": {
                                    "type": "object",
                                    "properties": {
                                        "method": {
                                            "type": "string"
                                        },
                                        "resource": {
                                            "type": "string"
                                        },
                                        "attributes": {
                                            "type": "string"
                                        },
                                        "status": {
                                            "type": "number"
                                        },
                                        "statusMessage": {
                                            "type": "string"
                                        }
                                    }
                                },
                                "errors": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "code": {
                                                "type": "string"
                                            },
                                            "name": {
                                                "type": "string"
                                            },
                                            "message": {
                                                "type": "string"
                                            },
                                            "httpStatusCode": {
                                                "type": "number"
                                            }
                                        }
                                    }
                                },
                                "response": {
                                    "type": "object",
                                    "properties": {}
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "An error occurred generating the response to the service request. This is strictly a server error and not an application error.",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "request": {
                                    "type": "object",
                                    "properties": {
                                        "method": {
                                            "type": "string"
                                        },
                                        "resource": {
                                            "type": "string"
                                        },
                                        "attributes": {
                                            "type": "string"
                                        },
                                        "status": {
                                            "type": "number"
                                        },
                                        "statusMessage": {
                                            "type": "string"
                                        }
                                    }
                                },
                                "errors": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "code": {
                                                "type": "string"
                                            },
                                            "name": {
                                                "type": "string"
                                            },
                                            "message": {
                                                "type": "string"
                                            },
                                            "httpStatusCode": {
                                                "type": "number"
                                            }
                                        }
                                    }
                                },
                                "response": {
                                    "type": "object",
                                    "properties": {}
                                }
                            }
                        }
                    }
                }
            }
        },
        "/is": {
            "get": {
                "summary": "Shows classes uploaded for Independent Study for logged in user",
                "description": "Shows classes uploaded for Independent Study for logged in user",
                "operationId": "getISUploads",
                "parameters": [],
                "tags": [
                    "CwAimService"
                ],
                "responses": {
                    "200": {
                        "description": "Service request is OK and a response has been generated.",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "request": {
                                    "type": "object",
                                    "properties": {
                                        "method": {
                                            "type": "string"
                                        },
                                        "resource": {
                                            "type": "string"
                                        },
                                        "attributes": {
                                            "type": "string"
                                        },
                                        "status": {
                                            "type": "number"
                                        },
                                        "statusMessage": {
                                            "type": "string"
                                        }
                                    }
                                },
                                "response": {
                                    "type": "object",
                                    "properties": {
                                        "0": {
                                            "type": "object",
                                            "properties": {
                                                "teaching_area": {
                                                    "type": "string"
                                                },
                                                "catalog_number": {
                                                    "type": "string"
                                                },
                                                "section_number": {
                                                    "type": "string"
                                                },
                                                "block": {
                                                    "type": "string"
                                                },
                                                "curriculum_id": {
                                                    "type": "string"
                                                },
                                                "title_code": {
                                                    "type": "string"
                                                },
                                                "lab_quiz": {
                                                    "type": "string"
                                                },
                                                "section_type": {
                                                    "type": "string"
                                                },
                                                "credit_hours": {
                                                    "type": "string"
                                                },
                                                "honors": {
                                                    "type": "string"
                                                },
                                                "service_learning": {
                                                    "type": "string"
                                                },
                                                "date_added": {
                                                    "type": "string"
                                                },
                                                "added_by": {
                                                    "type": "string"
                                                },
                                                "grade": {
                                                    "type": "string"
                                                },
                                                "repeat": {
                                                    "type": "string"
                                                },
                                                "date_graded": {
                                                    "type": "string"
                                                },
                                                "graded_by": {
                                                    "type": "string"
                                                },
                                                "date_updated": {
                                                    "type": "string"
                                                },
                                                "updated_by": {
                                                    "type": "string"
                                                }
                                            }
                                        },
                                        "status": {
                                            "type": "string"
                                        },
                                        "message": {
                                            "type": "string"
                                        },
                                        "person_id": {
                                            "type": "string"
                                        },
                                        "byu_id": {
                                            "type": "string"
                                        },
                                        "net_id_or_ssn": {
                                            "type": "string"
                                        },
                                        "CLASSES": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "teaching_area": {
                                                        "type": "string"
                                                    },
                                                    "catalog_number": {
                                                        "type": "string"
                                                    },
                                                    "section_number": {
                                                        "type": "string"
                                                    },
                                                    "block": {
                                                        "type": "string"
                                                    },
                                                    "curriculum_id": {
                                                        "type": "string"
                                                    },
                                                    "title_code": {
                                                        "type": "string"
                                                    },
                                                    "lab_quiz": {
                                                        "type": "string"
                                                    },
                                                    "section_type": {
                                                        "type": "string"
                                                    },
                                                    "credit_hours": {
                                                        "type": "string"
                                                    },
                                                    "honors": {
                                                        "type": "string"
                                                    },
                                                    "service_learning": {
                                                        "type": "string"
                                                    },
                                                    "date_added": {
                                                        "type": "string"
                                                    },
                                                    "added_by": {
                                                        "type": "string"
                                                    },
                                                    "grade": {
                                                        "type": "string"
                                                    },
                                                    "repeat": {
                                                        "type": "string"
                                                    },
                                                    "date_graded": {
                                                        "type": "string"
                                                    },
                                                    "graded_by": {
                                                        "type": "string"
                                                    },
                                                    "date_updated": {
                                                        "type": "string"
                                                    },
                                                    "updated_by": {
                                                        "type": "string"
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        },
                        "examples": {
                            "application/json": {
                                "request": {
                                    "method": "GET",
                                    "resource": "/json/",
                                    "attributes": "",
                                    "status": 200,
                                    "statusMessage": "Service request is OK and a response has been generated."
                                },
                                "response": {
                                    "status": "A",
                                    "message": "1 Conferences and Workshops or Independent Study classes found",
                                    "person_id": "123456789",
                                    "byu_id": "123456789",
                                    "net_id_or_ssn": "net_id",
                                    "CLASSES": [
                                        {
                                            "teaching_area": "ENGL",
                                            "catalog_number": "316",
                                            "section_number": "029",
                                            "block": "20161",
                                            "curriculum_id": "01857",
                                            "title_code": "005",
                                            "lab_quiz": "",
                                            "section_type": "IND STUDY",
                                            "credit_hours": "3.00",
                                            "honors": "",
                                            "service_learning": "N",
                                            "date_added": "23 Apr 2016",
                                            "added_by": "IndStudy",
                                            "grade": "A",
                                            "repeat": "",
                                            "date_graded": "23 Apr 2016",
                                            "graded_by": "",
                                            "date_updated": "23 Apr 2016",
                                            "updated_by": "IndStudy"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "There appears to be a syntax error in the composition of the service request. The response structure may contain information about the error. If the base URI or service request URI is invalid, any response will come as an HTTP response.",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "request": {
                                    "type": "object",
                                    "properties": {
                                        "method": {
                                            "type": "string"
                                        },
                                        "resource": {
                                            "type": "string"
                                        },
                                        "attributes": {
                                            "type": "string"
                                        },
                                        "status": {
                                            "type": "number"
                                        },
                                        "statusMessage": {
                                            "type": "string"
                                        }
                                    }
                                },
                                "errors": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "code": {
                                                "type": "string"
                                            },
                                            "name": {
                                                "type": "string"
                                            },
                                            "message": {
                                                "type": "string"
                                            },
                                            "httpStatusCode": {
                                                "type": "number"
                                            }
                                        }
                                    }
                                },
                                "response": {
                                    "type": "object",
                                    "properties": {}
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Failure to authenticate",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "request": {
                                    "type": "object",
                                    "properties": {
                                        "method": {
                                            "type": "string"
                                        },
                                        "resource": {
                                            "type": "string"
                                        },
                                        "attributes": {
                                            "type": "string"
                                        },
                                        "status": {
                                            "type": "number"
                                        },
                                        "statusMessage": {
                                            "type": "string"
                                        }
                                    }
                                },
                                "errors": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "code": {
                                                "type": "string"
                                            },
                                            "name": {
                                                "type": "string"
                                            },
                                            "message": {
                                                "type": "string"
                                            },
                                            "httpStatusCode": {
                                                "type": "number"
                                            }
                                        }
                                    }
                                },
                                "response": {
                                    "type": "object",
                                    "properties": {}
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "The user does not have access to the resource.",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "request": {
                                    "type": "object",
                                    "properties": {
                                        "method": {
                                            "type": "string"
                                        },
                                        "resource": {
                                            "type": "string"
                                        },
                                        "attributes": {
                                            "type": "string"
                                        },
                                        "status": {
                                            "type": "number"
                                        },
                                        "statusMessage": {
                                            "type": "string"
                                        }
                                    }
                                },
                                "errors": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "code": {
                                                "type": "string"
                                            },
                                            "name": {
                                                "type": "string"
                                            },
                                            "message": {
                                                "type": "string"
                                            },
                                            "httpStatusCode": {
                                                "type": "number"
                                            }
                                        }
                                    }
                                },
                                "response": {
                                    "type": "object",
                                    "properties": {}
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "The target resource can not be found for the provided resource identifiers.",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "request": {
                                    "type": "object",
                                    "properties": {
                                        "method": {
                                            "type": "string"
                                        },
                                        "resource": {
                                            "type": "string"
                                        },
                                        "attributes": {
                                            "type": "string"
                                        },
                                        "status": {
                                            "type": "number"
                                        },
                                        "statusMessage": {
                                            "type": "string"
                                        }
                                    }
                                },
                                "errors": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "code": {
                                                "type": "string"
                                            },
                                            "name": {
                                                "type": "string"
                                            },
                                            "message": {
                                                "type": "string"
                                            },
                                            "httpStatusCode": {
                                                "type": "number"
                                            }
                                        }
                                    }
                                },
                                "response": {
                                    "type": "object",
                                    "properties": {}
                                }
                            }
                        }
                    },
                    "405": {
                        "description": "The service method is not supported by the service.",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "request": {
                                    "type": "object",
                                    "properties": {
                                        "method": {
                                            "type": "string"
                                        },
                                        "resource": {
                                            "type": "string"
                                        },
                                        "attributes": {
                                            "type": "string"
                                        },
                                        "status": {
                                            "type": "number"
                                        },
                                        "statusMessage": {
                                            "type": "string"
                                        }
                                    }
                                },
                                "errors": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "code": {
                                                "type": "string"
                                            },
                                            "name": {
                                                "type": "string"
                                            },
                                            "message": {
                                                "type": "string"
                                            },
                                            "httpStatusCode": {
                                                "type": "number"
                                            }
                                        }
                                    }
                                },
                                "response": {
                                    "type": "object",
                                    "properties": {}
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "A conflict has occurred. The response structure may contain information about the conflict.",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "request": {
                                    "type": "object",
                                    "properties": {
                                        "method": {
                                            "type": "string"
                                        },
                                        "resource": {
                                            "type": "string"
                                        },
                                        "attributes": {
                                            "type": "string"
                                        },
                                        "status": {
                                            "type": "number"
                                        },
                                        "statusMessage": {
                                            "type": "string"
                                        }
                                    }
                                },
                                "errors": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "code": {
                                                "type": "string"
                                            },
                                            "name": {
                                                "type": "string"
                                            },
                                            "message": {
                                                "type": "string"
                                            },
                                            "httpStatusCode": {
                                                "type": "number"
                                            }
                                        }
                                    }
                                },
                                "response": {
                                    "type": "object",
                                    "properties": {}
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "An error occurred generating the response to the service request. This is strictly a server error and not an application error.",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "request": {
                                    "type": "object",
                                    "properties": {
                                        "method": {
                                            "type": "string"
                                        },
                                        "resource": {
                                            "type": "string"
                                        },
                                        "attributes": {
                                            "type": "string"
                                        },
                                        "status": {
                                            "type": "number"
                                        },
                                        "statusMessage": {
                                            "type": "string"
                                        }
                                    }
                                },
                                "errors": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "code": {
                                                "type": "string"
                                            },
                                            "name": {
                                                "type": "string"
                                            },
                                            "message": {
                                                "type": "string"
                                            },
                                            "httpStatusCode": {
                                                "type": "number"
                                            }
                                        }
                                    }
                                },
                                "response": {
                                    "type": "object",
                                    "properties": {}
                                }
                            }
                        }
                    }
                }
            }
        },
        "/{person_id}": {
            "get": {
                "summary": "Shows classes uploaded for Independent Study or Conferences and Workshops for identified person",
                "description": "Shows classes uploaded for Independent Study or Conferences and Workshops for identified person",
                "operationId": "getPersonUploads",
                "parameters": [
                    {
                        "name": "person_id",
                        "description": "string -> a string of numbers 9 digits long",
                        "type": "string",
                        "in": "path",
                        "required": true
                    }
                ],
                "tags": [
                    "CwAimService"
                ],
                "responses": {
                    "200": {
                        "description": "Service request is OK and a response has been generated.",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "request": {
                                    "type": "object",
                                    "properties": {
                                        "method": {
                                            "type": "string"
                                        },
                                        "resource": {
                                            "type": "string"
                                        },
                                        "attributes": {
                                            "type": "string"
                                        },
                                        "status": {
                                            "type": "number"
                                        },
                                        "statusMessage": {
                                            "type": "string"
                                        }
                                    }
                                },
                                "response": {
                                    "type": "object",
                                    "properties": {
                                        "0": {
                                            "type": "object",
                                            "properties": {
                                                "teaching_area": {
                                                    "type": "string"
                                                },
                                                "catalog_number": {
                                                    "type": "string"
                                                },
                                                "section_number": {
                                                    "type": "string"
                                                },
                                                "block": {
                                                    "type": "string"
                                                },
                                                "curriculum_id": {
                                                    "type": "string"
                                                },
                                                "title_code": {
                                                    "type": "string"
                                                },
                                                "lab_quiz": {
                                                    "type": "string"
                                                },
                                                "section_type": {
                                                    "type": "string"
                                                },
                                                "credit_hours": {
                                                    "type": "string"
                                                },
                                                "honors": {
                                                    "type": "string"
                                                },
                                                "service_learning": {
                                                    "type": "string"
                                                },
                                                "date_added": {
[...]
