{
    "basePath": "/domains/legacy/academic/aim_claims/v1",
    "host": "api.byu.edu:443",
    "paths": {
        "/is-dc-eligible/{id_type}/{id}/{year_term}": {
            "get": {
                "summary": "Will tell if this person is DC eligibile (day continuing) for the year term in question",
                "tags": [
                    "AimClaimsService"
                ],
                "x-auth-type": "Application & Application User",
                "x-throttling-tier": "Unlimited",
                "description": "Will tell if this person is DC eligibile (day continuing) for the year term in question",
                "parameters": [
                    {
                        "description": "type of ID being used in this request (byuid, netid, personid)",
                        "name": "id_type",
                        "type": "string",
                        "required": true,
                        "in": "path"
                    },
                    {
                        "description": "id of the person about whom the question is being asked",
                        "name": "id",
                        "type": "string",
                        "required": true,
                        "in": "path"
                    },
                    {
                        "description": "year term for which the requestor wants to know if the person is DC eligible",
                        "name": "year_term",
                        "type": "string",
                        "required": true,
                        "in": "path"
                    }
                ],
                "responses": {
                    "200": {
                        "schema": {
                            "$ref": "#/definitions/AimClaimsSuccess"
                        },
                        "description": "Service request is OK and a response has been generated."
                    },
                    "400": {
                        "schema": {
                            "$ref": "#/definitions/AimClaimsServiceError"
                        },
                        "description": "There appears to be a syntax error in the composition of the service request. The response structure may contain information about the error. If the base URI or service request URI is invalid, any response will come as an HTTP response."
                    }
                },
                "operationId": "IsDCEligible"
            }
        }
    },
    "schemes": [
        "https"
    ],
    "produces": [
        "application/json",
        "application/xml"
    ],
    "swagger": "2.0",
    "definitions": {
        "errors": {
            "items": {
                "$ref": "#/definitions/error_data"
            },
            "type": "array"
        },
        "AimClaimsSuccess": {
            "properties": {
                "AimClaimsService": {
                    "properties": {
                        "response": {
                            "properties": {
                                "result": {
                                    "type": "string"
                                }
                            }
                        },
                        "request": {
                            "$ref": "#/definitions/request"
                        }
                    }
                }
            },
            "type": "object"
        },
        "request": {
            "properties": {
                "status": {
                    "type": "number"
                },
                "resource": {
                    "type": "string"
                },
                "method": {
                    "type": "string"
                },
                "attributes": {
                    "type": "string"
                },
                "statusMessage": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "error_data": {
            "properties": {
                "message": {
                    "type": "string"
                },
                "httpStatusCode": {
                    "type": "number"
                },
                "name": {
                    "type": "string"
                },
                "code": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "AimClaimsServiceError": {
            "properties": {
                "AimClaimsService": {
                    "properties": {
                        "response": {
                            "properties": {},
                            "type": "object"
                        },
                        "errors": {
                            "$ref": "#/definitions/errors"
                        },
                        "request": {
                            "$ref": "#/definitions/request"
                        }
                    }
                }
            },
            "type": "object"
        }
    },
    "info": {
        "title": "AcademicAimClaims",
        "description": "This service answers claims about AIM questions.",
        "version": "v1"
    },
    "externalDocs": {
        "description": "External **documentation** link",
        "url": "https://byuoit.atlassian.net/wiki/display/WSO2/AimHelper_v1"
    }
}