{
    "basePath": "/domains/legacy/academic/registration/isenvelopeaddible/v1",
    "host": "api.byu.edu:443",
    "paths": {
        "/documentation": {
            "get": {
                "summary": "service definition",
                "x-auth-type": "Application & Application User",
                "x-throttling-tier": "Unlimited",
                "description": "service definition",
                "responses": {
                    "200": {
                        "schema": {
                            "type": "string"
                        },
                        "description": "Success"
                    }
                },
                "operationId": "getServiceDocumentation"
            }
        },
        "/{person_id}/{year_term}/{envelope_id}": {
            "get": {
                "summary": "Find out if the class is addible.",
                "tags": [
                    "IsEnvelopeAddibleService"
                ],
                "x-auth-type": "Application & Application User",
                "x-throttling-tier": "Unlimited",
                "description": "Find out if the class is addible.",
                "parameters": [
                    {
                        "description": "string -> ",
                        "name": "person_id",
                        "type": "string",
                        "required": true,
                        "in": "path"
                    },
                    {
                        "description": "yearTerm -> [1-2][0-9]{3}[1345]",
                        "name": "year_term",
                        "type": "string",
                        "required": true,
                        "in": "path"
                    },
                    {
                        "description": "envelope_id -> [0-9]{5}",
                        "name": "envelope_id",
                        "type": "string",
                        "required": true,
                        "in": "path"
                    }
                ],
                "responses": {
                    "200": {
                        "schema": {
                            "type": "string"
                        },
                        "description": "Service request is OK and a response has been generated."
                    },
                    "204": {
                        "schema": {
                            "type": "string"
                        },
                        "description": "Service request is OK but the response is the empty set - no content found."
                    },
                    "400": {
                        "schema": {
                            "type": "string"
                        },
                        "description": "There appears to be a syntax error in the composition of the service request. The response structure may contain information about the error. If the base URI or service request URI is invalid, any response will come as an HTTP response."
                    },
                    "403": {
                        "schema": {
                            "type": "string"
                        },
                        "description": "The user does not have access to the resource."
                    },
                    "404": {
                        "schema": {
                            "type": "string"
                        },
                        "description": "The target resource can not be found for the provided resource identifiers."
                    },
                    "405": {
                        "schema": {
                            "type": "string"
                        },
                        "description": "The service method is not supported by the service."
                    },
                    "409": {
                        "schema": {
                            "type": "string"
                        },
                        "description": "A conflict has occurred. The response structure may contain information about the conflict."
                    },
                    "500": {
                        "schema": {
                            "type": "string"
                        },
                        "description": "An error occurred generating the response to the service request. This is strictly a server error and not an application error."
                    }
                },
                "operationId": "isEnvelopeAddible"
            }
        }
    },
    "schemes": [
        "https"
    ],
    "produces": [
        "application/json"
    ],
    "swagger": "2.0",
    "definitions": {},
    "info": {
        "title": "AcademicRegistrationIsEnvelopeAddible",
        "description": "IsEnvelopeAddibleService",
        "version": "v1"
    }
}