{
    "basePath": "/domains/legacy/academic/registration/ptac-permissions/v1",
    "host": "api.byu.edu:443",
    "paths": {
        "/{person_id}": {
            "get": {
                "summary": "Displays class(es) where an instructor has granted permission to add the class.",
                "tags": [
                    "PtacPermissionsService"
                ],
                "x-auth-type": "Application & Application User",
                "x-throttling-tier": "Unlimited",
                "description": "Displays class(es) where an instructor has granted permission to add the class.",
                "parameters": [
                    {
                        "description": "Person Id of the individual entering the PTAC Code.",
                        "name": "person_id",
                        "type": "string",
                        "required": true,
                        "in": "path"
                    }
                ],
                "responses": {
                    "200": {
                        "schema": {
                            "$ref": "#/definitions/PtacPermissionsSuccess"
                        },
                        "description": "Service request is OK and a response has been generated."
                    },
                    "400": {
                        "schema": {
                            "$ref": "#/definitions/PtacPermissionsServiceError"
                        },
                        "description": "There appears to be a syntax error in the composition of the service request. The response structure may contain information about the error. If the base URI or service request URI is invalid, any response will come as an HTTP response."
                    }
                },
                "operationId": "PtacPermissions"
            }
        },
        "/{person_id}/{year_term}/{curriculum_id}/{title_code}/{section_number}": {
            "post": {
                "summary": "Add person to a class where the instructor has granted permission.",
                "tags": [
                    "PtacPermissionsService"
                ],
                "x-auth-type": "Application & Application User",
                "x-throttling-tier": "Unlimited",
                "description": "Add person to a class where the instructor has granted permission.",
                "parameters": [
                    {
                        "description": "The person Id of the person adding the class.",
                        "name": "person_id",
                        "type": "string",
                        "required": true,
                        "in": "path"
                    },
                    {
                        "description": "year_term of class to be added (format is YYYYT)",
                        "name": "year_term",
                        "type": "string",
                        "required": true,
                        "in": "path"
                    },
                    {
                        "description": "curriculum id of class",
                        "name": "curriculum_id",
                        "type": "string",
                        "required": true,
                        "in": "path"
                    },
                    {
                        "description": "title code of class",
                        "name": "title_code",
                        "type": "string",
                        "required": true,
                        "in": "path"
                    },
                    {
                        "description": "section number of class",
                        "name": "section_number",
                        "type": "string",
                        "required": true,
                        "in": "path"
                    },
                    {
                        "description": "Specify credit hours for variable credit class",
                        "name": "credit_hours",
                        "type": "string",
                        "required": false,
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "schema": {
                            "$ref": "#/definitions/PtacPermissionsAddSuccess"
                        },
                        "description": "Service request is OK and a response has been generated."
                    },
                    "400": {
                        "schema": {
                            "$ref": "#/definitions/PtacPermissionsServiceError"
                        },
                        "description": "There appears to be a syntax error in the composition of the service request. The response structure may contain information about the error. If the base URI or service request URI is invalid, any response will come as an HTTP response."
                    }
                },
                "operationId": "PtacPermissions"
            }
        }
    },
    "schemes": [
        "https"
    ],
    "produces": [
        "application/json",
        "application/xml"
    ],
    "swagger": "2.0",
    "definitions": {
        "ptacPermissionsWhenTaughtRow": {
            "properties": {
                "building_name": {
                    "type": "string"
                },
                "days_taught": {
                    "type": "string"
                },
                "building": {
                    "type": "string"
                },
                "begin_time": {
                    "type": "string"
                },
                "end_time": {
                    "type": "string"
                },
                "room": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "errors": {
            "items": {
                "$ref": "#/definitions/error_data"
            },
            "type": "array"
        },
        "PtacPermissionsServiceError": {
            "properties": {
                "PtacPermissionsService": {
                    "properties": {
                        "response": {
                            "properties": {},
                            "type": "object"
                        },
                        "errors": {
                            "$ref": "#/definitions/errors"
                        },
                        "request": {
                            "$ref": "#/definitions/request"
                        }
                    }
                }
            },
            "type": "object"
        },
        "request": {
            "properties": {
                "status": {
                    "type": "number"
                },
                "resource": {
                    "type": "string"
                },
                "method": {
                    "type": "string"
                },
                "attributes": {
                    "type": "string"
                },
                "statusMessage": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "error_data": {
            "properties": {
                "message": {
                    "type": "string"
                },
                "httpStatusCode": {
                    "type": "number"
                },
                "name": {
                    "type": "string"
                },
                "code": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ptacPermissionsTermsAndConditionsRow": {
            "properties": {
                "condition": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "PtacPermissionsSuccess": {
            "properties": {
                "PtacPermissionsService": {
                    "properties": {
                        "response": {
                            "properties": {
                                "section_size": {
                                    "type": "number"
                                },
                                "instructor_name": {
                                    "type": "string"
                                },
                                "instruction_mode_percent_taught": {
                                    "type": "string"
                                },
                                "section_type": {
                                    "type": "string"
                                },
                                "token_value": {
                                    "type": "string"
                                },
                                "add_class_confirmation_message": {
                                    "type": "string"
                                },
                                "waitlist_email_message": {
                                    "type": "string"
                                },
                                "lms_name": {
                                    "type": "string"
                                },
                                "waitlist_token": {
                                    "type": "string"
                                },
                                "honors_section": {
                                    "type": "string"
                                },
                                "term_code": {
                                    "type": "string"
                                },
                                "variable_credit_section": {
                                    "type": "string"
                                },
                                "teaching_area": {
                                    "type": "string"
                                },
                                "course_title": {
                                    "type": "string"
                                },
                                "title_code": {
                                    "type": "string"
                                },
                                "waitlist_terms_and_conditions_title": {
                                    "type": "string"
                                },
                                "name": {
                                    "type": "string"
                                },
                                "waitlist_request_message": {
                                    "type": "string"
                                },
                                "curriculum_id": {
                                    "type": "string"
                                },
                                "instruction_mode_description": {
                                    "type": "string"
                                },
                                "byu_id": {
                                    "type": "string"
                                },
                                "variable_credit_message": {
                                    "type": "string"
                                },
                                "total_enrolled": {
                                    "type": "number"
                                },
                                "section_number": {
                                    "type": "string"
                                },
                                "when_taught": {
                                    "items": {
                                        "$ref": "#/definitions/ptacPermissionsWhenTaughtRow"
                                    },
                                    "type": "array"
                                },
                                "instruction_mode": {
                                    "type": "string"
                                },
                                "audit_token": {
                                    "type": "string"
                                },
                                "person_id": {
                                    "type": "string"
                                },
                                "waitlist_add_confirmation_message": {
                                    "type": "string"
                                },
                                "course_number": {
                                    "type": "string"
                                },
                                "year_term_description": {
                                    "type": "string"
                                },
                                "year_term": {
                                    "type": "string"
                                },
                                "teaching_area_description": {
                                    "type": "string"
                                },
                                "class_fee": {
                                    "type": "string"
                                },
                                "credit_hours": {
                                    "type": "number"
                                },
                                "quiz_section": {
                                    "type": "string"
                                },
                                "class_start_date": {
                                    "type": "string"
                                },
                                "lab_section": {
                                    "type": "string"
                                },
                                "class_end_date": {
                                    "type": "string"
                                },
                                "waitlist_terms_and_conditions": {
                                    "items": {
                                        "$ref": "#/definitions/ptacPermissionsTermsAndConditionsRow"
                                    },
                                    "type": "array"
                                },
                                "waitlist_expire_message": {
                                    "type": "string"
                                },
                                "help_section": {
                                    "type": "string"
                                },
                                "term_code_description": {
                                    "type": "string"
                                },
                                "min_credit_hours": {
                                    "type": "number"
                                }
                            }
                        },
                        "request": {
                            "$ref": "#/definitions/request"
                        }
                    }
                }
            },
            "type": "object"
        },
        "PtacPermissionsAddSuccess": {
            "properties": {
                "PtacPermissionsService": {
                    "properties": {
                        "response": {
                            "properties": {
                                "result": {
                                    "type": "string"
                                }
                            }
                        },
                        "request": {
                            "$ref": "#/definitions/request"
                        }
                    }
                }
            },
            "type": "object"
        }
    },
    "info": {
        "title": "AcademicRegistrationPtacPermissions",
        "description": "Allows the display and adding of class(es) where the instructor has granted permission to add.",
        "version": "v1"
    },
    "externalDocs": {
        "description": "External **documentation** link",
        "url": "https://byuoit.atlassian.net/wiki/display/WSO2/PtacCodePermissions_v1"
    }
}