{
    "swagger": "2.0",
    "info": {
        "title": "AcademicAdvisementAcadProgram",
        "description": "This service accesses resources in the Academic Programs portion of the AIM System.",
        "version": "v1",
        "contact": {
            "email": "it@byu.edu",
            "name": "OIT Service Desk Support",
            "url": "https://it.byu.edu"
        }
    },
    "host": "api.byu.edu:443",
    "schemes": [
        "https"
    ],
    "basePath": "/domains/legacy/academic/advisement/acadprogram/v1",
    "produces": [
        "application/json",
        "application/xml"
    ],
    "paths": {
        "/{program_id}": {
            "put": {
                "summary": "(CURRENTLY NOT SUPPORTED)Updates the program page with the attributes specified",
                "description": "(CURRENTLY NOT SUPPORTED)Updates the program page with the attributes specified",
                "operationId": "updateAcadProgram",
                "parameters": [
                    {
                        "name": "program_id",
                        "description": "5 digit number",
                        "type": "string",
                        "in": "path",
                        "required": true
                    },
                    {
                        "name": "program_code",
                        "description": "6 digit number",
                        "type": "string",
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "eff_year_term",
                        "description": "xxx",
                        "type": "string",
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "exp_year_term",
                        "description": "xxx",
                        "type": "string",
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "program_type",
                        "description": "xxx",
                        "type": "string",
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "degree",
                        "description": "xxx",
                        "type": "string",
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "degree_level",
                        "description": "xxx",
                        "type": "string",
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "description",
                        "description": "xxx",
                        "type": "string",
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "long_desc",
                        "description": "xxx",
                        "type": "string",
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "diploma_desc",
                        "description": "xxx",
                        "type": "string",
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "valid_admit",
                        "description": "xxx",
                        "type": "string",
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "comments",
                        "description": "xxx",
                        "type": "string",
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "advisor_id",
                        "description": "xxx",
                        "type": "string",
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "advisor_name",
                        "description": "xxx",
                        "type": "string",
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "faculty_advisor_id",
                        "description": "xxx",
                        "type": "string",
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "faculty_advisor_name",
                        "description": "xxx",
                        "type": "string",
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "emphasis_req",
                        "description": "xxx",
                        "type": "string",
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "masters_req",
                        "description": "xxx",
                        "type": "string",
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "minor_req",
                        "description": "xxx",
                        "type": "string",
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "honors_rec",
                        "description": "xxx",
                        "type": "string",
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "teaching_program",
                        "description": "xxx",
                        "type": "string",
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "major_program_id",
                        "description": "xxx",
                        "type": "string",
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "major_program_code",
                        "description": "xxx",
                        "type": "string",
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "major_program_id_desc",
                        "description": "xxx",
                        "type": "string",
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "core_program_id",
                        "description": "xxx",
                        "type": "string",
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "core_program_id_desc",
                        "description": "xxx",
                        "type": "string",
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "ge_program_id",
                        "description": "xxx",
                        "type": "string",
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "ge_program_id_desc",
                        "description": "xxx",
                        "type": "string",
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "max_yrs_compl",
                        "description": "xxx",
                        "type": "string",
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "min_program_hrs",
                        "description": "xxx",
                        "type": "string",
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "max_program_hrs",
                        "description": "xxx",
                        "type": "string",
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "updated_by_id",
                        "description": "xxx",
                        "type": "string",
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "updated_by_name",
                        "description": "xxx",
                        "type": "string",
                        "in": "query",
                        "required": false
                    }
                ],
                "tags": [
                    "AcadProgramsService"
                ],
                "responses": {
                    "200": {
                        "description": "Service request is OK and a response has been generated.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "400": {
                        "description": "There appears to be a syntax error in the composition of the service request. The response structure may contain information about the error. If the base URI or service request URI is invalid, any response will come as an HTTP response.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "401": {
                        "description": "Bad request - unable to interpret body of the message.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "403": {
                        "description": "The user does not have access to the resource.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "404": {
                        "description": "The target resource can not be found for the provided resource identifiers.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "405": {
                        "description": "The service method is not supported by the service.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "409": {
                        "description": "A conflict has occurred. The response structure may contain information about the conflict.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "500": {
                        "description": "An error occurred generating the response to the service request. This is strictly a server error and not an application error.",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            },
            "get": {
                "summary": "GET",
                "description": "Shows everything belonging to the Academic Program",
                "operationId": "getAcadProgram",
                "parameters": [
                    {
                        "name": "program_id",
                        "description": "5 digit number",
                        "type": "string",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Service request is OK and a response has been generated.",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "AcadProgramsService": {
                                    "type": "object",
                                    "properties": {
                                        "request": {
                                            "type": "object",
                                            "properties": {
                                                "method": {
                                                    "type": "string"
                                                },
                                                "resource": {
                                                    "type": "string"
                                                },
                                                "attributes": {
                                                    "type": "string"
                                                },
                                                "status": {
                                                    "type": "number"
                                                },
                                                "statusMessage": {
                                                    "type": "string"
                                                }
                                            }
                                        },
                                        "response": {
                                            "type": "object",
                                            "properties": {
                                                "programID": {
                                                    "type": "string"
                                                },
                                                "programCode": {
                                                    "type": "string"
                                                },
                                                "effectiveYearTerm": {
                                                    "type": "string"
                                                },
                                                "exiredYearTerm": {
                                                    "type": "string"
                                                },
                                                "programType": {
                                                    "type": "string"
                                                },
                                                "degree": {
                                                    "type": "string"
                                                },
                                                "degreeLevel": {
                                                    "type": "string"
                                                },
                                                "description": {
                                                    "type": "string"
                                                },
                                                "longDescription": {
                                                    "type": "string"
                                                },
                                                "diplomaDescription": {
                                                    "type": "string"
                                                },
                                                "validAdmission": {
                                                    "type": "string"
                                                },
                                                "CIPCode": {
                                                    "type": "string"
                                                },
                                                "comments": {
                                                    "type": "string"
                                                },
                                                "advisorName": {
                                                    "type": "string"
                                                },
                                                "advisorID": {
                                                    "type": "string"
                                                },
                                                "facultyAdvisorName": {
                                                    "type": "string"
                                                },
                                                "facultyAdvisorID": {
                                                    "type": "string"
                                                },
                                                "emphasisRequired": {
                                                    "type": "string"
                                                },
                                                "mastersRequired": {
                                                    "type": "string"
                                                },
                                                "minorRequired": {
                                                    "type": "string"
                                                },
                                                "limEnrProgram": {
                                                    "type": "string"
                                                },
                                                "studyListRequired": {
                                                    "type": "string"
                                                },
                                                "honorsRecognition": {
                                                    "type": "string"
                                                },
                                                "teachingProgram": {
                                                    "type": "string"
                                                },
                                                "majorProgramID": {
                                                    "type": "string"
                                                },
                                                "majorProgramCode": {
                                                    "type": "string"
                                                },
                                                "majorProgramDescription": {
                                                    "type": "string"
                                                },
                                                "coreProgramID": {
                                                    "type": "string"
                                                },
                                                "coreProgramDescription": {
                                                    "type": "string"
                                                },
                                                "GEProgramID": {
                                                    "type": "string"
                                                },
                                                "GEProgramDescription": {
                                                    "type": "string"
                                                },
                                                "academicUnitID": {
                                                    "type": "string"
                                                },
                                                "academicUnitDescription": {
                                                    "type": "string"
                                                },
                                                "maxYearsToComplete": {
                                                    "type": "string"
                                                },
                                                "minimumProgramHours": {
                                                    "type": "string"
                                                },
                                                "maximumProgramHours": {
                                                    "type": "string"
                                                },
                                                "committeeMembersRequired": {
                                                    "type": "string"
                                                },
                                                "hierarchy": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object",
                                                        "properties": {
                                                            "unit_type": {
                                                                "type": "string"
                                                            },
                                                            "unit_name": {
                                                                "type": "string"
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        },
                        "examples": {
                            "applications/json": {
                                "AcadProgramsService": {
                                    "request": {
                                        "method": "GET",
                                        "resource": "/json/pcode/322622/",
                                        "attributes": "",
                                        "status": 200,
                                        "statusMessage": "Service request is OK and a response has been generated."
                                    },
                                    "response": {
                                        "programID": "33812",
                                        "programCode": "322622",
                                        "effectiveYearTerm": "20175",
                                        "exiredYearTerm": "20184",
                                        "programType": "MAJOR",
                                        "degree": "BS",
                                        "degreeLevel": "Bachelors",
                                        "description": "Accounting",
                                        "longDescription": "Accounting",
                                        "diplomaDescription": "Accounting",
                                        "validAdmission": "No",
                                        "CIPCode": "52.0301",
                                        "comments": "",
                                        "advisorName": "",
                                        "advisorID": "",
                                        "facultyAdvisorName": "",
                                        "facultyAdvisorID": "",
                                        "emphasisRequired": "No",
                                        "mastersRequired": "No",
                                        "minorRequired": "No",
                                        "limEnrProgram": "Yes",
                                        "studyListRequired": "No",
                                        "honorsRecognition": "Yes",
                                        "teachingProgram": "No",
                                        "majorProgramID": "",
                                        "majorProgramCode": "",
                                        "majorProgramDescription": "",
                                        "coreProgramID": "",
                                        "coreProgramDescription": "",
                                        "GEProgramID": "",
                                        "GEProgramDescription": "",
                                        "academicUnitID": "1039",
                                        "academicUnitDescription": "Accountancy&Informtn Sys",
                                        "maxYearsToComplete": "",
                                        "minimumProgramHours": "64",
                                        "maximumProgramHours": "64",
                                        "committeeMembersRequired": "0",
                                        "hierarchy": [
                                            {
                                                "unit_type": "SCHOOL:",
                                                "unit_name": "Accountancy"
                                            },
                                            {
                                                "unit_type": "SCHOOL:",
                                                "unit_name": "Business"
                                            }
                                        ]
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "There appears to be a syntax error in the composition of the service request. The response structure may contain information about the error. If the base URI or service request URI is invalid, any response will come as an HTTP response.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "401": {
                        "description": "Bad request - unable to interpret body of the message.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "403": {
                        "description": "The user does not have access to the resource.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "404": {
                        "description": "The target resource can not be found for the provided resource identifiers.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "405": {
                        "description": "The service method is not supported by the service.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "409": {
                        "description": "A conflict has occurred. The response structure may contain information about the conflict.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "500": {
                        "description": "An error occurred generating the response to the service request. This is strictly a server error and not an application error.",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/pcode/{program_code}": {
            "get": {
                "summary": "Shows everything belonging to the Academic Program looking up by program code",
                "description": "Shows everything belonging to the Academic Program looking up by program code",
                "operationId": "getAcadProgramByProgramCode",
                "parameters": [
                    {
                        "name": "program_code",
                        "description": "6 digit number",
                        "type": "string",
                        "in": "path",
                        "required": true
                    }
                ],
                "tags": [
                    "AcadProgramsService"
                ],
                "responses": {
                    "200": {
                        "description": "Service request is OK and a response has been generated.",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "AcadProgramsService": {
                                    "type": "object",
                                    "properties": {
                                        "request": {
                                            "type": "object",
                                            "properties": {
                                                "method": {
                                                    "type": "string"
                                                },
                                                "resource": {
                                                    "type": "string"
                                                },
                                                "attributes": {
                                                    "type": "string"
                                                },
                                                "status": {
                                                    "type": "number"
                                                },
                                                "statusMessage": {
                                                    "type": "string"
                                                }
                                            }
                                        },
                                        "response": {
                                            "type": "object",
                                            "properties": {
                                                "programID": {
                                                    "type": "string"
                                                },
                                                "programCode": {
                                                    "type": "string"
                                                },
                                                "effectiveYearTerm": {
                                                    "type": "string"
                                                },
                                                "exiredYearTerm": {
                                                    "type": "string"
                                                },
                                                "programType": {
                                                    "type": "string"
                                                },
                                                "degree": {
                                                    "type": "string"
                                                },
                                                "degreeLevel": {
                                                    "type": "string"
                                                },
                                                "description": {
                                                    "type": "string"
                                                },
                                                "longDescription": {
                                                    "type": "string"
                                                },
                                                "diplomaDescription": {
                                                    "type": "string"
                                                },
                                                "validAdmission": {
                                                    "type": "string"
                                                },
                                                "CIPCode": {
                                                    "type": "string"
                                                },
                                                "comments": {
                                                    "type": "string"
                                                },
                                                "advisorName": {
                                                    "type": "string"
                                                },
                                                "advisorID": {
                                                    "type": "string"
                                                },
                                                "facultyAdvisorName": {
                                                    "type": "string"
                                                },
                                                "facultyAdvisorID": {
                                                    "type": "string"
                                                },
                                                "emphasisRequired": {
                                                    "type": "string"
                                                },
                                                "mastersRequired": {
                                                    "type": "string"
                                                },
                                                "minorRequired": {
                                                    "type": "string"
                                                },
                                                "limEnrProgram": {
                                                    "type": "string"
                                                },
                                                "studyListRequired": {
                                                    "type": "string"
                                                },
                                                "honorsRecognition": {
                                                    "type": "string"
                                                },
                                                "teachingProgram": {
                                                    "type": "string"
                                                },
                                                "majorProgramID": {
                                                    "type": "string"
                                                },
                                                "majorProgramCode": {
                                                    "type": "string"
                                                },
                                                "majorProgramDescription": {
                                                    "type": "string"
                                                },
                                                "coreProgramID": {
                                                    "type": "string"
                                                },
                                                "coreProgramDescription": {
                                                    "type": "string"
                                                },
                                                "GEProgramID": {
                                                    "type": "string"
                                                },
                                                "GEProgramDescription": {
                                                    "type": "string"
                                                },
                                                "academicUnitID": {
                                                    "type": "string"
                                                },
                                                "academicUnitDescription": {
                                                    "type": "string"
                                                },
                                                "maxYearsToComplete": {
                                                    "type": "string"
                                                },
                                                "minimumProgramHours": {
                                                    "type": "string"
                                                },
                                                "maximumProgramHours": {
                                                    "type": "string"
                                                },
                                                "committeeMembersRequired": {
                                                    "type": "string"
                                                },
                                                "hierarchy": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object",
                                                        "properties": {
                                                            "unit_type": {
                                                                "type": "string"
                                                            },
                                                            "unit_name": {
                                                                "type": "string"
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        },
                        "examples": {
                            "applications/json": {
                                "AcadProgramsService": {
                                    "request": {
                                        "method": "GET",
                                        "resource": "/json/pcode/322622/",
                                        "attributes": "",
                                        "status": 200,
                                        "statusMessage": "Service request is OK and a response has been generated."
                                    },
                                    "response": {
                                        "programID": "33812",
                                        "programCode": "322622",
                                        "effectiveYearTerm": "20175",
                                        "exiredYearTerm": "20184",
                                        "programType": "MAJOR",
                                        "degree": "BS",
                                        "degreeLevel": "Bachelors",
                                        "description": "Accounting",
                                        "longDescription": "Accounting",
                                        "diplomaDescription": "Accounting",
                                        "validAdmission": "No",
                                        "CIPCode": "52.0301",
                                        "comments": "",
                                        "advisorName": "",
                                        "advisorID": "",
                                        "facultyAdvisorName": "",
                                        "facultyAdvisorID": "",
                                        "emphasisRequired": "No",
                                        "mastersRequired": "No",
                                        "minorRequired": "No",
                                        "limEnrProgram": "Yes",
                                        "studyListRequired": "No",
                                        "honorsRecognition": "Yes",
                                        "teachingProgram": "No",
                                        "majorProgramID": "",
                                        "majorProgramCode": "",
                                        "majorProgramDescription": "",
                                        "coreProgramID": "",
                                        "coreProgramDescription": "",
                                        "GEProgramID": "",
                                        "GEProgramDescription": "",
                                        "academicUnitID": "1039",
                                        "academicUnitDescription": "Accountancy&Informtn Sys",
                                        "maxYearsToComplete": "",
                                        "minimumProgramHours": "64",
                                        "maximumProgramHours": "64",
                                        "committeeMembersRequired": "0",
                                        "hierarchy": [
                                            {
                                                "unit_type": "SCHOOL:",
                                                "unit_name": "Accountancy"
                                            },
                                            {
                                                "unit_type": "SCHOOL:",
                                                "unit_name": "Business"
                                            }
                                        ]
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "There appears to be a syntax error in the composition of the service request. The response structure may contain information about the error. If the base URI or service request URI is invalid, any response will come as an HTTP response.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "401": {
                        "description": "Bad request - unable to interpret body of the message.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "403": {
                        "description": "The user does not have access to the resource.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "404": {
                        "description": "The target resource can not be found for the provided resource identifiers.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "405": {
                        "description": "The service method is not supported by the service.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "409": {
                        "description": "A conflict has occurred. The response structure may contain information about the conflict.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "500": {
                        "description": "An error occurred generating the response to the service request. This is strictly a server error and not an application error.",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/documentation": {
            "get": {
                "summary": "service definition",
                "description": "service definition",
                "operationId": "getServiceDocumentation",
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "AcadProgramsServiceDef": {
            "type": "object",
            "properties": {
                "AcadProgramsService": {
                    "type": "object",
                    "properties": {
                        "request": {
                            "type": "object",
                            "properties": {
                                "method": {
                                    "type": "string"
                                },
                                "resource": {
                                    "type": "string"
                                },
                                "attributes": {
                                    "type": "string"
                                },
                                "status": {
                                    "type": "number"
                                },
                                "statusMessage": {
                                    "type": "string"
                                }
                            }
                        },
                        "response": {
                            "type": "object",
                            "properties": {
                                "programID": {
                                    "type": "string"
                                },
                                "programCode": {
                                    "type": "string"
                                },
                                "effectiveYearTerm": {
                                    "type": "string"
                                },
                                "exiredYearTerm": {
                                    "type": "string"
                                },
                                "programType": {
                                    "type": "string"
                                },
                                "degree": {
                                    "type": "string"
                                },
                                "degreeLevel": {
                                    "type": "string"
                                },
                                "description": {
                                    "type": "string"
                                },
                                "longDescription": {
                                    "type": "string"
                                },
                                "diplomaDescription": {
                                    "type": "string"
                                },
                                "validAdmission": {
                                    "type": "string"
                                },
                                "CIPCode": {
                                    "type": "string"
                                },
                                "comments": {
                                    "type": "string"
                                },
                                "advisorName": {
                                    "type": "string"
                                },
                                "advisorID": {
                                    "type": "string"
                                },
                                "facultyAdvisorName": {
                                    "type": "string"
                                },
                                "facultyAdvisorID": {
                                    "type": "string"
                                },
                                "emphasisRequired": {
                                    "type": "string"
                                },
                                "mastersRequired": {
                                    "type": "string"
                                },
                                "minorRequired": {
                                    "type": "string"
                                },
                                "limEnrProgram": {
                                    "type": "string"
                                },
                                "studyListRequired": {
                                    "type": "string"
                                },
                                "honorsRecognition": {
                                    "type": "string"
                                },
                                "teachingProgram": {
                                    "type": "string"
                                },
                                "majorProgramID": {
                                    "type": "string"
                                },
                                "majorProgramCode": {
                                    "type": "string"
                                },
                                "majorProgramDescription": {
                                    "type": "string"
                                },
                                "coreProgramID": {
                                    "type": "string"
                                },
                                "coreProgramDescription": {
                                    "type": "string"
                                },
                                "GEProgramID": {
                                    "type": "string"
                                },
                                "GEProgramDescription": {
                                    "type": "string"
                                },
                                "academicUnitID": {
                                    "type": "string"
                                },
                                "academicUnitDescription": {
                                    "type": "string"
                                },
                                "maxYearsToComplete": {
                                    "type": "string"
                                },
                                "minimumProgramHours": {
                                    "type": "string"
                                },
                                "maximumProgramHours": {
                                    "type": "string"
                                },
                                "committeeMembersRequired": {
                                    "type": "string"
                                },
                                "hierarchy": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "unit_type": {
                                                "type": "string"
                                            },
                                            "unit_name": {
                                                "type": "string"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "request": {
            "type": "object",
            "properties": {
                "method": {
                    "type": "string"
                },
                "resource": {
                    "type": "string"
                },
                "attributes": {
                    "type": "string"
                },
                "status": {
                    "type": "number"
                },
                "statusMessage": {
                    "type": "string"
                }
            }
        },
        "response": {
            "type": "object",
            "properties": {
                "programID": {
                    "type": "string"
                },
                "programCode": {
                    "type": "string"
                },
                "effectiveYearTerm": {
                    "type": "string"
                },
                "exiredYearTerm": {
                    "type": "string"
                },
                "programType": {
                    "type": "string"
                },
                "degree": {
                    "type": "string"
                },
                "degreeLevel": {
                    "type": "string"
                },
                "description": {
                    "type": "string"
                },
                "longDescription": {
                    "type": "string"
                },
                "diplomaDescription": {
                    "type": "string"
                },
                "validAdmission": {
                    "type": "string"
                },
                "CIPCode": {
                    "type": "string"
                },
                "comments": {
                    "type": "string"
                },
                "advisorName": {
                    "type": "string"
                },
                "advisorID": {
                    "type": "string"
                },
                "facultyAdvisorName": {
                    "type": "string"
                },
                "facultyAdvisorID": {
                    "type": "string"
                },
                "emphasisRequired": {
                    "type": "string"
                },
                "mastersRequired": {
                    "type": "string"
                },
                "minorRequired": {
                    "type": "string"
                },
                "limEnrProgram": {
                    "type": "string"
                },
                "studyListRequired": {
                    "type": "string"
                },
                "honorsRecognition": {
                    "type": "string"
                },
                "teachingProgram": {
                    "type": "string"
                },
                "majorProgramID": {
                    "type": "string"
                },
                "majorProgramCode": {
                    "type": "string"
                },
                "majorProgramDescription": {
                    "type": "string"
                },
                "coreProgramID": {
                    "type": "string"
                },
                "coreProgramDescription": {
                    "type": "string"
                },
                "GEProgramID": {
                    "type": "string"
                },
                "GEProgramDescription": {
                    "type": "string"
                },
                "academicUnitID": {
                    "type": "string"
                },
                "academicUnitDescription": {
                    "type": "string"
                },
                "maxYearsToComplete": {
                    "type": "string"
                },
                "minimumProgramHours": {
                    "type": "string"
                },
                "maximumProgramHours": {
                    "type": "string"
                },
                "committeeMembersRequired": {
                    "type": "string"
                },
                "hierarchy": {
                    "type": "array",
                    "items": {
                        "type": "object",
                        "properties": {
                            "unit_type": {
                                "type": "string"
                            },
                            "unit_name": {
                                "type": "string"
                            }
                        }
                    }
                }
            }
        },
        "programID": {
            "type": "string"
        },
        "programCode": {
            "type": "string"
        },
        "effectiveYearTerm": {
            "type": "string"
        },
        "exiredYearTerm": {
            "type": "string"
        },
        "programType": {
            "type": "string"
        },
        "degree": {
            "type": "string"
        },
        "degreeLevel": {
            "type": "string"
        },
        "description": {
            "type": "string"
        },
        "longDescription": {
            "type": "string"
        },
        "diplomaDescription": {
            "type": "string"
        },
        "validAdmission": {
            "type": "string"
        },
        "CIPCode": {
            "type": "string"
        },
        "comments": {
            "type": "string"
        },
        "advisorName": {
            "type": "string"
        },
        "advisorID": {
            "type": "string"
        },
        "facultyAdvisorName": {
            "type": "string"
        },
        "facultyAdvisorID": {
            "type": "string"
        },
        "emphasisRequired": {
            "type": "string"
        },
        "mastersRequired": {
            "type": "string"
        },
        "minorRequired": {
            "type": "string"
        },
        "limEnrProgram": {
            "type": "string"
        },
        "studyListRequired": {
            "type": "string"
        },
        "honorsRecognition": {
            "type": "string"
        },
        "teachingProgram": {
            "type": "string"
        },
        "majorProgramID": {
            "type": "string"
        },
        "majorProgramCode": {
            "type": "string"
        },
        "majorProgramDescription": {
            "type": "string"
        },
        "coreProgramID": {
            "type": "string"
        },
        "coreProgramDescription": {
            "type": "string"
        },
        "GEProgramID": {
            "type": "string"
        },
        "GEProgramDescription": {
            "type": "string"
        },
        "academicUnitID": {
            "type": "string"
        },
        "academicUnitDescription": {
            "type": "string"
        },
        "maxYearsToComplete": {
            "type": "string"
        },
        "minimumProgramHours": {
            "type": "string"
        },
        "maximumProgramHours": {
            "type": "string"
        },
        "committeeMembersRequired": {
            "type": "string"
        },
        "hierarchy": {
            "type": "array",
            "items": {
                "type": "object",
                "properties": {
                    "unit_type": {
                        "type": "string"
                    },
                    "unit_name": {
                        "type": "string"
                    }
                }
            }
        },
        "unit_type": {
            "type": "string"
        },
        "unit_name": {
            "type": "string"
        }
    },
    "x-mock_json": {
        "AcadProgramsServiceDef": {
            "AcadProgramsService": {
                "request": {
                    "method": "GET",
                    "resource": "/json/pcode/322622/",
                    "attributes": "",
                    "status": 200,
                    "statusMessage": "Service request is OK and a response has been generated."
                },
                "response": {
                    "programID": "33812",
                    "programCode": "322622",
                    "effectiveYearTerm": "20175",
                    "exiredYearTerm": "20184",
                    "programType": "MAJOR",
                    "degree": "BS",
                    "degreeLevel": "Bachelors",
                    "description": "Accounting",
                    "longDescription": "Accounting",
                    "diplomaDescription": "Accounting",
                    "validAdmission": "No",
                    "CIPCode": "52.0301",
                    "comments": "",
                    "advisorName": "",
                    "advisorID": "",
                    "facultyAdvisorName": "",
                    "facultyAdvisorID": "",
                    "emphasisRequired": "No",
                    "mastersRequired": "No",
                    "minorRequired": "No",
                    "limEnrProgram": "Yes",
                    "studyListRequired": "No",
                    "honorsRecognition": "Yes",
                    "teachingProgram": "No",
                    "majorProgramID": "",
                    "majorProgramCode": "",
                    "majorProgramDescription": "",
                    "coreProgramID": "",
                    "coreProgramDescription": "",
                    "GEProgramID": "",
                    "GEProgramDescription": "",
                    "academicUnitID": "1039",
                    "academicUnitDescription": "Accountancy&Informtn Sys",
                    "maxYearsToComplete": "",
                    "minimumProgramHours": "64",
                    "maximumProgramHours": "64",
                    "committeeMembersRequired": "0",
                    "hierarchy": [
                        {
                            "unit_type": "SCHOOL:",
                            "unit_name": "Accountancy"
                        },
                        {
                            "unit_type": "SCHOOL:",
                            "unit_name": "Business"
                        }
                    ]
                }
            }
        }
    }
}