{
    "paths": {
        "/activity": {
            "get": {
                "x-auth-type": "Application & Application User",
                "x-throttling-tier": "Unlimited",
                "responses": {
                    "200": {}
                }
            }
        },
        "/*": {
            "post": {
                "x-auth-type": "Application & Application User",
                "x-throttling-tier": "Unlimited",
                "responses": {
                    "201": {
                        "description": "Created"
                    }
                }
            },
            "put": {
                "x-auth-type": "Application & Application User",
                "x-throttling-tier": "Unlimited",
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            },
            "get": {
                "x-auth-type": "Application & Application User",
                "x-throttling-tier": "Unlimited",
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            },
            "delete": {
                "x-auth-type": "Application & Application User",
                "x-throttling-tier": "Unlimited",
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        }
    },
    "swagger": "2.0",
    "info": {
        "title": "ActivityTest",
        "version": "1"
    },
    "basePath": "/test/casture/1",
    "host": "api.byu.edu:443"
}