{
    "swagger": "2.0",
    "info": {
        "title": "AdmissionsGraduateBioData",
        "description": "This service returns grad information about a specific student.",
        "version": "v1",
        "contact": {
            "email": "it@byu.edu",
            "name": "OIT Service Desk Support",
            "url": "https://it.byu.edu"
        }
    },
    "host": "api.byu.edu:443",
    "schemes": [
        "https"
    ],
    "basePath": "/domains/legacy/admissions/graduate/biodata/v1",
    "produces": [
        "application/json",
        "application/xml"
    ],
    "paths": {
        "/{personId_netId}": {
            "get": {
                "summary": "Returns grad information for specified person",
                "description": "Returns grad information for specified person",
                "operationId": "getGradAdmBioDataCollection",
                "parameters": [
                    {
                        "name": "personId_netId",
                        "description": "string -> ",
                        "type": "string",
                        "in": "path",
                        "required": true
                    }
                ],
                "tags": [
                    "BioDataService"
                ],
                "responses": {
                    "200": {
                        "description": "Service request is OK and a response has been generated.",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "GradAdmBioDataCollectionService": {
                                    "type": "object",
                                    "properties": {
                                        "request": {
                                            "type": "object",
                                            "properties": {
                                                "method": {
                                                    "type": "string"
                                                },
                                                "resource": {
                                                    "type": "string"
                                                },
                                                "attributes": {
                                                    "type": "string"
                                                },
                                                "status": {
                                                    "type": "number"
                                                },
                                                "statusMessage": {
                                                    "type": "string"
                                                }
                                            }
                                        },
                                        "response": {
                                            "type": "object",
                                            "properties": {
                                                "LEGAL_NAME": {
                                                    "type": "string"
                                                },
                                                "PREFERRED_FIRST_NAME": {
                                                    "type": "string"
                                                },
                                                "SURNAME": {
                                                    "type": "string"
                                                },
                                                "SSN": {
                                                    "type": "string"
                                                },
                                                "BIRTHDATENUM": {
                                                    "type": "string"
                                                },
                                                "BIRTHDATE": {
                                                    "type": "string"
                                                },
                                                "GENDER": {
                                                    "type": "string"
                                                },
                                                "partAStatusList": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object",
                                                        "properties": {
                                                            "domainValue": {
                                                                "type": "string"
                                                            },
                                                            "check": {
                                                                "type": "string"
                                                            },
                                                            "desc": {
                                                                "type": "string"
                                                            }
                                                        }
                                                    }
                                                },
                                                "PART_A_UPDATED": {
                                                    "type": "string"
                                                },
                                                "PART_B_RECEIVED": {
                                                    "type": "string"
                                                },
                                                "PART_B_UPDATED": {
                                                    "type": "string"
                                                },
                                                "ENDORSEMENT_RECEIVED": {
                                                    "type": "string"
                                                },
                                                "ENDORSEMENT_UPDATED": {
                                                    "type": "string"
                                                },
                                                "ENDORSEMENT_NAME": {
                                                    "type": "string"
                                                },
                                                "ENDORSEMENT_PHONE": {
                                                    "type": "string"
                                                },
                                                "ENDORSEMENT_EMAIL": {
                                                    "type": "string"
                                                },
                                                "ENDORSEMENT_STATUS": {
                                                    "type": "string"
                                                },
                                                "FOUND_STATUS": {
                                                    "type": "string"
                                                },
                                                "FOUND_DATE": {
                                                    "type": "string"
                                                },
                                                "FOUND_NAME": {
                                                    "type": "string"
                                                },
                                                "FOUND_HC_STATUS": {
                                                    "type": "string"
                                                },
                                                "FOUND_HC_DATE": {
                                                    "type": "string"
                                                },
                                                "ALPHA_GPA": {
                                                    "type": "string"
                                                },
                                                "ALPHA_GPA_HOURS": {
                                                    "type": "string"
                                                },
                                                "INTL_GPA_HOURS": {
                                                    "type": "string"
                                                },
                                                "prevNames": {
                                                    "type": "array",
                                                    "items": {}
                                                },
                                                "NUM_59_90_GPA": {
                                                    "type": "string"
                                                },
                                                "NUM_59_90_HOURS": {
                                                    "type": "string"
                                                },
                                                "LSDAS_GPA": {
                                                    "type": "string"
                                                },
                                                "citizenship_country_code": {
                                                    "type": "string"
                                                },
                                                "citizenship_country_desc": {
                                                    "type": "string"
                                                },
                                                "citizenshipCountries": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object",
                                                        "properties": {
                                                            "modCode": {
                                                                "type": "string"
                                                            },
                                                            "check": {
                                                                "type": "string"
                                                            },
                                                            "modCountry": {
                                                                "type": "string"
                                                            }
                                                        }
                                                    }
                                                },
                                                "VISA_STATUS": {
                                                    "type": "string"
                                                },
                                                "visaList": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object",
                                                        "properties": {
                                                            "domainValue": {
                                                                "type": "string"
                                                            },
                                                            "check": {
                                                                "type": "string"
                                                            },
                                                            "desc": {
                                                                "type": "string"
                                                            }
                                                        }
                                                    }
                                                },
                                                "RES_ALIEN_NUM_UPDATED_BY": {
                                                    "type": "string"
                                                },
                                                "RES_ALIEN_NUM": {
                                                    "type": "string"
                                                },
                                                "SCHOOL_LANGUAGE": {
                                                    "type": "string"
                                                },
                                                "schoolLanguageList": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object",
                                                        "properties": {
                                                            "languageCode": {
                                                                "type": "string"
                                                            },
                                                            "check": {
                                                                "type": "string"
                                                            },
                                                            "description": {
                                                                "type": "string"
                                                            }
                                                        }
                                                    }
                                                },
                                                "NATIVE_LANGUAGE": {
                                                    "type": "string"
                                                },
                                                "nativeLanguageList": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object",
                                                        "properties": {
                                                            "languageCode": {
                                                                "type": "string"
                                                            },
                                                            "check": {
                                                                "type": "string"
                                                            },
                                                            "description": {
                                                                "type": "string"
                                                            }
                                                        }
                                                    }
                                                },
                                                "OTHER_LANGUAGES": {
                                                    "type": "string"
                                                },
                                                "EMAIL_ADDRESS": {
                                                    "type": "string"
                                                },
                                                "MAIL_ADDR_LINE1": {
                                                    "type": "string"
                                                },
                                                "MAIL_ADDR_LINE2": {
                                                    "type": "string"
                                                },
                                                "MAIL_ADDR_LINE3": {
                                                    "type": "string"
                                                },
                                                "MAIL_ADDR_LINE4": {
                                                    "type": "string"
                                                },
                                                "MAIL_CITY": {
                                                    "type": "string"
                                                },
                                                "MAIL_STATE_CODE": {
                                                    "type": "string"
                                                },
                                                "MAIL_POSTAL_CODE": {
                                                    "type": "string"
                                                },
                                                "MAIL_COUNTRY_CODE": {
                                                    "type": "string"
                                                },
                                                "mailCountryList": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object",
                                                        "properties": {
                                                            "modCode": {
                                                                "type": "string"
                                                            },
                                                            "check": {
                                                                "type": "string"
                                                            },
                                                            "modCountry": {
                                                                "type": "string"
                                                            }
                                                        }
                                                    }
                                                },
                                                "LABEL_NAME": {
                                                    "type": "string"
                                                },
                                                "MAILING_LABEL": {
                                                    "type": "string"
                                                },
                                                "HOME_PHONE_PREFIX": {
                                                    "type": "string"
                                                },
                                                "HOME_PHONE": {
                                                    "type": "string"
                                                },
                                                "WORK_PHONE_PREFIX": {
                                                    "type": "string"
                                                },
                                                "WORK_PHONE": {
                                                    "type": "string"
                                                },
                                                "MOBILE_PHONE_PREFIX": {
                                                    "type": "string"
                                                },
                                                "MOBILE_PHONE": {
                                                    "type": "string"
                                                },
                                                "RELATION_NAME": {
                                                    "type": "string"
                                                },
                                                "RELATION_RESTOFNAME": {
                                                    "type": "string"
                                                },
                                                "RELATION_SURNAME": {
                                                    "type": "string"
                                                },
                                                "relationList": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object",
                                                        "properties": {
                                                            "domainValue": {
                                                                "type": "string"
                                                            },
                                                            "check": {
                                                                "type": "string"
                                                            },
                                                            "desc": {
                                                                "type": "string"
                                                            }
                                                        }
                                                    }
                                                },
                                                "SAME_ADDR_FLAG": {
                                                    "type": "string"
                                                },
                                                "ALT_ADDR_LINE1": {
                                                    "type": "string"
                                                },
                                                "ALT_ADDR_LINE2": {
                                                    "type": "string"
                                                },
                                                "ALT_ADDR_LINE3": {
                                                    "type": "string"
                                                },
                                                "ALT_ADDR_LINE4": {
                                                    "type": "string"
                                                },
                                                "ALT_CITY": {
                                                    "type": "string"
                                                },
                                                "ALT_STATE_CODE": {
                                                    "type": "string"
                                                },
                                                "ALT_POSTAL_CODE": {
                                                    "type": "string"
                                                },
                                                "ALT_COUNTRY_CODE": {
                                                    "type": "string"
                                                },
                                                "altCountryList": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object",
                                                        "properties": {
                                                            "modCode": {
                                                                "type": "string"
                                                            },
                                                            "check": {
                                                                "type": "string"
                                                            },
                                                            "modCountry": {
                                                                "type": "string"
                                                            }
                                                        }
                                                    }
                                                },
                                                "ALT_MAILING_LABEL": {
                                                    "type": "string"
                                                },
                                                "MARITAL_STATUS_DESC": {
                                                    "type": "string"
                                                },
                                                "maritalStatusList": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object",
                                                        "properties": {
                                                            "domainValue": {
                                                                "type": "string"
                                                            },
                                                            "check": {
                                                                "type": "string"
                                                            },
                                                            "desc": {
                                                                "type": "string"
                                                            }
                                                        }
                                                    }
                                                },
                                                "ethnicityList": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object",
                                                        "properties": {
                                                            "code": {
                                                                "type": "string"
                                                            },
                                                            "religion_code": {
                                                                "type": "string"
                                                            },
                                                            "religionList": {
                                                                "type": "array",
                                                                "items": {
                                                                    "type": "object",
                                                                    "properties": {
                                                                        "religionCode": {
                                                                            "type": "string"
                                                                        },
                                                                        "checked": {
                                                                            "type": "string"
                                                                        },
                                                                        "religion": {
                                                                            "type": "string"
                                                                        }
                                                                    }
                                                                }
                                                            },
                                                            "WARD": {
                                                                "type": "string"
                                                            },
                                                            "MISSION_CODE": {
                                                                "type": "string"
                                                            },
                                                            "MISSION_NAME": {
                                                                "type": "string"
                                                            },
                                                            "MISSION_ENT_DATE": {
                                                                "type": "string"
                                                            },
                                                            "MISSION_RLS_DATE": {
                                                                "type": "string"
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        },
                        "examples": {
                            "application/json": {
                                "GradAdmBioDataCollectionService": {
                                    "request": {
                                        "method": "GET",
                                        "resource": "/johnd",
                                        "attributes": "",
                                        "status": 200,
                                        "statusMessage": "Service request is OK and a response has been generated."
                                    },
                                    "response": {
                                        "LEGAL_NAME": "Doe, John Albert",
                                        "PREFERRED_FIRST_NAME": "John",
                                        "SURNAME": "Doe",
                                        "SSN": "111222333",
                                        "BIRTHDATENUM": "19900131",
                                        "BIRTHDATE": "01/31/1990",
                                        "GENDER": "M",
                                        "partAStatusList": [
                                            {
                                                "domainValue": "I",
                                                "check": "",
                                                "desc": "Complete page 3, Form A"
                                            },
                                            {
                                                "domainValue": "O",
                                                "check": "",
                                                "desc": "Contact our office"
                                            },
                                            {
                                                "domainValue": "E",
                                                "check": "",
                                                "desc": "Explanation under review"
                                            },
                                            {
                                                "domainValue": "F",
                                                "check": "",
                                                "desc": "Fax Copy Received"
                                            },
                                            {
                                                "domainValue": "NS",
                                                "check": "",
                                                "desc": "Need Signature"
                                            },
                                            {
                                                "domainValue": "N",
                                                "check": "",
                                                "desc": "Needed"
                                            },
                                            {
                                                "domainValue": "C",
                                                "check": "selected",
                                                "desc": "Received"
                                            },
                                            {
                                                "domainValue": "A",
                                                "check": "",
                                                "desc": "Received 5a"
                                            }
                                        ],
                                        "PART_A_UPDATED": "16 Jan 2018",
                                        "PART_B_RECEIVED": "",
                                        "PART_B_UPDATED": "",
                                        "ENDORSEMENT_RECEIVED": "1 Nov 2017",
                                        "ENDORSEMENT_UPDATED": "10 Jan 2018",
                                        "ENDORSEMENT_NAME": "Smith, Jack Michael",
                                        "ENDORSEMENT_PHONE": "",
                                        "ENDORSEMENT_EMAIL": "",
                                        "ENDORSEMENT_STATUS": "C",
                                        "FOUND_STATUS": "",
                                        "FOUND_DATE": "",
                                        "FOUND_NAME": "",
                                        "FOUND_HC_STATUS": "",
                                        "FOUND_HC_DATE": "",
                                        "ALPHA_GPA": "3.85",
                                        "ALPHA_GPA_HOURS": "165.5",
                                        "INTL_GPA_HOURS": "0.0",
                                        "prevNames": [],
                                        "NUM_59_90_GPA": "0.00",
                                        "NUM_59_90_HOURS": "0.0",
                                        "LSDAS_GPA": "0.00",
                                        "citizenship_country_code": "USA",
                                        "citizenship_country_desc": "United States of America",
                                        "citizenshipCountries": [
                                            {
                                                "modCode": "AAL",
                                                "check": "",
                                                "modCountry": "Aaland Islands"
                                            },
                                            {
                                                "modCode": "AFG",
                                                "check": "",
                                                "modCountry": "Afghanistan"
                                            },
                                            {
                                                "modCode": "ALB",
                                                "check": "",
                                                "modCountry": "Albania"
                                            },
                                            {
                                                "modCode": "ALG",
                                                "check": "",
                                                "modCountry": "Algeria"
                                            },
                                            {
                                                "modCode": "ASM",
                                                "check": "",
                                                "modCountry": "American Samoa"
                                            },
                                            {
                                                "modCode": "AND",
                                                "check": "",
                                                "modCountry": "Andorra"
                                            },
                                            {
                                                "modCode": "ANG",
                                                "check": "",
                                                "modCountry": "Angola"
                                            },
                                            {
                                                "modCode": "AIA",
                                                "check": "",
                                                "modCountry": "Anguilla"
                                            },
                                            {
                                                "modCode": "ATA",
                                                "check": "",
                                                "modCountry": "Antarctica"
                                            },
                                            {
                                                "modCode": "ATG",
                                                "check": "",
                                                "modCountry": "Antigua and Barbuda"
                                            },
                                            {
                                                "modCode": "ARG",
                                                "check": "",
                                                "modCountry": "Argentina"
                                            },
                                            {
                                                "modCode": "ARM",
                                                "check": "",
                                                "modCountry": "Armenia"
                                            },
                                            {
                                                "modCode": "ABW",
                                                "check": "",
                                                "modCountry": "Aruba"
                                            },
                                            {
                                                "modCode": "AUS",
                                                "check": "",
                                                "modCountry": "Australia"
                                            },
                                            {
                                                "modCode": "AUA",
                                                "check": "",
                                                "modCountry": "Austria"
                                            },
                                            {
                                                "modCode": "AZE",
                                                "check": "",
                                                "modCountry": "Azerbaijan"
                                            },
                                            {
                                                "modCode": "BHM",
                                                "check": "",
                                                "modCountry": "Bahamas"
                                            },
                                            {
                                                "modCode": "BAH",
                                                "check": "",
                                                "modCountry": "Bahrain"
                                            },
                                            {
                                                "modCode": "BAN",
                                                "check": "",
                                                "modCountry": "Bangladesh"
                                            },
                                            {
                                                "modCode": "BAR",
                                                "check": "",
                                                "modCountry": "Barbados"
                                            },
                                            {
                                                "modCode": "BLR",
                                                "check": "",
                                                "modCountry": "Belarus"
                                            },
                                            {
                                                "modCode": "BEL",
                                                "check": "",
                                                "modCountry": "Belgium"
                                            },
                                            {
                                                "modCode": "BLZ",
                                                "check": "",
                                                "modCountry": "Belize"
                                            },
                                            {
                                                "modCode": "BEN",
                                                "check": "",
                                                "modCountry": "Benin"
                                            },
                                            {
                                                "modCode": "BRM",
                                                "check": "",
                                                "modCountry": "Bermuda"
                                            },
                                            {
                                                "modCode": "BHU",
                                                "check": "",
                                                "modCountry": "Bhutan"
                                            },
                                            {
                                                "modCode": "BOL",
                                                "check": "",
                                                "modCountry": "Bolivia"
                                            },
                                            {
                                                "modCode": "BOR",
                                                "check": "",
                                                "modCountry": "Borneo"
                                            },
                                            {
                                                "modCode": "BSH",
                                                "check": "",
                                                "modCountry": "Bosnia and Herzegovina"
                                            },
                                            {
                                                "modCode": "BOT",
                                                "check": "",
                                                "modCountry": "Botswana"
                                            },
                                            {
                                                "modCode": "BVT",
                                                "check": "",
                                                "modCountry": "Bouvet Island"
                                            },
                                            {
                                                "modCode": "BRA",
                                                "check": "",
                                                "modCountry": "Brazil"
                                            },
                                            {
                                                "modCode": "IOT",
                                                "check": "",
                                                "modCountry": "British Indian Ocean Territory"
                                            },
                                            {
                                                "modCode": "BVI",
                                                "check": "",
                                                "modCountry": "British Virgin Isles"
                                            },
                                            {
                                                "modCode": "BRU",
                                                "check": "",
                                                "modCountry": "Brunei"
                                            },
                                            {
                                                "modCode": "BUL",
                                                "check": "",
                                                "modCountry": "Bulgaria"
                                            },
                                            {
                                                "modCode": "BRK",
                                                "check": "",
                                                "modCountry": "Burkina Faso"
                                            },
                                            {
                                                "modCode": "BUR",
                                                "check": "",
                                                "modCountry": "Burma (Myanmar)"
                                            },
                                            {
                                                "modCode": "BUI",
                                                "check": "",
                                                "modCountry": "Burundi"
                                            },
                                            {
                                                "modCode": "CMA",
                                                "check": "",
                                                "modCountry": "Cambodia"
                                            },
                                            {
                                                "modCode": "CAM",
                                                "check": "",
                                                "modCountry": "Cameroon"
                                            },
                                            {
                                                "modCode": "CAN",
                                                "check": "",
                                                "modCountry": "Canada"
                                            },
                                            {
                                                "modCode": "CPV",
                                                "check": "",
                                                "modCountry": "Cape Verde"
                                            },
                                            {
                                                "modCode": "CAY",
                                                "check": "",
                                                "modCountry": "Cayman Islands"
                                            },
                                            {
                                                "modCode": "CEN",
                                                "check": "",
                                                "modCountry": "Central African Republic"
                                            },
                                            {
                                                "modCode": "CEY",
                                                "check": "",
                                                "modCountry": "Ceylon (Sri Lanka)"
                                            },
                                            {
                                                "modCode": "CHA",
                                                "check": "",
                                                "modCountry": "Chad"
                                            },
                                            {
                                                "modCode": "CHI",
                                                "check": "",
                                                "modCountry": "Chile"
                                            },
                                            {
                                                "modCode": "CHP",
                                                "check": "",
                                                "modCountry": "China, People's Republic"
                                            },
                                            {
                                                "modCode": "CHR",
                                                "check": "",
                                                "modCountry": "China, Republic of (Taiwan)"
                                            },
                                            {
                                                "modCode": "CXR",
                                                "check": "",
                                                "modCountry": "Christmas Island"
                                            },
                                            {
                                                "modCode": "CCK",
                                                "check": "",
                                                "modCountry": "Cocos (Keeling) Islands"
                                            },
                                            {
                                                "modCode": "COL",
                                                "check": "",
                                                "modCountry": "Colombia"
                                            },
                                            {
                                                "modCode": "CIS",
                                                "check": "",
                                                "modCountry": "Commonwealth Indep States"
                                            },
                                            {
                                                "modCode": "COM",
                                                "check": "",
                                                "modCountry": "Comoros"
                                            },
                                            {
                                                "modCode": "CON",
                                                "check": "",
                                                "modCountry": "Congo"
                                            },
                                            {
                                                "modCode": "CDR",
                                                "check": "",
                                                "modCountry": "Congo, Democratic Republic of"
                                            },
                                            {
                                                "modCode": "CKI",
                                                "check": "",
                                                "modCountry": "Cook Islands"
                                            },
                                            {
                                                "modCode": "COS",
                                                "check": "",
                                                "modCountry": "Costa Rica"
                                            },
                                            {
                                                "modCode": "CIV",
                                                "check": "",
                                                "modCountry": "Cote d'Ivoire"
                                            },
                                            {
                                                "modCode": "CRO",
                                                "check": "",
                                                "modCountry": "Croatia"
                                            },
                                            {
                                                "modCode": "CUB",
                                                "check": "",
                                                "modCountry": "Cuba"
                                            },
                                            {
                                                "modCode": "CW",
                                                "check": "",
                                                "modCountry": "Curacao"
                                            },
                                            {
                                                "modCode": "CYP",
                                                "check": "",
                                                "modCountry": "Cyprus"
                                            },
                                            {
                                                "modCode": "CZR",
                                                "check": "",
                                                "modCountry": "Czech Republic"
                                            },
                                            {
                                                "modCode": "CZE",
                                                "check": "",
                                                "modCountry": "Czechoslovakia"
                                            },
                                            {
                                                "modCode": "DAH",
                                                "check": "",
                                                "modCountry": "Dahomey (Benin)"
                                            },
                                            {
                                                "modCode": "DEN",
                                                "check": "",
                                                "modCountry": "Denmark"
                                            },
                                            {
                                                "modCode": "DJI",
                                                "check": "",
                                                "modCountry": "Djibouti"
                                            },
                                            {
                                                "modCode": "DMI",
                                                "check": "",
                                                "modCountry": "Dominica"
                                            },
                                            {
                                                "modCode": "DOM",
                                                "check": "",
                                                "modCountry": "Dominican Republic"
                                            },
                                            {
                                                "modCode": "TMP",
                                                "check": "",
                                                "modCountry": "East Timor"
                                            },
                                            {
                                                "modCode": "ECU",
                                                "check": "",
                                                "modCountry": "Ecuador"
                                            },
                                            {
                                                "modCode": "EGY",
                                                "check": "",
                                                "modCountry": "Egypt"
                                            },
                                            {
                                                "modCode": "EL",
                                                "check": "",
                                                "modCountry": "El Salvador"
                                            },
                                            {
                                                "modCode": "ELI",
                                                "check": "",
                                                "modCountry": "Ellice Islands (Tuvalu)"
                                            },
                                            {
                                                "modCode": "ENG",
                                                "check": "",
                                                "modCountry": "England"
                                            },
                                            {
                                                "modCode": "EQU",
                                                "check": "",
                                                "modCountry": "Equatorial Guinea"
                                            },
                                            {
                                                "modCode": "ERI",
                                                "check": "",
                                                "modCountry": "Eritrea"
                                            },
                                            {
                                                "modCode": "EST",
                                                "check": "",
                                                "modCountry": "Estonia"
                                            },
                                            {
                                                "modCode": "ETH",
                                                "check": "",
                                                "modCountry": "Ethiopia"
                                            },
                                            {
                                                "modCode": "FLK",
                                                "check": "",
                                                "modCountry": "Falkland Islands (Malvinas)"
                                            },
                                            {
                                                "modCode": "FRO",
                                                "check": "",
                                                "modCountry": "Faroe Islands"
                                            },
                                            {
                                                "modCode": "FIJ",
                                                "check": "",
                                                "modCountry": "Fiji"
                                            },
                                            {
                                                "modCode": "FIN",
                                                "check": "",
                                                "modCountry": "Finland"
                                            },
                                            {
                                                "modCode": "FRA",
                                                "check": "",
                                                "modCountry": "France"
                                            },
                                            {
                                                "modCode": "FGI",
                                                "check": "",
                                                "modCountry": "French Guiana"
                                            },
                                            {
                                                "modCode": "FPL",
                                                "check": "",
                                                "modCountry": "French Polynesia"
                                            },
                                            {
                                                "modCode": "ATF",
                                                "check": "",
                                                "modCountry": "French Southern Territories"
                                            },
                                            {
                                                "modCode": "GAB",
                                                "check": "",
                                                "modCountry": "Gabon (Gabonese Republic)"
                                            },
                                            {
                                                "modCode": "GAM",
                                                "check": "",
                                                "modCountry": "Gambia"
                                            },
                                            {
                                                "modCode": "GEO",
                                                "check": "",
                                                "modCountry": "Georgia"
                                            },
                                            {
                                                "modCode": "GER",
                                                "check": "",
                                                "modCountry": "Germany"
                                            },
                                            {
                                                "modCode": "GHA",
                                                "check": "",
                                                "modCountry": "Ghana"
                                            },
                                            {
                                                "modCode": "GIB",
                                                "check": "",
                                                "modCountry": "Gibraltar"
                                            },
                                            {
                                                "modCode": "GII",
                                                "check": "",
                                                "modCountry": "Gilbert Islands (Kiribati)"
                                            },
                                            {
                                                "modCode": "GRE",
                                                "check": "",
                                                "modCountry": "Greece"
                                            },
                                            {
                                                "modCode": "GRL",
                                                "check": "",
                                                "modCountry": "Greenland"
                                            },
                                            {
                                                "modCode": "GRN",
                                                "check": "",
                                                "modCountry": "Grenada"
                                            },
                                            {
                                                "modCode": "GDL",
                                                "check": "",
                                                "modCountry": "Guadeloupe"
                                            },
                                            {
                                                "modCode": "GUM",
                                                "check": "",
                                                "modCountry": "Guam"
                                            },
                                            {
                                                "modCode": "GUA",
                                                "check": "",
                                                "modCountry": "Guatemala"
                                            },
                                            {
                                                "modCode": "GIN",
                                                "check": "",
                                                "modCountry": "Guinea"
                                            },
                                            {
                                                "modCode": "GUN",
                                                "check": "",
                                                "modCountry": "Guinea"
                                            },
                                            {
                                                "modCode": "GNB",
                                                "check": "",
                                                "modCountry": "Guinea-Bissau"
                                            },
                                            {
                                                "modCode": "GUY",
                                                "check": "",
                                                "modCountry": "Guyana"
                                            },
                                            {
                                                "modCode": "HAI",
                                                "check": "",
                                                "modCountry": "Haiti"
                                            },
                                            {
                                                "modCode": "HMD",
                                                "check": "",
                                                "modCountry": "Heard and McDonald Islands"
                                            },
                                            {
                                                "modCode": "HON",
                                                "check": "",
                                                "modCountry": "Honduras"
                                            },
                                            {
                                                "modCode": "HK",
                                                "check": "",
                                                "modCountry": "Hong Kong"
                                            },
                                            {
                                                "modCode": "HUN",
                                                "check": "",
                                                "modCountry": "Hungary"
                                            },
                                            {
                                                "modCode": "ICE",
                                                "check": "",
                                                "modCountry": "Iceland"
                                            },
                                            {
                                                "modCode": "IND",
                                                "check": "",
                                                "modCountry": "India"
                                            },
                                            {
                                                "modCode": "INA",
                                                "check": "",
                                                "modCountry": "Indonesia"
                                            },
                                            {
                                                "modCode": "IRA",
                                                "check": "",
                                                "modCountry": "Iran"
                                            },
                                            {
                                                "modCode": "IRQ",
                                                "check": "",
                                                "modCountry": "Iraq"
                                            },
                                            {
                                                "modCode": "IRE",
                                                "check": "",
                                                "modCountry": "Ireland, Northern"
                                            },
                                            {
                                                "modCode": "IRR",
                                                "check": "",
                                                "modCountry": "Ireland, Republic of"
                                            },
                                            {
                                                "modCode": "ISR",
                                                "check": "",
                                                "modCountry": "Israel"
                                            },
                                            {
                                                "modCode": "ITA",
                                                "check": "",
                                                "modCountry": "Italy"
                                            },
                                            {
                                                "modCode": "IVO",
                                                "check": "",
                                                "modCountry": "Ivory Coast"
                                            },
                                            {
                                                "modCode": "JAM",
                                                "check": "",
                                                "modCountry": "Jamaica"
                                            },
                                            {
                                                "modCode": "JPN",
                                                "check": "",
                                                "modCountry": "Japan"
                                            },
                                            {
                                                "modCode": "JVA",
                                                "check": "",
                                                "modCountry": "Java"
                                            },
                                            {
                                                "modCode": "JOR",
                                                "check": "",
                                                "modCountry": "Jordan"
                                            },
                                            {
                                                "modCode": "KAZ",
                                                "check": "",
                                                "modCountry": "Kazakhstan"
                                            },
                                            {
                                                "modCode": "KEN",
                                                "check": "",
                                                "modCountry": "Kenya"
                                            },
                                            {
                                                "modCode": "KHM",
                                                "check": "",
                                                "modCountry": "Khmer Republic (Cambodia)"
                                            },
                                            {
                                                "modCode": "KIR",
                                                "check": "",
                                                "modCountry": "Kiribati"
                                            },
                                            {
                                                "modCode": "KOS",
                                                "check": "",
                                                "modCountry": "Kosovo"
                                            },
                                            {
                                                "modCode": "KUW",
                                                "check": "",
                                                "modCountry": "Kuwait"
                                            },
                                            {
                                                "modCode": "KYR",
                                                "check": "",
                                                "modCountry": "Kyrgyzstan"
                                            },
                                            {
                                                "modCode": "LAO",
                                                "check": "",
                                                "modCountry": "Lao PDR"
                                            },
                                            {
                                                "modCode": "LAT",
                                                "check": "",
                                                "modCountry": "Latvia"
                                            },
                                            {
                                                "modCode": "LEB",
                                                "check": "",
                                                "modCountry": "Lebanon"
                                            },
                                            {
                                                "modCode": "LWR",
                                                "check": "",
                                                "modCountry": "Leeward Islands (Caribbean)"
                                            },
                                            {
                                                "modCode": "LES",
                                                "check": "",
                                                "modCountry": "Lesotho"
                                            },
                                            {
                                                "modCode": "LIB",
                                                "check": "",
                                                "modCountry": "Liberia"
                                            },
                                            {
                                                "modCode": "LBY",
                                                "check": "",
                                                "modCountry": "Libya"
                                            },
                                            {
                                                "modCode": "LIE",
                                                "check": "",
                                                "modCountry": "Liechtenstein"
                                            },
                                            {
                                                "modCode": "LIT",
                                                "check": "",
                                                "modCountry": "Lithuania"
                                            },
                                            {
                                                "modCode": "LOY",
                                                "check": "",
                                                "modCountry": "Loyalty Islands (New Caledonia)"
                                            },
                                            {
                                                "modCode": "LUX",
                                                "check": "",
                                                "modCountry": "Luxembourg"
                                            },
                                            {
                                                "modCode": "MAC",
                                                "check": "",
                                                "modCountry": "Macao"
                                            },
                                            {
                                                "modCode": "MCD",
                                                "check": "",
                                                "modCountry": "Macedonia"
                                            },
                                            {
                                                "modCode": "MAD",
                                                "check": "",
                                                "modCountry": "Madagascar"
                                            },
                                            {
                                                "modCode": "MLW",
                                                "check": "",
                                                "modCountry": "Malawi"
                                            },
                                            {
                                                "modCode": "MLY",
                                                "check": "",
                                                "modCountry": "Malaysia"
                                            },
                                            {
                                                "modCode": "MLD",
                                                "check": "",
                                                "modCountry": "Maldives"
                                            },
                                            {
                                                "modCode": "MLI",
                                                "check": "",
                                                "modCountry": "Mali"
                                            },
                                            {
                                                "modCode": "MLA",
                                                "check": "",
                                                "modCountry": "Malta"
                                            },
                                            {
                                                "modCode": "MRI",
                                                "check": "",
                                                "modCountry": "Marquesas Islands"
                                            },
                                            {
                                                "modCode": "MHL",
                                                "check": "",
                                                "modCountry": "Marshall Islands"
                                            },
                                            {
                                                "modCode": "MTQ",
                                                "check": "",
                                                "modCountry": "Martinique"
                                            },
                                            {
                                                "modCode": "MAU",
                                                "check": "",
                                                "modCountry": "Mauritania"
                                            },
                                            {
                                                "modCode": "MAT",
                                                "check": "",
                                                "modCountry": "Mauritius"
                                            },
                                            {
                                                "modCode": "MYT",
                                                "check": "",
                                                "modCountry": "Mayotte"
                                            },
                                            {
                                                "modCode": "MEX",
                                                "check": "",
                                                "modCountry": "Mexico"
                                            },
                                            {
                                                "modCode": "FSM",
                                                "check": "",
                                                "modCountry": "Micronesia, Federated States"
                                            },
                                            {
                                                "modCode": "MDA",
                                                "check": "",
                                                "modCountry": "Moldova, Republic of"
                                            },
                                            {
                                                "modCode": "MOL",
                                                "check": "",
                                                "modCountry": "Moluccas"
                                            },
                                            {
                                                "modCode": "MON",
                                                "check": "",
                                                "modCountry": "Monaco"
                                            },
                                            {
                                                "modCode": "MNG",
                                                "check": "",
                                                "modCountry": "Mongolia"
                                            },
                                            {
                                                "modCode": "MNT",
                                                "check": "",
                                                "modCountry": "Montenegro"
                                            },
                                            {
                                                "modCode": "MSR",
                                                "check": "",
                                                "modCountry": "Montserrat"
                                            },
                                            {
                                                "modCode": "MOR",
                                                "check": "",
                                                "modCountry": "Morocco"
                                            },
                                            {
                                                "modCode": "MOZ",
                                                "check": "",
                                                "modCountry": "Mozambique"
                                            },
                                            {
                                                "modCode": "MMR",
                                                "check": "",
                                                "modCountry": "Myanmar"
                                            },
                                            {
                                                "modCode": "MYA",
                                                "check": "",
                                                "modCountry": "Myanmar"
                                            },
                                            {
                                                "modCode": "NAM",
                                                "check": "",
                                                "modCountry": "Namibia"
                                            },
                                            {
                                                "modCode": "NMB",
                                                "check": "",
                                                "modCountry": "Namibia"
                                            },
                                            {
                                                "modCode": "NAU",
                                                "check": "",
                                                "modCountry": "Nauru"
                                            },
                                            {
                                                "modCode": "NEP",
                                                "check": "",
                                                "modCountry": "Nepal"
                                            },
                                            {
                                                "modCode": "NET",
                                                "check": "",
                                                "modCountry": "Netherlands"
                                            },
                                            {
                                                "modCode": "NTA",
                                                "check": "",
                                                "modCountry": "Netherlands Antilles"
                                            },
                                            {
                                                "modCode": "NCA",
                                                "check": "",
                                                "modCountry": "New Caledonia"
                                            },
                                            {
                                                "modCode": "NEW",
                                                "check": "",
                                                "modCountry": "New Zealand"
                                            },
                                            {
                                                "modCode": "NIC",
                                                "check": "",
                                                "modCountry": "Nicaragua"
                                            },
                                            {
                                                "modCode": "NIG",
                                                "check": "",
                                                "modCountry": "Niger"
                                            },
                                            {
                                                "modCode": "NGA",
                                                "check": "",
                                                "modCountry": "Nigeria"
                                            },
                                            {
                                                "modCode": "NIU",
                                                "check": "",
                                                "modCountry": "Niue"
                                            },
                                            {
                                                "modCode": "NON",
                                                "check": "",
                                                "modCountry": "Non-USA"
                                            },
                                            {
                                                "modCode": "NFK",
                                                "check": "",
                                                "modCountry": "Norfolk Island"
                                            },
                                            {
                                                "modCode": "NKO",
                                                "check": "",
                                                "modCountry": "North Korea"
                                            },
                                            {
                                                "modCode": "NVT",
                                                "check": "",
                                                "modCountry": "North Vietnam"
                                            },
                                            {
                                                "modCode": "MNP",
                                                "check": "",
                                                "modCountry": "Northern Mariana Islands"
                                            },
                                            {
                                                "modCode": "NOR",
                                                "check": "",
                                                "modCountry": "Norway"
                                            },
                                            {
                                                "modCode": "OMA",
                                                "check": "",
                                                "modCountry": "Oman"
                                            },
                                            {
                                                "modCode": "PAK",
                                                "check": "",
                                                "modCountry": "Pakistan"
                                            },
                                            {
                                                "modCode": "PLW",
                                                "check": "",
                                                "modCountry": "Palau"
                                            },
                                            {
                                                "modCode": "PAL",
                                                "check": "",
                                                "modCountry": "Palestine, State of"
                                            },
                                            {
                                                "modCode": "PAN",
                                                "check": "",
                                                "modCountry": "Panama"
                                            },
                                            {
                                                "modCode": "PNG",
                                                "check": "",
                                                "modCountry": "Papua New Guinea"
                                            },
                                            {
                                                "modCode": "PAR",
                                                "check": "",
                                                "modCountry": "Paraguay"
                                            },
                                            {
                                                "modCode": "PER",
                                                "check": "",
                                                "modCountry": "Peru"
                                            },
                                            {
                                                "modCode": "PHI",
                                                "check": "",
                                                "modCountry": "Philippines"
                                            },
                                            {
                                                "modCode": "PCN",
                                                "check": "",
                                                "modCountry": "Pitcairn"
                                            },
                                            {
                                                "modCode": "POL",
                                                "check": "",
                                                "modCountry": "Poland"
                                            },
                                            {
                                                "modCode": "POR",
                                                "check": "",
                                                "modCountry": "Portugal"
                                            },
                                            {
                                                "modCode": "PUR",
                                                "check": "",
                                                "modCountry": "Puerto Rico"
                                            },
                                            {
                                                "modCode": "QAT",
                                                "check": "",
                                                "modCountry": "Qatar"
                                            },
                                            {
                                                "modCode": "REU",
                                                "check": "",
                                                "modCountry": "Reunion"
                                            },
                                            {
                                                "modCode": "RIO",
                                                "check": "",
                                                "modCountry": "Rio Muni"
                                            },
                                            {
                                                "modCode": "RUM",
                                                "check": "",
                                                "modCountry": "Romania"
                                            },
                                            {
                                                "modCode": "RUS",
                                                "check": "",
                                                "modCountry": "Russia"
                                            },
                                            {
                                                "modCode": "RWA",
                                                "check": "",
                                                "modCountry": "Rwanda"
                                            },
                                            {
                                                "modCode": "SLU",
                                                "check": "",
                                                "modCountry": "Saint Lucia"
                                            },
                                            {
                                                "modCode": "STM",
                                                "check": "",
                                                "modCountry": "Saint Martin"
                                            },
                                            {
                                                "modCode": "WSM",
                                                "check": "",
                                                "modCountry": "Samoa"
                                            },
                                            {
                                                "modCode": "SAN",
                                                "check": "",
                                                "modCountry": "San Marino"
                                            },
                                            {
                                                "modCode": "STP",
                                                "check": "",
                                                "modCountry": "Sao Tome and Principe"
                                            },
                                            {
                                                "modCode": "SAU",
                                                "check": "",
                                                "modCountry": "Saudi Arabia"
                                            },
                                            {
                                                "modCode": "SCT",
                                                "check": "",
                                                "modCountry": "Scotland"
                                            },
                                            {
                                                "modCode": "SEN",
                                                "check": "",
                                                "modCountry": "Senegal"
                                            },
                                            {
                                                "modCode": "SRB",
                                                "check": "",
                                                "modCountry": "Serbia"
                                            },
                                            {
                                                "modCode": "SER",
                                                "check": "",
                                                "modCountry": "Serbia and Montenegro"
                                            },
                                            {
                                                "modCode": "SEY",
                                                "check": "",
                                                "modCountry": "Seychelles"
                                            },
                                            {
                                                "modCode": "SIE",
                                                "check": "",
                                                "modCountry": "Sierra Leone"
                                            },
                                            {
                                                "modCode": "SIN",
                                                "check": "",
                                                "modCountry": "Singapore"
                                            },
                                            {
                                                "modCode": "SX",
                                                "check": "",
                                                "modCountry": "Sint Maarten"
                                            },
[...]
