{
    "swagger": "2.0",
    "info": {
        "title": "AnnouncementsSysAnnouncement",
        "description": "SysAnnouncementService",
        "version": "v1"
    },
    "externalDocs": {
        "description": "External **documentation** link",
        "url": "https://byuoit.atlassian.net/wiki/display/WSO2/System+Announcements"
    },
    "host": "api.byu.edu:443",
    "schemes": [
        "https"
    ],
    "basePath": "/domains/legacy/announcements/sysannouncement/v1",
    "produces": [
        "application/json",
        "application/xml"
    ],
    "paths": {
        "/*": {
            "post": {
                "summary": "Create system announcement",
                "description": "Create system announcement",
                "operationId": "CreateSysAnnouncement",
                "parameters": [],
                "tags": [
                    "SysAnnouncementService"
                ],
                "responses": {
                    "201": {
                        "description": "Service request is OK and system announcement has been created.",
                        "schema": {
                            "$ref": "#/definitions/SysAnnRequest"
                        }
                    },
                    "400": {
                        "description": "There appears to be a syntax error in the composition of the service request. The response structure may contain information about the error. If the base URI or service request URI is invalid, any response will come as an HTTP response.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "403": {
                        "description": "The user does not have access to the resource.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "404": {
                        "description": "The target resource can not be found for the provided resource identifiers.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "405": {
                        "description": "The service method is not supported by the service.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "409": {
                        "description": "A conflict has occurred. The response structure may contain information about the conflict.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "500": {
                        "description": "An error occurred generating the response to the service request. This is strictly a server error and not an application error.",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/{sysannouncementID}": {
            "get": {
                "summary": "Get system announcement by ID",
                "description": "Get system announcement by ID",
                "operationId": "GetByID",
                "parameters": [
                    {
                        "name": "sysannouncementID",
                        "description": "system announcement identification",
                        "type": "string",
                        "in": "path",
                        "required": true
                    }
                ],
                "tags": [
                    "SysAnnouncementService"
                ],
                "responses": {
                    "200": {
                        "description": "Service request is OK and a response has been generated.",
                        "schema": {
                            "$ref": "#/definitions/SysAnnResponse"
                        }
                    },
                    "400": {
                        "description": "There appears to be a syntax error in the composition of the service request. The response structure may contain information about the error. If the base URI or service request URI is invalid, any response will come as an HTTP response.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "403": {
                        "description": "The user does not have access to the resource.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "404": {
                        "description": "The target resource can not be found for the provided resource identifiers.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "405": {
                        "description": "The service method is not supported by the service.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "409": {
                        "description": "A conflict has occurred. The response structure may contain information about the conflict.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "500": {
                        "description": "An error occurred generating the response to the service request. This is strictly a server error and not an application error.",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            },
            "put": {
                "summary": "Modify system announcement",
                "description": "Modify system announcement",
                "operationId": "ModifyByID",
                "parameters": [
                    {
                        "name": "sysannouncementID",
                        "description": "system announcement ID",
                        "type": "string",
                        "in": "path",
                        "required": true
                    }
                ],
                "tags": [
                    "SysAnnouncementService"
                ],
                "responses": {
                    "200": {
                        "description": "Service request is OK and a response has been generated.",
                        "schema": {
                            "$ref": "#/definitions/SysAnnRequest"
                        }
                    },
                    "400": {
                        "description": "There appears to be a syntax error in the composition of the service request. The response structure may contain information about the error. If the base URI or service request URI is invalid, any response will come as an HTTP response.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "403": {
                        "description": "The user does not have access to the resource.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "404": {
                        "description": "The target resource can not be found for the provided resource identifiers.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "405": {
                        "description": "The service method is not supported by the service.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "409": {
                        "description": "A conflict has occurred. The response structure may contain information about the conflict.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "500": {
                        "description": "An error occurred generating the response to the service request. This is strictly a server error and not an application error.",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            },
            "delete": {
                "summary": "Delete system announcement",
                "description": "Delete system announcement",
                "operationId": "DeleteSysAnnouncement",
                "parameters": [
                    {
                        "name": "sysannouncementID",
                        "description": "system announcement ID",
                        "type": "string",
                        "in": "path",
                        "required": true
                    }
                ],
                "tags": [
                    "SysAnnouncementService"
                ],
                "responses": {
                    "200": {
                        "description": "Service request is OK and a response has been generated.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "400": {
                        "description": "There appears to be a syntax error in the composition of the service request. The response structure may contain information about the error. If the base URI or service request URI is invalid, any response will come as an HTTP response.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "403": {
                        "description": "The user does not have access to the resource.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "404": {
                        "description": "The target resource can not be found for the provided resource identifiers.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "405": {
                        "description": "The service method is not supported by the service.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "409": {
                        "description": "A conflict has occurred. The response structure may contain information about the conflict.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "500": {
                        "description": "An error occurred generating the response to the service request. This is strictly a server error and not an application error.",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/type/{type}": {
            "get": {
                "summary": "Get system announcements by type",
                "description": "Get system announcements by type",
                "operationId": "GetByType",
                "parameters": [
                    {
                        "name": "type",
                        "description": "type of announcement",
                        "type": "string",
                        "in": "path",
                        "required": true
                    }
                ],
                "tags": [
                    "SysAnnouncementService"
                ],
                "responses": {
                    "200": {
                        "description": "Service request is OK and a response has been generated.",
                        "schema": {
                            "$ref": "#/definitions/SysAnnResponse"
                        }
                    },
                    "400": {
                        "description": "There appears to be a syntax error in the composition of the service request. The response structure may contain information about the error. If the base URI or service request URI is invalid, any response will come as an HTTP response.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "403": {
                        "description": "The user does not have access to the resource.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "404": {
                        "description": "The target resource can not be found for the provided resource identifiers.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "405": {
                        "description": "The service method is not supported by the service.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "409": {
                        "description": "A conflict has occurred. The response structure may contain information about the conflict.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "500": {
                        "description": "An error occurred generating the response to the service request. This is strictly a server error and not an application error.",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/type/{type}/name/{typename}": {
            "get": {
                "summary": "Get system announcement by type and typename",
                "description": "Get system announcement by type and typename",
                "operationId": "GetByTypeAndTypeName",
                "parameters": [
                    {
                        "name": "type",
                        "description": "type of announcement",
                        "type": "string",
                        "in": "path",
                        "required": true
                    },
                    {
                        "name": "typename",
                        "description": "typename of announcement",
                        "type": "string",
                        "in": "path",
                        "required": true
                    }
                ],
                "tags": [
                    "SysAnnouncementService"
                ],
                "responses": {
                    "200": {
                        "description": "Service request is OK and a response has been generated.",
                        "schema": {
                            "$ref": "#/definitions/SysAnnResponse"
                        }
                    },
                    "400": {
                        "description": "There appears to be a syntax error in the composition of the service request. The response structure may contain information about the error. If the base URI or service request URI is invalid, any response will come as an HTTP response.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "403": {
                        "description": "The user does not have access to the resource.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "404": {
                        "description": "The target resource can not be found for the provided resource identifiers.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "405": {
                        "description": "The service method is not supported by the service.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "409": {
                        "description": "A conflict has occurred. The response structure may contain information about the conflict.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "500": {
                        "description": "An error occurred generating the response to the service request. This is strictly a server error and not an application error.",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/type/{type}/name/{name}/expireDate/{expireDate}/beginDate/{beginDate}": {
            "get": {
                "summary": "Get system announcement by type and name within expiration date",
                "description": "Get system announcement by type and name whose expire date is not set or has yet to expire and whose begin date is not set or has not passed yet",
                "operationId": "GetByTypeAndNameWithDates",
                "parameters": [
                    {
                        "name": "type",
                        "description": "Type of announcement",
                        "type": "string",
                        "in": "path",
                        "required": true
                    },
                    {
                        "name": "name",
                        "description": "Name of announcement",
                        "type": "string",
                        "in": "path",
                        "required": true
                    },
                    {
                        "name": "expireDate",
                        "description": "Date of announcement expiration",
                        "type": "string",
                        "in": "path",
                        "required": true
                    },
                    {
                        "name": "beginDate",
                        "description": "Beginning date of announcement",
                        "type": "string",
                        "in": "path",
                        "required": true
                    }
                ],
                "tags": [
                    "SysAnnouncementService"
                ],
                "responses": {
                    "200": {
                        "description": "Service request is OK and a response has been generated.",
                        "schema": {
                            "$ref": "#/definitions/SysAnnResponse"
                        }
                    },
                    "400": {
                        "description": "There appears to be a syntax error in the composition of the service request. The response structure may contain information about the error. If the base URI or service request URI is invalid, any response will come as an HTTP response.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "403": {
                        "description": "The user does not have access to the resource.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "404": {
                        "description": "The target resource can not be found for the provided resource identifiers.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "405": {
                        "description": "The service method is not supported by the service.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "409": {
                        "description": "A conflict has occurred. The response structure may contain information about the conflict.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "500": {
                        "description": "An error occurred generating the response to the service request. This is strictly a server error and not an application error.",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/documentation": {
            "get": {
                "summary": "service definition",
                "description": "service definition",
                "operationId": "getServiceDocumentation",
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "SysAnnRequest": {
            "type": "object",
            "properties": {
                "title": {
                    "type": "string"
                },
                "text": {
                    "type": "string"
                },
                "beginDate": {
                    "type": "string"
                },
                "expireDate": {
                    "type": "string"
                },
                "createdBy": {
                    "type": "string"
                },
                "updatedBy": {
                    "type": "string"
                },
                "type": {
                    "type": "string"
                },
                "typeName": {
                    "type": "string"
                },
                "level": {
                    "type": "string"
                },
                "critical": {
                    "type": "boolean"
                },
                "dateUpdated": {
                    "type": "string"
                }
            }
        },
        "SysAnnResponse": {
            "type": "object",
            "properties": {
                "id": {
                    "type": "string"
                },
                "title": {
                    "type": "string"
                },
                "text": {
                    "type": "string"
                },
                "beginDate": {
                    "type": "string"
                },
                "expireDate": {
                    "type": "string"
                },
                "createdBy": {
                    "type": "string"
                },
                "updatedBy": {
                    "type": "string"
                },
                "type": {
                    "type": "string"
                },
                "typeName": {
                    "type": "string"
                },
                "level": {
                    "type": "string"
                },
                "critical": {
                    "type": "boolean"
                },
                "dateUpdated": {
                    "type": "string"
                }
            }
        }
    }
}