{
    "basePath": "/domains/legacy/autoreg/message/v1",
    "host": "api.byu.edu:443",
    "paths": {
        "/{person_id}": {
            "put": {
                "x-auth-type": "Application & Application User",
                "summary": "The user supplies the person_id and message",
                "tags": [
                    "AutoregMessageService"
                ],
                "x-throttling-tier": "Unlimited",
                "description": "The user supplies the person_id and message",
                "parameters": [
                    {
                        "description": "The target",
                        "name": "person_id",
                        "type": "string",
                        "required": true,
                        "in": "path"
                    },
                    {
                        "schema": {
                            "$ref": "#/definitions/msg"
                        },
                        "description": "The message",
                        "name": "message",
                        "required": true,
                        "in": "body"
                    }
                ],
                "responses": {
                    "200": {
                        "schema": {
                            "type": "string"
                        },
                        "description": "Service request is OK and a response has been generated."
                    },
                    "400": {
                        "schema": {
                            "type": "string"
                        },
                        "description": "There appears to be a syntax error in the composition of the service request. The response structure may contain information about the error. If the base URI or service request URI is invalid, any response will come as an HTTP response."
                    },
                    "403": {
                        "schema": {
                            "type": "string"
                        },
                        "description": "The user does not have access to the resource."
                    },
                    "500": {
                        "schema": {
                            "type": "string"
                        },
                        "description": "An error occurred generating the response to the service request. This is strictly a server error and not an application error."
                    }
                },
                "operationId": "Autoreg Message"
            },
            "post": {
                "x-auth-type": "Application & Application User",
                "summary": "The user supplies the person_id and message",
                "tags": [
                    "AutoregMessageService"
                ],
                "x-throttling-tier": "Unlimited",
                "description": "The user supplies the person_id and message",
                "parameters": [
                    {
                        "description": "The target",
                        "name": "person_id",
                        "type": "string",
                        "required": true,
                        "in": "path"
                    },
                    {
                        "schema": {
                            "$ref": "#/definitions/msg"
                        },
                        "description": "The message",
                        "name": "message",
                        "required": true,
                        "in": "body"
                    }
                ],
                "responses": {
                    "200": {
                        "schema": {
                            "type": "string"
                        },
                        "description": "Service request is OK and a response has been generated."
                    },
                    "400": {
                        "schema": {
                            "type": "string"
                        },
                        "description": "There appears to be a syntax error in the composition of the service request. The response structure may contain information about the error. If the base URI or service request URI is invalid, any response will come as an HTTP response."
                    },
                    "403": {
                        "schema": {
                            "type": "string"
                        },
                        "description": "The user does not have access to the resource."
                    },
                    "500": {
                        "schema": {
                            "type": "string"
                        },
                        "description": "An error occurred generating the response to the service request. This is strictly a server error and not an application error."
                    }
                },
                "operationId": "Autoreg Message"
            },
            "options": {
                "summary": "The options endpoints so this will work",
                "x-auth-type": "None",
                "x-throttling-tier": "Unlimited",
                "parameters": [
                    {
                        "description": "The target",
                        "name": "person_id",
                        "type": "string",
                        "required": true,
                        "in": "path"
                    },
                    {
                        "schema": {
                            "$ref": "#/definitions/msg"
                        },
                        "description": "The message",
                        "name": "message",
                        "required": true,
                        "in": "body"
                    }
                ],
                "responses": {
                    "200": {
                        "schema": {
                            "$ref": "#/definitions/methods"
                        },
                        "description": "Service request is OK and a response has been generated."
                    }
                }
            }
        }
    },
    "schemes": [
        "https"
    ],
    "produces": [
        "application/json"
    ],
    "swagger": "2.0",
    "definitions": {
        "methods": {
            "items": {
                "enum": [
                    "OPTIONS",
                    "POST",
                    "PUT"
                ],
                "type": "string"
            },
            "description": "Supported HTTP Methods",
            "type": "array",
            "uniqueItems": true
        },
        "msg": {
            "properties": {
                "message": {
                    "type": "string"
                }
            }
        }
    },
    "info": {
        "title": "AutoregMessage",
        "description": "AutoregMessageService",
        "version": "v1"
    }
}