{
    "paths": {
        "/_search": {
            "get": {
                "x-auth-type": "Application & Application User",
                "x-throttling-tier": "Unlimited",
                "responses": {
                    "200": {}
                }
            }
        },
        "/user/{id}": {
            "put": {
                "x-auth-type": "Application & Application User",
                "x-throttling-tier": "Unlimited",
                "parameters": [
                    {
                        "name": "id",
                        "type": "string",
                        "required": true,
                        "in": "path"
                    },
                    {
                        "schema": {
                            "type": "object"
                        },
                        "description": "Request Body",
                        "name": "Payload",
                        "required": false,
                        "in": "body"
                    }
                ],
                "responses": {
                    "200": {}
                }
            },
            "post": {
                "x-auth-type": "Application & Application User",
                "x-throttling-tier": "Unlimited",
                "parameters": [
                    {
                        "name": "id",
                        "type": "string",
                        "required": true,
                        "in": "path"
                    },
                    {
                        "schema": {
                            "type": "object"
                        },
                        "description": "Request Body",
                        "name": "Payload",
                        "required": false,
                        "in": "body"
                    }
                ],
                "responses": {
                    "200": {}
                }
            },
            "get": {
                "x-auth-type": "Application & Application User",
                "x-throttling-tier": "Unlimited",
                "parameters": [
                    {
                        "name": "id",
                        "type": "string",
                        "required": true,
                        "in": "path"
                    }
                ],
                "responses": {
                    "200": {}
                }
            },
            "delete": {
                "x-auth-type": "Application & Application User",
                "x-throttling-tier": "Unlimited",
                "parameters": [
                    {
                        "name": "id",
                        "type": "string",
                        "required": true,
                        "in": "path"
                    }
                ],
                "responses": {
                    "200": {}
                }
            }
        },
        "/user": {
            "post": {
                "x-auth-type": "Application & Application User",
                "x-throttling-tier": "Unlimited",
                "parameters": [
                    {
                        "schema": {
                            "type": "object"
                        },
                        "description": "Request Body",
                        "name": "Payload",
                        "required": false,
                        "in": "body"
                    }
                ],
                "responses": {
                    "200": {}
                }
            },
            "get": {
                "x-auth-type": "Application & Application User",
                "x-throttling-tier": "Unlimited",
                "responses": {
                    "200": {}
                }
            }
        },
        "/*": {
            "get": {
                "x-auth-type": "Application & Application User",
                "x-throttling-tier": "Unlimited",
                "responses": {
                    "200": {}
                }
            }
        }
    },
    "swagger": "2.0",
    "info": {
        "title": "AVReports-dev",
        "version": "0.0.1"
    },
    "basePath": "/avreports/0.0.1",
    "host": "api.byu.edu:443"
}