{
    "basePath": "/rest/prsanimallistings/1.0.1",
    "tags": [
        {
            "description": "",
            "name": "person"
        }
    ],
    "host": "api.byu.edu:443",
    "paths": {
        "/person": {
            "post": {
                "tags": [
                    "person"
                ],
                "parameters": [
                    {
                        "schema": {
                            "$ref": "#/definitions/Person"
                        },
                        "name": "body",
                        "in": "body"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    }
                }
            },
            "get": {
                "tags": [
                    "person"
                ],
                "responses": {
                    "200": {
                        "schema": {
                            "items": {
                                "$ref": "#/definitions/Person"
                            },
                            "xml": {
                                "name": "Persons"
                            },
                            "type": "array"
                        },
                        "description": "successful operation"
                    }
                }
            }
        },
        "/rest/prsanimallistings/v1/animallisting/*": {
            "get": {
                "summary": "",
                "responses": {
                    "200": {}
                }
            }
        }
    },
    "schemes": [
        "https"
    ],
    "swagger": "2.0",
    "definitions": {
        "Person": {
            "title": "Person",
            "xml": {
                "name": "Person"
            },
            "properties": {
                "Net_ID": {
                    "type": "string"
                },
                "FirstName": {
                    "type": "string"
                },
                "LastName": {
                    "type": "string"
                }
            },
            "type": "object"
        }
    },
    "info": {
        "title": "PRS Person",
        "version": "1.0.0"
    }
}