{
    "paths": {
        "/person/{byu_id}/error/{element_id}": {
            "put": {
                "summary": "Add an error from a user to a specific application ",
                "x-auth-type": "Application & Application User",
                "x-throttling-tier": "Unlimited",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "description": "Person's BYU_ID",
                        "name": "byu_id",
                        "required": true,
                        "type": "string",
                        "in": "path"
                    },
                    {
                        "description": "Application elements's identifier",
                        "name": "element_id",
                        "required": true,
                        "type": "string",
                        "in": "path"
                    }
                ],
                "consumes": [
                    "application/json"
                ],
                "responses": {
                    "200": {}
                }
            }
        },
        "/person/{byu_id}/access/{element_id}": {
            "put": {
                "summary": "Add access from a user to a specific application ",
                "x-auth-type": "Application & Application User",
                "x-throttling-tier": "Unlimited",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "description": "Person's BYU_ID",
                        "name": "byu_id",
                        "required": true,
                        "type": "string",
                        "in": "path"
                    },
                    {
                        "description": "Application elements's identifier",
                        "name": "element_id",
                        "required": true,
                        "type": "string",
                        "in": "path"
                    }
                ],
                "consumes": [
                    "application/json"
                ],
                "responses": {
                    "200": {}
                }
            },
            "get": {
                "summary": "Check access from a user to a specific application element",
                "x-auth-type": "Application & Application User",
                "x-throttling-tier": "Unlimited",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "description": "Person's BYU_ID",
                        "name": "byu_id",
                        "required": true,
                        "type": "string",
                        "in": "path"
                    },
                    {
                        "description": "Application elements's identifier",
                        "name": "element_id",
                        "required": true,
                        "type": "string",
                        "in": "path"
                    }
                ],
                "consumes": [
                    "application/json"
                ],
                "responses": {
                    "200": {}
                }
            },
            "delete": {
                "summary": "Remove access from a user to a specific application element",
                "x-auth-type": "Application & Application User",
                "x-throttling-tier": "Unlimited",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "description": "Person's BYU_ID",
                        "name": "byu_id",
                        "required": true,
                        "type": "string",
                        "in": "path"
                    },
                    {
                        "description": "Application elements's identifier",
                        "name": "element_id",
                        "required": true,
                        "type": "string",
                        "in": "path"
                    }
                ],
                "consumes": [
                    "application/json"
                ],
                "responses": {
                    "200": {}
                }
            }
        },
        "/person/error": {
            "post": {
                "summary": "Add Error Edge",
                "x-auth-type": "Application & Application User",
                "x-throttling-tier": "Unlimited",
                "parameters": [
                    {
                        "schema": {
                            "type": "object"
                        },
                        "description": "Request Body",
                        "name": "Payload",
                        "required": false,
                        "in": "body"
                    }
                ],
                "responses": {
                    "200": {}
                }
            }
        },
        "/person/access": {
            "post": {
                "summary": "Add/Remove Access Edge",
                "x-auth-type": "Application & Application User",
                "x-throttling-tier": "Unlimited",
                "parameters": [
                    {
                        "schema": {
                            "type": "object"
                        },
                        "description": "Request Body",
                        "name": "Payload",
                        "required": false,
                        "in": "body"
                    }
                ],
                "responses": {
                    "200": {}
                }
            }
        }
    },
    "swagger": "2.0",
    "info": {
        "title": "BYU-Provisioning",
        "version": "v3.0"
    },
    "basePath": "/provisioning/v3.0",
    "host": "api.byu.edu:443"
}