{
    "basePath": "/domains/canvas/class_usages/v1",
    "x-mock_json": {
        "classes": {
            "values": [
                {
                    "teaching_area": "none",
                    "section_number": "none",
                    "enrolled_hours": "369",
                    "catalog_number_suffix": "none",
                    "year_term": "20175",
                    "min_credit_hours": "3",
                    "canvas_id": "none",
                    "published": "Y",
                    "enrolled_students": "123",
                    "fixed_or_variable": "F",
                    "credit_hours": "3"
                },
                {
                    "teaching_area": "C S",
                    "section_number": "001",
                    "enrolled_hours": "369",
                    "catalog_number_suffix": "236",
                    "year_term": "20175",
                    "min_credit_hours": "3",
                    "canvas_id": "20175-CS-236-001",
                    "published": "Y",
                    "enrolled_students": "123",
                    "fixed_or_variable": "F",
                    "credit_hours": "3"
                }
            ],
            "metadata": {
                "validation_response": {
                    "message": "Success",
                    "code": 200
                }
            }
        }
    },
    "host": "api.byu.edu:443",
    "paths": {
        "/{year_term}": {
            "get": {
                "summary": "classes",
                "x-auth-type": "Application & Application User",
                "x-controller": "class_usages",
                "x-throttling-tier": "Unlimited",
                "description": "Returns the course usage data for all canvas courses for the specified year_term.",
                "parameters": [
                    {
                        "description": "Year Term of Class",
                        "name": "year_term",
                        "type": "string",
                        "required": true,
                        "in": "path"
                    }
                ],
                "responses": {
                    "200": {
                        "schema": {
                            "$ref": "#/definitions/classes"
                        },
                        "description": "The course usage data for all canvas courses for the specified year_term.",
                        "examples": {
                            "application/json": {
                                "$ref": "#/x-mock_json/classes"
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/responses/400"
                    },
                    "401": {
                        "$ref": "#/responses/401"
                    },
                    "403": {
                        "$ref": "#/responses/403"
                    },
                    "404": {
                        "$ref": "#/responses/404"
                    },
                    "409": {
                        "$ref": "#/responses/409"
                    }
                },
                "operationId": "year_term"
            }
        },
        "/*": {
            "get": {
                "summary": "classes",
                "x-auth-type": "Application & Application User",
                "x-controller": "class_usages",
                "x-throttling-tier": "Unlimited",
                "description": "Returns the course usage data for all canvas courses.",
                "responses": {
                    "200": {
                        "schema": {
                            "$ref": "#/definitions/classes"
                        },
                        "description": "The course usage data for all canvas courses.",
                        "examples": {
                            "application/json": {
                                "$ref": "#/x-mock_json/classes"
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/responses/400"
                    },
                    "401": {
                        "$ref": "#/responses/401"
                    },
                    "403": {
                        "$ref": "#/responses/403"
                    },
                    "404": {
                        "$ref": "#/responses/404"
                    },
                    "409": {
                        "$ref": "#/responses/409"
                    }
                },
                "operationId": "all"
            }
        }
    },
    "x-lambda-functions": {
        "function": {
            "runtime": "nodejs6.10",
            "path_to_code": "class_usages",
            "memory": 128,
            "timeout": 20,
            "handler": "index.handler"
        }
    },
    "schemes": [
        "https"
    ],
    "produces": [
        "application/json"
    ],
    "swagger": "2.0",
    "definitions": {
        "classes": {
            "items": {
                "$ref": "#/definitions/class"
            },
            "type": "array"
        },
        "StringResponse": {
            "type": "string"
        },
        "class": {
            "properties": {
                "teaching_area": {
                    "default": "",
                    "description": "The course teaching area (dept_name)",
                    "type": "string"
                },
                "section_number": {
                    "default": "",
                    "description": "The course section number",
                    "type": "string"
                },
                "enrolled_hours": {
                    "description": "enrolled_students * credit_hours",
                    "type": "number"
                },
                "catalog_number_suffix": {
                    "default": "",
                    "description": "The catalog_number and catalog_suffix together",
                    "type": "string"
                },
                "year_term": {
                    "default": "",
                    "description": "The year_term being queried",
                    "type": "string"
                },
                "min_credit_hours": {
                    "description": "If fixed credit, the credit hours of the course.  If variable credit, the minimum credit hours of the course.",
                    "type": "number"
                },
                "canvas_id": {
                    "default": "",
                    "description": "The unique canvas indetifier with the format (year_term)-(teaching_area)-(catalog_number)(catalog_suffix)-(section_number) without spaces or &.",
                    "type": "string"
                },
                "published": {
                    "default": "",
                    "description": "Whether or not the course was published in Canvas",
                    "type": "string"
                },
                "enrolled_students": {
                    "description": "The number of enrolled students, including students with W grades.",
                    "type": "number"
                },
                "fixed_or_variable": {
                    "default": "",
                    "description": "Whether or not the credit hours are fixed or variable credit",
                    "type": "string"
                },
                "credit_hours": {
                    "description": "If fixed credit, the credit hours of the course.  If variable credit, the max credit hours of the course.",
                    "type": "number"
                }
            },
            "type": "object"
        }
    },
    "consumes": [
        "application/json"
    ],
    "responses": {
        "400": {
            "schema": {
                "$ref": "#/definitions/StringResponse"
            },
            "description": "Invalid Request - unable to interpret request",
            "examples": {
                "application/json": {
                    "metadata": {
                        "validation_response": {
                            "message": "Invalid Request - unable to interpret request",
                            "code": 400
                        }
                    }
                }
            }
        },
        "401": {
            "schema": {
                "$ref": "#/definitions/StringResponse"
            },
            "description": "Authentication required to access data",
            "examples": {
                "application/json": {
                    "metadata": {
                        "validation_response": {
                            "message": "Authentication required to access data",
                            "code": 401
                        }
                    }
                }
            }
        },
        "403": {
            "schema": {
                "$ref": "#/definitions/StringResponse"
            },
            "description": "Access denied to protected data",
            "examples": {
                "application/json": {
                    "metadata": {
                        "validation_response": {
                            "message": "Access denied to protected data",
                            "code": 403
                        }
                    }
                }
            }
        },
        "404": {
            "schema": {
                "$ref": "#/definitions/StringResponse"
            },
            "description": "The resource does not exist",
            "examples": {
                "application/json": {
                    "metadata": {
                        "validation_response": {
                            "message": "The resource does not exist",
                            "code": 404
                        }
                    }
                }
            }
        },
        "409": {
            "schema": {
                "$ref": "#/definitions/StringResponse"
            },
            "description": "Query parameters conflict or are malformed",
            "examples": {
                "application/json": {
                    "metadata": {
                        "validation_response": {
                            "message": "Query parameters conflict or are malformed",
                            "code": 409
                        }
                    }
                }
            }
        }
    },
    "info": {
        "title": "CanvasClassUsages",
        "description": "Canvas Class Usage Domain Service",
        "contact": {
            "email": "it@byu.edu",
            "name": "OIT Service Desk Support",
            "url": "https://it.byu.edu"
        },
        "version": "v1"
    }
}