{
    "basePath": "/domains/legacy/catalog/v1",
    "host": "api.byu.edu:443",
    "paths": {
        "/search": {
            "get": {
                "summary": "Search catalog",
                "tags": [
                    "CatalogService"
                ],
                "description": "Search catalog",
                "parameters": [],
                "responses": {
                    "200": {
                        "schema": {
                            "type": "string"
                        },
                        "description": "Service request is OK and a response has been generated."
                    },
                    "204": {
                        "schema": {
                            "type": "string"
                        },
                        "description": "No content. The service call has completed successfully. Empty response body."
                    },
                    "400": {
                        "schema": {
                            "type": "string"
                        },
                        "description": "There appears to be a syntax error in the composition of the service request. The response structure may contain information about the error. If the base URI or service request URI is invalid, any response will come as an HTTP response."
                    },
                    "403": {
                        "schema": {
                            "type": "string"
                        },
                        "description": "The user does not have access to the resource."
                    },
                    "405": {
                        "schema": {
                            "type": "string"
                        },
                        "description": "The service method is not supported by the service."
                    },
                    "415": {
                        "schema": {
                            "type": "string"
                        },
                        "description": "Unsupported Media Type. Called with the wrong or missing a content-type HTTP header."
                    },
                    "500": {
                        "schema": {
                            "type": "string"
                        },
                        "description": "An error occurred generating the response to the service request. This is strictly a server error and not an application error."
                    }
                },
                "operationId": "SearchCatalog",
                "x-auth-type": "Application & Application User",
                "x-throttling-tier": "Unlimited"
            }
        }
    },
    "schemes": [
        "https"
    ],
    "produces": [
        "application/json",
        "application/xml"
    ],
    "swagger": "2.0",
    "definitions": {},
    "info": {
        "title": "Catalog",
        "description": "CatalogService",
        "version": "v1"
    },
    "externalDocs": {
        "description": "External **documentation** link",
        "url": "https://byuoit.atlassian.net/wiki/display/WSO2/Names"
    }
}