{
    "paths": {
        "/transaction": {
            "put": {
                "x-auth-type": "Application & Application User",
                "x-throttling-tier": "Unlimited",
                "parameters": [
                    {
                        "schema": {
                            "type": "object"
                        },
                        "description": "Request Body",
                        "name": "Payload",
                        "required": false,
                        "in": "body"
                    }
                ],
                "responses": {
                    "200": {}
                }
            },
            "get": {
                "x-auth-type": "Application & Application User",
                "x-throttling-tier": "Unlimited",
                "responses": {
                    "200": {}
                }
            }
        },
        "/*": {
            "post": {
                "x-auth-type": "Application & Application User",
                "x-throttling-tier": "Unlimited",
                "parameters": [
                    {
                        "schema": {
                            "type": "string"
                        },
                        "description": "SOAP request.",
                        "name": "SOAP Request",
                        "required": true,
                        "in": "body"
                    },
                    {
                        "description": "SOAPAction header for soap 1.1",
                        "name": "SOAPAction",
                        "type": "string",
                        "required": false,
                        "in": "header"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        }
    },
    "produces": [
        "text/xml",
        "application/soap+xml"
    ],
    "swagger": "2.0",
    "consumes": [
        "text/xml",
        "application/soap+xml"
    ],
    "info": {
        "title": "CCPService",
        "description": "CCP service",
        "version": "v1"
    },
    "basePath": "/ccp/v1",
    "host": "api.byu.edu:443"
}