{"swagger":"2.0","info":{"title":"Classes","description":"Classes Resource of the University API","license":{"name":"Apache-2.0"},"version":"v2","contact":{"email":"it@byu.edu","name":"OIT Service Desk Support","url":"https://it.byu.edu"}},"schemes":["https"],"host":"api.byu.edu:443","basePath":"/byuapi/classes/v2dev","consumes":["application/json"],"produces":["application/json"],"paths":{"/*":{"x-controller":"classes","get":{"summary":"Classes","description":"NOTE: WSO2 is finicky -- If you want to use query parameters, you need to explicitly use /? instead of just ? on this endpoint\n\nReturns a collection of classes","operationId":"getClasses","parameters":[{"name":"field_sets","in":"query","description":"The field sets to return for each class (Ex: 'basic,assigned_instructors')","required":false,"type":"array","items":{"type":"string","enum":["basic","assigned_instructors","assigned_schedules","attributes","enrolled_students","enrollment_counts","headers","limitations","linked_classes","notes","permission_to_add_codes","proof","seat_pools","summary","waitlisted_students"]}},{"name":"contexts","in":"query","description":"The contexts to return for each class (Ex: 'class_schedule')","required":false,"type":"array","items":{"type":"string","enum":["class_schedule","class_schedule_record","class_roll"]}},{"description":"For paging the collection (Ex: '0')","name":"subset_start_offset","in":"query","required":false,"type":"integer","minimum":0},{"description":"For paging the collection (Ex: '10')","name":"subset_size","in":"query","required":false,"type":"integer","minimum":1,"maximum":100},{"description":"Comma-separated Enrollment Periods (Ex: 'Fall2018'), optionally including 'registration' or 'current' as well","name":"enrollment_periods","type":"array","items":{"type":"string","pattern":"^((Winter|Spring|Summer|Fall)[0-9]{4})|registration|current$"},"required":false,"in":"query"},{"name":"term_code","in":"query","description":"The term code of the classes (formerly known as block code) (Ex: 'S')","required":false,"type":"string","maxLength":1,"minLength":1},{"name":"teaching_area","in":"query","description":"The teaching area of the classes (Ex: 'DANCE' or 'C%20S')","required":false,"type":"string","maxLength":5,"minLength":2},{"name":"course_number","in":"query","description":"The course number of the classes (Ex: '110' or '201R')","required":false,"type":"string","maxLength":4,"minLength":2},{"name":"course_level","in":"query","description":"The course level of the classes (Ex: '4' for 400-level classes)","required":false,"type":"string","maxLength":1,"minLength":1},{"name":"class_provider","in":"query","description":"The class provider of the classes, formerly known as section type (Ex: 'EVENING')","required":false,"type":"string","maxLength":10,"minLength":3},{"name":"credit_hours","in":"query","description":"The credit hours of the classes (Ex: '3')","required":false,"type":"number","minimum":0},{"name":"building","in":"query","description":"The building where the classes will be offered (Ex: 'TNRB')","required":false,"type":"string","maxLength":4,"minLength":2},{"name":"room","in":"query","description":"The room number where the classes will be offered (Ex: '114')","required":false,"type":"string","minLength":1,"maxLength":5},{"name":"days","in":"query","description":"The days of the week when the classes will be offered (Ex: 'MWF' or 'TTh')","required":false,"type":"string","pattern":"^M?T?W?(Th)?F?S?(Su)?$"},{"name":"start_time","in":"query","description":"Class start time must be at or after the given time, with a leading zero (Ex: '00:59', '07:50', or '23:59')","required":false,"type":"string","pattern":"^((0|1)[0-9]|2[0-3]):[0-5][0-9]$"},{"name":"end_time","in":"query","description":"Class end time must be at or before the given time, with a leading zero (Ex: '00:59', '07:50', or '23:59')","required":false,"type":"string","pattern":"^((0|1)[0-9]|2[0-3]):[0-5][0-9]$"},{"name":"instructor_id","in":"query","description":"The assigned instructor's BYU ID","required":false,"type":"string","maxLength":9,"minLength":9},{"name":"attribute","in":"query","description":"The name, type, and value of an attribute (Ex: 'name,type,value')","type":"array","items":{"type":"string"},"minItems":3,"maxItems":3}],"tags":["Classes"],"responses":{"200":{"description":"A collection of Classes successfully returned","schema":{"description":"A collection of classes","type":"object","required":["links","metadata","values"],"properties":{"links":{"description":"Hypermedia links for a collection of classes","type":"object","required":["classes__info"],"properties":{"classes__info":{"type":"object","required":["rel","href","method"],"properties":{"rel":{"type":"string","default":"self","description":"The name of the link property or 'self' if the href value is the same as what is invoked to get the current object."},"href":{"type":"string","description":"Use this URL to perform the specified action","default":"https://api.byu.edu/byuapi/classes/v2/"},"method":{"type":"string","default":"GET","description":"Use this HTTP method to perform the specified action","enum":["GET","PUT","POST","DELETE","OPTIONS"]}}},"classes__first":{"type":"object","required":["rel","href","method"],"properties":{"rel":{"type":"string","default":"self","description":"The name of the link property or 'self' if the href value is the same as what is invoked to get the current object."},"href":{"type":"string","description":"Use this URL to perform the specified action","default":"https://api.byu.edu/byuapi/classes/v2/"},"method":{"type":"string","default":"GET","description":"Use this HTTP method to perform the specified action","enum":["GET","PUT","POST","DELETE","OPTIONS"]}}},"classes__current":{"type":"object","required":["rel","href","method"],"properties":{"rel":{"type":"string","default":"self","description":"The name of the link property or 'self' if the href value is the same as what is invoked to get the current object."},"href":{"type":"string","description":"Use this URL to perform the specified action","default":"https://api.byu.edu/byuapi/classes/v2/"},"method":{"type":"string","default":"GET","description":"Use this HTTP method to perform the specified action","enum":["GET","PUT","POST","DELETE","OPTIONS"]}}},"classes__last":{"type":"object","required":["rel","href","method"],"properties":{"rel":{"type":"string","default":"self","description":"The name of the link property or 'self' if the href value is the same as what is invoked to get the current object."},"href":{"type":"string","description":"Use this URL to perform the specified action","default":"https://api.byu.edu/byuapi/classes/v2/"},"method":{"type":"string","default":"GET","description":"Use this HTTP method to perform the specified action","enum":["GET","PUT","POST","DELETE","OPTIONS"]}}},"classes__previous":{"type":"object","required":["rel","href","method"],"properties":{"rel":{"type":"string","default":"self","description":"The name of the link property or 'self' if the href value is the same as what is invoked to get the current object."},"href":{"type":"string","description":"Use this URL to perform the specified action","default":"https://api.byu.edu/byuapi/classes/v2/"},"method":{"type":"string","default":"GET","description":"Use this HTTP method to perform the specified action","enum":["GET","PUT","POST","DELETE","OPTIONS"]}}},"classes__next":{"type":"object","required":["rel","href","method"],"properties":{"rel":{"type":"string","default":"self","description":"The name of the link property or 'self' if the href value is the same as what is invoked to get the current object."},"href":{"type":"string","description":"Use this URL to perform the specified action","default":"https://api.byu.edu/byuapi/classes/v2/"},"method":{"type":"string","default":"GET","description":"Use this HTTP method to perform the specified action","enum":["GET","PUT","POST","DELETE","OPTIONS"]}}}}},"metadata":{"type":"object","required":["validation_response","collection_size","subset_start","subset_size","default_subset_size","max_subset_size","field_sets_returned","field_sets_available","field_sets_default","contexts_available"],"properties":{"validation_response":{"type":"object","required":["code","message"],"properties":{"code":{"type":"integer","minimum":100,"maximum":599,"default":200},"message":{"type":"string","default":"Success"}}},"validation_information":{"type":"array","items":{"type":"string","default":"Success"}},"collection_size":{"type":"integer","minimum":0},"subset_start":{"type":"integer","minimum":0,"default":0},"subset_size":{"type":"integer","minimum":0},"default_subset_size":{"type":"integer","minimum":1,"default":10},"max_subset_size":{"type":"integer","minimum":1,"default":100},"field_sets_returned":{"description":"Field Sets that are returned","type":"array","items":{"type":"string","enum":["basic","assigned_instructors","assigned_schedules","attributes","enrolled_students","enrollment_counts","headers","limitations","linked_classes","notes","permission_to_add_codes","proof","seat_pools","summary","waitlisted_students"]},"default":["basic"]},"field_sets_available":{"description":"Field Sets Available","type":"array","items":{"type":"string","enum":["basic","assigned_instructors","assigned_schedules","attributes","enrolled_students","enrollment_counts","headers","limitations","linked_classes","notes","permission_to_add_codes","proof","seat_pools","summary","waitlisted_students"]},"default":["basic","assigned_instructors","assigned_schedules","attributes","enrolled_students","enrollment_counts","headers","limitations","linked_classes","notes","permission_to_add_codes","proof","seat_pools","summary","waitlisted_students"]},"field_sets_default":{"description":"Default Field Sets","type":"array","items":{"type":"string","enum":["basic"]},"default":["basic"]},"contexts_available":{"description":"Pre-designated collections of field_sets","type":"object","additionalProperties":{"type":"array","items":{"type":"string"}},"default":{"class_roll":["basic","assigned_instructors","assigned_schedules","enrolled_students","waitlisted_students"],"class_schedule":["basic","enrollment_counts","assigned_instructors","assigned_schedules","headers"],"class_schedule_record":["basic","assigned_instructors","assigned_schedules","headers","limitations","linked_classes","notes","seat_pools"]}}}},"values":{"type":"array","items":{"description":"A class","type":"object","required":["links","metadata"],"properties":{"links":{"description":"Hypermedia links for a class","type":"object","required":["class__info"],"properties":{"class__info":{"type":"object","required":["rel","href","method"],"properties":{"rel":{"type":"string","default":"self","description":"The name of the link property or 'self' if the href value is the same as what is invoked to get the current object."},"href":{"type":"string","description":"Use this URL to perform the specified action","default":"https://api.byu.edu/byuapi/classes/v2/"},"method":{"type":"string","default":"GET","description":"Use this HTTP method to perform the specified action","enum":["GET","PUT","POST","DELETE","OPTIONS"]}}},"class__modify":{"type":"object","required":["rel","href","method"],"properties":{"rel":{"type":"string","default":"self","description":"The name of the link property or 'self' if the href value is the same as what is invoked to get the current object."},"href":{"type":"string","description":"Use this URL to perform the specified action","default":"https://api.byu.edu/byuapi/classes/v2/"},"method":{"type":"string","default":"GET","description":"Use this HTTP method to perform the specified action","enum":["GET","PUT","POST","DELETE","OPTIONS"]}}},"class__delete":{"type":"object","required":["rel","href","method"],"properties":{"rel":{"type":"string","default":"self","description":"The name of the link property or 'self' if the href value is the same as what is invoked to get the current object."},"href":{"type":"string","description":"Use this URL to perform the specified action","default":"https://api.byu.edu/byuapi/classes/v2/"},"method":{"type":"string","default":"GET","description":"Use this HTTP method to perform the specified action","enum":["GET","PUT","POST","DELETE","OPTIONS"]}}}}},"metadata":{"type":"object","required":["validation_response","field_sets_returned","field_sets_available","field_sets_default","contexts_available"],"properties":{"validation_response":{"type":"object","required":["code","message"],"properties":{"code":{"type":"integer","minimum":100,"maximum":599,"default":200},"message":{"type":"string","default":"Success"}}},"validation_information":{"type":"array","items":{"type":"string","default":"Success"}},"field_sets_returned":{"description":"Field Sets that are returned","type":"array","items":{"type":"string","enum":["basic","assigned_instructors","assigned_schedules","attributes","enrolled_students","enrollment_counts","headers","limitations","linked_classes","notes","permission_to_add_codes","proof","seat_pools","summary","waitlisted_students"]},"default":["basic"]},"field_sets_available":{"description":"Field Sets Available","type":"array","items":{"type":"string","enum":["basic","assigned_instructors","assigned_schedules","attributes","enrolled_students","enrollment_counts","headers","limitations","linked_classes","notes","permission_to_add_codes","proof","seat_pools","summary","waitlisted_students"]},"default":["basic","assigned_instructors","assigned_schedules","attributes","enrolled_students","enrollment_counts","headers","limitations","linked_classes","notes","permission_to_add_codes","proof","seat_pools","summary","waitlisted_students"]},"field_sets_default":{"description":"Default Field Sets","type":"array","items":{"type":"string","enum":["basic"]},"default":["basic"]},"contexts_available":{"description":"Pre-designated collections of field_sets","type":"object","additionalProperties":{"type":"array","items":{"type":"string"}},"default":{"class_roll":["basic","assigned_instructors","assigned_schedules","enrolled_students","waitlisted_students"],"class_schedule":["basic","enrollment_counts","assigned_instructors","assigned_schedules","headers"],"class_schedule_record":["basic","assigned_instructors","assigned_schedules","headers","limitations","linked_classes","notes","seat_pools"]}}}},"basic":{"description":"Basic class information","type":"object","required":["metadata"],"properties":{"links":{"description":"Hypermedia links for a class","type":"object","required":["basic__info"],"properties":{"basic__info":{"type":"object","required":["rel","href","method"],"properties":{"rel":{"type":"string","default":"self","description":"The name of the link property or 'self' if the href value is the same as what is invoked to get the current object."},"href":{"type":"string","description":"Use this URL to perform the specified action","default":"https://api.byu.edu/byuapi/classes/v2/"},"method":{"type":"string","default":"GET","description":"Use this HTTP method to perform the specified action","enum":["GET","PUT","POST","DELETE","OPTIONS"]}}}}},"metadata":{"type":"object","required":["validation_response"],"properties":{"validation_response":{"type":"object","required":["code","message"],"properties":{"code":{"type":"integer","minimum":100,"maximum":599,"default":200},"message":{"type":"string","default":"Success"}}},"validation_information":{"type":"array","items":{"type":"string","default":"Success"}},"cache":{"description":"Date-time of cache (If not provided, data is from live source)","type":"object","required":["date_time"],"properties":{"date_time":{"type":"string","format":"date-time"}},"example":{"date_time":"2017-03-30T08:46:16.000Z"}}}},"enrollment_period":{"type":"object","required":["api_type","value"],"properties":{"api_type":{"default":"read-only","enum":["read-only"],"type":"string"},"value":{"description":"The enrollment period of the class","type":"string","pattern":"^(Winter|Spring|Summer|Fall)[0-9]{4}$","example":"Fall2018"},"key":{"type":"boolean"},"description":{"type":"string","example":"Fall 2017"},"long_description":{"type":"string","example":"Fall Semester 2017"}}},"teaching_area":{"type":"object","required":["api_type","value"],"properties":{"api_type":{"default":"read-only","enum":["read-only"],"type":"string"},"value":{"description":"The value of the assigned teaching area of this course.","type":"string","maxLength":5},"key":{"type":"boolean"},"description":{"type":"string","example":"Mathematics"}}},"course_number":{"type":"object","required":["api_type","value"],"properties":{"api_type":{"default":"read-only","enum":["read-only"],"type":"string"},"value":{"description":"Catalog Number and Suffix of Class","type":"string","pattern":"^[0-9]{3}[A-Z]?$"},"key":{"type":"boolean"}}},"section_number":{"type":"object","required":["value","api_type"],"properties":{"value":{"type":"string","pattern":"^[0-9]{3}$"},"api_type":{"type":"string","default":"read-only","enum":["read-only"]},"key":{"type":"boolean","default":true}},"example":{"value":"001","api_type":"read-only","key":true}},"class_identifiers":{"type":"object","required":["object_array","api_type"],"properties":{"object_array":{"type":"array","items":{"type":"object","required":["id_type","id_value","id_format"],"properties":{"id_type":{"type":"object","required":["value","api_type"],"properties":{"value":{"type":"string"},"api_type":{"type":"string","default":"read-only","enum":["read-only"]}}},"id_value":{"type":"object","required":["value","api_type"],"properties":{"value":{"type":"string"},"api_type":{"type":"string","default":"read-only","enum":["read-only"]}}},"id_format":{"type":"object","required":["value","api_type"],"properties":{"value":{"type":"string"},"api_type":{"type":"string","default":"read-only","enum":["read-only"]}}}}}},"api_type":{"type":"string","default":"read-only","enum":["read-only"]}}},"credit_institution":{"type":"object","required":["value","api_type"],"properties":{"value":{"type":"string","default":"BYU PROVO","maxLength":15},"api_type":{"type":"string","default":"read-only","enum":["read-only"]}},"example":{"value":"BYU PROVO","api_type":"read-only"}},"course_title":{"type":"object","required":["api_type","related_resource","value"],"properties":{"api_type":{"default":"related","enum":["related"],"type":"string"},"related_resource":{"default":"https://api.byu.edu/byuapi/courses/v1/","type":"string"},"value":{"description":"The value of the course title. NULLABLE","type":"string","maxLength":30,"example":"Introduction to Dance","x-nullable":true}}},"class_provider":{"type":"object","required":["value","domain","api_type"],"properties":{"value":{"type":"string","default":"DAY","maxLength":10,"x-nullable":true},"domain":{"type":"string","default":"https://api.byu.edu/byuapi/meta/registration/class_providers"},"api_type":{"type":"string","default":"read-only","enum":["read-only"]}}},"term_code":{"description":"Semester/Term 1/Term 2","type":"object","required":["value","api_type"],"properties":{"value":{"type":"string","minLength":1,"maxLength":1},"description":{"type":"string","maxLength":50},"api_type":{"type":"string","default":"read-only","enum":["read-only"]},"key":{"type":"boolean"}},"example":{"value":"S","description":"Semester Long","api_type":"read-only"}},"class_availability_status":{"description":"Availability status of the class","type":"object","required":["value","api_type","description"],"properties":{"value":{"type":"string","default":"A","maxLength":1},"api_type":{"type":"string","default":"read-only","enum":["read-only","modifiable"]},"description":{"type":"string","default":""}},"example":{"value":"A","api_type":"read-only","description":"Available"}},"registration_method":{"description":"Registration options for this class","type":"object","required":["value","api_type","description"],"properties":{"value":{"type":"string","default":"","x-nullable":true},"api_type":{"type":"string","default":"read-only","enum":["read-only","modifiable"]},"description":{"type":"string","default":""}},"example":{"value":"O","api_type":"read-only","description":"Open through add/drop deadline"}},"final_exam_in_testing_center":{"type":"object","required":["value","api_type"],"properties":{"value":{"type":"boolean","default":false,"x-nullable":true},"api_type":{"type":"string","default":"read-only","enum":["read-only"]}}},"class_fee":{"description":"The fee amount for this class","type":"object","required":["value","api_type"],"properties":{"value":{"type":"string","default":"","maxLength":5,"x-nullable":true},"api_type":{"type":"string","default":"read-only","enum":["read-only"]}},"example":{"value":"0","api_type":"read-only"}},"help_section":{"type":"object","required":["value","api_type"],"properties":{"value":{"type":"boolean","default":false,"x-nullable":true},"api_type":{"type":"string","default":"read-only","enum":["read-only"]}}},"honors_section":{"type":"object","required":["value","api_type"],"properties":{"value":{"type":"boolean","default":false,"x-nullable":true},"api_type":{"type":"string","default":"read-only","enum":["read-only"]}}},"lab_section":{"type":"object","required":["value","api_type"],"properties":{"value":{"type":"boolean","default":false,"x-nullable":true},"api_type":{"type":"string","default":"read-only","enum":["read-only"]}}},"lms_name":{"type":"object","required":["value","domain","api_type"],"properties":{"value":{"type":"string","default":null,"x-nullable":true,"description":"NULLABLE"},"domain":{"type":"string","default":"https://api.byu.edu/byuapi/meta/registration/lms_names"},"api_type":{"type":"string","default":"read-only","enum":["read-only"]}}},"online_section":{"type":"object","required":["value","api_type"],"properties":{"value":{"type":"boolean","default":false,"x-nullable":true},"api_type":{"type":"string","default":"read-only","enum":["read-only"]}}},"quiz_section":{"type":"object","required":["value","api_type"],"properties":{"value":{"type":"boolean","default":false,"x-nullable":true},"api_type":{"type":"string","default":"read-only","enum":["read-only"]}}},"class_size":{"description":"What is the enrollment size for this class","type":"object","required":["value","api_type"],"properties":{"value":{"type":"integer","minimum":0,"default":0},"api_type":{"type":"string","default":"read-only","enum":["read-only","modifiable"]}},"example":{"value":30,"api_type":"read-only"}},"variable_credit_hours":{"type":"object","required":["value","api_type"],"properties":{"value":{"type":"boolean","default":false},"api_type":{"type":"string","default":"read-only","enum":["read-only"]}}},"course_variable_credit_hours":{"type":"object","required":["value","api_type","related_resource"],"properties":{"value":{"type":"boolean","default":false,"x-nullable":true},"api_type":{"type":"string","default":"related","enum":["related"]},"related_resource":{"type":"string","default":"https://api.byu.edu/byuapi/courses/v1"}}},"credit_hours":{"type":"object","required":["api_type","value"],"properties":{"api_type":{"type":"string","default":"read-only","enum":["read-only","modifiable"]},"value":{"type":"number","minimum":0,"example":3}}},"minimum_credit_hours":{"description":"Minimum credit hours allowed for this course","type":"object","required":["value","api_type","related_resource"],"properties":{"value":{"type":"number","minimum":0,"example":3},"api_type":{"type":"string","default":"related","enum":["related"]},"related_resource":{"type":"string","default":"https://api.byu.edu/byuapi/courses/v1"}},"example":{"value":3,"api_type":"related","related_resource":"https://api.byu.edu/byuapi/courses/v1"}},"lecture_hours":{"description":"Number of lecture hours associated with this class","type":"object","required":["value","api_type","related_resource"],"properties":{"value":{"type":"number","example":3,"x-nullable":true},"api_type":{"type":"string","default":"related","enum":["related"]},"related_resource":{"type":"string","default":"https://api.byu.edu/byuapi/courses/v1"}},"example":{"value":3,"api_type":"related","related_resource":"https://api.byu.edu/byuapi/courses/v1"}},"lab_hours":{"description":"Number of lab hours associated with this class","type":"object","required":["value","api_type","related_resource"],"properties":{"value":{"type":"number","example":3,"x-nullable":true},"api_type":{"type":"string","default":"related","enum":["related"]},"related_resource":{"type":"string","default":"https://api.byu.edu/byuapi/courses/v1"}},"example":{"value":0,"api_type":"related","related_resource":"https://api.byu.edu/byuapi/courses/v1"}},"class_start_date":{"description":"Class start date for this class (Mountain Timezone)","type":"object","required":["value","api_type"],"properties":{"value":{"type":"string","format":"date","x-nullable":true},"api_type":{"type":"string","default":"read-only","enum":["read-only","modifiable"]}},"example":{"value":"2017-09-05","api_type":"read-only"}},"class_end_date":{"description":"Class end date for this class (Mountain Timezone)","type":"object","required":["value","api_type"],"properties":{"value":{"type":"string","format":"date","x-nullable":true},"api_type":{"type":"string","default":"read-only","enum":["read-only","modifiable"]}},"example":{"value":"2017-12-12","api_type":"read-only"}},"registration_start_date":{"description":"(Mountain Timezone)","type":"object","required":["value","api_type"],"properties":{"value":{"type":"string","format":"date","x-nullable":true},"api_type":{"type":"string","default":"read-only","enum":["read-only","related"]}}},"registration_end_date":{"description":"(Mountain Timezone)","type":"object","required":["value","api_type"],"properties":{"value":{"type":"string","format":"date","x-nullable":true},"api_type":{"type":"string","default":"read-only","enum":["read-only","related"]}}},"withdrawal_deadline_date":{"description":"(Mountain Timezone)","type":"object","required":["value","api_type"],"properties":{"value":{"type":"string","format":"date","x-nullable":true},"api_type":{"type":"string","default":"read-only","enum":["read-only","modifiable"]}},"example":{"value":"2017-10-25","api_type":"read-only"}},"waitlist_allowed":{"type":"object","required":["value","api_type"],"properties":{"value":{"type":"boolean","default":false,"x-nullable":true},"api_type":{"type":"string","default":"read-only","enum":["read-only"]}}},"grade_rule":{"description":"Indicator which identifies the valid set of grades allowed for this course","type":"object","required":["value","api_type","related_resource","description"],"properties":{"value":{"type":"string","default":"","x-nullable":true},"api_type":{"type":"string","default":"related","enum":["related"]},"related_resource":{"type":"string","default":"https://api.byu.edu/byuapi/courses/v1"},"description":{"type":"string","default":"","x-nullable":true}},"example":{"value":"8","api_type":"related","related_resource":"https://api.byu.edu/byuapi/courses/v1","description":"Standard Grade Rule: A B C D E I"}},"grade_period":{"description":"Which enrollment period the grades for this class will be processed","type":"object","required":["api_type","value"],"properties":{"value":{"description":"The enrollment period of the class","type":"string","pattern":"^(Winter|Spring|Summer|Fall)[0-9]{4}$","example":"Fall2018"},"api_type":{"type":"string","default":"derived","enum":["derived"]},"description":{"type":"string","example":"Fall 2017"},"long_description":{"type":"string","example":"Fall Semester 2017"}},"example":{"value":"Fall2017","api_type":"derived","description":"Fall 2017","long_description":"Fall Semester 2017"}},"linked_to_other_sections":{"type":"object","required":["value","api_type"],"properties":{"value":{"type":"boolean","default":false},"api_type":{"type":"string","default":"read-only","enum":["read-only"]}}},"course_description":{"description":"Description of the course","type":"object","required":["value","api_type","related_resource"],"properties":{"value":{"type":"string","default":"","x-nullable":true},"api_type":{"type":"string","default":"related","enum":["related"]},"related_resource":{"type":"string","default":"https://api.byu.edu/byuapi/courses/v1"}},"example":{"value":"Principles of college algebra using parabolic functions and quadratic equations","api_type":"related","related_resource":"https://api.byu.edu/byuapi/courses/v1"}},"course_when_offered":{"description":"When the course is normally taught","type":"object","required":["value","api_type","related_resource"],"properties":{"value":{"type":"string","default":"","x-nullable":true},"api_type":{"type":"string","default":"related","enum":["related"]},"related_resource":{"type":"string","default":"https://api.byu.edu/byuapi/courses/v1"}},"example":{"value":"Fall, Winter","api_type":"related","related_resource":"https://api.byu.edu/byuapi/courses/v1"}},"course_prerequisites":{"description":"The prerequisite course for this course","type":"object","required":["value","api_type","related_resource"],"properties":{"value":{"type":"string","default":"","x-nullable":true},"api_type":{"type":"string","default":"related","enum":["related"]},"related_resource":{"type":"string","default":"https://api.byu.edu/byuapi/courses/v1"}},"example":{"value":"MATH 110 and MATH 111","api_type":"related","related_resource":"https://api.byu.edu/byuapi/courses/v1"}},"course_other_requirements":{"description":"Other requirements associated with this course","type":"object","required":["value","api_type","related_resource"],"properties":{"value":{"type":"string","default":"","x-nullable":true},"api_type":{"type":"string","default":"related","enum":["related"]},"related_resource":{"type":"string","default":"https://api.byu.edu/byuapi/courses/v1"}},"example":{"value":"Fill out an internship application","api_type":"related","related_resource":"https://api.byu.edu/byuapi/courses/v1"}},"course_recommended":{"description":"Recommendations before taking this course","type":"object","required":["value","api_type","related_resource"],"properties":{"value":{"type":"string","default":"","x-nullable":true},"api_type":{"type":"string","default":"related","enum":["related"]},"related_resource":{"type":"string","default":"https://api.byu.edu/byuapi/courses/v1"}},"example":{"value":"Maybe","api_type":"related","related_resource":"https://api.byu.edu/byuapi/courses/v1"}},"course_note":{"description":"Note about this course","type":"object","required":["value","api_type","related_resource"],"properties":{"value":{"type":"string","default":"","x-nullable":true},"api_type":{"type":"string","default":"related","enum":["related"]},"related_resource":{"type":"string","default":"https://api.byu.edu/byuapi/courses/v1"}},"example":{"value":"","api_type":"related","related_resource":"https://api.byu.edu/byuapi/courses/v1"}}}},"assigned_instructors":{"description":"A collection of Instructors","type":"object","required":["metadata"],"properties":{"links":{"description":"Hypermedia links for a collection of instructors","type":"object","required":["assigned_instructors__info"],"properties":{"assigned_instructors__info":{"type":"object","required":["rel","href","method"],"properties":{"rel":{"type":"string","default":"self","description":"The name of the link property or 'self' if the href value is the same as what is invoked to get the current object."},"href":{"type":"string","description":"Use this URL to perform the specified action","default":"https://api.byu.edu/byuapi/classes/v2/"},"method":{"type":"string","default":"GET","description":"Use this HTTP method to perform the specified action","enum":["GET","PUT","POST","DELETE","OPTIONS"]}}},"assigned_instructors__modify":{"type":"object","required":["rel","href","method"],"properties":{"rel":{"type":"string","default":"self","description":"The name of the link property or 'self' if the href value is the same as what is invoked to get the current object."},"href":{"type":"string","description":"Use this URL to perform the specified action","default":"https://api.byu.edu/byuapi/classes/v2/"},"method":{"type":"string","default":"GET","description":"Use this HTTP method to perform the specified action","enum":["GET","PUT","POST","DELETE","OPTIONS"]}}},"assigned_instructors__delete":{"type":"object","required":["rel","href","method"],"properties":{"rel":{"type":"string","default":"self","description":"The name of the link property or 'self' if the href value is the same as what is invoked to get the current object."},"href":{"type":"string","description":"Use this URL to perform the specified action","default":"https://api.byu.edu/byuapi/classes/v2/"},"method":{"type":"string","default":"GET","description":"Use this HTTP method to perform the specified action","enum":["GET","PUT","POST","DELETE","OPTIONS"]}}}}},"metadata":{"type":"object","required":["validation_response"],"properties":{"validation_response":{"type":"object","required":["code","message"],"properties":{"code":{"type":"integer","minimum":100,"maximum":599,"default":200},"message":{"type":"string","default":"Success"}}},"collection_size":{"type":"integer","minimum":0},"validation_information":{"type":"array","items":{"type":"string","default":"Success"}},"cache":{"description":"Date-time of cache (If not provided, data is from live source)","type":"object","required":["date_time"],"properties":{"date_time":{"type":"string","format":"date-time"}},"example":{"date_time":"2017-03-30T08:46:16.000Z"}}}},"values":{"type":"array","items":{"type":"object","required":["links","metadata","enrollment_period","teaching_area","course_number","section_number","instructor_type","byu_id","class_identifiers","person_id","net_id","email_address","updated_by_byu_id","updated_datetime"],"properties":{"links":{"description":"Hypermedia links for an instructor","type":"object","required":["assigned_instructor__info"],"properties":{"assigned_instructor__info":{"type":"object","required":["rel","href","method"],"properties":{"rel":{"type":"string","default":"self","description":"The name of the link property or 'self' if the href value is the same as what is invoked to get the current object."},"href":{"type":"string","description":"Use this URL to perform the specified action","default":"https://api.byu.edu/byuapi/classes/v2/"},"method":{"type":"string","default":"GET","description":"Use this HTTP method to perform the specified action","enum":["GET","PUT","POST","DELETE","OPTIONS"]}}},"assigned_instructor__modify":{"type":"object","required":["rel","href","method"],"properties":{"rel":{"type":"string","default":"self","description":"The name of the link property or 'self' if the href value is the same as what is invoked to get the current object."},"href":{"type":"string","description":"Use this URL to perform the specified action","default":"https://api.byu.edu/byuapi/classes/v2/"},"method":{"type":"string","default":"GET","description":"Use this HTTP method to perform the specified action","enum":["GET","PUT","POST","DELETE","OPTIONS"]}}},"assigned_instructor__delete":{"type":"object","required":["rel","href","method"],"properties":{"rel":{"type":"string","default":"self","description":"The name of the link property or 'self' if the href value is the same as what is invoked to get the current object."},"href":{"type":"string","description":"Use this URL to perform the specified action","default":"https://api.byu.edu/byuapi/classes/v2/"},"method":{"type":"string","default":"GET","description":"Use this HTTP method to perform the specified action","enum":["GET","PUT","POST","DELETE","OPTIONS"]}}}}},"metadata":{"type":"object","required":["validation_response"],"properties":{"validation_response":{"type":"object","required":["code","message"],"properties":{"code":{"type":"integer","minimum":100,"maximum":599,"default":200},"message":{"type":"string","default":"Success"}}},"validation_information":{"type":"array","items":{"type":"string","default":"Success"}},"cache":{"description":"Date-time of cache (If not provided, data is from live source)","type":"object","required":["date_time"],"properties":{"date_time":{"type":"string","format":"date-time"}},"example":{"date_time":"2017-03-30T08:46:16.000Z"}}}},"enrollment_period":{"type":"object","required":["api_type","value"],"properties":{"api_type":{"default":"read-only","enum":["read-only"],"type":"string"},"value":{"description":"The enrollment period of the class","type":"string","pattern":"^(Winter|Spring|Summer|Fall)[0-9]{4}$","example":"Fall2018"},"key":{"type":"boolean"},"description":{"type":"string","example":"Fall 2017"},"long_description":{"type":"string","example":"Fall Semester 2017"}}},"teaching_area":{"type":"object","required":["api_type","value"],"properties":{"api_type":{"default":"read-only","enum":["read-only"],"type":"string"},"value":{"description":"The value of the assigned teaching area of this course.","type":"string","maxLength":5},"key":{"type":"boolean"},"description":{"type":"string","example":"Mathematics"}}},"course_number":{"type":"object","required":["api_type","value"],"properties":{"api_type":{"default":"read-only","enum":["read-only"],"type":"string"},"value":{"description":"Catalog Number and Suffix of Class","type":"string","pattern":"^[0-9]{3}[A-Z]?$"},"key":{"type":"boolean"}}},"section_number":{"type":"object","required":["value","api_type"],"properties":{"value":{"type":"string","pattern":"^[0-9]{3}$"},"api_type":{"type":"string","default":"read-only","enum":["read-only"]},"key":{"type":"boolean","default":true}},"example":{"value":"001","api_type":"read-only","key":true}},"instructor_type":{"type":"object","required":["value","api_type","key"],"properties":{"value":{"type":"string","default":"","maxLength":30},"api_type":{"type":"string","default":"read-only","enum":["read-only","modifiable"]},"key":{"type":"boolean","default":true}},"example":{"value":"PRIMARY","api_type":"read-only","key":true}},"byu_id":{"description":"The byu id of the instructor","type":"object","required":["value","description","api_type"],"properties":{"value":{"type":"string","pattern":"^[0-9]{9}$"},"description":{"type":"string","maxLength":50},"api_type":{"type":"string","default":"related","enum":["related"]},"key":{"type":"boolean","default":false},"related_resource":{"type":"string","default":"https://api.byu.edu/byuapi/persons/v3"}},"example":{"value":"400201822","description":"LastName, FirstName","api_type":"related","related_resource":"https://api.byu.edu/byuapi/persons/v3"}},"class_identifiers":{"type":"object","required":["object_array","api_type"],"properties":{"object_array":{"type":"array","items":{"type":"object","required":["id_type","id_value","id_format"],"properties":{"id_type":{"type":"object","required":["value","api_type"],"properties":{"value":{"type":"string"},"api_type":{"type":"string","default":"read-only","enum":["read-only"]}}},"id_value":{"type":"object","required":["value","api_type"],"properties":{"value":{"type":"string"},"api_type":{"type":"string","default":"read-only","enum":["read-only"]}}},"id_format":{"type":"object","required":["value","api_type"],"properties":{"value":{"type":"string"},"api_type":{"type":"string","default":"read-only","enum":["read-only"]}}}}}},"api_type":{"type":"string","default":"read-only","enum":["read-only"]}}},"person_id":{"type":"object","required":["value","api_type"],"properties":{"value":{"type":"string","maxLength":9},"description":{"type":"string","maxLength":50},"api_type":{"type":"string","default":"read-only","enum":["read-only","related"]},"related_resource":{"type":"string","default":"https://api.byu.edu/byuapi/persons/v3"}},"example":{"value":"111111111","api_type":"read-only"}},"net_id":{"description":"The Net ID of someone on campus","type":"object","required":["value","api_type"],"properties":{"value":{"description":"In general, this shouldn't be null, but we have some students from the 90's without Net IDs NULLABLE","type":"string","x-nullable":true},"api_type":{"type":"string","default":"read-only","enum":["read-only","related"]},"related_resource":{"type":"string","default":"https://api.byu.edu/byuapi/persons/v3"}},"example":{"value":"ib27","api_type":"read-only","related_resource":"https://api.byu.edu/byuapi/persons/v3"}},"email_address":{"description":"The email address","type":"object","required":["value","api_type","related_resource"],"properties":{"value":{"type":"string","default":"","x-nullable":true},"api_type":{"type":"string","default":"related","enum":["related"]},"related_resource":{"type":"string","default":"https://api.byu.edu/byuapi/persons/v3"}},"example":{"value":"joe@someplace.com","api_type":"related","related_resource":"https://api.byu.edu/byuapi/persons/v3"}},"updated_by_byu_id":{"description":"The BYU ID that performed the last update","type":"object","required":["value","api_type","description"],"properties":{"value":{"type":"string","default":"","x-nullable":true},"api_type":{"type":"string","default":"system","enum":["system"]},"description":{"type":"string","maxLength":50,"default":"","x-nullable":true}},"example":{"value":"123456789","api_type":"system","description":"Admin, Joe"}},"updated_datetime":{"description":"The date/time when the entity was updated, given in GMT (Greenwich Mean Time)","type":"object","required":["value","api_type"],"properties":{"value":{"type":"string","format":"date-time","x-nullable":true},"api_type":{"type":"string","default":"system","enum":["system"]}},"example":{"value":"2014-05-11T13:45:53.200Z","api_type":"system"}}}}}}},"assigned_schedules":{"description":"A collection of Schedules for a class","type":"object","required":["metadata"],"properties":{"links":{"description":"Hypermedia links for a collection of schedules","type":"object","required":["assigned_schedules__info"],"properties":{"assigned_schedules__info":{"type":"object","required":["rel","href","method"],"properties":{"rel":{"type":"string","default":"self","description":"The name of the link property or 'self' if the href value is the same as what is invoked to get the current object."},"href":{"type":"string","description":"Use this URL to perform the specified action","default":"https://api.byu.edu/byuapi/classes/v2/"},"method":{"type":"string","default":"GET","description":"Use this HTTP method to perform the specified action","enum":["GET","PUT","POST","DELETE","OPTIONS"]}}},"assigned_schedules__modify":{"type":"object","required":["rel","href","method"],"properties":{"rel":{"type":"string","default":"self","description":"The name of the link property or 'self' if the href value is the same as what is invoked to get the current object."},"href":{"type":"string","description":"Use this URL to perform the specified action","default":"https://api.byu.edu/byuapi/classes/v2/"},"method":{"type":"string","default":"GET","description":"Use this HTTP method to perform the specified action","enum":["GET","PUT","POST","DELETE","OPTIONS"]}}},"assigned_schedules__delete":{"type":"object","required":["rel","href","method"],"properties":{"rel":{"type":"string","default":"self","description":"The name of the link property or 'self' if the href value is the same as what is invoked to get the current object."},"href":{"type":"string","description":"Use this URL to perform the specified action","default":"https://api.byu.edu/byuapi/classes/v2/"},"method":{"type":"string","default":"GET","description":"Use this HTTP method to perform the specified action","enum":["GET","PUT","POST","DELETE","OPTIONS"]}}}}},"metadata":{"type":"object","required":["validation_response"],"properties":{"validation_response":{"type":"object","required":["code","message"],"properties":{"code":{"type":"integer","minimum":100,"maximum":599,"default":200},"message":{"type":"string","default":"Success"}}},"collection_size":{"type":"integer","minimum":0},"validation_information":{"type":"array","items":{"type":"string","default":"Success"}},"cache":{"description":"Date-time of cache (If not provided, data is from live source)","type":"object","required":["date_time"],"properties":{"date_time":{"type":"string","format":"date-time"}},"example":{"date_time":"2017-03-30T08:46:16.000Z"}}}},"values":{"type":"array","items":{"type":"object","required":["links","metadata","enrollment_period","teaching_area","course_number","section_number","class_identifiers","schedule_type","sequence_number","credit_institution","building","room","days","mon","tue","wed","thu","fri","sat","sun","start_date","end_date","start_time","end_time","schedule_status","schedule_description","updated_datetime","updated_by_byu_id","allow_conflict","room_capacity"],"properties":{"links":{"description":"Hypermedia links for an schedule","type":"object","required":["assigned_schedule__info"],"properties":{"assigned_schedule__info":{"type":"object","required":["rel","href","method"],"properties":{"rel":{"type":"string","default":"self","description":"The name of the link property or 'self' if the href value is the same as what is invoked to get the current object."},"href":{"type":"string","description":"Use this URL to perform the specified action","default":"https://api.byu.edu/byuapi/classes/v2/"},"method":{"type":"string","default":"GET","description":"Use this HTTP method to perform the specified action","enum":["GET","PUT","POST","DELETE","OPTIONS"]}}},"assigned_schedule__modify":{"type":"object","required":["rel","href","method"],"properties":{"rel":{"type":"string","default":"self","description":"The name of the link property or 'self' if the href value is the same as what is invoked to get the current object."},"href":{"type":"string","description":"Use this URL to perform the specified action","default":"https://api.byu.edu/byuapi/classes/v2/"},"method":{"type":"string","default":"GET","description":"Use this HTTP method to perform the specified action","enum":["GET","PUT","POST","DELETE","OPTIONS"]}}},"assigned_schedule__delete":{"type":"object","required":["rel","href","method"],"properties":{"rel":{"type":"string","default":"self","description":"The name of the link property or 'self' if the href value is the same as what is invoked to get the current object."},"href":{"type":"string","description":"Use this URL to perform the specified action","default":"https://api.byu.edu/byuapi/classes/v2/"},"method":{"type":"string","default":"GET","description":"Use this HTTP method to perform the specified action","enum":["GET","PUT","POST","DELETE","OPTIONS"]}}}}},"metadata":{"type":"object","required":["validation_response"],"properties":{"validation_response":{"type":"object","required":["code","message"],"properties":{"code":{"type":"integer","minimum":100,"maximum":599,"default":200},"message":{"type":"string","default":"Success"}}},"validation_information":{"type":"array","items":{"type":"string","default":"Success"}},"cache":{"description":"Date-time of cache (If not provided, data is from live source)","type":"object","required":["date_time"],"properties":{"date_time":{"type":"string","format":"date-time"}},"example":{"date_time":"2017-03-30T08:46:16.000Z"}}}},"enrollment_period":{"type":"object","required":["api_type","value"],"properties":{"api_type":{"default":"read-only","enum":["read-only"],"type":"string"},"value":{"description":"The enrollment period of the class","type":"string","pattern":"^(Winter|Spring|Summer|Fall)[0-9]{4}$","example":"Fall2018"},"key":{"type":"boolean"},"description":{"type":"string","example":"Fall 2017"},"long_description":{"type":"string","example":"Fall Semester 2017"}}},"teaching_area":{"type":"object","required":["api_type","value"],"properties":{"api_type":{"default":"read-only","enum":["read-only"],"type":"string"},"value":{"description":"The value of the assigned teaching area of this course.","type":"string","maxLength":5},"key":{"type":"boolean"},"description":{"type":"string","example":"Mathematics"}}},"course_number":{"type":"object","required":["api_type","value"],"properties":{"api_type":{"default":"read-only","enum":["read-only"],"type":"string"},"value":{"description":"Catalog Number and Suffix of Class","type":"string","pattern":"^[0-9]{3}[A-Z]?$"},"key":{"type":"boolean"}}},"section_number":{"type":"object","required":["value","api_type"],"properties":{"value":{"type":"string","pattern":"^[0-9]{3}$"},"api_type":{"type":"string","default":"read-only","enum":["read-only"]},"key":{"type":"boolean","default":true}},"example":{"value":"001","api_type":"read-only","key":true}},"class_identifiers":{"type":"object","required":["object_array","api_type"],"properties":{"object_array":{"type":"array","items":{"type":"object","required":["id_type","id_value","id_format"],"properties":{"id_type":{"type":"object","required":["value","api_type"],"properties":{"value":{"type":"string"},"api_type":{"type":"string","default":"read-only","enum":["read-only"]}}},"id_value":{"type":"object","required":["value","api_type"],"properties":{"value":{"type":"string"},"api_type":{"type":"string","default":"read-only","enum":["read-only"]}}},"id_format":{"type":"object","required":["value","api_type"],"properties":{"value":{"type":"string"},"api_type":{"type":"string","default":"read-only","enum":["read-only"]}}}}}},"api_type":{"type":"string","default":"read-only","enum":["read-only"]}}},"schedule_type":{"type":"object","required":["value","api_type","key"],"properties":{"value":{"type":"string","maxLength":10,"minLength":1,"default":"CLS"},"api_type":{"type":"string","default":"read-only","enum":["read-only"]},"key":{"type":"boolean","default":true}},"example":{"value":"CLS","api_type":"read-only","key":true}},"sequence_number":{"type":"object","required":["value","api_type","key"],"properties":{"value":{"description":"Assigned schedules can go up to 999. Headers can go up to 99999.","type":"integer","default":1,"minimum":1,"maximum":99999},"api_type":{"type":"string","default":"read-only","enum":["read-only"]},"key":{"type":"boolean","default":true}},"example":{"value":1,"api_type":"read-only","key":true}},"credit_institution":{"type":"object","required":["value","api_type"],"properties":{"value":{"type":"string","default":"BYU PROVO","maxLength":15},"api_type":{"type":"string","default":"read-only","enum":["read-only"]}},"example":{"value":"BYU PROVO","api_type":"read-only"}},"building":{"type":"object","required":["value","api_type","description","domain"],"properties":{"value":{"type":"string","maxLength":4,"description":"The building's abbreviation (or code)"},"api_type":{"default":"read-only","enum":["read-only"],"type":"string"},"description":{"type":"string","description":"The full name of the building"},"domain":{"type":"string","example":"https://api.byu.edu/byuapi/meta/classes/buildings"}}},"room":{"type":"object","required":["value","api_type"],"properties":{"value":{"type":"string","maxLength":5,"x-nullable":true},"api_type":{"default":"read-only","enum":["read-only","modifiable"],"type":"string"}}},"days":{"description":"The days this class is taught","type":"object","required":["value","api_type"],"properties":{"value":{"type":"string","default":""},"api_type":{"type":"string","default":"derived","enum":["derived"]}},"example":{"value":"MW","api_type":"derived"}},"mon":{"type":"object","required":["value","api_type"],"properties":{"value":{"type":"boolean","default":false},"api_type":{"type":"string","default":"read-only","enum":["read-only","modifiable"]}},"example":{"value":false,"api_type":"read-only"}},"tue":{"type":"object","required":["value","api_type"],"properties":{"value":{"type":"boolean","default":false},"api_type":{"type":"string","default":"read-only","enum":["read-only","modifiable"]}},"example":{"value":false,"api_type":"read-only"}},"wed":{"type":"object","required":["value","api_type"],"properties":{"value":{"type":"boolean","default":false},"api_type":{"type":"string","default":"read-only","enum":["read-only","modifiable"]}},"example":{"value":false,"api_type":"read-only"}},"thu":{"type":"object","required":["value","api_type"],"properties":{"value":{"type":"boolean","default":false},"api_type":{"type":"string","default":"read-only","enum":["read-only","modifiable"]}},"example":{"value":false,"api_type":"read-only"}},"fri":{"type":"object","required":["value","api_type"],"properties":{"value":{"type":"boolean","default":false},"api_type":{"type":"string","default":"read-only","enum":["read-only","modifiable"]}},"example":{"value":false,"api_type":"read-only"}},"sat":{"type":"object","required":["value","api_type"],"properties":{"value":{"type":"boolean","default":false},"api_type":{"type":"string","default":"read-only","enum":["read-only","modifiable"]}},"example":{"value":false,"api_type":"read-only"}},"sun":{"type":"object","required":["value","api_type"],"properties":{"value":{"type":"boolean","default":false},"api_type":{"type":"string","default":"read-only","enum":["read-only","modifiable"]}},"example":{"value":false,"api_type":"read-only"}},"start_date":{"description":"(Mountain Timezone)","type":"object","required":["value","api_type"],"properties":{"value":{"type":"string","format":"date","x-nullable":true},"api_type":{"type":"string","default":"read-only","enum":["read-only","related"]}}},"end_date":{"description":"(Mountain Timezone)","type":"object","required":["value","api_type"],"properties":{"value":{"type":"string","format":"date","x-nullable":true},"api_type":{"type":"string","default":"read-only","enum":["read-only","related"]},"related_resource":{"type":"string","default":"https://api.byu.edu/byuapi/classes/v2/"}}},"start_time":{"type":"object","required":["value","api_type"],"properties":{"value":{"type":"string","description":"The time of day, from 00:00 (12am) to 23:59 (11:59pm)","pattern":"^((0|1)[0-9]|2[0-3]):[0-5][0-9]$","x-nullable":true},"api_type":{"type":"string","default":"read-only","enum":["read-only"]},"description":{"type":"string","description":"A more human-readable representation of the time","example":"1:02pm","x-nullable":true}}},"end_time":{"type":"object","required":["value","api_type"],"properties":{"value":{"type":"string","description":"The time of day, from 00:00 (12am) to 23:59 (11:59pm)","pattern":"^((0|1)[0-9]|2[0-3]):[0-5][0-9]$","x-nullable":true},"api_type":{"type":"string","default":"read-only","enum":["read-only","related"]},"description":{"type":"string","description":"A more human-readable representation of the time","example":"1:02pm","x-nullable":true},"related_resource":{"type":"string","default":"https://api.byu.edu/byuapi/classes/v2/"}}},"schedule_status":{"description":"The status of this event","type":"object","required":["value","api_type","description"],"properties":{"value":{"type":"string","maxLength":2,"default":"","x-nullable":true},"api_type":{"type":"string","default":"read-only","enum":["read-only","modifiable"]},"description":{"type":"string","default":""}},"example":{"value":"C","api_type":"read-only","description":"Confirmed"}},"schedule_description":{"type":"object","required":["value","api_type"],"properties":{"value":{"type":"string","default":"","maxLength":4000,"x-nullable":true},"api_type":{"type":"string","default":"read-only","enum":["read-only","modifiable"]}},"example":{"value":"","api_type":"read-only"}},"updated_datetime":{"description":"The date/time when the entity was updated, given in GMT (Greenwich Mean Time)","type":"object","required":["value","api_type"],"properties":{"value":{"type":"string","format":"date-time","x-nullable":true},"api_type":{"type":"string","default":"system","enum":["system"]}},"example":{"value":"2014-05-11T13:45:53.200Z","api_type":"system"}},"updated_by_byu_id":{"description":"The BYU ID that performed the last update","type":"object","required":["value","api_type","description"],"properties":{"value":{"type":"string","default":"","x-nullable":true},"api_type":{"type":"string","default":"system","enum":["system"]},"description":{"type":"string","maxLength":50,"default":"","x-nullable":true}},"example":{"value":"123456789","api_type":"system","description":"Admin, Joe"}},"allow_conflict":{"description":"conflict exists but it is allowed for this event","type":"object","required":["value","api_type"],"properties":{"value":{"type":"boolean","default":false,"x-nullable":true},"api_type":{"type":"string","default":"read-only","enum":["read-only","modifiable"]}},"example":{"value":false,"api_type":"read-only"}},"room_capacity":{"type":"object","required":["value","api_type"],"properties":{"value":{"type":"integer","x-nullable":true},"api_type":{"default":"read-only","enum":["read-only"],"type":"string"}}}}}}}},"attributes":{"description":"A collection of Attributes for a class","type":"object","required":["metadata"],"properties":{"links":{"description":"Hypermedia links for a collection of attributes","type":"object","required":["attributes__info"],"properties":{"attributes__info":{"type":"object","required":["rel","href","method"],"properties":{"rel":{"type":"string","default":"self","description":"The name of the link property or 'self' if the href value is the same as what is invoked to get the current object."},"href":{"type":"string","description":"Use this URL to perform the specified action","default":"https://api.byu.edu/byuapi/classes/v2/"},"method":{"type":"string","default":"GET","description":"Use this HTTP method to perform the specified action","enum":["GET","PUT","POST","DELETE","OPTIONS"]}}},"attributes__add":{"type":"object","required":["rel","href","method"],"properties":{"rel":{"type":"string","default":"self","description":"The name of the link property or 'self' if the href value is the same as what is invoked to get the current object."},"href":{"type":"string","description":"Use this URL to perform the specified action","default":"https://api.byu.edu/byuapi/classes/v2/"},"method":{"type":"string","default":"GET","description":"Use this HTTP method to perform the specified action","enum":["GET","PUT","POST","DELETE","OPTIONS"]}}},"attributes__delete":{"type":"object","required":["rel","href","method"],"properties":{"rel":{"type":"string","default":"self","description":"The name of the link property or 'self' if the href value is the same as what is invoked to get the current object."},"href":{"type":"string","description":"Use this URL to perform the specified action","default":"https://api.byu.edu/byuapi/classes/v2/"},"method":{"type":"string","default":"GET","description":"Use this HTTP method to perform the specified action","enum":["GET","PUT","POST","DELETE","OPTIONS"]}}}}},"metadata":{"type":"object","required":["validation_response"],"properties":{"validation_response":{"type":"object","required":["code","message"],"properties":{"code":{"type":"integer","minimum":100,"maximum":599,"default":200},"message":{"type":"string","default":"Success"}}},"collection_size":{"type":"integer","minimum":0},"validation_information":{"type":"array","items":{"type":"string","default":"Success"}},"cache":{"description":"Date-time of cache (If not provided, data is from live source)","type":"object","required":["date_time"],"properties":{"date_time":{"type":"string","format":"date-time"}},"example":{"date_time":"2017-03-30T08:46:16.000Z"}}}},"values":{"type":"array","items":{"type":"object","required":["links","metadata","enrollment_period","teaching_area","course_number","section_number","attribute_name","attribute_type","attribute_value","class_identifiers","updated_datetime","updated_by_byu_id"],"properties":{"links":{"description":"Hypermedia links for an attribute","type":"object","required":["attribute__info"],"properties":{"attribute__info":{"type":"object","required":["rel","href","method"],"properties":{"rel":{"type":"string","default":"self","description":"The name of the link property or 'self' if the href value is the same as what is invoked to get the current object."},"href":{"type":"string","description":"Use this URL to perform the specified action","default":"https://api.byu.edu/byuapi/classes/v2/"},"method":{"type":"string","default":"GET","description":"Use this HTTP method to perform the specified action","enum":["GET","PUT","POST","DELETE","OPTIONS"]}}},"attribute__modify":{"type":"object","required":["rel","href","method"],"properties":{"rel":{"type":"string","default":"self","description":"The name of the link property or 'self' if the href value is the same as what is invoked to get the current object."},"href":{"type":"string","description":"Use this URL to perform the specified action","default":"https://api.byu.edu/byuapi/classes/v2/"},"method":{"type":"string","default":"GET","description":"Use this HTTP method to perform the specified action","enum":["GET","PUT","POST","DELETE","OPTIONS"]}}},"attribute__delete":{"type":"object","required":["rel","href","method"],"properties":{"rel":{"type":"string","default":"self","description":"The name of the link property or 'self' if the href value is the same as what is invoked to get the current object."},"href":{"type":"string","description":"Use this URL to perform the specified action","default":"https://api.byu.edu/byuapi/classes/v2/"},"method":{"type":"string","default":"GET","description":"Use this HTTP method to perform the specified action","enum":["GET","PUT","POST","DELETE","OPTIONS"]}}}}},"metadata":{"type":"object","required":["validation_response"],"properties":{"validation_response":{"type":"object","required":["code","message"],"properties":{"code":{"type":"integer","minimum":100,"maximum":599,"default":200},"message":{"type":"string","default":"Success"}}},"validation_information":{"type":"array","items":{"type":"string","default":"Success"}},"cache":{"description":"Date-time of cache (If not provided, data is from live source)","type":"object","required":["date_time"],"properties":{"date_time":{"type":"string","format":"date-time"}},"example":{"date_time":"2017-03-30T08:46:16.000Z"}}}},"enrollment_period":{"type":"object","required":["api_type","value"],"properties":{"api_type":{"default":"read-only","enum":["read-only"],"type":"string"},"value":{"description":"The enrollment period of the class","type":"string","pattern":"^(Winter|Spring|Summer|Fall)[0-9]{4}$","example":"Fall2018"},"key":{"type":"boolean"},"description":{"type":"string","example":"Fall 2017"},"long_description":{"type":"string","example":"Fall Semester 2017"}}},"teaching_area":{"type":"object","required":["api_type","value"],"properties":{"api_type":{"default":"read-only","enum":["read-only"],"type":"string"},"value":{"description":"The value of the assigned teaching area of this course.","type":"string","maxLength":5},"key":{"type":"boolean"},"description":{"type":"string","example":"Mathematics"}}},"course_number":{"type":"object","required":["api_type","value"],"properties":{"api_type":{"default":"read-only","enum":["read-only"],"type":"string"},"value":{"description":"Catalog Number and Suffix of Class","type":"string","pattern":"^[0-9]{3}[A-Z]?$"},"key":{"type":"boolean"}}},"section_number":{"type":"object","required":["value","api_type"],"properties":{"value":{"type":"string","pattern":"^[0-9]{3}$"},"api_type":{"type":"string","default":"read-only","enum":["read-only"]},"key":{"type":"boolean","default":true}},"example":{"value":"001","api_type":"read-only","key":true}},"attribute_name":{"description":"the attribute name","type":"object","required":["value","api_type","key"],"properties":{"value":{"type":"string","default":"","maxLength":30},"api_type":{"type":"string","default":"read-only","enum":["read-only","modifiable"]},"key":{"type":"boolean","default":true}},"example":{"value":"","api_type":"read-only","key":true}},"attribute_type":{"description":"the attribute type","type":"object","required":["value","api_type","key"],"properties":{"value":{"type":"string","default":"","maxLength":30},"api_type":{"type":"string","default":"read-only","enum":["read-only","modifiable"]},"key":{"type":"boolean","default":true}},"example":{"value":"","api_type":"read-only","key":true}},"attribute_value":{"description":"the attribute value","type":"object","required":["value","api_type","key"],"properties":{"value":{"type":"string","default":"","maxLength":30},"api_type":{"type":"string","default":"read-only","enum":["read-only","modifiable"]},"key":{"type":"boolean","default":true}},"example":{"value":"","api_type":"read-only","key":true}},"class_identifiers":{"type":"object","required":["object_array","api_type"],"properties":{"object_array":{"type":"array","items":{"type":"object","required":["id_type","id_value","id_format"],"properties":{"id_type":{"type":"object","required":["value","api_type"],"properties":{"value":{"type":"string"},"api_type":{"type":"string","default":"read-only","enum":["read-only"]}}},"id_value":{"type":"object","required":["value","api_type"],"properties":{"value":{"type":"string"},"api_type":{"type":"string","default":"read-only","enum":["read-only"]}}},"id_format":{"type":"object","required":["value","api_type"],"properties":{"value":{"type":"string"},"api_type":{"type":"string","default":"read-only","enum":["read-only"]}}}}}},"api_type":{"type":"string","default":"read-only","enum":["read-only"]}}},"updated_datetime":{"description":"The date/time when the entity was updated, given in GMT (Greenwich Mean Time)","type":"object","required":["value","api_type"],"properties":{"value":{"type":"string","format":"date-time","x-nullable":true},"api_type":{"type":"string","default":"system","enum":["system"]}},"example":{"value":"2014-05-11T13:45:53.200Z","api_type":"system"}},"updated_by_byu_id":{"description":"The BYU ID that performed the last update","type":"object","required":["value","api_type","description"],"properties":{"value":{"type":"string","default":"","x-nullable":true},"api_type":{"type":"string","default":"system","enum":["system"]},"description":{"type":"string","maxLength":50,"default":"","x-nullable":true}},"example":{"value":"123456789","api_type":"system","description":"Admin, Joe"}}}}}}},"enrolled_students":{"description":"A collection of students enrolled in a given class","type":"object","required":["metadata"],"properties":{"links":{"description":"Hypermedia links for a collection of enrolled students","type":"object","required":["enrolled_students__info"],"properties":{"enrolled_students__info":{"type":"object","required":["rel","href","method"],"properties":{"rel":{"type":"string","default":"self","description":"The name of the link property or 'self' if the href value is the same as what is invoked to get the current object."},"href":{"type":"string","description":"Use this URL to perform the specified action","default":"https://api.byu.edu/byuapi/classes/v2/"},"method":{"type":"string","default":"GET","description":"Use this HTTP method to perform the specified action","enum":["GET","PUT","POST","DELETE","OPTIONS"]}}}}},"metadata":{"type":"object","required":["validation_response"],"properties":{"validation_response":{"type":"object","required":["code","message"],"properties":{"code":{"type":"integer","minimum":100,"maximum":599,"default":200},"message":{"type":"string","default":"Success"}}},"collection_size":{"type":"integer","minimum":0},"validation_information":{"type":"array","items":{"type":"string","default":"Success"}},"cache":{"description":"Date-time of cache (If not provided, data is from live source)","type":"object","required":["date_time"],"properties":{"date_time":{"type":"string","format":"date-time"}},"example":{"date_time":"2017-03-30T08:46:16.000Z"}}}},"values":{"type":"array","items":{"type":"object","required":["links","metadata","enrollment_period","teaching_area","course_number","section_number","byu_id","class_identifiers","person_id","net_id","sex","program_id","major_code","enrollment_info","class_provider","credit_hours","audit","term_code","added_datetime","enrollment_status","email_address","work_email_address"],"properties":{"links":{"description":"Hypermedia links for a specific note","type":"object","required":["enrolled_student__info"],"properties":{"enrolled_student__info":{"type":"object","required":["rel","href","method"],"properties":{"rel":{"type":"string","default":"self","description":"The name of the link property or 'self' if the href value is the same as what is invoked to get the current object."},"href":{"type":"string","description":"Use this URL to perform the specified action","default":"https://api.byu.edu/byuapi/classes/v2/"},"method":{"type":"string","default":"GET","description":"Use this HTTP method to perform the specified action","enum":["GET","PUT","POST","DELETE","OPTIONS"]}}}}},"metadata":{"type":"object","required":["validation_response"],"properties":{"validation_response":{"type":"object","required":["code","message"],"properties":{"code":{"type":"integer","minimum":100,"maximum":599,"default":200},"message":{"type":"string","default":"Success"}}},"validation_information":{"type":"array","items":{"type":"string","default":"Success"}},"cache":{"description":"Date-time of cache (If not provided, data is from live source)","type":"object","required":["date_time"],"properties":{"date_time":{"type":"string","format":"date-time"}},"example":{"date_time":"2017-03-30T08:46:16.000Z"}}}},"enrollment_period":{"type":"object","required":["api_type","value"],"properties":{"api_type":{"default":"read-only","enum":["read-only"],"type":"string"},"value":{"description":"The enrollment period of the class","type":"string","pattern":"^(Winter|Spring|Summer|Fall)[0-9]{4}$","example":"Fall2018"},"key":{"type":"boolean"},"description":{"type":"string","example":"Fall 2017"},"long_description":{"type":"string","example":"Fall Semester 2017"}}},"teaching_area":{"type":"object","required":["api_type","value"],"properties":{"api_type":{"default":"read-only","enum":["read-only"],"type":"string"},"value":{"description":"The value of the assigned teaching area of this course.","type":"string","maxLength":5},"key":{"type":"boolean"},"description":{"type":"string","example":"Mathematics"}}},"course_number":{"type":"object","required":["api_type","value"],"properties":{"api_type":{"default":"read-only","enum":["read-only"],"type":"string"},"value":{"description":"Catalog Number and Suffix of Class","type":"string","pattern":"^[0-9]{3}[A-Z]?$"},"key":{"type":"boolean"}}},"section_number":{"type":"object","required":["value","api_type"],"properties":{"value":{"type":"string","pattern":"^[0-9]{3}$"},"api_type":{"type":"string","default":"read-only","enum":["read-only"]},"key":{"type":"boolean","default":true}},"example":{"value":"001","api_type":"read-only","key":true}},"byu_id":{"description":"The byu id of the instructor","type":"object","required":["value","description","api_type"],"properties":{"value":{"type":"string","pattern":"^[0-9]{9}$"},"description":{"type":"string","maxLength":50},"api_type":{"type":"string","default":"related","enum":["related"]},"key":{"type":"boolean","default":false},"related_resource":{"type":"string","default":"https://api.byu.edu/byuapi/persons/v3"}},"example":{"value":"400201822","description":"LastName, FirstName","api_type":"related","related_resource":"https://api.byu.edu/byuapi/persons/v3"}},"class_identifiers":{"type":"object","required":["object_array","api_type"],"properties":{"object_array":{"type":"array","items":{"type":"object","required":["id_type","id_value","id_format"],"properties":{"id_type":{"type":"object","required":["value","api_type"],"properties":{"value":{"type":"string"},"api_type":{"type":"string","default":"read-only","enum":["read-only"]}}},"id_value":{"type":"object","required":["value","api_type"],"properties":{"value":{"type":"string"},"api_type":{"type":"string","default":"read-only","enum":["read-only"]}}},"id_format":{"type":"object","required":["value","api_type"],"properties":{"value":{"type":"string"},"api_type":{"type":"string","default":"read-only","enum":["read-only"]}}}}}},"api_type":{"type":"string","default":"read-only","enum":["read-only"]}}},"person_id":{"type":"object","required":["value","api_type"],"properties":{"value":{"type":"string","maxLength":9},"description":{"type":"string","maxLength":50},"api_type":{"type":"string","default":"read-only","enum":["read-only","related"]},"related_resource":{"type":"string","default":"https://api.byu.edu/byuapi/persons/v3"}},"example":{"value":"111111111","api_type":"read-only"}},"net_id":{"description":"The Net ID of someone on campus","type":"object","required":["value","api_type"],"properties":{"value":{"description":"In general, this shouldn't be null, but we have some students from the 90's without Net IDs NULLABLE","type":"string","x-nullable":true},"api_type":{"type":"string","default":"read-only","enum":["read-only","related"]},"related_resource":{"type":"string","default":"https://api.byu.edu/byuapi/persons/v3"}},"example":{"value":"ib27","api_type":"read-only","related_resource":"https://api.byu.edu/byuapi/persons/v3"}},"sex":{"type":"object","description":"The person's sex","required":["value","api_type"],"properties":{"value":{"type":"string","default":"?","maxLength":1,"x-nullable":true},"api_type":{"type":"string","default":"read-only","enum":["read-only","related"]},"related_resource":{"type":"string","default":"https://api.byu.edu/byuapi/persons/v3/"}}},"program_id":{"type":"object","required":["value","api_type"],"properties":{"value":{"type":"string","default":"","maxLength":5,"x-nullable":true},"api_type":{"type":"string","default":"read-only","enum":["read-only"]}},"example":{"value":"33728","api_type":"read-only"}},"major_code":{"type":"object","required":["value","api_type","description"],"properties":{"value":{"type":"string","default":"","x-nullable":true},"api_type":{"type":"string","default":"read-only","enum":["read-only"]},"description":{"type":"string","default":"","x-nullable":true}},"example":{"value":"735420","api_type":"read-only","description":"Psychology"}},"enrollment_info":{"type":"object","required":["object","api_type"],"properties":{"object":{"type":"object","required":["enrollment_period","teaching_area","course_number","section_number","class_identifiers"],"properties":{"enrollment_period":{"type":"object","required":["api_type","value"],"properties":{"api_type":{"default":"read-only","enum":["read-only"],"type":"string"},"value":{"description":"The enrollment period of the class","type":"string","pattern":"^(Winter|Spring|Summer|Fall)[0-9]{4}$","example":"Fall2018"},"key":{"type":"boolean"},"description":{"type":"string","example":"Fall 2017"},"long_description":{"type":"string","example":"Fall Semester 2017"}}},"teaching_area":{"type":"object","required":["api_type","value"],"properties":{"api_type":{"default":"read-only","enum":["read-only"],"type":"string"},"value":{"description":"The value of the assigned teaching area of this course.","type":"string","maxLength":5},"key":{"type":"boolean"},"description":{"type":"string","example":"Mathematics"}}},"course_number":{"type":"object","required":["api_type","value"],"properties":{"api_type":{"default":"read-only","enum":["read-only"],"type":"string"},"value":{"description":"Catalog Number and Suffix of Class","type":"string","pattern":"^[0-9]{3}[A-Z]?$"},"key":{"type":"boolean"}}},"section_number":{"type":"object","required":["value","api_type"],"properties":{"value":{"type":"string","pattern":"^[0-9]{3}$"},"api_type":{"type":"string","default":"read-only","enum":["read-only"]},"key":{"type":"boolean","default":true}},"example":{"value":"001","api_type":"read-only","key":true}},"class_identifiers":{"type":"object","required":["object_array","api_type"],"properties":{"object_array":{"type":"array","items":{"type":"object","required":["id_type","id_value","id_format"],"properties":{"id_type":{"type":"object","required":["value","api_type"],"properties":{"value":{"type":"string"},"api_type":{"type":"string","default":"read-only","enum":["read-only"]}}},"id_value":{"type":"object","required":["value","api_type"],"properties":{"value":{"type":"string"},"api_type":{"type":"string","default":"read-only","enum":["read-only"]}}},"id_format":{"type":"object","required":["value","api_type"],"properties":{"value":{"type":"string"},"api_type":{"type":"string","default":"read-only","enum":["read-only"]}}}}}},"api_type":{"type":"string","default":"read-only","enum":["read-only"]}}}}},"api_type":{"type":"string","default":"read-only","enum":["read-only"]}}},"class_provider":{"type":"object","required":["value","domain","api_type"],"properties":{"value":{"type":"string","default":"DAY","maxLength":10,"x-nullable":true},"domain":{"type":"string","default":"https://api.byu.edu/byuapi/meta/registration/class_providers"},"api_type":{"type":"string","default":"read-only","enum":["read-only"]}}},"credit_hours":{"type":"object","required":["api_type","value"],"properties":{"api_type":{"type":"string","default":"read-only","enum":["read-only","modifiable"]},"value":{"type":"number","minimum":0,"example":3}}},"audit":{"description":"Is the class being audited?","type":"object","required":["api_type","value"],"properties":{"api_type":{"default":"read-only","enum":["read-only"],"type":"string"},"value":{"type":"boolean","default":false,"x-nullable":true}},"example":{"value":false,"api_type":"read-only"}},"term_code":{"description":"Semester/Term 1/Term 2","type":"object","required":["value","api_type"],"properties":{"value":{"type":"string","minLength":1,"maxLength":1},"description":{"type":"string","maxLength":50},"api_type":{"type":"string","default":"read-only","enum":["read-only"]},"key":{"type":"boolean"}},"example":{"value":"S","description":"Semester Long","api_type":"read-only"}},"added_datetime":{"description":"The date/time when the class was added, given in GMT (Greenwich Mean Time)","type":"object","required":["value","api_type"],"properties":{"value":{"type":"string","format":"date-time","x-nullable":true},"api_type":{"type":"string","default":"system","enum":["system"]}},"example":{"value":"2014-05-11T13:45:53.200Z","api_type":"system"}},"enrollment_status":{"type":"object","required":["value","api_type"],"properties":{"value":{"type":"string","default":"","x-nullable":true},"api_type":{"type":"string","default":"read-only","enum":["read-only"]},"description":{"type":"string","default":""}},"example":{"value":"E","api_type":"read-only","description":""}},"email_address":{"description":"The email address","type":"object","required":["value","api_type","related_resource"],"properties":{"value":{"type":"string","default":"","x-nullable":true},"api_type":{"type":"string","default":"related","enum":["related"]},"related_resource":{"type":"string","default":"https://api.byu.edu/byuapi/persons/v3"}},"example":{"value":"joe@someplace.com","api_type":"related","related_resource":"https://api.byu.edu/byuapi/persons/v3"}},"work_email_address":{"type":"object","required":["value","api_type","related_resource"],"properties":{"value":{"type":"string","default":"","x-nullable":true},"api_type":{"type":"string","default":"related","enum":["related"]},"related_resource":{"type":"string","default":"https://api.byu.edu/byuapi/persons/v3"}},"example":{"value":"joe@someplace.com","api_type":"related","related_resource":"https://api.byu.edu/byuapi/persons/v3"}}}}}}},"enrollment_counts":{"description":"Enrollment counts information","type":"object","required":["metadata"],"properties":{"links":{"description":"Hypermedia links for a class","type":"object","required":["enrollment_counts__info"],"properties":{"enrollment_counts__info":{"type":"object","required":["rel","href","method"],"properties":{"rel":{"type":"string","default":"self","description":"The name of the link property or 'self' if the href value is the same as what is invoked to get the current object."},"href":{"type":"string","description":"Use this URL to perform the specified action","default":"https://api.byu.edu/byuapi/classes/v2/"},"method":{"type":"string","default":"GET","description":"Use this HTTP method to perform the specified action","enum":["GET","PUT","POST","DELETE","OPTIONS"]}}},"enrollStudentInClass":{"type":"object","required":["rel","href","method"],"properties":{"rel":{"type":"string","default":"self","description":"The name of the link property or 'self' if the href value is the same as what is invoked to get the current object."},"href":{"type":"string","description":"Use this URL to perform the specified action","default":"https://api.byu.edu/byuapi/classes/v2/"},"method":{"type":"string","default":"GET","description":"Use this HTTP method to perform the specified action","enum":["GET","PUT","POST","DELETE","OPTIONS"]}}},"enrollStudentInClassWithHours":{"type":"object","required":["rel","href","method"],"properties":{"rel":{"type":"string","default":"self","description":"The name of the link property or 'self' if the href value is the same as what is invoked to get the current object."},"href":{"type":"string","description":"Use this URL to perform the specified action","default":"https://api.byu.edu/byuapi/classes/v2/"},"method":{"type":"string","default":"GET","description":"Use this HTTP method to perform the specified action","enum":["GET","PUT","POST","DELETE","OPTIONS"]}}},"enrollStudentWithPermissionCode":{"type":"object","required":["rel","href","method"],"properties":{"rel":{"type":"string","default":"self","description":"The name of the link property or 'self' if the href value is the same as what is invoked to get the current object."},"href":{"type":"string","description":"Use this URL to perform the specified action","default":"https://api.byu.edu/byuapi/classes/v2/"},"method":{"type":"string","default":"GET","description":"Use this HTTP method to perform the specified action","enum":["GET","PUT","POST","DELETE","OPTIONS"]}}},"enrollStudentWithPermissionCodeWithHours":{"type":"object","required":["rel","href","method"],"properties":{"rel":{"type":"string","default":"self","description":"The name of the link property or 'self' if the href value is the same as what is invoked to get the current object."},"href":{"type":"string","description":"Use this URL to perform the specified action","default":"https://api.byu.edu/byuapi/classes/v2/"},"method":{"type":"string","default":"GET","description":"Use this HTTP method to perform the specified action","enum":["GET","PUT","POST","DELETE","OPTIONS"]}}},"putStudentInWaitlist":{"type":"object","required":["rel","href","method"],"properties":{"rel":{"type":"string","default":"self","description":"The name of the link property or 'self' if the href value is the same as what is invoked to get the current object."},"href":{"type":"string","description":"Use this URL to perform the specified action","default":"https://api.byu.edu/byuapi/classes/v2/"},"method":{"type":"string","default":"GET","description":"Use this HTTP method to perform the specified action","enum":["GET","PUT","POST","DELETE","OPTIONS"]}}},"putStudentInWaitlistWithHours":{"type":"object","required":["rel","href","method"],"properties":{"rel":{"type":"string","default":"self","description":"The name of the link property or 'self' if the href value is the same as what is invoked to get the current object."},"href":{"type":"string","description":"Use this URL to perform the specified action","default":"https://api.byu.edu/byuapi/classes/v2/"},"method":{"type":"string","default":"GET","description":"Use this HTTP method to perform the specified action","enum":["GET","PUT","POST","DELETE","OPTIONS"]}}}}},"metadata":{"type":"object","required":["validation_response"],"properties":{"validation_response":{"type":"object","required":["code","message"],"properties":{"code":{"type":"integer","minimum":100,"maximum":599,"default":200},"message":{"type":"string","default":"Success"}}},"validation_information":{"type":"array","items":{"type":"string","default":"Success"}},"cache":{"description":"Date-time of cache (If not provided, data is from live source)","type":"object","required":["date_time"],"properties":{"date_time":{"type":"string","format":"date-time"}},"example":{"date_time":"2017-03-30T08:46:16.000Z"}}}},"enrollment_period":{"type":"object","required":["api_type","value"],"properties":{"api_type":{"default":"read-only","enum":["read-only"],"type":"string"},"value":{"description":"The enrollment period of the class","type":"string","pattern":"^(Winter|Spring|Summer|Fall)[0-9]{4}$","example":"Fall2018"},"key":{"type":"boolean"},"description":{"type":"string","example":"Fall 2017"},"long_description":{"type":"string","example":"Fall Semester 2017"}}},"teaching_area":{"type":"object","required":["api_type","value"],"properties":{"api_type":{"default":"read-only","enum":["read-only"],"type":"string"},"value":{"description":"The value of the assigned teaching area of this course.","type":"string","maxLength":5},"key":{"type":"boolean"},"description":{"type":"string","example":"Mathematics"}}},"course_number":{"type":"object","required":["api_type","value"],"properties":{"api_type":{"default":"read-only","enum":["read-only"],"type":"string"},"value":{"description":"Catalog Number and Suffix of Class","type":"string","pattern":"^[0-9]{3}[A-Z]?$"},"key":{"type":"boolean"}}},"section_number":{"type":"object","required":["value","api_type"],"properties":{"value":{"type":"string","pattern":"^[0-9]{3}$"},"api_type":{"type":"string","default":"read-only","enum":["read-only"]},"key":{"type":"boolean","default":true}},"example":{"value":"001","api_type":"read-only","key":true}},"class_identifiers":{"type":"object","required":["object_array","api_type"],"properties":{"object_array":{"type":"array","items":{"type":"object","required":["id_type","id_value","id_format"],"properties":{"id_type":{"type":"object","required":["value","api_type"],"properties":{"value":{"type":"string"},"api_type":{"type":"string","default":"read-only","enum":["read-only"]}}},"id_value":{"type":"object","required":["value","api_type"],"properties":{"value":{"type":"string"},"api_type":{"type":"string","default":"read-only","enum":["read-only"]}}},"id_format":{"type":"object","required":["value","api_type"],"properties":{"value":{"type":"string"},"api_type":{"type":"string","default":"read-only","enum":["read-only"]}}}}}},"api_type":{"type":"string","default":"read-only","enum":["read-only"]}}},"credit_institution":{"type":"object","required":["value","api_type"],"properties":{"value":{"type":"string","default":"BYU PROVO","maxLength":15},"api_type":{"type":"string","default":"read-only","enum":["read-only"]}},"example":{"value":"BYU PROVO","api_type":"read-only"}},"class_size":{"description":"What is the enrollment size for this class","type":"object","required":["value","api_type"],"properties":{"value":{"type":"integer","minimum":0,"default":0},"api_type":{"type":"string","default":"read-only","enum":["read-only","modifiable"]}},"example":{"value":30,"api_type":"read-only"}},"total_enrolled":{"description":"The number of persons enrolled","type":"object","required":["value","api_type"],"properties":{"value":{"type":"integer","default":0},"api_type":{"type":"string","default":"read-only","enum":["read-only"]}},"example":{"value":17,"api_type":"read-only"}},"seats_available":{"description":"The number of seats still available for this class","type":"object","required":["value","api_type"],"properties":{"value":{"type":"integer","default":0},"api_type":{"type":"string","default":"derived","enum":["derived"]}},"example":{"value":6,"api_type":"derived"}},"envelope_only":{"description":"Class only offered as part of an envelope","type":"object","required":["value","api_type"],"properties":{"value":{"type":"boolean","default":false},"api_type":{"type":"string","default":"read-only","enum":["read-only"]}},"example":{"value":true,"api_type":"read-only","description":"Only offered as part of an envelope"}},"waitlist_count":{"description":"The number of persons on the waitlist for this class","type":"object","required":["value","api_type"],"properties":{"value":{"type":"integer","default":0},"api_type":{"type":"string","default":"read-only","enum":["read-only"]}},"example":{"value":11,"api_type":"read-only"}}}},"headers":{"description":"A collection of Headers for a class","type":"object","required":["metadata"],"properties":{"links":{"description":"Hypermedia links for a collection of headers","type":"object","required":["headers__info"],"properties":{"headers__info":{"type":"object","required":["rel","href","method"],"properties":{"rel":{"type":"string","default":"self","description":"The name of the link property or 'self' if the href value is the same as what is invoked to get the current object."},"href":{"type":"string","description":"Use this URL to perform the specified action","default":"https://api.byu.edu/byuapi/classes/v2/"},"method":{"type":"string","default":"GET","description":"Use this HTTP method to perform the specified action","enum":["GET","PUT","POST","DELETE","OPTIONS"]}}},"headers__add":{"type":"object","required":["rel","href","method"],"properties":{"rel":{"type":"string","default":"self","description":"The name of the link property or 'self' if the href value is the same as what is invoked to get the current object."},"href":{"type":"string","description":"Use this URL to perform the specified action","default":"https://api.byu.edu/byuapi/classes/v2/"},"method":{"type":"string","default":"GET","description":"Use this HTTP method to perform the specified action","enum":["GET","PUT","POST","DELETE","OPTIONS"]}}},"headers__delete":{"type":"object","required":["rel","href","method"],"properties":{"rel":{"type":"string","default":"self","description":"The name of the link property or 'self' if the href value is the same as what is invoked to get the current object."},"href":{"type":"string","description":"Use this URL to perform the specified action","default":"https://api.byu.edu/byuapi/classes/v2/"},"method":{"type":"string","default":"GET","description":"Use this HTTP method to perform the specified action","enum":["GET","PUT","POST","DELETE","OPTIONS"]}}}}},"metadata":{"type":"object","required":["validation_response"],"properties":{"validation_response":{"type":"object","required":["code","message"],"properties":{"code":{"type":"integer","minimum":100,"maximum":599,"default":200},"message":{"type":"string","default":"Success"}}},"collection_size":{"type":"integer","minimum":0},"validation_information":{"type":"array","items":{"type":"string","default":"Success"}},"cache":{"description":"Date-time of cache (If not provided, data is from live source)","type":"object","required":["date_time"],"properties":{"date_time":{"type":"string","format":"date-time"}},"example":{"date_time":"2017-03-30T08:46:16.000Z"}}}},"values":{"type":"array","items":{"type":"object","required":["links","metadata","enrollment_period","teaching_area","course_number","section_number","sequence_number","class_identifiers","credit_institution","header_or_footer","header_text","updated_datetime","updated_by_byu_id"],"properties":{"links":{"description":"Hypermedia links for a specific header","type":"object","required":["header__info"],"properties":{"header__info":{"type":"object","required":["rel","href","method"],"properties":{"rel":{"type":"string","default":"self","description":"The name of the link property or 'self' if the href value is the same as what is invoked to get the current object."},"href":{"type":"string","description":"Use this URL to perform the specified action","default":"https://api.byu.edu/byuapi/classes/v2/"},"method":{"type":"string","default":"GET","description":"Use this HTTP method to perform the specified action","enum":["GET","PUT","POST","DELETE","OPTIONS"]}}},"header__modify":{"type":"object","required":["rel","href","method"],"properties":{"rel":{"type":"string","default":"self","description":"The name of the link property or 'self' if the href value is the same as what is invoked to get the current object."},"href":{"type":"string","description":"Use this URL to perform the specified action","default":"https://api.byu.edu/byuapi/classes/v2/"},"method":{"type":"string","default":"GET","description":"Use this HTTP method to perform the specified action","enum":["GET","PUT","POST","DELETE","OPTIONS"]}}},"header__delete":{"type":"object","required":["rel","href","method"],"properties":{"rel":{"type":"string","default":"self","description":"The name of the link property or 'self' if the href value is the same as what is invoked to get the current object."},"href":{"type":"string","description":"Use this URL to perform the specified action","default":"https://api.byu.edu/byuapi/classes/v2/"},"method":{"type":"string","default":"GET","description":"Use this HTTP method to perform the specified action","enum":["GET","PUT","POST","DELETE","OPTIONS"]}}}}},"metadata":{"type":"object","required":["validation_response"],"properties":{"validation_response":{"type":"object","required":["code","message"],"properties":{"code":{"type":"integer","minimum":100,"maximum":599,"default":200},"message":{"type":"string","default":"Success"}}},"validation_information":{"type":"array","items":{"type":"string","default":"Success"}},"cache":{"description":"Date-time of cache (If not provided, data is from live source)","type":"object","required":["date_time"],"properties":{"date_time":{"type":"string","format":"date-time"}},"example":{"date_time":"2017-03-30T08:46:16.000Z"}}}},"enrollment_period":{"type":"object","required":["api_type","value"],"properties":{"api_type":{"default":"read-only","enum":["read-only"],"type":"string"},"value":{"description":"The enrollment period of the class","type":"string","pattern":"^(Winter|Spring|Summer|Fall)[0-9]{4}$","example":"Fall2018"},"key":{"type":"boolean"},"description":{"type":"string","example":"Fall 2017"},"long_description":{"type":"string","example":"Fall Semester 2017"}}},"teaching_area":{"type":"object","required":["api_type","value"],"properties":{"api_type":{"default":"read-only","enum":["read-only"],"type":"string"},"value":{"description":"The value of the assigned teaching area of this course.","type":"string","maxLength":5},"key":{"type":"boolean"},"description":{"type":"string","example":"Mathematics"}}},"course_number":{"type":"object","required":["api_type","value"],"properties":{"api_type":{"default":"read-only","enum":["read-only"],"type":"string"},"value":{"description":"Catalog Number and Suffix of Class","type":"string","pattern":"^[0-9]{3}[A-Z]?$"},"key":{"type":"boolean"}}},"section_number":{"type":"object","required":["value","api_type"],"properties":{"value":{"type":"string","pattern":"^[0-9]{3}$"},"api_type":{"type":"string","default":"read-only","enum":["read-only"]},"key":{"type":"boolean","default":true}},"example":{"value":"001","api_type":"read-only","key":true}},"sequence_number":{"type":"object","required":["value","api_type","key"],"properties":{"value":{"description":"Assigned schedules can go up to 999. Headers can go up to 99999.","type":"integer","default":1,"minimum":1,"maximum":99999},"api_type":{"type":"string","default":"read-only","enum":["read-only"]},"key":{"type":"boolean","default":true}},"example":{"value":1,"api_type":"read-only","key":true}},"class_identifiers":{"type":"object","required":["object_array","api_type"],"properties":{"object_array":{"type":"array","items":{"type":"object","required":["id_type","id_value","id_format"],"properties":{"id_type":{"type":"object","required":["value","api_type"],"properties":{"value":{"type":"string"},"api_type":{"type":"string","default":"read-only","enum":["read-only"]}}},"id_value":{"type":"object","required":["value","api_type"],"properties":{"value":{"type":"string"},"api_type":{"type":"string","default":"read-only","enum":["read-only"]}}},"id_format":{"type":"object","required":["value","api_type"],"properties":{"value":{"type":"string"},"api_type":{"type":"string","default":"read-only","enum":["read-only"]}}}}}},"api_type":{"type":"string","default":"read-only","enum":["read-only"]}}},"credit_institution":{"type":"object","required":["value","api_type"],"properties":{"value":{"type":"string","default":"BYU PROVO","maxLength":15},"api_type":{"type":"string","default":"read-only","enum":["read-only"]}},"example":{"value":"BYU PROVO","api_type":"read-only"}},"header_or_footer":{"type":"object","required":["value","api_type"],"properties":{"value":{"type":"string","default":"H","enum":["H","F"]},"api_type":{"type":"string","default":"read-only","enum":["read-only","modifiable"]},"description":{"type":"string","default":"Header"}},"example":{"value":"H","api_type":"read-only","description":"Header"}},"header_text":{"type":"object","required":["value","api_type"],"properties":{"value":{"type":"string","default":"","maxLength":4000,"x-nullable":true},"api_type":{"type":"string","default":"read-only","enum":["read-only","modifiable"]}},"example":{"value":"","api_type":"read-only"}},"updated_datetime":{"description":"The date/time when the entity was updated, given in GMT (Greenwich Mean Time)","type":"object","required":["value","api_type"],"properties":{"value":{"type":"string","format":"date-time","x-nullable":true},"api_type":{"type":"string","default":"system","enum":["system"]}},"example":{"value":"2014-05-11T13:45:53.200Z","api_type":"system"}},"updated_by_byu_id":{"description":"The BYU ID that performed the last update","type":"object","required":["value","api_type","description"],"properties":{"value":{"type":"string","default":"","x-nullable":true},"api_type":{"type":"string","default":"system","enum":["system"]},"description":{"type":"string","maxLength":50,"default":"","x-nullable":true}},"example":{"value":"123456789","api_type":"system","description":"Admin, Joe"}}}}}}},"limitations":{"description":"A collection of Limitations for a class","type":"object","required":["metadata"],"properties":{"links":{"description":"Hypermedia links for a collection of limitations","type":"object","required":["limitations__info"],"properties":{"limitations__info":{"type":"object","required":["rel","href","method"],"properties":{"rel":{"type":"string","default":"self","description":"The name of the link property or 'self' if the href value is the same as what is invoked to get the current object."},"href":{"type":"string","description":"Use this URL to perform the specified action","default":"https://api.byu.edu/byuapi/classes/v2/"},"method":{"type":"string","default":"GET","description":"Use this HTTP method to perform the specified action","enum":["GET","PUT","POST","DELETE","OPTIONS"]}}},"limitations__add":{"type":"object","required":["rel","href","method"],"properties":{"rel":{"type":"string","default":"self","description":"The name of the link property or 'self' if the href value is the same as what is invoked to get the current object."},"href":{"type":"string","description":"Use this URL to perform the specified action","default":"https://api.byu.edu/byuapi/classes/v2/"},"method":{"type":"string","default":"GET","description":"Use this HTTP method to perform the specified action","enum":["GET","PUT","POST","DELETE","OPTIONS"]}}},"limitations__delete":{"type":"object","required":["rel","href","method"],"properties":{"rel":{"type":"string","default":"self","description":"The name of the link property or 'self' if the href value is the same as what is invoked to get the current object."},"href":{"type":"string","description":"Use this URL to perform the specified action","default":"https://api.byu.edu/byuapi/classes/v2/"},"method":{"type":"string","default":"GET","description":"Use this HTTP method to perform the specified action","enum":["GET","PUT","POST","DELETE","OPTIONS"]}}}}},"metadata":{"type":"object","required":["validation_response"],"properties":{"validation_response":{"type":"object","required":["code","message"],"properties":{"code":{"type":"integer","minimum":100,"maximum":599,"default":200},"message":{"type":"string","default":"Success"}}},"collection_size":{"type":"integer","minimum":0},"validation_information":{"type":"array","items":{"type":"stri
[...]
