{
    "basePath": "/domains/erp/hr/clock_employees/v1",
    "paths": {
        "/*": {
            "get": {
                "x-auth-type": "Application & Application User",
                "x-throttling-tier": "Unlimited",
                "responses": {
                    "200": {
                        "$ref": "#/responses/200"
                    },
                    "400": {
                        "$ref": "#/responses/400"
                    },
                    "401": {
                        "$ref": "#/responses/401"
                    },
                    "403": {
                        "$ref": "#/responses/403"
                    },
                    "404": {
                        "$ref": "#/responses/404"
                    },
                    "500": {
                        "$ref": "#/responses/500"
                    },
                    "504": {
                        "$ref": "#/responses/504"
                    },
                    "default": {
                        "$ref": "#/responses/default"
                    }
                }
            }
        }
    },
    "host": "api.byu.edu:443",
    "schemes": [
        "https"
    ],
    "produces": [
        "application/json"
    ],
    "swagger": "2.0",
    "definitions": {
        "trc_id": {
            "description": "A code to identify the time reporting code being used",
            "example": "4SICK",
            "type": "string"
        },
        "trc": {
            "description": "a single time reporting code object",
            "properties": {
                "trc_id": {
                    "$ref": "#/definitions/trc_id"
                },
                "trc_description": {
                    "$ref": "#/definitions/trc_description"
                }
            },
            "type": "object"
        },
        "jobs": {
            "items": {
                "$ref": "#/definitions/job"
            },
            "description": "The employee's jobs in an array",
            "type": "array"
        },
        "job_code_description": {
            "description": "A description of the job",
            "example": "BYU Football mascot",
            "type": "string"
        },
        "physical_facilities": {
            "pattern": "[YN]",
            "description": "A code to say whether a job is a physical facilities job or not",
            "example": "Y",
            "type": "string"
        },
        "valid_account": {
            "pattern": "[YN]",
            "description": "A code to identify if it is a valid job code currently",
            "example": "Y",
            "type": "string"
        },
        "account_code": {
            "pattern": "[0-9]{8}-[0-9]{4}-[0-9]{5}",
            "description": "The seventeen-digit computer-generated code with ",
            "example": "12345678-1234-12345",
            "type": "string"
        },
        "job": {
            "description": "An employee job",
            "properties": {
                "job_code_description": {
                    "$ref": "#/definitions/job_code_description"
                },
                "physical_facilities": {
                    "$ref": "#/definitions/physical_facilities"
                },
                "valid_account": {
                    "$ref": "#/definitions/valid_account"
                },
                "account_code": {
                    "$ref": "#/definitions/account_code"
                },
                "employee_record": {
                    "$ref": "#/definitions/employee_record"
                },
                "trcs": {
                    "$ref": "#/definitions/trcs"
                },
                "full_part_time": {
                    "$ref": "#/definitions/full_part_time"
                }
            },
            "type": "object"
        },
        "trcs": {
            "items": {
                "$ref": "#/definitions/trc"
            },
            "description": "Array of an employee's time reporting codes",
            "type": "array"
        },
        "net_id": {
            "pattern": "^[a-z][0-9a-z]{4,7}$",
            "description": "A unique identifier, usually five-to-eight characters, beginning with a letter",
            "example": "cosmoc",
            "type": "string"
        },
        "sort_name": {
            "description": "The employee's name in Last, First order",
            "example": "Cougar, Cosmo",
            "type": "string"
        },
        "full_part_time": {
            "pattern": "[FP]",
            "description": "A code to identify if a job is full or part time",
            "example": "F",
            "type": "string"
        },
        "Status": {
            "properties": {
                "status": {
                    "properties": {
                        "message": {
                            "example": "The requested file is not found",
                            "type": "string"
                        }
                    }
                }
            }
        },
        "trc_description": {
            "description": "A description of the time reporting code",
            "example": "Sick",
            "type": "string"
        },
        "byu_id": {
            "pattern": "^[0-9]{9}$",
            "description": "The nine-digit computer-generated ID assigned to each employee",
            "example": "123456789",
            "type": "string"
        },
        "employee_record": {
            "pattern": "[0-9]{1,3}",
            "description": "An identifier associated with each job, starting with the employee's first job at 0 increasing by 1 with every job",
            "example": "0",
            "type": "string"
        },
        "employee": {
            "description": "a single employee in the time clock's records",
            "properties": {
                "jobs": {
                    "$ref": "#/definitions/jobs"
                },
                "byu_id": {
                    "$ref": "#/definitions/byu_id"
                },
                "net_id": {
                    "$ref": "#/definitions/net_id"
                },
                "sort_name": {
                    "$ref": "#/definitions/sort_name"
                }
            },
            "type": "object"
        },
        "employees": {
            "items": {
                "$ref": "#/definitions/employee"
            },
            "description": "Array of employees in the time clock's records",
            "type": "array"
        }
    },
    "responses": {
        "200": {
            "schema": {
                "$ref": "#/definitions/employees"
            },
            "description": "Service request is OK and the data is in the response"
        },
        "400": {
            "description": "Invalid Request - unable to interpret request"
        },
        "401": {
            "description": "Authentication required to access data"
        },
        "403": {
            "description": "Access denied to protected data"
        },
        "404": {
            "schema": {
                "$ref": "#/definitions/Status"
            },
            "description": "Service request is OK and no file is available."
        },
        "500": {
            "description": "Internal Server Error"
        },
        "504": {
            "description": "Gateway Timeout"
        },
        "default": {
            "description": "Unexpected error"
        }
    },
    "info": {
        "title": "clock_employees",
        "description": "Returns a JSON file of employees and their jobs for the Y-Time time clocks",
        "version": "v1"
    }
}