{
    "paths": {
        "/*": {
            "get": {
                "x-auth-type": "Application & Application User",
                "x-throttling-tier": "Unlimited",
                "parameters": [
                    {
                        "maxLength": 9,
                        "minLength": 9,
                        "description": "byu id",
                        "name": "byu_id",
                        "type": "string",
                        "required": true,
                        "allowEmptyValue": false,
                        "in": "query"
                    },
                    {
                        "maxLength": 4,
                        "minLength": 4,
                        "description": "fiscal year",
                        "name": "year",
                        "type": "string",
                        "required": true,
                        "allowEmptyValue": false,
                        "in": "query"
                    },
                    {
                        "maxLength": 8,
                        "minLength": 8,
                        "description": "operating unit",
                        "name": "operating_unit",
                        "type": "string",
                        "required": true,
                        "allowEmptyValue": false,
                        "in": "query"
                    },
                    {
                        "maxLength": 5,
                        "minLength": 5,
                        "description": "class_field",
                        "name": "class_field",
                        "type": "string",
                        "required": true,
                        "allowEmptyValue": false,
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {}
                }
            },
            "options": {
                "x-auth-type": "Application & Application User",
                "x-throttling-tier": "Unlimited",
                "responses": {
                    "200": {}
                }
            }
        }
    },
    "swagger": "2.0",
    "externalDocs": {
        "description": "Documentation",
        "url": "https://byuoit.atlassian.net/wiki/display/WSO2/API+Web+Service+Documentation+Index"
    },
    "info": {
        "title": "ClubsChartFieldBalance",
        "description": "This API provides balances for a specified chartblock combination of operating unit and class field for operating units assigned to BYU Clubs. All elements or query nodes must be present in the url string; all values are required.  Annual Revenue and YTD Expenses are returned.  Authorization to use this API is required. A NetID associated with the OAUTH Credential is required and granted within the Peoplesoft University Financials System in order to access data via this API.  This API is for use for a specific Clubs application and not for general consumption.",
        "version": "v1"
    },
    "basePath": "/domains/erp/fs/clubschartfieldbalance/v1",
    "host": "api.byu.edu:443"
}