{
    "paths": {
        "/cpid": {
            "post": {
                "summary": "save central processing ID",
                "x-auth-type": "Application & Application User",
                "x-throttling-tier": "Unlimited",
                "description": "Save admissions central processing ID.",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "schema": {
                            "$ref": "#/definitions/cpid_post_body"
                        },
                        "description": "Request Body",
                        "name": "Payload",
                        "required": false,
                        "in": "body"
                    }
                ],
                "consumes": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "Successful Operation"
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "403": {
                        "description": "Not Authorized"
                    },
                    "500": {
                        "description": "Server Error"
                    }
                }
            }
        }
    },
    "swagger": "2.0",
    "definitions": {
        "cpid_post_body": {
            "properties": {
                "person_id": {
                    "type": "string"
                },
                "restricted": {
                    "type": "string"
                },
                "date_of_birth": {
                    "format": "date",
                    "type": "string"
                },
                "surname": {
                    "type": "string"
                },
                "preferred_first_name": {
                    "type": "string"
                },
                "cp_username": {
                    "type": "string"
                },
                "rest_of_name": {
                    "type": "string"
                },
                "net_id": {
                    "type": "string"
                },
                "sort_name": {
                    "type": "string"
                },
                "cp_id": {
                    "type": "string"
                },
                "byu_id": {
                    "type": "string"
                },
                "gender": {
                    "enum": [
                        "M",
                        "F",
                        "?"
                    ],
                    "type": "string"
                },
                "email_address": {
                    "format": "email",
                    "type": "string"
                }
            },
            "type": "object"
        }
    },
    "info": {
        "title": "CommTechCentralProcessingWS",
        "description": "Commtech Admissions Central Processing web service endpoints",
        "version": "1.0.0"
    },
    "basePath": "/commtech/admissions/centralProcessing/ws/1.0.0",
    "host": "api.byu.edu:443"
}