{
    "swagger": "2.0",
    "info": {
        "title": "CourseBuilderTeachingAssistantInformation",
        "description": "TeachingAssistantInformationService",
        "version": "v1"
    },
    "externalDocs": {
        "description": "External **documentation** link",
        "url": ""
    },
    "basePath": "/domains/legacy/coursebuilder/teachingassistantinformation/v1",
    "host": "api.byu.edu:443",
    "produces": [
        "application/json",
        "application/xml"
    ],
    "schemes": [
        "https"
    ],
    "paths": {
        "/*": {
            "post": {
                "summary": "Create teaching assistant information",
                "description": "Create teaching assistant information",
                "operationId": "CreateTAInfo",
                "parameters": [],
                "tags": [
                    "TeachingAssistantInformationService"
                ],
                "responses": {
                    "201": {
                        "description": "Service request is OK and teaching asssistant information has been created",
                        "schema": {
                            "$ref": "#/definitions/TAInfoRequest"
                        }
                    },
                    "400": {
                        "description": "There appears to be a syntax error in the composition of the service request. The response structure may contain information about the error. If the base URI or service request URI is invalid, any response will come as an HTTP response.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "403": {
                        "description": "The user does not have access to the resource.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "404": {
                        "description": "The target resource can not be found for the provided resource identifiers.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "405": {
                        "description": "The service method is not supported by the service.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "409": {
                        "description": "A conflict has occurred. The response structure may contain information about the conflict.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "500": {
                        "description": "An error occurred generating the response to the service request. This is strictly a server error and not an application error.",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/{taInformationID}": {
            "get": {
                "summary": "Get teaching assistant information by ID",
                "description": "Get teaching assistant information by ID",
                "operationId": "GetByID",
                "parameters": [
                    {
                        "name": "taInformationID",
                        "description": "Identification of the TA information",
                        "type": "string",
                        "in": "path",
                        "required": true
                    }
                ],
                "tags": [
                    "TeachingAssistantInformationService"
                ],
                "responses": {
                    "200": {
                        "description": "Service request is OK and a response has been generated.",
                        "schema": {
                            "$ref": "#/definitions/TAInfoResponse"
                        }
                    },
                    "400": {
                        "description": "There appears to be a syntax error in the composition of the service request. The response structure may contain information about the error. If the base URI or service request URI is invalid, any response will come as an HTTP response.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "403": {
                        "description": "The user does not have access to the resource.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "404": {
                        "description": "The target resource can not be found for the provided resource identifiers.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "405": {
                        "description": "The service method is not supported by the service.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "409": {
                        "description": "A conflict has occurred. The response structure may contain information about the conflict.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "500": {
                        "description": "An error occurred generating the response to the service request. This is strictly a server error and not an application error.",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            },
            "put": {
                "summary": "Modify teaching assistant information",
                "description": "Modify teaching assistant information",
                "operationId": "ModifyTAInfo",
                "parameters": [
                    {
                        "name": "taInformationID",
                        "description": "Identification of the TA information",
                        "type": "string",
                        "in": "path",
                        "required": true
                    }
                ],
                "tags": [
                    "TeachingAssistantInformationService"
                ],
                "responses": {
                    "200": {
                        "description": "Service request is OK and a response has been generated.",
                        "schema": {
                            "$ref": "#/definitions/TAInfoRequest"
                        }
                    },
                    "400": {
                        "description": "There appears to be a syntax error in the composition of the service request. The response structure may contain information about the error. If the base URI or service request URI is invalid, any response will come as an HTTP response.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "403": {
                        "description": "The user does not have access to the resource.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "404": {
                        "description": "The target resource can not be found for the provided resource identifiers.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "405": {
                        "description": "The service method is not supported by the service.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "409": {
                        "description": "A conflict has occurred. The response structure may contain information about the conflict.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "500": {
                        "description": "An error occurred generating the response to the service request. This is strictly a server error and not an application error.",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            },
            "delete": {
                "summary": "Delete teaching assistant information",
                "description": "Delete teaching assistant information",
                "operationId": "DeleteTAInfo",
                "parameters": [
                    {
                        "name": "taInformationID",
                        "description": "Identification of the TA information",
                        "type": "string",
                        "in": "path",
                        "required": true
                    }
                ],
                "tags": [
                    "TeachingAssistantInformationService"
                ],
                "responses": {
                    "200": {
                        "description": "Service request is OK and a response has been generated.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "400": {
                        "description": "There appears to be a syntax error in the composition of the service request. The response structure may contain information about the error. If the base URI or service request URI is invalid, any response will come as an HTTP response.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "403": {
                        "description": "The user does not have access to the resource.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "404": {
                        "description": "The target resource can not be found for the provided resource identifiers.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "405": {
                        "description": "The service method is not supported by the service.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "409": {
                        "description": "A conflict has occurred. The response structure may contain information about the conflict.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "500": {
                        "description": "An error occurred generating the response to the service request. This is strictly a server error and not an application error.",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/courseID/{courseID}": {
            "get": {
                "summary": "Get teaching assistant information by course",
                "description": "Get teaching assistant information by course",
                "operationId": "GetByCourse",
                "parameters": [
                    {
                        "name": "courseID",
                        "description": "Identification of the course",
                        "type": "string",
                        "in": "path",
                        "required": true
                    }
                ],
                "tags": [
                    "TeachingAssistantInformationService"
                ],
                "responses": {
                    "200": {
                        "description": "Service request is OK and a response has been generated.",
                        "schema": {
                            "$ref": "#/definitions/TAInfoResponse"
                        }
                    },
                    "400": {
                        "description": "There appears to be a syntax error in the composition of the service request. The response structure may contain information about the error. If the base URI or service request URI is invalid, any response will come as an HTTP response.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "403": {
                        "description": "The user does not have access to the resource.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "404": {
                        "description": "The target resource can not be found for the provided resource identifiers.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "405": {
                        "description": "The service method is not supported by the service.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "409": {
                        "description": "A conflict has occurred. The response structure may contain information about the conflict.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "500": {
                        "description": "An error occurred generating the response to the service request. This is strictly a server error and not an application error.",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/courseID/{courseID}/hidden/{hidden}": {
            "get": {
                "summary": "Get hidden teaching assistant by course",
                "description": "Get hidden teaching assistant by course",
                "operationId": "GetHiddenByCourse",
                "parameters": [
                    {
                        "name": "courseID",
                        "description": "Identification of the course",
                        "type": "string",
                        "in": "path",
                        "required": true
                    },
                    {
                        "name": "hidden",
                        "description": "Hidden",
                        "type": "string",
                        "in": "path",
                        "required": true
                    }
                ],
                "tags": [
                    "TeachingAssistantInformationService"
                ],
                "responses": {
                    "200": {
                        "description": "Service request is OK and a response has been generated.",
                        "schema": {
                            "$ref": "#/definitions/TAInfoResponse"
                        }
                    },
                    "400": {
                        "description": "There appears to be a syntax error in the composition of the service request. The response structure may contain information about the error. If the base URI or service request URI is invalid, any response will come as an HTTP response.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "403": {
                        "description": "The user does not have access to the resource.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "404": {
                        "description": "The target resource can not be found for the provided resource identifiers.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "405": {
                        "description": "The service method is not supported by the service.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "409": {
                        "description": "A conflict has occurred. The response structure may contain information about the conflict.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "500": {
                        "description": "An error occurred generating the response to the service request. This is strictly a server error and not an application error.",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/documentation": {
            "get": {
                "summary": "service definition",
                "description": "service definition",
                "operationId": "getServiceDocumentation",
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "TAInfoRequest": {
            "type": "object",
            "properties": {
                "personID": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "officeLocation": {
                    "type": "string"
                },
                "officePhone": {
                    "type": "string"
                },
                "email": {
                    "type": "string"
                },
                "professionalTitle": {
                    "type": "string"
                },
                "homePhone": {
                    "type": "string"
                },
                "mobilePhone": {
                    "type": "string"
                },
                "byAppointment": {
                    "type": "boolean"
                },
                "hidden": {
                    "type": "string"
                },
                "courseID": {
                    "type": "string"
                }
            }
        },
        "TAInfoResponse": {
            "type": "object",
            "properties": {
                "personID": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "officeLocation": {
                    "type": "string"
                },
                "officePhone": {
                    "type": "string"
                },
                "email": {
                    "type": "string"
                },
                "professionalTitle": {
                    "type": "string"
                },
                "homePhone": {
                    "type": "string"
                },
                "mobilePhone": {
                    "type": "string"
                },
                "byAppointment": {
                    "type": "string"
                },
                "hidden": {
                    "type": "string"
                },
                "courseID": {
                    "type": "string"
                },
                "id": {
                    "type": "string"
                }
            }
        }
    }
}