{
    "paths": {
        "/postPayment": {
            "post": {
                "summary": "Update payments as having been sent to PeopleSoft for payment",
                "x-auth-type": "Application & Application User",
                "x-throttling-tier": "Unlimited",
                "parameters": [
                    {
                        "description": "Comma delimited list of Payment IDs to mark as posted",
                        "name": "payment_ids",
                        "required": true,
                        "type": "string",
                        "in": "formData"
                    }
                ],
                "responses": {
                    "200": {}
                }
            }
        },
        "/postAdjustment": {
            "post": {
                "summary": "Update adjustments as having been sent to PeopleSoft for payment",
                "x-auth-type": "Application & Application User",
                "x-throttling-tier": "Unlimited",
                "parameters": [
                    {
                        "description": "Comma delimited list of CRDR Memo IDs to mark as posted",
                        "name": "crdr_memo_ids",
                        "type": "string",
                        "required": true,
                        "in": "formData"
                    }
                ],
                "responses": {
                    "200": {}
                }
            }
        },
        "/postInvoice": {
            "post": {
                "summary": "Update invoices as having been sent to PeopleSoft for payment",
                "x-auth-type": "Application & Application User",
                "x-throttling-tier": "Unlimited",
                "parameters": [
                    {
                        "description": "Comma delimited list of Invoice IDs to mark as posted",
                        "name": "invoice_ids",
                        "required": true,
                        "type": "string",
                        "in": "formData"
                    }
                ],
                "responses": {
                    "200": {}
                }
            }
        }
    },
    "swagger": "2.0",
    "info": {
        "title": "DCE-Financials",
        "description": "Services for OIT Financials",
        "version": "V1.0"
    },
    "basePath": "/domains/DCE/financials/V1.0",
    "host": "api.byu.edu:443"
}