{
    "paths": {
        "/getCourseTagsBySchoolType/school_type/{school_type}/status_list/{status_list}/course_tag_id/{course_tag_id}": {
            "get": {
                "x-auth-type": "Application & Application User",
                "x-throttling-tier": "Unlimited",
                "parameters": [
                    {
                        "name": "school_type",
                        "required": true,
                        "type": "string",
                        "in": "path"
                    },
                    {
                        "name": "status_list",
                        "required": true,
                        "type": "string",
                        "in": "path"
                    },
                    {
                        "name": "course_tag_id",
                        "required": true,
                        "type": "string",
                        "in": "path"
                    }
                ],
                "responses": {
                    "200": {}
                }
            }
        },
        "/getDeptsBySchoolType/school_type/{school_type}": {
            "get": {
                "x-auth-type": "Application & Application User",
                "x-throttling-tier": "Unlimited",
                "parameters": [
                    {
                        "name": "school_type",
                        "required": true,
                        "type": "string",
                        "in": "path"
                    }
                ],
                "responses": {
                    "200": {}
                }
            }
        },
        "/getCourseById/product_id/{product_id}": {
            "get": {
                "x-auth-type": "Application & Application User",
                "x-throttling-tier": "Unlimited",
                "parameters": [
                    {
                        "name": "product_id",
                        "required": true,
                        "type": "numeric",
                        "in": "path"
                    }
                ],
                "responses": {
                    "200": {}
                }
            }
        },
        "/getInstructorsByCourseId/product_id/{product_id}/instructor_type_list/{instructor_type_list}/instructor_status_list/{instructor_status_list}": {
            "get": {
                "x-auth-type": "Application & Application User",
                "x-throttling-tier": "Unlimited",
                "parameters": [
                    {
                        "name": "product_id",
                        "required": true,
                        "type": "numeric",
                        "in": "path"
                    },
                    {
                        "description": "Faculty, Grader, and/or Proctor",
                        "name": "instructor_type_list",
                        "required": true,
                        "type": "string",
                        "in": "path"
                    },
                    {
                        "name": "instructor_status_list",
                        "required": true,
                        "type": "string",
                        "in": "path"
                    }
                ],
                "responses": {
                    "200": {}
                }
            }
        },
        "/getCoursesByDept/school_type/{school_type}/academic_dept/{academic_dept}/course_num/{course_num}/course_title/{course_title}/section_num/{section_num}": {
            "get": {
                "x-auth-type": "Application & Application User",
                "x-throttling-tier": "Unlimited",
                "parameters": [
                    {
                        "name": "school_type",
                        "required": true,
                        "type": "string",
                        "in": "path"
                    },
                    {
                        "name": "academic_dept",
                        "required": true,
                        "type": "string",
                        "in": "path"
                    },
                    {
                        "name": "course_num",
                        "required": true,
                        "type": "string",
                        "in": "path"
                    },
                    {
                        "name": "course_title",
                        "required": true,
                        "type": "string",
                        "in": "path"
                    },
                    {
                        "name": "section_num",
                        "required": true,
                        "type": "string",
                        "in": "path"
                    }
                ],
                "responses": {
                    "200": {}
                }
            }
        },
        "/getCoursesBySchoolType/school_type/{school_type}/status_list/{status_list}": {
            "get": {
                "x-auth-type": "Application & Application User",
                "x-throttling-tier": "Unlimited",
                "parameters": [
                    {
                        "name": "school_type",
                        "required": true,
                        "type": "string",
                        "in": "path"
                    },
                    {
                        "name": "status_list",
                        "required": true,
                        "type": "string",
                        "in": "path"
                    }
                ],
                "responses": {
                    "200": {}
                }
            }
        },
        "/getCourseByShortTitle/short_title/{short_title}": {
            "get": {
                "x-auth-type": "Application & Application User",
                "x-throttling-tier": "Unlimited",
                "parameters": [
                    {
                        "name": "short_title",
                        "required": true,
                        "type": "string",
                        "in": "path"
                    }
                ],
                "responses": {
                    "200": {}
                }
            }
        }
    },
    "swagger": "2.0",
    "info": {
        "title": "DCE-IS-Catalog",
        "description": "Independent Study Catalog Service",
        "version": "v1.0"
    },
    "basePath": "/domains/DCE/isCatalog/v1.0",
    "host": "api.byu.edu:443"
}