{
    "paths": {
        "/apex_rest.getReport": {
            "get": {
                "x-auth-type": "Application & Application User",
                "summary": "Gets a list of directory entries with contact and other information",
                "x-throttling-tier": "Unlimited",
                "produces": [
                    "application/xml"
                ],
                "parameters": [
                    {
                        "description": "No idea... But put 105 for directory information",
                        "name": "app",
                        "type": "integer",
                        "required": true,
                        "in": "query"
                    },
                    {
                        "description": "The number you put here doesn't matter... But we have always put 1",
                        "name": "page",
                        "type": "integer",
                        "required": true,
                        "in": "query"
                    },
                    {
                        "description": "No idea... But put 111 for directory information",
                        "name": "reportId",
                        "type": "integer",
                        "required": true,
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {}
                }
            }
        }
    },
    "swagger": "2.0",
    "info": {
        "title": "DepartmentDirectory",
        "version": "v1"
    },
    "basePath": "/domains/legacy/depdir/v1",
    "host": "api.byu.edu:443"
}