{
    "basePath": "/domains/erp/fs/department/v1",
    "host": "api.byu.edu:443",
    "paths": {
        "/*": {
            "get": {
                "summary": "An empty parameter that returns all of BYU's departments with corresponding information",
                "x-auth-type": "Application & Application User",
                "x-throttling-tier": "Unlimited",
                "responses": {
                    "200": {
                        "schema": {
                            "properties": {
                                "departments": {
                                    "items": {
                                        "properties": {
                                            "vice_president_preferred_name": {
                                                "type": "string"
                                            },
                                            "budget_account_flag": {
                                                "type": "string"
                                            },
                                            "chart_field_effective_date": {
                                                "type": "string"
                                            },
                                            "dean_preferred_name": {
                                                "type": "string"
                                            },
                                            "department_manager": {
                                                "type": "string"
                                            },
                                            "department": {
                                                "type": "string"
                                            },
                                            "department_contact": {
                                                "type": "string"
                                            },
                                            "department_id": {
                                                "type": "string"
                                            },
                                            "controller_byu_id": {
                                                "type": "string"
                                            },
                                            "sync_to_hr_flag": {
                                                "type": "string"
                                            },
                                            "department_contact_byu_id": {
                                                "type": "string"
                                            },
                                            "liaison_byu_id": {
                                                "type": "string"
                                            },
                                            "vice_president_byu_id": {
                                                "type": "string"
                                            },
                                            "department_manager_byu_id": {
                                                "type": "string"
                                            },
                                            "liaison": {
                                                "type": "string"
                                            },
                                            "controller": {
                                                "type": "string"
                                            },
                                            "dean_byu_id": {
                                                "type": "string"
                                            },
                                            "parent_department_id": {
                                                "type": "string"
                                            }
                                        },
                                        "type": "object"
                                    },
                                    "type": "array"
                                }
                            },
                            "type": "object"
                        },
                        "description": "success"
                    }
                }
            }
        }
    },
    "swagger": "2.0",
    "info": {
        "title": "Departments",
        "version": "v1"
    }
}