{
    "paths": {
        "/*": {
            "put": {
                "parameters": [
                    {
                        "schema": {
                            "type": "object"
                        },
                        "description": "Request Body",
                        "name": "Payload",
                        "required": false,
                        "in": "body"
                    }
                ],
                "responses": {
                    "200": {}
                },
                "x-auth-type": "Application & Application User",
                "x-throttling-tier": "Unlimited"
            },
            "post": {
                "parameters": [
                    {
                        "schema": {
                            "type": "object"
                        },
                        "description": "Request Body",
                        "name": "Payload",
                        "required": false,
                        "in": "body"
                    }
                ],
                "responses": {
                    "200": {}
                },
                "x-auth-type": "Application & Application User",
                "x-throttling-tier": "Unlimited"
            },
            "get": {
                "responses": {
                    "200": {}
                },
                "x-auth-type": "Application & Application User",
                "x-throttling-tier": "Unlimited"
            },
            "delete": {
                "responses": {
                    "200": {}
                },
                "x-auth-type": "Application & Application User",
                "x-throttling-tier": "Unlimited"
            },
            "head": {
                "responses": {
                    "200": {}
                },
                "x-auth-type": "Application & Application User",
                "x-throttling-tier": "Unlimited"
            }
        }
    },
    "swagger": "2.0",
    "info": {
        "title": "Dining-Login",
        "description": "Dining endpoint for cas authentication",
        "version": "v1.0.0"
    },
    "basePath": "/dining/cas/v1.0.0",
    "host": "api.byu.edu:443"
}