{
    "paths": {
        "/*": {
            "post": {
                "parameters": [
                    {
                        "name": "Acting-For",
                        "required": false,
                        "type": "string",
                        "in": "header"
                    },
                    {
                        "schema": {
                            "type": "object"
                        },
                        "name": "JSON-Payload",
                        "required": false,
                        "in": "body"
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Created"
                    }
                },
                "x-auth-type": "Application & Application User",
                "x-throttling-tier": "Unlimited"
            },
            "get": {
                "parameters": [
                    {
                        "name": "Acting-For",
                        "required": false,
                        "type": "string",
                        "in": "header"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "x-auth-type": "Application & Application User",
                "x-throttling-tier": "Unlimited"
            }
        }
    },
    "swagger": "2.0",
    "info": {
        "title": "EchoPeopleSoftAddIP",
        "description": "Echo web service used to test the PeopleSoftAddIP mediation sequence",
        "version": "v1"
    },
    "basePath": "/echoPeopleSoftAddIP/v1",
    "host": "api.byu.edu:443"
}