{
    "basePath": "/echo/v2",
    "paths": {
        "/echo": {
            "put": {
                "x-auth-type": "Application & Application User",
                "summary": "Returns information about the API call",
                "x-throttling-tier": "Unlimited",
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "schema": {
                            "$ref": "#/definitions/echoResponse"
                        },
                        "description": "OK"
                    }
                }
            },
            "post": {
                "x-auth-type": "Application & Application User",
                "summary": "Returns information about the API call",
                "x-throttling-tier": "Unlimited",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "schema": {
                            "type": "object"
                        },
                        "name": "JSON-Payload",
                        "required": false,
                        "in": "body"
                    }
                ],
                "responses": {
                    "200": {
                        "schema": {
                            "$ref": "#/definitions/echoResponse"
                        },
                        "description": "OK"
                    }
                }
            },
            "get": {
                "x-auth-type": "Application & Application User",
                "summary": "Returns information about the API call",
                "x-throttling-tier": "Unlimited",
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "schema": {
                            "$ref": "#/definitions/echoResponse"
                        },
                        "description": "OK"
                    }
                }
            },
            "delete": {
                "x-auth-type": "Application & Application User",
                "summary": "Returns information about the API call",
                "x-throttling-tier": "Unlimited",
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "schema": {
                            "$ref": "#/definitions/echoResponse"
                        },
                        "description": "OK"
                    }
                }
            },
            "head": {
                "x-auth-type": "Application & Application User",
                "summary": "Returns information about the API call",
                "x-throttling-tier": "Unlimited",
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "schema": {
                            "$ref": "#/definitions/echoResponse"
                        },
                        "description": "OK"
                    }
                }
            },
            "patch": {
                "x-auth-type": "Application & Application User",
                "summary": "Returns information about the API call",
                "x-throttling-tier": "Unlimited",
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "schema": {
                            "$ref": "#/definitions/echoResponse"
                        },
                        "description": "OK"
                    }
                }
            },
            "options": {
                "x-auth-type": "Application & Application User",
                "summary": "Returns information about the API call",
                "x-throttling-tier": "Unlimited",
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "schema": {
                            "$ref": "#/definitions/echoResponse"
                        },
                        "description": "OK"
                    }
                }
            }
        },
        "/ping": {
            "get": {
                "x-auth-type": "Application & Application User",
                "summary": "An extremely simple endpoint that can be used to test routes, latency, connectivity, etc.",
                "x-throttling-tier": "Unlimited",
                "produces": [
                    "text/plain"
                ],
                "responses": {
                    "200": {
                        "schema": {
                            "example": "PONG",
                            "type": "string"
                        },
                        "description": "OK"
                    }
                }
            }
        }
    },
    "swagger": "2.0",
    "definitions": {
        "echoResponse": {
            "properties": {
                "headers": {
                    "additionalProperties": {
                        "items": {
                            "type": "string"
                        },
                        "type": "array"
                    },
                    "description": "The HTTP headers sent in the request to the endpoint",
                    "example": {
                        "X-Forwarded-For": [
                            "127.0.0.1"
                        ],
                        "Accept": [
                            "text/html"
                        ]
                    },
                    "type": "object"
                },
                "body": {
                    "description": "A string representation of the body of the request",
                    "type": "string"
                },
                "path": {
                    "description": "The path called after the echo path",
                    "type": "string"
                },
                "sourceIP": {
                    "description": "The IP address of the requester",
                    "type": "string"
                },
                "method": {
                    "description": "The HTTP method used to call the endpoint",
                    "type": "string"
                },
                "rawPath": {
                    "description": "The path including query parameters",
                    "type": "string"
                }
            },
            "type": "object"
        }
    },
    "info": {
        "title": "Echo",
        "description": "A simple webservice used for debugging API calls",
        "x-wso2-information": {
            "provider": "BYU/bcwinter"
        },
        "version": "v2"
    },
    "host": "api.byu.edu:443"
}