{
  "basePath": "/echo/test",
  "paths": {
    "/*": {
      "put": {
        "x-auth-type": "Application & Application User",
        "summary": "Returns information about the API call",
        "x-throttling-tier": "Unlimited",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/echoResponse"
            },
            "description": "OK"
          }
        }
      },
      "post": {
        "x-auth-type": "Application & Application User",
        "summary": "Returns information about the API call",
        "x-throttling-tier": "Unlimited",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "schema": {
              "type": "object"
            },
            "name": "JSON-Payload",
            "required": false,
            "in": "body"
          },
          {
            "name": "test1",
            "type": "string",
            "required": false,
            "in": "query"
          },
          {
            "name": "test2",
            "type": "string",
            "required": false,
            "in": "query"
          },
          {
            "name": "Acting-For",
            "type": "string",
            "required": false,
            "in": "header"
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/echoResponse"
            },
            "description": "OK"
          }
        }
      },
      "get": {
        "x-auth-type": "Application & Application User",
        "summary": "Returns information about the API call",
        "x-throttling-tier": "Unlimited",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Acting-For",
            "type": "string",
            "required": false,
            "in": "header"
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/echoResponse"
            },
            "description": "OK"
          }
        }
      },
      "delete": {
        "x-auth-type": "Application & Application User",
        "summary": "Returns information about the API call",
        "x-throttling-tier": "Unlimited",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/echoResponse"
            },
            "description": "OK"
          }
        }
      },
      "head": {
        "x-auth-type": "Application & Application User",
        "summary": "Returns information about the API call",
        "x-throttling-tier": "Unlimited",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/echoResponse"
            },
            "description": "OK"
          }
        }
      },
      "patch": {
        "x-auth-type": "Application & Application User",
        "summary": "Returns information about the API call",
        "x-throttling-tier": "Unlimited",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/echoResponse"
            },
            "description": "OK"
          }
        }
      },
      "options": {
        "x-auth-type": "Application & Application User",
        "summary": "Returns information about the API call",
        "x-throttling-tier": "Unlimited",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/echoResponse"
            },
            "description": "OK"
          }
        }
      }
    }
  },
  "swagger": "2.0",
  "definitions": {
    "echoResponse": {
      "properties": {
        "headers": {
          "additionalProperties": {
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "description": "The HTTP headers sent in the request to the endpoint",
          "example": {
            "X-Forwarded-For": [
              "127.0.0.1"
            ],
            "Accept": [
              "text/html"
            ]
          },
          "type": "object"
        },
        "body": {
          "description": "A string representation of the body of the request",
          "type": "string"
        },
        "path": {
          "description": "The path called after the echo path",
          "type": "string"
        },
        "sourceIP": {
          "description": "The IP address of the requester",
          "type": "string"
        },
        "method": {
          "description": "The HTTP method used to call the endpoint",
          "type": "string"
        },
        "rawPath": {
          "description": "The path including query parameters",
          "type": "string"
        }
      },
      "type": "object"
    }
  },
  "info": {
    "title": "Echo",
    "description": "A simple webservice used for debugging API calls",
    "x-wso2-information": {
      "provider": "BYU/bcwinter"
    },
    "version": "test"
  },
  "host": "api.byu.edu:443"
}