{
    "basePath": "/domains/erp/hr/forms/v1",
    "paths": {
        "/{form_id}": {
            "get": {
                "x-auth-type": "Application & Application User",
                "summary": "Get an eForm based on the eForm Id",
                "x-throttling-tier": "Unlimited",
                "description": "Get eForms from HR based on the eForm Id",
                "parameters": [
                    {
                        "pattern": "^[0-9]{12}$",
                        "description": "eForm Id (e.g 1513972)",
                        "name": "form_id",
                        "type": "string",
                        "required": true,
                        "in": "path"
                    }
                ],
                "responses": {
                    "200": {
                        "schema": {
                            "$ref": "#/definitions/form"
                        },
                        "description": "Form found.",
                        "examples": {
                            "application/json": {
                                "form_type": "HIRE",
                                "effective_date": "2017-12-23",
                                "byu_id": "123456789",
                                "form_status": "H",
                                "form_id": "1513972",
                                "hr_empl_class_code": "S",
                                "form_status_descr": "On Hold"
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/responses/400"
                    },
                    "401": {
                        "$ref": "#/responses/401"
                    },
                    "403": {
                        "$ref": "#/responses/403"
                    },
                    "404": {
                        "$ref": "#/responses/404"
                    },
                    "500": {
                        "$ref": "#/responses/500"
                    },
                    "504": {
                        "$ref": "#/responses/504"
                    },
                    "default": {
                        "$ref": "#/responses/default"
                    }
                }
            }
        },
        "/*": {
            "get": {
                "x-auth-type": "Application & Application User",
                "summary": "Get eForms based on the BYU Id",
                "x-throttling-tier": "Unlimited",
                "description": "Get eForms from HR based on BYU Id, and an optional Form Type, to narrow down the results",
                "parameters": [
                    {
                        "pattern": "^[0-9]{9}$",
                        "description": "BYU Id of the individual",
                        "name": "byu_id",
                        "type": "string",
                        "required": true,
                        "in": "query"
                    },
                    {
                        "description": "The optional Form Type to restrict Results to",
                        "name": "form_type",
                        "enum": [
                            "HIRE",
                            "TERMINATE",
                            "JOBCHANGE",
                            "LEAVE",
                            "SUPCOMP",
                            "RESEARCH",
                            "I9",
                            "I9_2013"
                        ],
                        "type": "string",
                        "required": false,
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "schema": {
                            "$ref": "#/definitions/forms"
                        },
                        "description": "Successfully returned form(s)",
                        "examples": {
                            "application/json": [
                                {
                                    "form_type": "HIRE",
                                    "effective_date": "2014-06-26",
                                    "byu_id": "123456789",
                                    "form_status": "E",
                                    "form_id": "1052840",
                                    "hr_empl_class_code": "S",
                                    "form_status_descr": "Executed"
                                },
                                {
                                    "form_type": "HIRE",
                                    "effective_date": "2015-02-24",
                                    "byu_id": "123456789",
                                    "form_status": "E",
                                    "form_id": "1135051",
                                    "hr_empl_class_code": "S",
                                    "form_status_descr": "Executed"
                                }
                            ]
                        }
                    },
                    "400": {
                        "$ref": "#/responses/400"
                    },
                    "401": {
                        "$ref": "#/responses/401"
                    },
                    "403": {
                        "$ref": "#/responses/403"
                    },
                    "404": {
                        "$ref": "#/responses/404"
                    },
                    "500": {
                        "$ref": "#/responses/500"
                    },
                    "504": {
                        "$ref": "#/responses/504"
                    },
                    "default": {
                        "$ref": "#/responses/default"
                    }
                }
            }
        }
    },
    "host": "api.byu.edu:443",
    "schemes": [
        "https"
    ],
    "produces": [
        "application/json",
        "application/xml"
    ],
    "swagger": "2.0",
    "definitions": {
        "form": {
            "properties": {
                "form_type": {
                    "$ref": "#/definitions/form_type"
                },
                "effective_date": {
                    "$ref": "#/definitions/effective_date"
                },
                "byu_id": {
                    "$ref": "#/definitions/byu_id"
                },
                "form_status": {
                    "$ref": "#/definitions/form_status"
                },
                "form_id": {
                    "$ref": "#/definitions/form_id"
                },
                "hr_empl_class_code": {
                    "$ref": "#/definitions/hr_empl_class_code"
                },
                "form_status_descr": {
                    "$ref": "#/definitions/form_status_descr"
                }
            }
        },
        "form_type": {
            "enum": [
                "HIRE",
                "TERMINATE",
                "JOBCHANGE",
                "LEAVE",
                "SUPCOMP",
                "RESEARCH",
                "I9",
                "I9_2013"
            ],
            "type": "string"
        },
        "error": {
            "type": "string"
        },
        "form_status": {
            "maxLength": 1,
            "minLength": 1,
            "type": "string"
        },
        "effective_date": {
            "format": "date",
            "type": "string"
        },
        "byu_id": {
            "pattern": "^[0-9]{9}$",
            "type": "string"
        },
        "form_id": {
            "pattern": "[0-9]{1,12}",
            "type": "string"
        },
        "hr_empl_class_code": {
            "pattern": "[A-Z]|[0-9]",
            "type": "string"
        },
        "form_status_descr": {
            "type": "string"
        },
        "forms": {
            "items": {
                "$ref": "#/definitions/form"
            },
            "type": "array"
        },
        "error_response": {
            "properties": {
                "status": {
                    "$ref": "#/definitions/error"
                }
            }
        }
    },
    "responses": {
        "400": {
            "schema": {
                "$ref": "#/definitions/error_response"
            },
            "description": "Invalid Request - unable to interpret request",
            "examples": {
                "application/json": {
                    "error": "Either form_id or byu_id is required. Neither was supplied."
                }
            }
        },
        "401": {
            "schema": {
                "$ref": "#/definitions/error_response"
            },
            "description": "Authentication required to access data"
        },
        "403": {
            "description": "User does not have security to view form"
        },
        "404": {
            "schema": {
                "$ref": "#/definitions/error_response"
            },
            "description": "Form not Found",
            "examples": {
                "application/json": {
                    "error_message": "The form id you specified is not associated with a form."
                }
            }
        },
        "500": {
            "schema": {
                "$ref": "#/definitions/error_response"
            },
            "description": "Internal Server Error - Error occurred that wasn't the user's fault"
        },
        "504": {
            "schema": {
                "$ref": "#/definitions/error_response"
            },
            "description": "Gateway Timeout"
        },
        "default": {
            "schema": {
                "$ref": "#/definitions/error_response"
            },
            "description": "Unexpected error"
        }
    },
    "info": {
        "title": "eForms",
        "description": "API for getting information about eForms",
        "version": "v1"
    }
}