{
    "basePath": "/domains/erp/hr/events/v1",
    "host": "api.byu.edu:443",
    "paths": {
        "/{event_id}": {
            "get": {
                "summary": "Get an Event based on its Event Id",
                "x-auth-type": "Application & Application User",
                "x-throttling-tier": "Unlimited",
                "description": "Get events from the HR Event Hub Log",
                "parameters": [
                    {
                        "pattern": "[0-9]{19}",
                        "description": "Event Id (e.g 2018012307151706401)",
                        "name": "event_id",
                        "required": true,
                        "type": "string",
                        "in": "path"
                    }
                ],
                "responses": {
                    "200": {
                        "schema": {
                            "$ref": "#/definitions/event"
                        },
                        "description": "Event found.",
                        "examples": {
                            "application/json": {
                                "body": {
                                    "byu_id": "999999999",
                                    "updated_by": "jeyre",
                                    "effective_date": "2017-09-01",
                                    "net_id": "jschmo"
                                },
                                "event_header": {
                                    "source_dt": "2018-02-01T12:03:34.000000-07:00",
                                    "source_id": "HR",
                                    "event_type": "Address Changed",
                                    "domain": "edu.byu",
                                    "event_id": "2018020112033407901"
                                },
                                "filters": [
                                    {
                                        "filter_name": "hr_empl_class_code",
                                        "filter_value": "S"
                                    },
                                    {
                                        "filter_name": "department",
                                        "filter_value": "1234"
                                    }
                                ]
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/responses/400"
                    },
                    "401": {
                        "$ref": "#/responses/401"
                    },
                    "403": {
                        "$ref": "#/responses/403"
                    },
                    "404": {
                        "$ref": "#/responses/404"
                    },
                    "500": {
                        "$ref": "#/responses/500"
                    },
                    "504": {
                        "$ref": "#/responses/504"
                    },
                    "default": {
                        "$ref": "#/responses/default"
                    }
                }
            }
        }
    },
    "schemes": [
        "https"
    ],
    "produces": [
        "application/json",
        "application/xml"
    ],
    "swagger": "2.0",
    "definitions": {
        "body": {
            "properties": {
                "previous_sequence_number": {
                    "$ref": "#/definitions/sequence_number"
                },
                "punch_type": {
                    "$ref": "#/definitions/punch_type"
                },
                "event_id": {
                    "$ref": "#/definitions/event_id"
                },
                "previous_punch_type": {
                    "$ref": "#/definitions/punch_type"
                },
                "net_id": {
                    "$ref": "#/definitions/net_id"
                },
                "previous_punch_time": {
                    "$ref": "#/definitions/punch_time"
                },
                "sequence_number": {
                    "$ref": "#/definitions/sequence_number"
                },
                "punch_time": {
                    "$ref": "#/definitions/punch_time"
                },
                "callback": {
                    "$ref": "#/definitions/callback"
                },
                "updated_by": {
                    "$ref": "#/definitions/net_id"
                },
                "effective_date": {
                    "$ref": "#/definitions/effective_date"
                },
                "employee_record_number": {
                    "$ref": "#/definitions/employee_record_number"
                },
                "byu_id": {
                    "$ref": "#/definitions/byu_id"
                },
                "form_id": {
                    "$ref": "#/definitions/form_id"
                },
                "previous_punch_date": {
                    "$ref": "#/definitions/punch_date"
                },
                "punch_date": {
                    "$ref": "#/definitions/punch_date"
                }
            }
        },
        "event_header": {
            "properties": {
                "source_dt": {
                    "format": "date-time",
                    "type": "string"
                },
                "source_id": {
                    "pattern": "HR",
                    "type": "string"
                },
                "event_type": {
                    "type": "string"
                },
                "domain": {
                    "type": "string"
                },
                "event_id": {
                    "$ref": "#/definitions/event_id"
                }
            }
        },
        "error": {
            "type": "string"
        },
        "punch_type": {
            "pattern": "In|Out",
            "type": "string"
        },
        "event_id": {
            "pattern": "[0-9]{19}",
            "type": "string"
        },
        "net_id": {
            "pattern": "[a-z][a-z0-9]{0,8}$",
            "type": "string"
        },
        "error_response": {
            "properties": {
                "status": {
                    "$ref": "#/definitions/error"
                }
            }
        },
        "sequence_number": {
            "pattern": "[0-9]{1-15}",
            "type": "string"
        },
        "punch_time": {
            "format": "time",
            "type": "string"
        },
        "event_not_found": {
            "properties": {
                "error": {
                    "properties": {
                        "error_message": {
                            "description": "Error message",
                            "minLength": 21,
                            "type": "string"
                        }
                    }
                }
            }
        },
        "event": {
            "properties": {
                "body": {
                    "$ref": "#/definitions/body"
                },
                "event_header": {
                    "$ref": "#/definitions/event_header"
                },
                "filters": {
                    "$ref": "#/definitions/filters"
                }
            }
        },
        "callback": {
            "format": "uri",
            "type": "string"
        },
        "effective_date": {
            "format": "date",
            "type": "string"
        },
        "byu_id": {
            "pattern": "^[0-9]{9}$",
            "type": "string"
        },
        "employee_record_number": {
            "type": "integer"
        },
        "form_id": {
            "pattern": "[0-9]{1,12}",
            "type": "string"
        },
        "punch_date": {
            "format": "date",
            "type": "string"
        },
        "filter": {
            "properties": {
                "filter_name": {
                    "type": "string"
                },
                "filter_value": {
                    "type": "string"
                }
            }
        },
        "filters": {
            "items": {
                "$ref": "#/definitions/filter"
            },
            "type": "array"
        }
    },
    "responses": {
        "400": {
            "schema": {
                "$ref": "#/definitions/error_response"
            },
            "description": "Invalid Request - unable to interpret request",
            "examples": {
                "application/json": {
                    "error": "The sequence number has to be greater than zero."
                }
            }
        },
        "401": {
            "schema": {
                "$ref": "#/definitions/error_response"
            },
            "description": "Authentication required to access data"
        },
        "403": {
            "description": "Access denied to protected data"
        },
        "404": {
            "schema": {
                "$ref": "#/definitions/event_not_found"
            },
            "description": "Event not Found",
            "examples": {
                "application/json": {
                    "error_message": "Event Id (2018020112033407801) Not found"
                }
            }
        },
        "500": {
            "schema": {
                "$ref": "#/definitions/error_response"
            },
            "description": "Internal Server Error - Error occurred that wasn't the user's fault"
        },
        "504": {
            "schema": {
                "$ref": "#/definitions/error_response"
            },
            "description": "Gateway Timeout"
        },
        "default": {
            "schema": {
                "$ref": "#/definitions/error_response"
            },
            "description": "Unexpected error"
        }
    },
    "info": {
        "title": "Events",
        "description": "API for getting information about events",
        "version": "v1"
    }
}