{
    "basePath": "/domains/legacy/financialAid/FATermBuild/v1",
    "paths": {
        "/documentation": {
            "get": {
                "x-auth-type": "Application & Application User",
                "summary": "service definition",
                "x-throttling-tier": "Unlimited",
                "description": "service definition",
                "responses": {
                    "200": {
                        "schema": {
                            "type": "string"
                        },
                        "description": "Success"
                    }
                },
                "operationId": "getServiceDocumentation"
            }
        },
        "/{byu_id}/{aid_year}": {
            "get": {
                "summary": "Build FA Term",
                "x-auth-type": "Application & Application User",
                "x-throttling-tier": "Unlimited",
                "parameters": [
                    {
                        "name": "byu_id",
                        "type": "string",
                        "required": true,
                        "in": "path"
                    },
                    {
                        "name": "aid_year",
                        "type": "string",
                        "required": true,
                        "in": "path"
                    }
                ],
                "responses": {
                    "200": {
                        "schema": {
                            "type": "string"
                        },
                        "description": "Service request is OK and a response has been generated."
                    },
                    "400": {
                        "schema": {
                            "type": "string"
                        },
                        "description": "There appears to be a syntax error in the composition of the service request. The response structure may contain information about the error. If the base URI or service request URI is invalid, any response will come as an HTTP response."
                    },
                    "403": {
                        "schema": {
                            "type": "string"
                        },
                        "description": "The user does not have access to the resource."
                    },
                    "404": {
                        "schema": {
                            "type": "string"
                        },
                        "description": "The target resource can not be found for the provided resource identifiers."
                    },
                    "405": {
                        "schema": {
                            "type": "string"
                        },
                        "description": "The service method is not supported by the service."
                    },
                    "409": {
                        "schema": {
                            "type": "string"
                        },
                        "description": "A conflict has occurred. The response structure may contain information about the conflict."
                    },
                    "500": {
                        "schema": {
                            "type": "string"
                        },
                        "description": "An error occurred generating the response to the service request. This is strictly a server error and not an application error."
                    }
                },
                "operationId": "CalculateTuition"
            }
        }
    },
    "host": "api.byu.edu:443",
    "swagger": "2.0",
    "info": {
        "title": "FATermBuild",
        "description": "Build Financial Aid Term Record for a Student and Aid Year",
        "version": "v1"
    }
}