{
    "paths": {
        "/refloat/{endpoint}": {
            "post": {
                "x-auth-type": "Application & Application User",
                "x-throttling-tier": "Unlimited",
                "parameters": [
                    {
                        "schema": {
                            "type": "object"
                        },
                        "description": "Request Body",
                        "name": "Payload",
                        "required": false,
                        "in": "body"
                    }
                ],
                "responses": {
                    "200": {}
                }
            },
            "parameters": [
                {
                    "description": "Name of the Endpoint",
                    "name": "endpoint",
                    "required": true,
                    "type": "string",
                    "in": "path"
                }
            ]
        },
        "/rebuild/{endpoint}": {
            "post": {
                "x-auth-type": "Application & Application User",
                "x-throttling-tier": "Unlimited",
                "parameters": [
                    {
                        "schema": {
                            "type": "object"
                        },
                        "description": "Request Body",
                        "name": "Payload",
                        "required": false,
                        "in": "body"
                    }
                ],
                "responses": {
                    "200": {}
                }
            },
            "parameters": [
                {
                    "description": "Name of the Endpoint",
                    "name": "endpoint",
                    "required": true,
                    "type": "string",
                    "in": "path"
                }
            ]
        },
        "/deploy/{endpoint}": {
            "post": {
                "x-auth-type": "Application & Application User",
                "x-throttling-tier": "Unlimited",
                "parameters": [
                    {
                        "schema": {
                            "type": "object"
                        },
                        "description": "Request Body",
                        "name": "Payload",
                        "required": false,
                        "in": "body"
                    }
                ],
                "responses": {
                    "200": {}
                }
            },
            "parameters": [
                {
                    "description": "Name of the Endpoint",
                    "name": "endpoint",
                    "required": true,
                    "type": "string",
                    "in": "path"
                }
            ]
        }
    },
    "swagger": "2.0",
    "info": {
        "title": "flight-deck",
        "version": "v2"
    },
    "basePath": "/domains/av/flight-deck/v2",
    "host": "api.byu.edu:443"
}