{
    "basePath": "/byuoitav-ftp-microservice/0.1",
    "host": "api.byu.edu:443",
    "paths": {
        "/health": {
            "get": {
                "summary": "Check Service Health",
                "tags": [
                    "Health"
                ],
                "description": "Returns information about the microservice's health.",
                "responses": {
                    "200": {
                        "schema": {
                            "items": {
                                "$ref": "#/definitions/response"
                            },
                            "type": "array"
                        },
                        "description": "A health message"
                    },
                    "401": {
                        "$ref": "#/responses/401"
                    },
                    "500": {
                        "$ref": "#/responses/500"
                    },
                    "503": {
                        "$ref": "#/responses/503"
                    },
                    "default": {
                        "$ref": "#/responses/default"
                    }
                }
            }
        },
        "/send": {
            "post": {
                "summary": "Send a File",
                "tags": [
                    "FTP"
                ],
                "description": "Send a file through the FTP microservice.",
                "parameters": [
                    {
                        "schema": {
                            "$ref": "#/definitions/file-request"
                        },
                        "description": "Information about the file to be sent over FTP",
                        "name": "body",
                        "required": true,
                        "in": "body"
                    }
                ],
                "responses": {
                    "201": {
                        "schema": {
                            "$ref": "#/definitions/response"
                        },
                        "description": "All went well"
                    },
                    "401": {
                        "$ref": "#/responses/401"
                    },
                    "500": {
                        "$ref": "#/responses/500"
                    },
                    "503": {
                        "$ref": "#/responses/503"
                    },
                    "default": {
                        "$ref": "#/responses/default"
                    }
                }
            },
            "get": {
                "summary": "Use Microservice",
                "tags": [
                    "FTP"
                ],
                "description": "Returns information about the /send endpoint.",
                "responses": {
                    "200": {
                        "schema": {
                            "items": {
                                "$ref": "#/definitions/response"
                            },
                            "type": "array"
                        },
                        "description": "Endpoint information"
                    },
                    "401": {
                        "$ref": "#/responses/401"
                    },
                    "500": {
                        "$ref": "#/responses/500"
                    },
                    "503": {
                        "$ref": "#/responses/503"
                    },
                    "default": {
                        "$ref": "#/responses/default"
                    }
                }
            }
        }
    },
    "schemes": [
        "https"
    ],
    "produces": [
        "application/json"
    ],
    "swagger": "2.0",
    "definitions": {
        "response": {
            "properties": {
                "message": {
                    "description": "A human-readable message about what just happened",
                    "type": "string"
                },
                "links": {
                    "items": {
                        "$ref": "#/definitions/HATEOAS"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "file-request": {
            "properties": {
                "destinationDirectory": {
                    "description": "The directory on the receiving device, relative to root, where we will store the transferred file",
                    "type": "string"
                },
                "callbackAddress": {
                    "description": "The address to POST to upon FTP completion",
                    "type": "string"
                },
                "fileLocation": {
                    "description": "The local location of the file to be sent (must be accessible from the server running the service)",
                    "type": "string"
                },
                "callbackIdentifier": {
                    "description": "A value passed to the callback address to identify the process that was completed",
                    "type": "string"
                },
                "usernameFTP": {
                    "description": "The username to use when initiating FTP (defaults to \"anonymous\")",
                    "type": "string"
                },
                "destinationAddress": {
                    "description": "The address of the machine on the receiving end of the FTP connection",
                    "type": "string"
                },
                "passwordFTP": {
                    "description": "The password to use when initiating FTP (defaults to \"anonymous\")",
                    "type": "string"
                },
                "filename": {
                    "description": "The name of the file in question",
                    "type": "string"
                },
                "timeout": {
                    "description": "The amount of time, in seconds, to wait for the destination device to respond to a request to open an FTP connection (defaults to 30)",
                    "type": "integer"
                }
            },
            "type": "object",
            "required": [
                "destinationAddress",
                "destinationDirectory",
                "fileLocation",
                "filename",
                "callbackAddress"
            ]
        },
        "error": {
            "properties": {
                "message": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "HATEOAS": {
            "properties": {
                "rel": {
                    "description": "A human-readable name for what the link represents",
                    "type": "string"
                },
                "href": {
                    "description": "The link to the endpoint",
                    "type": "string"
                }
            },
            "type": "object"
        }
    },
    "responses": {
        "401": {
            "schema": {
                "$ref": "#/definitions/error"
            },
            "description": "You are not authorized to make that request"
        },
        "500": {
            "schema": {
                "$ref": "#/definitions/error"
            },
            "description": "There was a problem with the server on our end"
        },
        "503": {
            "schema": {
                "$ref": "#/definitions/error"
            },
            "description": "The server is overloaded, is under maintenance, or is otherwise unavailable"
        },
        "default": {
            "schema": {
                "$ref": "#/definitions/error"
            },
            "description": "Unexpected error"
        }
    },
    "info": {
        "title": "FTP Microservice",
        "description": "Send files over FTP",
        "version": "0.1"
    }
}