{
    "basePath": "/domains/erp/hr/get_timesheet/v1",
    "host": "api.byu.edu:443",
    "paths": {
        "/*": {
            "get": {
                "x-auth-type": "Application & Application User",
                "x-throttling-tier": "Unlimited",
                "description": "",
                "responses": {
                    "200": {
                        "schema": {
                            "$ref": "#/definitions/get_timesheet"
                        },
                        "description": "The default response type is JSON.  Add an Accept header with value=application/xml to return an XML response.",
                        "examples": {
                            "application/json": {
                                "timesheet": {
                                    "punch": [
                                        {
                                            "sequence_number": "1",
                                            "punch_time": "07.34.50.000000",
                                            "punch_type": "In",
                                            "employee_record": "0",
                                            "hours_worked": "1.6",
                                            "punch_date": "2017-03-26"
                                        },
                                        {
                                            "sequence_number": "2",
                                            "punch_time": "09.10.22.000000",
                                            "punch_type": "Out",
                                            "employee_record": "0",
                                            "hours_worked": "0.0001",
                                            "punch_date": "2017-03-26"
                                        },
                                        {
                                            "sequence_number": "3",
                                            "punch_time": "18.18.36.000000",
                                            "punch_type": "In",
                                            "employee_record": "0",
                                            "hours_worked": "1.4",
                                            "punch_date": "2017-03-26"
                                        },
                                        {
                                            "sequence_number": "4",
                                            "punch_time": "19.42.39.000000",
                                            "punch_type": "Out",
                                            "employee_record": "0",
                                            "hours_worked": "0.0001",
                                            "punch_date": "2017-03-26"
                                        }
                                    ],
                                    "exception": [
                                        {
                                            "exception_id": "BYUNOIN",
                                            "employee_record": "0",
                                            "punch_date": "2017-04-09",
                                            "exception_description": "'Out' punch recorded, no 'In'"
                                        },
                                        {
                                            "exception_id": "BYUNOOUT",
                                            "employee_record": "2",
                                            "punch_date": "2017-04-05",
                                            "exception_description": "'In' punch recorded, no 'Out'"
                                        }
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "schemes": [
        "https"
    ],
    "produces": [
        "application/json"
    ],
    "swagger": "2.0",
    "definitions": {
        "sequence_number": {
            "properties": {
                "value": {
                    "maxLength": 15,
                    "type": "integer"
                }
            }
        },
        "punch": {
            "properties": {
                "sequence_number": {
                    "$ref": "#/definitions/sequence_number"
                },
                "punch_time": {
                    "$ref": "#/definitions/punch_time"
                },
                "punch_type": {
                    "$ref": "#/definitions/punch_type"
                },
                "employee_record": {
                    "$ref": "#/definitions/employee_record"
                },
                "hours_worked": {
                    "$ref": "#/definitions/hours_worked"
                },
                "punch_date": {
                    "$ref": "#/definitions/punch_date"
                }
            }
        },
        "punch_time": {
            "properties": {
                "value": {
                    "format": "date-time",
                    "type": "string"
                }
            }
        },
        "get_timesheet": {
            "properties": {
                "timesheet": {
                    "$ref": "#/definitions/timesheet"
                }
            }
        },
        "exception": {
            "properties": {
                "exception_id": {
                    "$ref": "#/definitions/exception_id"
                },
                "employee_record": {
                    "$ref": "#/definitions/employee_record"
                },
                "punch_date": {
                    "$ref": "#/definitions/punch_date"
                },
                "exception_description": {
                    "$ref": "#/definitions/exception_description"
                }
            }
        },
        "punch_type": {
            "properties": {
                "value": {
                    "enum": [
                        "In",
                        "Out"
                    ],
                    "type": "string"
                }
            }
        },
        "exception_id": {
            "properties": {
                "value": {
                    "enum": [
                        "BYUNOIN",
                        "BYUNOOUT"
                    ],
                    "type": "string"
                }
            }
        },
        "employee_record": {
            "properties": {
                "value": {
                    "maxLength": 3,
                    "type": "integer"
                }
            }
        },
        "hours_worked": {
            "properties": {
                "value": {
                    "format": "double",
                    "type": "number"
                }
            }
        },
        "timesheet": {
            "properties": {
                "punch": {
                    "$ref": "#/definitions/punch"
                },
                "exception": {
                    "$ref": "#/definitions/exception"
                }
            }
        },
        "punch_date": {
            "properties": {
                "value": {
                    "format": "date",
                    "type": "string"
                }
            }
        },
        "exception_description": {
            "properties": {
                "value": {
                    "maxLength": 30,
                    "type": "string"
                }
            }
        }
    },
    "info": {
        "title": "GET_TIMESHEET",
        "description": "Self-service web service that returns Timesheet and Exception data for an employee.",
        "version": "v1"
    }
}