{
    "basePath": "/domains/erp/hr/get_timesheet2/v1",
    "paths": {
        "/*": {
            "get": {
                "x-auth-type": "Application & Application User",
                "x-throttling-tier": "Unlimited",
                "description": "",
                "parameters": [
                    {
                        "pattern": "^[0-9]{9}$",
                        "description": "BYU ID",
                        "name": "byu_id",
                        "type": "string",
                        "required": true,
                        "allowEmptyValue": false,
                        "in": "query"
                    },
                    {
                        "pattern": "^[0-9]{1,3}$",
                        "description": "Employee Record Number",
                        "name": "employee_record",
                        "required": true,
                        "type": "string",
                        "allowEmptyValue": false,
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "schema": {
                            "$ref": "#/definitions/get_timesheet"
                        },
                        "description": "Default response type is JSON",
                        "examples": {
                            "application/json": {
                                "timesheet": {
                                    "dates": [
                                        {
                                            "has_exception": "true",
                                            "date": "2017-11-05",
                                            "punches": {
                                                "punch": [
                                                    {
                                                        "sequence_number": "1",
                                                        "punch_time": "08:00:00",
                                                        "deletable_pair": "0",
                                                        "hours_worked": "0",
                                                        "clock_in": "true"
                                                    },
                                                    {
                                                        "punch_time": {},
                                                        "clock_in": "false"
                                                    }
                                                ]
                                            }
                                        },
                                        {
                                            "has_exception": "false",
                                            "date": "2017-11-06",
                                            "punches": {
                                                "punch": [
                                                    {
                                                        "sequence_number": "3",
                                                        "punch_time": "08:00:00",
                                                        "deletable_pair": "0",
                                                        "hours_worked": "2",
                                                        "clock_in": "true"
                                                    },
                                                    {
                                                        "sequence_number": "4",
                                                        "punch_time": "10:00:00",
                                                        "deletable_pair": "0",
                                                        "hours_worked": "0",
                                                        "clock_in": "false"
                                                    },
                                                    {
                                                        "sequence_number": "5",
                                                        "punch_time": "11:00:00",
                                                        "deletable_pair": "0",
                                                        "hours_worked": "0",
                                                        "clock_in": "true"
                                                    }
                                                ]
                                            }
                                        }
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "host": "api.byu.edu:443",
    "schemes": [
        "https"
    ],
    "produces": [
        "application/json"
    ],
    "swagger": "2.0",
    "definitions": {
        "sequence_number": {
            "maxLength": 15,
            "type": "integer"
        },
        "punch_time": {
            "format": "date-time",
            "type": "string"
        },
        "punch": {
            "properties": {
                "sequence_number": {
                    "$ref": "#/definitions/sequence_number"
                },
                "punch_time": {
                    "$ref": "#/definitions/punch_time"
                },
                "deletable_pair": {
                    "$ref": "#/definitions/deletable_pair"
                },
                "hours_worked": {
                    "$ref": "#/definitions/hours_worked"
                },
                "clock_in": {
                    "$ref": "#/definitions/clock_in"
                }
            }
        },
        "dates": {
            "properties": {
                "has_exception": {
                    "$ref": "#/definitions/has_exception"
                },
                "date": {
                    "$ref": "#/definitions/date"
                },
                "punches": {
                    "$ref": "#/definitions/punches"
                }
            }
        },
        "get_timesheet": {
            "properties": {
                "timesheet": {
                    "$ref": "#/definitions/timesheet"
                }
            }
        },
        "deletable_pair": {
            "description": "One of the punches in each set of punches with matching numbers can be deleted.",
            "type": "integer"
        },
        "hours_worked": {
            "format": "double",
            "type": "number"
        },
        "clock_in": {
            "description": "True for an in punch, False for an out punch.",
            "enum": [
                "true",
                "false"
            ],
            "type": "string"
        },
        "has_exception": {
            "enum": [
                "true",
                "false"
            ],
            "type": "string"
        },
        "date": {
            "description": "Date of Punch in format YYYY-MM-DD",
            "format": "date",
            "type": "string"
        },
        "timesheet": {
            "properties": {
                "dates": {
                    "$ref": "#/definitions/dates"
                }
            }
        },
        "punches": {
            "properties": {
                "punch": {
                    "$ref": "#/definitions/punch"
                }
            }
        }
    },
    "info": {
        "title": "GET_TIMESHEET2",
        "description": "Get Timesheet/Exception data for an employee.",
        "version": "v1"
    }
}