{
    "basePath": "/domains/erp/hr/get_sick_vacation/v1",
    "paths": {
        "/*": {
            "get": {
                "x-auth-type": "Application & Application User",
                "x-throttling-tier": "Unlimited",
                "description": "",
                "responses": {
                    "200": {
                        "schema": {
                            "$ref": "#/definitions/get_sick_vacation"
                        },
                        "description": "The default response type is JSON.  Add an Accept header with value=application/xml to return an XML response.",
                        "examples": {
                            "application/json": {
                                "get_sick_vacation": {
                                    "leave_data": {
                                        "name": "Geoffrey Smithson",
                                        "byu_id": "999999999",
                                        "leave_plan": [
                                            {
                                                "plan_type_descr": "Sick",
                                                "leave_accrual": [
                                                    {
                                                        "hours_adjust_unprocessed": "0",
                                                        "hours_taken_unprocessed": "0",
                                                        "hours_carryover": "136",
                                                        "leave_hours_balance": "128",
                                                        "hours_earned_ytd": "16",
                                                        "hours_taken": "0",
                                                        "hours_adjust_ytd": "0",
                                                        "accrual_process_date": "2017-02-28",
                                                        "hours_taken_ytd": "24"
                                                    },
                                                    {
                                                        "hours_adjust_unprocessed": "0",
                                                        "hours_taken_unprocessed": "24",
                                                        "hours_carryover": "136",
                                                        "leave_hours_balance": "120",
                                                        "hours_earned_ytd": "8",
                                                        "hours_taken": "0",
                                                        "hours_adjust_ytd": "0",
                                                        "accrual_process_date": "2017-01-31",
                                                        "hours_taken_ytd": "0"
                                                    }
                                                ],
                                                "plan_type": "50"
                                            },
                                            {
                                                "plan_type_descr": "Vacation",
                                                "leave_accrual": [
                                                    {
                                                        "hours_adjust_unprocessed": "0",
                                                        "hours_taken_unprocessed": "0",
                                                        "hours_carryover": "104.00001",
                                                        "leave_hours_balance": "103.333344",
                                                        "hours_earned_ytd": "29.333334",
                                                        "hours_taken": "0",
                                                        "hours_adjust_ytd": "0",
                                                        "accrual_process_date": "2017-02-28",
                                                        "hours_taken_ytd": "30"
                                                    },
                                                    {
                                                        "hours_adjust_unprocessed": "0",
                                                        "hours_taken_unprocessed": "30",
                                                        "hours_carryover": "104.00001",
                                                        "leave_hours_balance": "88.666677",
                                                        "hours_earned_ytd": "14.666667",
                                                        "hours_taken": "0",
                                                        "hours_adjust_ytd": "0",
                                                        "accrual_process_date": "2017-01-31",
                                                        "hours_taken_ytd": "0"
                                                    }
                                                ],
                                                "plan_type": "51"
                                            }
                                        ]
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "host": "api.byu.edu:443",
    "schemes": [
        "https"
    ],
    "produces": [
        "application/json"
    ],
    "swagger": "2.0",
    "definitions": {
        "hours_adjust_unprocessed": {
            "format": "double",
            "type": "number"
        },
        "hours_carryover": {
            "format": "double",
            "type": "number"
        },
        "leave_hours_balance": {
            "format": "double",
            "type": "number"
        },
        "hours_adjust_ytd": {
            "format": "double",
            "type": "number"
        },
        "plan_type_descr": {
            "enum": [
                "Sick",
                "Vacation"
            ],
            "type": "string"
        },
        "leave_accrual": {
            "properties": {
                "hours_adjust_unprocessed": {
                    "$ref": "#/definitions/hours_adjust_unprocessed"
                },
                "hours_taken_unprocessed": {
                    "$ref": "#/definitions/hours_taken_unprocessed"
                },
                "hours_carryover": {
                    "$ref": "#/definitions/hours_carryover"
                },
                "leave_hours_balance": {
                    "$ref": "#/definitions/leave_hours_balance"
                },
                "hours_earned_ytd": {
                    "$ref": "#/definitions/hours_earned_ytd"
                },
                "hours_taken": {
                    "$ref": "#/definitions/hours_taken"
                },
                "hours_adjust_ytd": {
                    "$ref": "#/definitions/hours_adjust_ytd"
                },
                "accrual_process_date": {
                    "$ref": "#/definitions/accrual_process_date"
                },
                "hours_taken_ytd": {
                    "$ref": "#/definitions/hours_taken_ytd"
                }
            }
        },
        "leave_data": {
            "properties": {
                "name": {
                    "$ref": "#/definitions/name"
                },
                "byu_id": {
                    "$ref": "#/definitions/byu_id"
                },
                "leave_plan": {
                    "$ref": "#/definitions/leave_plan"
                }
            }
        },
        "hours_taken_ytd": {
            "format": "double",
            "type": "number"
        },
        "get_sick_vacation": {
            "properties": {
                "leave_data": {
                    "$ref": "#/definitions/leave_data"
                }
            }
        },
        "hours_taken_unprocessed": {
            "format": "double",
            "type": "number"
        },
        "hours_earned_ytd": {
            "format": "double",
            "type": "number"
        },
        "hours_taken": {
            "format": "double",
            "type": "number"
        },
        "name": {
            "maxLength": 50,
            "type": "string"
        },
        "accrual_process_date": {
            "format": "date",
            "type": "string"
        },
        "byu_id": {
            "pattern": "^[0-9]{9}$",
            "type": "string"
        },
        "leave_plan": {
            "properties": {
                "plan_type_descr": {
                    "$ref": "#/definitions/plan_type_descr"
                },
                "leave_accrual": {
                    "$ref": "#/definitions/leave_accrual"
                },
                "plan_type": {
                    "$ref": "#/definitions/plan_type"
                }
            }
        },
        "plan_type": {
            "enum": [
                "50",
                "51"
            ],
            "type": "string"
        }
    },
    "info": {
        "title": "GET_SICK_VACATION",
        "description": "Self-service web service that returns a history of sick and vacation hours for the calling user.",
        "version": "v1"
    }
}