{
    "swagger": "2.0",
    "info": {
        "title": "IdentityPersonPROCodes",
        "description": "This service accesses the code sets associated with the Person (PRO) System.",
        "version": "v1"
    },
    "host": "api.byu.edu:443",
    "schemes": [
        "https"
    ],
    "basePath": "/domains/legacy/identity/person/PROcodes/v1",
    "produces": [
        "application/json",
        "application/xml"
    ],
    "paths": {
        "/*": {
            "get": {
                "summary": "shows a list of all domain names",
                "description": "shows a list of all domain names",
                "operationId": "getCodeMaintenanceDomainNameList",
                "parameters": [],
                "tags": [
                    "PROCodesService"
                ],
                "responses": {
                    "200": {
                        "description": "Returns all domains in the PRO system",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "CodeMaintenanceService": {
                                    "type": "object",
                                    "properties": {
                                        "request": {
                                            "type": "object",
                                            "properties": {
                                                "method": {
                                                    "type": "string"
                                                },
                                                "resource": {
                                                    "type": "string"
                                                },
                                                "attributes": {
                                                    "type": "string"
                                                },
                                                "status": {
                                                    "type": "integer"
                                                },
                                                "statusMessage": {
                                                    "type": "string"
                                                }
                                            }
                                        },
                                        "response": {
                                            "type": "object",
                                            "properties": {
                                                "domains": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string"
                                                    }
                                                },
                                                "Countries": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object",
                                                        "properties": {
                                                            "country_code": {
                                                                "type": "string"
                                                            },
                                                            "country": {
                                                                "type": "string"
                                                            },
                                                            "iso_code": {
                                                                "type": "string"
                                                            },
                                                            "country_phone_prefix": {
                                                                "type": "string"
                                                            },
                                                            "valid_for_citizenship": {
                                                                "type": "string"
                                                            },
                                                            "valid_for_address": {
                                                                "type": "string"
                                                            },
                                                            "valid_for_birth_country": {
                                                                "type": "string"
                                                            },
                                                            "valid_for_home_country": {
                                                                "type": "string"
                                                            },
                                                            "iso_code_3": {
                                                                "type": "string"
                                                            }
                                                        }
                                                    }
                                                },
                                                "States": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object",
                                                        "properties": {
                                                            "state_code": {
                                                                "type": "string"
                                                            },
                                                            "state": {
                                                                "type": "string"
                                                            },
                                                            "country_code": {
                                                                "type": "string"
                                                            }
                                                        }
                                                    }
                                                },
                                                "Religions": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object",
                                                        "properties": {
                                                            "religion_code": {
                                                                "type": "string"
                                                            },
                                                            "religion": {
                                                                "type": "string"
                                                            }
                                                        }
                                                    }
                                                },
                                                "List": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object",
                                                        "properties": {
                                                            "domain_name": {
                                                                "type": "string"
                                                            },
                                                            "domain_value": {
                                                                "type": "string"
                                                            },
                                                            "active_status": {
                                                                "type": "string"
                                                            },
                                                            "description": {
                                                                "type": "string"
                                                            },
                                                            "desc_15": {
                                                                "type": "string"
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        },
                        "examples": {
                            "application/json": {
                                "CodeMaintenanceService": {
                                    "request": {
                                        "method": "GET",
                                        "resource": "/json",
                                        "attributes": "",
                                        "status": 200,
                                        "statusMessage": "Service request is OK and a response has been generated."
                                    },
                                    "response": {
                                        "domains": [
                                            "Countries",
                                            "Religions",
                                            "States",
                                            "BUILDING",
                                            "LANGUAGE"
                                        ]
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "There appears to be a syntax error in the composition of the service request. The response structure may contain information about the error. If the base URI or service request URI is invalid, any response will come as an HTTP response.",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "request": {
                                    "type": "object",
                                    "properties": {
                                        "method": {
                                            "type": "string"
                                        },
                                        "resource": {
                                            "type": "string"
                                        },
                                        "attributes": {
                                            "type": "string"
                                        },
                                        "status": {
                                            "type": "integer"
                                        },
                                        "statusMessage": {
                                            "type": "string"
                                        }
                                    }
                                },
                                "errors": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "code": {
                                                "type": "string"
                                            },
                                            "name": {
                                                "type": "string"
                                            },
                                            "message": {
                                                "type": "string"
                                            },
                                            "httpStatusCode": {
                                                "type": "number"
                                            }
                                        }
                                    }
                                },
                                "response": {
                                    "type": "object",
                                    "properties": {}
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Failure to authenticate",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "request": {
                                    "type": "object",
                                    "properties": {
                                        "method": {
                                            "type": "string"
                                        },
                                        "resource": {
                                            "type": "string"
                                        },
                                        "attributes": {
                                            "type": "string"
                                        },
                                        "status": {
                                            "type": "integer"
                                        },
                                        "statusMessage": {
                                            "type": "string"
                                        }
                                    }
                                },
                                "errors": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "code": {
                                                "type": "string"
                                            },
                                            "name": {
                                                "type": "string"
                                            },
                                            "message": {
                                                "type": "string"
                                            },
                                            "httpStatusCode": {
                                                "type": "number"
                                            }
                                        }
                                    }
                                },
                                "response": {
                                    "type": "object",
                                    "properties": {}
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "The user does not have access to the resource.",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "request": {
                                    "type": "object",
                                    "properties": {
                                        "method": {
                                            "type": "string"
                                        },
                                        "resource": {
                                            "type": "string"
                                        },
                                        "attributes": {
                                            "type": "string"
                                        },
                                        "status": {
                                            "type": "integer"
                                        },
                                        "statusMessage": {
                                            "type": "string"
                                        }
                                    }
                                },
                                "errors": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "code": {
                                                "type": "string"
                                            },
                                            "name": {
                                                "type": "string"
                                            },
                                            "message": {
                                                "type": "string"
                                            },
                                            "httpStatusCode": {
                                                "type": "number"
                                            }
                                        }
                                    }
                                },
                                "response": {
                                    "type": "object",
                                    "properties": {}
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "The target resource can not be found for the provided resource identifiers.",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "request": {
                                    "type": "object",
                                    "properties": {
                                        "method": {
                                            "type": "string"
                                        },
                                        "resource": {
                                            "type": "string"
                                        },
                                        "attributes": {
                                            "type": "string"
                                        },
                                        "status": {
                                            "type": "integer"
                                        },
                                        "statusMessage": {
                                            "type": "string"
                                        }
                                    }
                                },
                                "errors": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "code": {
                                                "type": "string"
                                            },
                                            "name": {
                                                "type": "string"
                                            },
                                            "message": {
                                                "type": "string"
                                            },
                                            "httpStatusCode": {
                                                "type": "number"
                                            }
                                        }
                                    }
                                },
                                "response": {
                                    "type": "object",
                                    "properties": {}
                                }
                            }
                        }
                    },
                    "405": {
                        "description": "The service method is not supported by the service.",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "request": {
                                    "type": "object",
                                    "properties": {
                                        "method": {
                                            "type": "string"
                                        },
                                        "resource": {
                                            "type": "string"
                                        },
                                        "attributes": {
                                            "type": "string"
                                        },
                                        "status": {
                                            "type": "integer"
                                        },
                                        "statusMessage": {
                                            "type": "string"
                                        }
                                    }
                                },
                                "errors": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "code": {
                                                "type": "string"
                                            },
                                            "name": {
                                                "type": "string"
                                            },
                                            "message": {
                                                "type": "string"
                                            },
                                            "httpStatusCode": {
                                                "type": "number"
                                            }
                                        }
                                    }
                                },
                                "response": {
                                    "type": "object",
                                    "properties": {}
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "A conflict has occurred. The response structure may contain information about the conflict.",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "request": {
                                    "type": "object",
                                    "properties": {
                                        "method": {
                                            "type": "string"
                                        },
                                        "resource": {
                                            "type": "string"
                                        },
                                        "attributes": {
                                            "type": "string"
                                        },
                                        "status": {
                                            "type": "integer"
                                        },
                                        "statusMessage": {
                                            "type": "string"
                                        }
                                    }
                                },
                                "errors": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "code": {
                                                "type": "string"
                                            },
                                            "name": {
                                                "type": "string"
                                            },
                                            "message": {
                                                "type": "string"
                                            },
                                            "httpStatusCode": {
                                                "type": "number"
                                            }
                                        }
                                    }
                                },
                                "response": {
                                    "type": "object",
                                    "properties": {}
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "An error occurred generating the response to the service request. This is strictly a server error and not an application error.",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "request": {
                                    "type": "object",
                                    "properties": {
                                        "method": {
                                            "type": "string"
                                        },
                                        "resource": {
                                            "type": "string"
                                        },
                                        "attributes": {
                                            "type": "string"
                                        },
                                        "status": {
                                            "type": "integer"
                                        },
                                        "statusMessage": {
                                            "type": "string"
                                        }
                                    }
                                },
                                "errors": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "code": {
                                                "type": "string"
                                            },
                                            "name": {
                                                "type": "string"
                                            },
                                            "message": {
                                                "type": "string"
                                            },
                                            "httpStatusCode": {
                                                "type": "number"
                                            }
                                        }
                                    }
                                },
                                "response": {
                                    "type": "object",
                                    "properties": {}
                                }
                            }
                        }
                    }
                }
            }
        },
        "/{domain_name}": {
            "get": {
                "summary": "shows a list of all maintainable codes for other general categories",
                "description": "shows a list of all maintainable codes for other general categories",
                "operationId": "getCodeMaintenanceValues",
                "parameters": [
                    {
                        "name": "domain_name",
                        "description": "string -> the name of a domain of code values",
                        "type": "string",
                        "in": "path",
                        "required": true
                    }
                ],
                "tags": [
                    "PROCodesService"
                ],
                "responses": {
                    "200": {
                        "description": "Returns an individual domain with its codes.",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "CodeMaintenanceService": {
                                    "type": "object",
                                    "properties": {
                                        "request": {
                                            "type": "object",
                                            "properties": {
                                                "method": {
                                                    "type": "string"
                                                },
                                                "resource": {
                                                    "type": "string"
                                                },
                                                "attributes": {
                                                    "type": "string"
                                                },
                                                "status": {
                                                    "type": "integer"
                                                },
                                                "statusMessage": {
                                                    "type": "string"
                                                }
                                            }
                                        },
                                        "response": {
                                            "type": "object",
                                            "properties": {
                                                "domains": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string"
                                                    }
                                                },
                                                "Countries": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object",
                                                        "properties": {
                                                            "country_code": {
                                                                "type": "string"
                                                            },
                                                            "country": {
                                                                "type": "string"
                                                            },
                                                            "iso_code": {
                                                                "type": "string"
                                                            },
                                                            "country_phone_prefix": {
                                                                "type": "string"
                                                            },
                                                            "valid_for_citizenship": {
                                                                "type": "string"
                                                            },
                                                            "valid_for_address": {
                                                                "type": "string"
                                                            },
                                                            "valid_for_birth_country": {
                                                                "type": "string"
                                                            },
                                                            "valid_for_home_country": {
                                                                "type": "string"
                                                            },
                                                            "iso_code_3": {
                                                                "type": "string"
                                                            }
                                                        }
                                                    }
                                                },
                                                "States": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object",
                                                        "properties": {
                                                            "state_code": {
                                                                "type": "string"
                                                            },
                                                            "state": {
                                                                "type": "string"
                                                            },
                                                            "country_code": {
                                                                "type": "string"
                                                            }
                                                        }
                                                    }
                                                },
                                                "Religions": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object",
                                                        "properties": {
                                                            "religion_code": {
                                                                "type": "string"
                                                            },
                                                            "religion": {
                                                                "type": "string"
                                                            }
                                                        }
                                                    }
                                                },
                                                "List": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object",
                                                        "properties": {
                                                            "domain_name": {
                                                                "type": "string"
                                                            },
                                                            "domain_value": {
                                                                "type": "string"
                                                            },
                                                            "active_status": {
                                                                "type": "string"
                                                            },
                                                            "description": {
                                                                "type": "string"
                                                            },
                                                            "desc_15": {
                                                                "type": "string"
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        },
                        "examples": {
                            "application/json": {
                                "CodeMaintenanceService": {
                                    "request": {
                                        "method": "GET",
                                        "resource": "/json/Countries",
                                        "attributes": "",
                                        "status": 200,
                                        "statusMessage": "Service request is OK and a response has been generated."
                                    },
                                    "response": {
                                        "Countries": [
                                            {
                                                "country_code": "AAL",
                                                "country": "Aaland Islands",
                                                "iso_code": "AX",
                                                "country_phone_prefix": "",
                                                "valid_for_citizenship": "Y",
                                                "valid_for_address": "Y",
                                                "valid_for_birth_country": "Y",
                                                "valid_for_home_country": "Y",
                                                "iso_code_3": ""
                                            },
                                            {
                                                "country_code": "AFG",
                                                "country": "Afghanistan",
                                                "iso_code": "AF",
                                                "country_phone_prefix": "93",
                                                "valid_for_citizenship": "Y",
                                                "valid_for_address": "Y",
                                                "valid_for_birth_country": "Y",
                                                "valid_for_home_country": "Y",
                                                "iso_code_3": "AFG"
                                            }
                                        ],
                                        "Religions": [
                                            {
                                                "religion_code": "BAH",
                                                "religion": "Bahai"
                                            },
                                            {
                                                "religion_code": "BAL",
                                                "religion": "Ballai"
                                            }
                                        ],
                                        "States": [
                                            {
                                                "state_code": "ACT",
                                                "state": "Austl. Cap. Terr.",
                                                "country_code": "AUS"
                                            },
                                            {
                                                "state_code": "NSW",
                                                "state": "New South Wales",
                                                "country_code": "AUS"
                                            }
                                        ],
                                        "List": [
                                            {
                                                "domain_name": "BUILDING",
                                                "domain_value": "ALLN",
                                                "active_status": "A",
                                                "description": "Allen Hall",
                                                "desc_15": "Allen Hall"
                                            },
                                            {
                                                "domain_name": "BUILDING",
                                                "domain_value": "AKH",
                                                "active_status": "",
                                                "description": "Amanda Knight Hall",
                                                "desc_15": "Amanda Knight H"
                                            },
                                            {
                                                "domain_name": "LANGUAGE",
                                                "domain_value": "AB",
                                                "active_status": "A",
                                                "description": "Abkhazian",
                                                "desc_15": "Abkhazian"
                                            },
                                            {
                                                "domain_name": "LANGUAGE",
                                                "domain_value": "AA",
                                                "active_status": "A",
                                                "description": "Afar",
                                                "desc_15": "Afar"
                                            }
                                        ]
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "There appears to be a syntax error in the composition of the service request. The response structure may contain information about the error. If the base URI or service request URI is invalid, any response will come as an HTTP response.",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "request": {
                                    "type": "object",
                                    "properties": {
                                        "method": {
                                            "type": "string"
                                        },
                                        "resource": {
                                            "type": "string"
                                        },
                                        "attributes": {
                                            "type": "string"
                                        },
                                        "status": {
                                            "type": "integer"
                                        },
                                        "statusMessage": {
                                            "type": "string"
                                        }
                                    }
                                },
                                "errors": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "code": {
                                                "type": "string"
                                            },
                                            "name": {
                                                "type": "string"
                                            },
                                            "message": {
                                                "type": "string"
                                            },
                                            "httpStatusCode": {
                                                "type": "number"
                                            }
                                        }
                                    }
                                },
                                "response": {
                                    "type": "object",
                                    "properties": {}
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Failure to authenticate",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "request": {
                                    "type": "object",
                                    "properties": {
                                        "method": {
                                            "type": "string"
                                        },
                                        "resource": {
                                            "type": "string"
                                        },
                                        "attributes": {
                                            "type": "string"
                                        },
                                        "status": {
                                            "type": "integer"
                                        },
                                        "statusMessage": {
                                            "type": "string"
                                        }
                                    }
                                },
                                "errors": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "code": {
                                                "type": "string"
                                            },
                                            "name": {
                                                "type": "string"
                                            },
                                            "message": {
                                                "type": "string"
                                            },
                                            "httpStatusCode": {
                                                "type": "number"
                                            }
                                        }
                                    }
                                },
                                "response": {
                                    "type": "object",
                                    "properties": {}
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "The user does not have access to the resource.",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "request": {
                                    "type": "object",
                                    "properties": {
                                        "method": {
                                            "type": "string"
                                        },
                                        "resource": {
                                            "type": "string"
                                        },
                                        "attributes": {
                                            "type": "string"
                                        },
                                        "status": {
                                            "type": "integer"
                                        },
                                        "statusMessage": {
                                            "type": "string"
                                        }
                                    }
                                },
                                "errors": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "code": {
                                                "type": "string"
                                            },
                                            "name": {
                                                "type": "string"
                                            },
                                            "message": {
                                                "type": "string"
                                            },
                                            "httpStatusCode": {
                                                "type": "number"
                                            }
                                        }
                                    }
                                },
                                "response": {
                                    "type": "object",
                                    "properties": {}
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "The target resource can not be found for the provided resource identifiers.",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "request": {
                                    "type": "object",
                                    "properties": {
                                        "method": {
                                            "type": "string"
                                        },
                                        "resource": {
                                            "type": "string"
                                        },
                                        "attributes": {
                                            "type": "string"
                                        },
                                        "status": {
                                            "type": "integer"
                                        },
                                        "statusMessage": {
                                            "type": "string"
                                        }
                                    }
                                },
                                "errors": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "code": {
                                                "type": "string"
                                            },
                                            "name": {
                                                "type": "string"
                                            },
                                            "message": {
                                                "type": "string"
                                            },
                                            "httpStatusCode": {
                                                "type": "number"
                                            }
                                        }
                                    }
                                },
                                "response": {
                                    "type": "object",
                                    "properties": {}
                                }
                            }
                        }
                    },
                    "405": {
                        "description": "The service method is not supported by the service.",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "request": {
                                    "type": "object",
                                    "properties": {
                                        "method": {
                                            "type": "string"
                                        },
                                        "resource": {
                                            "type": "string"
                                        },
                                        "attributes": {
                                            "type": "string"
                                        },
                                        "status": {
                                            "type": "integer"
                                        },
                                        "statusMessage": {
                                            "type": "string"
                                        }
                                    }
                                },
                                "errors": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "code": {
                                                "type": "string"
                                            },
                                            "name": {
                                                "type": "string"
                                            },
                                            "message": {
                                                "type": "string"
                                            },
                                            "httpStatusCode": {
                                                "type": "number"
                                            }
                                        }
                                    }
                                },
                                "response": {
                                    "type": "object",
                                    "properties": {}
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "A conflict has occurred. The response structure may contain information about the conflict.",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "request": {
                                    "type": "object",
                                    "properties": {
                                        "method": {
                                            "type": "string"
                                        },
                                        "resource": {
                                            "type": "string"
                                        },
                                        "attributes": {
                                            "type": "string"
                                        },
                                        "status": {
                                            "type": "integer"
                                        },
                                        "statusMessage": {
                                            "type": "string"
                                        }
                                    }
                                },
                                "errors": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "code": {
                                                "type": "string"
                                            },
                                            "name": {
                                                "type": "string"
                                            },
                                            "message": {
                                                "type": "string"
                                            },
                                            "httpStatusCode": {
                                                "type": "number"
                                            }
                                        }
                                    }
                                },
                                "response": {
                                    "type": "object",
                                    "properties": {}
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "An error occurred generating the response to the service request. This is strictly a server error and not an application error.",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "request": {
                                    "type": "object",
                                    "properties": {
                                        "method": {
                                            "type": "string"
                                        },
                                        "resource": {
                                            "type": "string"
                                        },
                                        "attributes": {
                                            "type": "string"
                                        },
                                        "status": {
                                            "type": "integer"
                                        },
                                        "statusMessage": {
                                            "type": "string"
                                        }
                                    }
                                },
                                "errors": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "code": {
                                                "type": "string"
                                            },
                                            "name": {
                                                "type": "string"
                                            },
                                            "message": {
                                                "type": "string"
                                            },
                                            "httpStatusCode": {
                                                "type": "number"
                                            }
                                        }
                                    }
                                },
                                "response": {
                                    "type": "object",
                                    "properties": {}
                                }
                            }
                        }
                    }
                }
            }
        },
        "/delete/Countries/{country_code}/{state_code}": {
            "delete": {
                "summary": "deletes a given country",
                "description": "deletes a given country",
                "operationId": "deleteCodeMaintenanceCountries",
                "parameters": [
                    {
                        "name": "country_code",
                        "description": "string -> the code for a specific country",
                        "type": "string",
                        "in": "path",
                        "required": true
                    },
                    {
                        "name": "state_code",
                        "description": "string -> the code for a specific state inside the selected country",
                        "type": "string",
                        "in": "path",
                        "required": true
                    }
                ],
                "tags": [
                    "PROCodesService"
                ],
                "responses": {
                    "200": {
                        "description": "Service request is OK and a response has been generated.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "400": {
                        "description": "There appears to be a syntax error in the composition of the service request. The response structure may contain information about the error. If the base URI or service request URI is invalid, any response will come as an HTTP response.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "401": {
                        "description": "Failure to authenticate",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "403": {
                        "description": "The user does not have access to the resource.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "404": {
                        "description": "The target resource can not be found for the provided resource identifiers.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "405": {
                        "description": "The service method is not supported by the service.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "409": {
                        "description": "A conflict has occurred. The response structure may contain information about the conflict.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "500": {
                        "description": "An error occurred generating the response to the service request. This is strictly a server error and not an application error.",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/delete/{domain_code}/{domain_value}": {
            "delete": {
                "summary": "deletes a code value identified by a given domain code and value",
                "description": "deletes a code value identified by a given domain code and value",
                "operationId": "deleteCodeMaintenanceValues",
                "parameters": [
                    {
                        "name": "domain_code",
                        "description": "string -> the name of a domain of code values",
                        "type": "string",
                        "in": "path",
                        "required": true
                    },
                    {
                        "name": "domain_value",
                        "description": "string -> the value for a given item in the domain",
                        "type": "string",
                        "in": "path",
                        "required": true
                    }
                ],
                "tags": [
                    "PROCodesService"
                ],
                "responses": {
                    "200": {
                        "description": "Service request is OK and a response has been generated.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "400": {
                        "description": "There appears to be a syntax error in the composition of the service request. The response structure may contain information about the error. If the base URI or service request URI is invalid, any response will come as an HTTP response.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "401": {
                        "description": "Failure to authenticate",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "403": {
                        "description": "The user does not have access to the resource.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "404": {
                        "description": "The target resource can not be found for the provided resource identifiers.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "405": {
                        "description": "The service method is not supported by the service.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "409": {
                        "description": "A conflict has occurred. The response structure may contain information about the conflict.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "500": {
                        "description": "An error occurred generating the response to the service request. This is strictly a server error and not an application error.",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/documentation": {
            "get": {
                "summary": "service definition",
                "description": "service definition",
                "operationId": "getServiceDocumentation",
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "WebService": {
                                    "type": "object",
                                    "properties": {
                                        "name": {
                                            "type": "string"
                                        },
                                        "operations": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "name": {
                                                        "type": "string"
                                                    },
                                                    "description": {
                                                        "type": "string"
                                                    },
                                                    "method": {
                                                        "type": "string"
                                                    },
                                                    "path": {
                                                        "type": "string"
                                                    },
                                                    "path_identifiers": {
                                                        "type": "array",
                                                        "items": {
                                                            "type": "object",
                                                            "properties": {
                                                                "name": {
                                                                    "type": "string"
                                                                },
                                                                "type": {
                                                                    "type": "string"
                                                                },
                                                                "format": {
                                                                    "type": "string"
                                                                }
                                                            }
                                                        }
                                                    },
                                                    "query_attributes": {
                                                        "type": "array",
                                                        "items": {
                                                            "type": "object",
                                                            "properties": {
                                                                "name": {
                                                                    "type": "string"
                                                                },
                                                                "type": {
                                                                    "type": "string"
                                                                },
                                                                "format": {
                                                                    "type": "string"
                                                                },
                                                                "required": {
                                                                    "type": "string"
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        },
                                        "docErrors": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "code": {
                                                        "type": "string"
                                                    },
                                                    "name": {
                                                        "type": "string"
                                                    },
                                                    "message": {
                                                        "type": "string"
                                                    },
                                                    "httpStatusCode": {
                                                        "type": "number"
                                                    }
                                                }
                                            }
                                        },
                                        "httpStatusCodes": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "code": {
                                                        "type": "integer"
                                                    },
                                                    "message": {
                                                        "type": "string"
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "ErrorResponse": {
            "type": "object",
            "properties": {
                "request": {
                    "type": "object",
                    "properties": {
                        "method": {
                            "type": "string"
                        },
                        "resource": {
                            "type": "string"
                        },
                        "attributes": {
                            "type": "string"
                        },
                        "status": {
                            "type": "integer"
                        },
                        "statusMessage": {
                            "type": "string"
                        }
                    }
                },
                "errors": {
                    "type": "array",
                    "items": {
                        "type": "object",
                        "properties": {
                            "code": {
                                "type": "string"
                            },
                            "name": {
                                "type": "string"
                            },
                            "message": {
                                "type": "string"
                            },
                            "httpStatusCode": {
                                "type": "number"
                            }
                        }
                    }
                },
                "response": {
                    "type": "object",
                    "properties": {}
                }
            }
        },
        "errors": {
            "type": "array",
            "items": {
                "type": "object",
                "properties": {
                    "code": {
                        "type": "string"
                    },
                    "name": {
                        "type": "string"
                    },
                    "message": {
                        "type": "string"
                    },
                    "httpStatusCode": {
                        "type": "number"
                    }
                }
            }
        },
        "error_data": {
            "type": "object",
            "properties": {
                "code": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "message": {
                    "type": "string"
                },
                "httpStatusCode": {
                    "type": "number"
                }
            }
        },
        "DomainsService": {
            "type": "object",
            "properties": {
                "CodeMaintenanceService": {
                    "type": "object",
                    "properties": {
                        "request": {
                            "type": "object",
                            "properties": {
                                "method": {
                                    "type": "string"
                                },
                                "resource": {
                                    "type": "string"
                                },
                                "attributes": {
                                    "type": "string"
                                },
                                "status": {
                                    "type": "integer"
                                },
                                "statusMessage": {
                                    "type": "string"
                                }
                            }
                        },
                        "response": {
                            "type": "object",
                            "properties": {
                                "domains": {
                                    "type": "array",
                                    "items": {
                                        "type": "string"
                                    }
                                },
                                "Countries": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "country_code": {
                                                "type": "string"
                                            },
                                            "country": {
                                                "type": "string"
                                            },
                                            "iso_code": {
                                                "type": "string"
                                            },
                                            "country_phone_prefix": {
                                                "type": "string"
                                            },
                                            "valid_for_citizenship": {
                                                "type": "string"
                                            },
                                            "valid_for_address": {
                                                "type": "string"
                                            },
                                            "valid_for_birth_country": {
                                                "type": "string"
                                            },
                                            "valid_for_home_country": {
                                                "type": "string"
                                            },
                                            "iso_code_3": {
                                                "type": "string"
                                            }
                                        }
                                    }
                                },
                                "States": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "state_code": {
                                                "type": "string"
                                            },
                                            "state": {
                                                "type": "string"
                                            },
                                            "country_code": {
                                                "type": "string"
                                            }
                                        }
                                    }
                                },
                                "Religions": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "religion_code": {
                                                "type": "string"
                                            },
                                            "religion": {
                                                "type": "string"
                                            }
                                        }
                                    }
                                },
                                "List": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "domain_name": {
                                                "type": "string"
                                            },
                                            "domain_value": {
                                                "type": "string"
                                            },
                                            "active_status": {
                                                "type": "string"
                                            },
                                            "description": {
                                                "type": "string"
                                            },
                                            "desc_15": {
                                                "type": "string"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "request": {
            "type": "object",
            "properties": {
                "method": {
                    "type": "string"
                },
                "resource": {
                    "type": "string"
                },
                "attributes": {
                    "type": "string"
                },
                "status": {
                    "type": "integer"
                },
                "statusMessage": {
                    "type": "string"
                }
            }
        },
        "response": {
            "type": "object",
            "properties": {
                "domains": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                },
                "Countries": {
                    "type": "array",
                    "items": {
                        "type": "object",
                        "properties": {
                            "country_code": {
                                "type": "string"
                            },
                            "country": {
                                "type": "string"
                            },
                            "iso_code": {
                                "type": "string"
                            },
                            "country_phone_prefix": {
                                "type": "string"
                            },
                            "valid_for_citizenship": {
                                "type": "string"
                            },
                            "valid_for_address": {
                                "type": "string"
                            },
                            "valid_for_birth_country": {
                                "type": "string"
                            },
                            "valid_for_home_country": {
                                "type": "string"
                            },
                            "iso_code_3": {
                                "type": "string"
                            }
                        }
                    }
                },
                "States": {
                    "type": "array",
                    "items": {
                        "type": "object",
                        "properties": {
                            "state_code": {
                                "type": "string"
                            },
                            "state": {
                                "type": "string"
                            },
                            "country_code": {
                                "type": "string"
                            }
                        }
                    }
                },
                "Religions": {
                    "type": "array",
                    "items": {
                        "type": "object",
                        "properties": {
                            "religion_code": {
                                "type": "string"
                            },
                            "religion": {
                                "type": "string"
                            }
                        }
                    }
                },
                "List": {
                    "type": "array",
                    "items": {
                        "type": "object",
                        "properties": {
                            "domain_name": {
                                "type": "string"
                            },
                            "domain_value": {
                                "type": "string"
                            },
                            "active_status": {
                                "type": "string"
                            },
                            "description": {
                                "type": "string"
                            },
                            "desc_15": {
                                "type": "string"
                            }
                        }
                    }
                }
            }
        },
        "domains": {
            "type": "array",
            "items": {
                "type": "string"
            }
        },
        "Countries": {
            "type": "array",
            "items": {
                "type": "object",
                "properties": {
                    "country_code": {
                        "type": "string"
                    },
                    "country": {
                        "type": "string"
                    },
                    "iso_code": {
                        "type": "string"
                    },
                    "country_phone_prefix": {
                        "type": "string"
                    },
                    "valid_for_citizenship": {
                        "type": "string"
                    },
                    "valid_for_address": {
                        "type": "string"
                    },
                    "valid_for_birth_country": {
                        "type": "string"
                    },
                    "valid_for_home_country": {
                        "type": "string"
                    },
                    "iso_code_3": {
                        "type": "string"
                    }
                }
            }
        },
        "States": {
            "type": "array",
            "items": {
                "type": "object",
                "properties": {
                    "state_code": {
                        "type": "string"
                    },
                    "state": {
                        "type": "string"
                    },
                    "country_code": {
                        "type": "string"
                    }
                }
            }
        },
        "Religions": {
            "type": "array",
            "items": {
                "type": "object",
                "properties": {
                    "religion_code": {
                        "type": "string"
                    },
                    "religion": {
                        "type": "string"
                    }
                }
            }
        },
        "List": {
            "type": "array",
            "items": {
                "type": "object",
                "properties": {
                    "domain_name": {
                        "type": "string"
                    },
                    "domain_value": {
                        "type": "string"
                    },
                    "active_status": {
                        "type": "string"
                    },
                    "description": {
                        "type": "string"
                    },
                    "desc_15": {
                        "type": "string"
                    }
                }
            }
        },
        "documentation": {
            "type": "object",
            "properties": {
                "WebService": {
                    "type": "object",
                    "properties": {
                        "name": {
                            "type": "string"
                        },
                        "operations": {
                            "type": "array",
                            "items": {
                                "type": "object",
                                "properties": {
                                    "name": {
                                        "type": "string"
                                    },
                                    "description": {
                                        "type": "string"
                                    },
                                    "method": {
                                        "type": "string"
                                    },
                                    "path": {
                                        "type": "string"
                                    },
                                    "path_identifiers": {
                                        "type": "array",
                                        "items": {
                                            "type": "object",
                                            "properties": {
                                                "name": {
                                                    "type": "string"
                                                },
                                                "type": {
                                                    "type": "string"
                                                },
                                                "format": {
                                                    "type": "string"
                                                }
                                            }
                                        }
                                    },
                                    "query_attributes": {
                                        "type": "array",
                                        "items": {
                                            "type": "object",
                                            "properties": {
                                                "name": {
                                                    "type": "string"
                                                },
                                                "type": {
                                                    "type": "string"
                                                },
                                                "format": {
                                                    "type": "string"
                                                },
                                                "required": {
                                                    "type": "string"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        },
                        "docErrors": {
                            "type": "array",
                            "items": {
                                "type": "object",
                                "properties": {
                                    "code": {
                                        "type": "string"
                                    },
                                    "name": {
                                        "type": "string"
                                    },
                                    "message": {
                                        "type": "string"
                                    },
                                    "httpStatusCode": {
                                        "type": "number"
                                    }
                                }
                            }
                        },
                        "httpStatusCodes": {
                            "type": "array",
                            "items": {
                                "type": "object",
                                "properties": {
                                    "code": {
                                        "type": "integer"
                                    },
                                    "message": {
                                        "type": "string"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "operations": {
            "type": "array",
            "items": {
                "type": "object",
                "properties": {
                    "name": {
                        "type": "string"
                    },
                    "description": {
                        "type": "string"
                    },
                    "method": {
                        "type": "string"
                    },
                    "path": {
                        "type": "string"
                    },
                    "path_identifiers": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "properties": {
                                "name": {
                                    "type": "string"
                                },
                                "type": {
                                    "type": "string"
                                },
                                "format": {
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "query_attributes": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "properties": {
                                "name": {
                                    "type": "string"
                                },
                                "type": {
                                    "type": "string"
                                },
                                "format": {
                                    "type": "string"
                                },
                                "required": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "docErrors": {
            "type": "array",
            "items": {
                "type": "object",
                "properties": {
                    "code": {
                        "type": "integer"
                    },
                    "name": {
                        "type": "string"
                    },
                    "message": {
                        "type": "string"
                    },
                    "httpStatusCode": {
                        "type": "integer"
                    }
                }
            }
        },
        "httpStatusCodes": {
            "type": "array",
            "items": {
                "type": "object",
                "properties": {
                    "code": {
                        "type": "integer"
                    },
                    "message": {
                        "type": "string"
                    }
                }
[...]
