{
    "swagger": "2.0",
    "info": {
        "title": "IdentityPersonPROPersonIds",
        "description": "PersonIdsService",
        "version": "v1"
    },
    "host": "api.byu.edu:443",
    "schemes": [
        "https"
    ],
    "basePath": "/domains/legacy/identity/person/PRO/personids/v1",
    "produces": [
        "application/json",
        "application/xml"
    ],
    "paths": {
        "/{person_id}": {
            "get": {
                "summary": "Get Identifiers",
                "description": "Get Identifiers",
                "operationId": "GetIDs",
                "parameters": [
                    {
                        "name": "person_id",
                        "description": "string -> ",
                        "type": "string",
                        "in": "path",
                        "required": true
                    }
                ],
                "tags": [
                    "PersonIdsService"
                ],
                "responses": {
                    "200": {
                        "description": "Service request is OK and a response has been generated.",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "Person Identifiers Service": {
                                    "type": "object",
                                    "properties": {
                                        "resource": {
                                            "type": "object",
                                            "properties": {
                                                "methods": {
                                                    "type": "object",
                                                    "properties": {
                                                        "options": {
                                                            "type": "array",
                                                            "items": {
                                                                "type": "string"
                                                            }
                                                        },
                                                        "adaptations": {
                                                            "type": "array",
                                                            "items": {
                                                                "type": "object",
                                                                "properties": {
                                                                    "PUT": {
                                                                        "type": "array",
                                                                        "items": {
                                                                            "type": "string"
                                                                        }
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    }
                                                },
                                                "URI": {
                                                    "type": "string"
                                                },
                                                "examples": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string"
                                                    }
                                                },
                                                "identifiers": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object",
                                                        "properties": {
                                                            "personid": {
                                                                "type": "object",
                                                                "properties": {
                                                                    "description": {
                                                                        "type": "string"
                                                                    },
                                                                    "required": {
                                                                        "type": "boolean"
                                                                    },
                                                                    "default": {
                                                                        "type": "string"
                                                                    }
                                                                }
                                                            },
                                                            "netid": {
                                                                "type": "object",
                                                                "properties": {
                                                                    "description": {
                                                                        "type": "string"
                                                                    },
                                                                    "required": {
                                                                        "type": "boolean"
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    }
                                                },
                                                "attributes": {
                                                    "type": "object",
                                                    "properties": {
                                                        "ssn": {
                                                            "type": "object",
                                                            "properties": {
                                                                "description": {
                                                                    "type": "string"
                                                                },
                                                                "required": {
                                                                    "type": "boolean"
                                                                }
                                                            }
                                                        },
                                                        "prox_id": {
                                                            "type": "object",
                                                            "properties": {
                                                                "description": {
                                                                    "type": "string"
                                                                },
                                                                "required": {
                                                                    "type": "boolean"
                                                                }
                                                            }
                                                        }
                                                    }
                                                },
                                                "note": {
                                                    "type": "string"
                                                }
                                            }
                                        },
                                        "request": {
                                            "type": "object",
                                            "properties": {
                                                "method": {
                                                    "type": "string"
                                                },
                                                "resource": {
                                                    "type": "string"
                                                },
                                                "attributes": {
                                                    "type": "string"
                                                },
                                                "status": {
                                                    "type": "string"
                                                }
                                            }
                                        },
                                        "response": {
                                            "type": "object",
                                            "properties": {
                                                "net_id": {
                                                    "type": "string"
                                                },
                                                "person_id": {
                                                    "type": "string"
                                                },
                                                "ssn": {
                                                    "type": "string"
                                                },
                                                "prox_id": {
                                                    "type": "string"
                                                },
                                                "warnings": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string"
                                                    }
                                                },
                                                "update_field_set": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string"
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        },
                        "examples": {
                            "application/json": {
                                "Person Identifiers Service": {
                                    "resource": {
                                        "methods": {
                                            "options": [
                                                "GET",
                                                "PUT"
                                            ],
                                            "adaptations": [
                                                {
                                                    "PUT": [
                                                        "Tunnel through a GET with attributes in the query string name value pairs",
                                                        "Tunnel through a POST with attributes in POST content name values pairs"
                                                    ]
                                                }
                                            ]
                                        },
                                        "URI": "/[personid|netid]",
                                        "examples": [
                                            "/",
                                            "/123456789",
                                            "/byu999"
                                        ],
                                        "identifiers": [
                                            {
                                                "personid": {
                                                    "description": "Unique identifier of an individual",
                                                    "required": false,
                                                    "default": "Identifier of authenticated individual"
                                                }
                                            },
                                            {
                                                "netid": {
                                                    "description": "Online account or network identifier of an individual",
                                                    "required": false
                                                }
                                            }
                                        ],
                                        "attributes": {
                                            "ssn": {
                                                "description": "Social Security Number of the United States of America",
                                                "required": false
                                            },
                                            "prox_id": {
                                                "description": "Unique identifier of a physical proximity card that has been issued to the individual as their ID card",
                                                "required": false
                                            }
                                        },
                                        "note": "If an attribute is not present in the PUT request, the current value in the database will be retained.  That is to say only the values that are to be changed need be present in the PUT request.  Examples: /[personid]?ssn=111224444, /[personid]?prox_id=1234567, /[personid]?ssn=111224444&prox_id=1234567"
                                    },
                                    "request": {
                                        "method": "GET",
                                        "resource": "/json/123456789",
                                        "attributes": "",
                                        "status": "200"
                                    },
                                    "response": {
                                        "net_id": "johnd",
                                        "person_id": "123456789",
                                        "ssn": "987-65-4321",
                                        "prox_id": "",
                                        "warnings": [
                                            "Non-Directory information is accessible only to yourself and to university personnel with a legitimate need to know",
                                            "No update is allowed"
                                        ],
                                        "update_field_set": [
                                            ""
                                        ]
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "There appears to be a syntax error in the composition of the service request. The response structure may contain information about the error. If the base URI or service request URI is invalid, any response will come as an HTTP response.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "401": {
                        "description": "Failure to authenticate",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "403": {
                        "description": "The user does not have access to the resource.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "404": {
                        "description": "The target resource can not be found for the provided resource identifiers.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "500": {
                        "description": "An error occurred generating the response to the service request. This is strictly a server error and not an application error.",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            },
            "put": {
                "summary": "Update a person's Identifiers",
                "description": "Update a person's Identifiers",
                "operationId": "SaveIDs",
                "parameters": [
                    {
                        "name": "person_id",
                        "description": "string -> ",
                        "type": "string",
                        "in": "path",
                        "required": true
                    },
                    {
                        "name": "ssn",
                        "description": "Social security number",
                        "type": "string",
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "prox_id",
                        "description": "prox identification",
                        "type": "string",
                        "in": "query",
                        "required": false
                    }
                ],
                "tags": [
                    "PersonIdsService"
                ],
                "responses": {
                    "200": {
                        "description": "Service request is OK and a response has been generated.",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "Person Identifiers Service": {
                                    "type": "object",
                                    "properties": {
                                        "resource": {
                                            "type": "object",
                                            "properties": {
                                                "methods": {
                                                    "type": "object",
                                                    "properties": {
                                                        "options": {
                                                            "type": "array",
                                                            "items": {
                                                                "type": "string"
                                                            }
                                                        },
                                                        "adaptations": {
                                                            "type": "array",
                                                            "items": {
                                                                "type": "object",
                                                                "properties": {
                                                                    "PUT": {
                                                                        "type": "array",
                                                                        "items": {
                                                                            "type": "string"
                                                                        }
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    }
                                                },
                                                "URI": {
                                                    "type": "string"
                                                },
                                                "examples": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string"
                                                    }
                                                },
                                                "identifiers": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object",
                                                        "properties": {
                                                            "personid": {
                                                                "type": "object",
                                                                "properties": {
                                                                    "description": {
                                                                        "type": "string"
                                                                    },
                                                                    "required": {
                                                                        "type": "boolean"
                                                                    },
                                                                    "default": {
                                                                        "type": "string"
                                                                    }
                                                                }
                                                            },
                                                            "netid": {
                                                                "type": "object",
                                                                "properties": {
                                                                    "description": {
                                                                        "type": "string"
                                                                    },
                                                                    "required": {
                                                                        "type": "boolean"
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    }
                                                },
                                                "attributes": {
                                                    "type": "object",
                                                    "properties": {
                                                        "ssn": {
                                                            "type": "object",
                                                            "properties": {
                                                                "description": {
                                                                    "type": "string"
                                                                },
                                                                "required": {
                                                                    "type": "boolean"
                                                                }
                                                            }
                                                        },
                                                        "prox_id": {
                                                            "type": "object",
                                                            "properties": {
                                                                "description": {
                                                                    "type": "string"
                                                                },
                                                                "required": {
                                                                    "type": "boolean"
                                                                }
                                                            }
                                                        }
                                                    }
                                                },
                                                "note": {
                                                    "type": "string"
                                                }
                                            }
                                        },
                                        "request": {
                                            "type": "object",
                                            "properties": {
                                                "method": {
                                                    "type": "string"
                                                },
                                                "resource": {
                                                    "type": "string"
                                                },
                                                "attributes": {
                                                    "type": "string"
                                                },
                                                "status": {
                                                    "type": "string"
                                                }
                                            }
                                        },
                                        "response": {
                                            "type": "object",
                                            "properties": {
                                                "net_id": {
                                                    "type": "string"
                                                },
                                                "person_id": {
                                                    "type": "string"
                                                },
                                                "ssn": {
                                                    "type": "string"
                                                },
                                                "prox_id": {
                                                    "type": "string"
                                                },
                                                "warnings": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string"
                                                    }
                                                },
                                                "update_field_set": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string"
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "There appears to be a syntax error in the composition of the service request. The response structure may contain information about the error. If the base URI or service request URI is invalid, any response will come as an HTTP response.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "401": {
                        "description": "Failure to authenticate",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "403": {
                        "description": "The user does not have access to the resource.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "404": {
                        "description": "The target resource can not be found for the provided resource identifiers.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "500": {
                        "description": "An error occurred generating the response to the service request. This is strictly a server error and not an application error.",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/documentation": {
            "get": {
                "summary": "service definition",
                "description": "service definition",
                "operationId": "getServiceDocumentation",
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "WebService": {
                                    "type": "object",
                                    "properties": {
                                        "name": {
                                            "type": "string"
                                        },
                                        "operations": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "name": {
                                                        "type": "string"
                                                    },
                                                    "description": {
                                                        "type": "string"
                                                    },
                                                    "method": {
                                                        "type": "string"
                                                    },
                                                    "path": {
                                                        "type": "string"
                                                    },
                                                    "path_identifiers": {
                                                        "type": "array",
                                                        "items": {
                                                            "type": "object",
                                                            "properties": {
                                                                "name": {
                                                                    "type": "string"
                                                                },
                                                                "type": {
                                                                    "type": "string"
                                                                },
                                                                "format": {
                                                                    "type": "string"
                                                                }
                                                            }
                                                        }
                                                    },
                                                    "query_attributes": {
                                                        "type": "array",
                                                        "items": {
                                                            "type": "object",
                                                            "properties": {
                                                                "name": {
                                                                    "type": "string"
                                                                },
                                                                "type": {
                                                                    "type": "string"
                                                                },
                                                                "format": {
                                                                    "type": "string"
                                                                },
                                                                "required": {
                                                                    "type": "string"
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        },
                                        "errors": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "code": {
                                                        "type": "integer"
                                                    },
                                                    "name": {
                                                        "type": "string"
                                                    },
                                                    "message": {
                                                        "type": "string"
                                                    },
                                                    "httpStatusCode": {
                                                        "type": "integer"
                                                    }
                                                }
                                            }
                                        },
                                        "httpStatusCodes": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "code": {
                                                        "type": "integer"
                                                    },
                                                    "message": {
                                                        "type": "string"
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "PersonIdsService": {
            "type": "object",
            "properties": {
                "Person Identifiers Service": {
                    "type": "object",
                    "properties": {
                        "resource": {
                            "type": "object",
                            "properties": {
                                "methods": {
                                    "type": "object",
                                    "properties": {
                                        "options": {
                                            "type": "array",
                                            "items": {
                                                "type": "string"
                                            }
                                        },
                                        "adaptations": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "PUT": {
                                                        "type": "array",
                                                        "items": {
                                                            "type": "string"
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                },
                                "URI": {
                                    "type": "string"
                                },
                                "examples": {
                                    "type": "array",
                                    "items": {
                                        "type": "string"
                                    }
                                },
                                "identifiers": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "personid": {
                                                "type": "object",
                                                "properties": {
                                                    "description": {
                                                        "type": "string"
                                                    },
                                                    "required": {
                                                        "type": "boolean"
                                                    },
                                                    "default": {
                                                        "type": "string"
                                                    }
                                                }
                                            },
                                            "netid": {
                                                "type": "object",
                                                "properties": {
                                                    "description": {
                                                        "type": "string"
                                                    },
                                                    "required": {
                                                        "type": "boolean"
                                                    }
                                                }
                                            }
                                        }
                                    }
                                },
                                "attributes": {
                                    "type": "object",
                                    "properties": {
                                        "ssn": {
                                            "type": "object",
                                            "properties": {
                                                "description": {
                                                    "type": "string"
                                                },
                                                "required": {
                                                    "type": "boolean"
                                                }
                                            }
                                        },
                                        "prox_id": {
                                            "type": "object",
                                            "properties": {
                                                "description": {
                                                    "type": "string"
                                                },
                                                "required": {
                                                    "type": "boolean"
                                                }
                                            }
                                        }
                                    }
                                },
                                "note": {
                                    "type": "string"
                                }
                            }
                        },
                        "request": {
                            "type": "object",
                            "properties": {
                                "method": {
                                    "type": "string"
                                },
                                "resource": {
                                    "type": "string"
                                },
                                "attributes": {
                                    "type": "string"
                                },
                                "status": {
                                    "type": "string"
                                }
                            }
                        },
                        "response": {
                            "type": "object",
                            "properties": {
                                "net_id": {
                                    "type": "string"
                                },
                                "person_id": {
                                    "type": "string"
                                },
                                "ssn": {
                                    "type": "string"
                                },
                                "prox_id": {
                                    "type": "string"
                                },
                                "warnings": {
                                    "type": "array",
                                    "items": {
                                        "type": "string"
                                    }
                                },
                                "update_field_set": {
                                    "type": "array",
                                    "items": {
                                        "type": "string"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "resource": {
            "type": "object",
            "properties": {
                "methods": {
                    "type": "object",
                    "properties": {
                        "options": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        },
                        "adaptations": {
                            "type": "array",
                            "items": {
                                "type": "object",
                                "properties": {
                                    "PUT": {
                                        "type": "array",
                                        "items": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "URI": {
                    "type": "string"
                },
                "examples": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                },
                "identifiers": {
                    "type": "array",
                    "items": {
                        "type": "object",
                        "properties": {
                            "personid": {
                                "type": "object",
                                "properties": {
                                    "description": {
                                        "type": "string"
                                    },
                                    "required": {
                                        "type": "boolean"
                                    },
                                    "default": {
                                        "type": "string"
                                    }
                                }
                            },
                            "netid": {
                                "type": "object",
                                "properties": {
                                    "description": {
                                        "type": "string"
                                    },
                                    "required": {
                                        "type": "boolean"
                                    }
                                }
                            }
                        }
                    }
                },
                "attributes": {
                    "type": "object",
                    "properties": {
                        "ssn": {
                            "type": "object",
                            "properties": {
                                "description": {
                                    "type": "string"
                                },
                                "required": {
                                    "type": "boolean"
                                }
                            }
                        },
                        "prox_id": {
                            "type": "object",
                            "properties": {
                                "description": {
                                    "type": "string"
                                },
                                "required": {
                                    "type": "boolean"
                                }
                            }
                        }
                    }
                },
                "note": {
                    "type": "string"
                }
            }
        },
        "request": {
            "type": "object",
            "properties": {
                "method": {
                    "type": "string"
                },
                "resource": {
                    "type": "string"
                },
                "attributes": {
                    "type": "string"
                },
                "status": {
                    "type": "string"
                }
            }
        },
        "response": {
            "type": "object",
            "properties": {
                "net_id": {
                    "type": "string"
                },
                "person_id": {
                    "type": "string"
                },
                "ssn": {
                    "type": "string"
                },
                "prox_id": {
                    "type": "string"
                },
                "warnings": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                },
                "update_field_set": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                }
            }
        },
        "warnings": {
            "type": "array",
            "items": {
                "type": "string"
            }
        },
        "update_field_set": {
            "type": "array",
            "items": {
                "type": "string"
            }
        },
        "documentation": {
            "type": "object",
            "properties": {
                "WebService": {
                    "type": "object",
                    "properties": {
                        "name": {
                            "type": "string"
                        },
                        "operations": {
                            "type": "array",
                            "items": {
                                "type": "object",
                                "properties": {
                                    "name": {
                                        "type": "string"
                                    },
                                    "description": {
                                        "type": "string"
                                    },
                                    "method": {
                                        "type": "string"
                                    },
                                    "path": {
                                        "type": "string"
                                    },
                                    "path_identifiers": {
                                        "type": "array",
                                        "items": {
                                            "type": "object",
                                            "properties": {
                                                "name": {
                                                    "type": "string"
                                                },
                                                "type": {
                                                    "type": "string"
                                                },
                                                "format": {
                                                    "type": "string"
                                                }
                                            }
                                        }
                                    },
                                    "query_attributes": {
                                        "type": "array",
                                        "items": {
                                            "type": "object",
                                            "properties": {
                                                "name": {
                                                    "type": "string"
                                                },
                                                "type": {
                                                    "type": "string"
                                                },
                                                "format": {
                                                    "type": "string"
                                                },
                                                "required": {
                                                    "type": "string"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        },
                        "errors": {
                            "type": "array",
                            "items": {
                                "type": "object",
                                "properties": {
                                    "code": {
                                        "type": "integer"
                                    },
                                    "name": {
                                        "type": "string"
                                    },
                                    "message": {
                                        "type": "string"
                                    },
                                    "httpStatusCode": {
                                        "type": "integer"
                                    }
                                }
                            }
                        },
                        "httpStatusCodes": {
                            "type": "array",
                            "items": {
                                "type": "object",
                                "properties": {
                                    "code": {
                                        "type": "integer"
                                    },
                                    "message": {
                                        "type": "string"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "operations": {
            "type": "array",
            "items": {
                "type": "object",
                "properties": {
                    "name": {
                        "type": "string"
                    },
                    "description": {
                        "type": "string"
                    },
                    "method": {
                        "type": "string"
                    },
                    "path": {
                        "type": "string"
                    },
                    "path_identifiers": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "properties": {
                                "name": {
                                    "type": "string"
                                },
                                "type": {
                                    "type": "string"
                                },
                                "format": {
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "query_attributes": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "properties": {
                                "name": {
                                    "type": "string"
                                },
                                "type": {
                                    "type": "string"
                                },
                                "format": {
                                    "type": "string"
                                },
                                "required": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "errors": {
            "type": "array",
            "items": {
                "type": "object",
                "properties": {
                    "code": {
                        "type": "integer"
                    },
                    "name": {
                        "type": "string"
                    },
                    "message": {
                        "type": "string"
                    },
                    "httpStatusCode": {
                        "type": "integer"
                    }
                }
            }
        },
        "httpStatusCodes": {
            "type": "array",
            "items": {
                "type": "object",
                "properties": {
                    "code": {
                        "type": "integer"
                    },
                    "message": {
                        "type": "string"
                    }
                }
            }
        }
    },
    "x-mock_json": {
        "PersonIdsService": {
            "Person Identifiers Service": {
                "resource": {
                    "methods": {
                        "options": [
                            "GET",
                            "PUT"
                        ],
                        "adaptations": [
                            {
                                "PUT": [
                                    "Tunnel through a GET with attributes in the query string name value pairs",
                                    "Tunnel through a POST with attributes in POST content name values pairs"
                                ]
                            }
                        ]
                    },
                    "URI": "/[personid|netid]",
                    "examples": [
                        "/",
                        "/123456789",
                        "/byu999"
                    ],
                    "identifiers": [
                        {
                            "personid": {
                                "description": "Unique identifier of an individual",
                                "required": false,
                                "default": "Identifier of authenticated individual"
                            }
                        },
                        {
                            "netid": {
                                "description": "Online account or network identifier of an individual",
                                "required": false
                            }
                        }
                    ],
                    "attributes": {
                        "ssn": {
                            "description": "Social Security Number of the United States of America",
                            "required": false
                        },
                        "prox_id": {
                            "description": "Unique identifier of a physical proximity card that has been issued to the individual as their ID card",
                            "required": false
                        }
                    },
                    "note": "If an attribute is not present in the PUT request, the current value in the database will be retained.  That is to say only the values that are to be changed need be present in the PUT request.  Examples: /[personid]?ssn=111224444, /[personid]?prox_id=1234567, /[personid]?ssn=111224444&prox_id=1234567"
                },
                "request": {
                    "method": "GET",
                    "resource": "/json/123456789",
                    "attributes": "",
                    "status": "200"
                },
                "response": {
                    "net_id": "johnd",
                    "person_id": "123456789",
                    "ssn": "987-65-4321",
                    "prox_id": "",
                    "warnings": [
                        "Non-Directory information is accessible only to yourself and to university personnel with a legitimate need to know",
                        "No update is allowed"
                    ],
                    "update_field_set": [
                        ""
                    ]
                }
            }
        }
    }
}