{
    "swagger": "2.0",
    "info": {
        "title": "IdentityPersonPersonIdCard",
        "description": "PersonIdCardService",
        "version": "v1",
        "contact": {
            "email": "it@byu.edu",
            "name": "OIT Service Desk Support",
            "url": "https://it.byu.edu"
        }
    },
    "host": "api.byu.edu:443",
    "schemes": [
        "https"
    ],
    "basePath": "/domains/legacy/identity/person/personIdCard/v1",
    "produces": [
        "application/json"
    ],
    "paths": {
        "/{person_id}": {
            "get": {
                "summary": "GET",
                "description": "Returns a person Id Card",
                "operationId": "getPersonIdCard",
                "parameters": [
                    {
                        "name": "person_id",
                        "in": "path",
                        "description": "Unique identifier of an individual",
                        "required": true,
                        "type": "string"
                    }
                ],
                "tags": [
                    "personIdCard"
                ],
                "responses": {
                    "200": {
                        "description": "A Person Id Card",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "ID Card Service": {
                                    "type": "object",
                                    "properties": {
                                        "resource": {
                                            "type": "object",
                                            "properties": {
                                                "methods": {
                                                    "type": "object",
                                                    "properties": {
                                                        "options": {
                                                            "type": "array",
                                                            "items": {
                                                                "type": "string"
                                                            }
                                                        },
                                                        "adaptations": {
                                                            "type": "array",
                                                            "items": {
                                                                "type": "object",
                                                                "properties": {
                                                                    "PUT": {
                                                                        "type": "array",
                                                                        "items": {
                                                                            "type": "string"
                                                                        }
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    }
                                                },
                                                "URI": {
                                                    "type": "string"
                                                },
                                                "examples": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string"
                                                    }
                                                },
                                                "identifiers": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object",
                                                        "properties": {
                                                            "personid": {
                                                                "type": "object",
                                                                "properties": {
                                                                    "description": {
                                                                        "type": "string"
                                                                    },
                                                                    "required": {
                                                                        "type": "boolean"
                                                                    },
                                                                    "default": {
                                                                        "type": "string"
                                                                    }
                                                                }
                                                            },
                                                            "netid": {
                                                                "type": "object",
                                                                "properties": {
                                                                    "description": {
                                                                        "type": "string"
                                                                    },
                                                                    "required": {
                                                                        "type": "boolean"
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    }
                                                },
                                                "attributes": {
                                                    "type": "object",
                                                    "properties": {
                                                        "unlisted": {
                                                            "type": "object",
                                                            "properties": {
                                                                "description": {
                                                                    "type": "string"
                                                                },
                                                                "required": {
                                                                    "type": "boolean"
                                                                },
                                                                "default": {
                                                                    "type": "string"
                                                                }
                                                            }
                                                        },
                                                        "lost_stolen": {
                                                            "type": "object",
                                                            "properties": {
                                                                "description": {
                                                                    "type": "string"
                                                                },
                                                                "required": {
                                                                    "type": "boolean"
                                                                },
                                                                "default": {
                                                                    "type": "string"
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        },
                                        "request": {
                                            "type": "object",
                                            "properties": {
                                                "method": {
                                                    "type": "string"
                                                },
                                                "resource": {
                                                    "type": "string"
                                                },
                                                "attributes": {
                                                    "type": "string"
                                                },
                                                "status": {
                                                    "type": "string"
                                                }
                                            }
                                        },
                                        "response": {
                                            "type": "object",
                                            "properties": {
                                                "photo_URL": {
                                                    "type": "string"
                                                },
                                                "card_status": {
                                                    "type": "string"
                                                },
                                                "ID_card_name": {
                                                    "type": "string"
                                                },
                                                "ID_card_role": {
                                                    "type": "string"
                                                },
                                                "byu_id": {
                                                    "type": "string"
                                                },
                                                "issue_number": {
                                                    "type": "string"
                                                },
                                                "dtf": {
                                                    "type": "boolean"
                                                },
                                                "beard": {
                                                    "type": "boolean"
                                                },
                                                "expiration_date": {
                                                    "type": "string"
                                                },
                                                "unlisted": {
                                                    "type": "boolean"
                                                },
                                                "lost_stolen": {
                                                    "type": "boolean"
                                                },
                                                "id_card_roles": {
                                                    "type": "object",
                                                    "properties": {
                                                        "current": {
                                                            "type": "object",
                                                            "properties": {
                                                                "primary_role": {
                                                                    "type": "string"
                                                                },
                                                                "secondary_role": {
                                                                    "type": "string"
                                                                }
                                                            }
                                                        },
                                                        "when_issued": {
                                                            "type": "object",
                                                            "properties": {
                                                                "primary_role": {
                                                                    "type": "string"
                                                                },
                                                                "secondary_role": {
                                                                    "type": "string"
                                                                }
                                                            }
                                                        }
                                                    }
                                                },
                                                "relationships": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object",
                                                        "properties": {
                                                            "type": {
                                                                "type": "string"
                                                            },
                                                            "name": {
                                                                "type": "string"
                                                            },
                                                            "person_id": {
                                                                "type": "string"
                                                            },
                                                            "deceased": {
                                                                "type": "string"
                                                            },
                                                            "employee": {
                                                                "type": "string"
                                                            },
                                                            "student": {
                                                                "type": "string"
                                                            },
                                                            "affiliation": {
                                                                "type": "string"
                                                            }
                                                        }
                                                    }
                                                },
                                                "warnings": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string"
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        },
                        "examples": {
                            "application/json": {
                                "ID Card Service": {
                                    "resource": {
                                        "methods": {
                                            "options": [
                                                "GET",
                                                "PUT"
                                            ],
                                            "adaptations": [
                                                {
                                                    "PUT": [
                                                        "Tunnel through a GET with attributes in the query string name value pairs",
                                                        "Tunnel through a POST with attributes in POST content name values pairs"
                                                    ]
                                                }
                                            ]
                                        },
                                        "URI": "/[personid|netid]",
                                        "examples": [
                                            "/",
                                            "/123456789",
                                            "/byu999"
                                        ],
                                        "identifiers": [
                                            {
                                                "personid": {
                                                    "description": "Unique identifier of an individual",
                                                    "required": false,
                                                    "default": "Identifier of authenticated individual"
                                                }
                                            },
                                            {
                                                "netid": {
                                                    "description": "Online account or network identifier of an individual",
                                                    "required": false
                                                }
                                            }
                                        ],
                                        "attributes": {
                                            "unlisted": {
                                                "description": "A boolean indicator.  If true indicates the desire make the ID Card unlisted (unavailable) except to those who have a legitimate need to know",
                                                "required": false,
                                                "default": "false"
                                            },
                                            "lost_stolen": {
                                                "description": "A boolean indicator.  If true indicates that the ID Card has been lost or stolen",
                                                "required": false,
                                                "default": "false"
                                            }
                                        }
                                    },
                                    "request": {
                                        "method": "GET",
                                        "resource": "/json/123456789",
                                        "attributes": "",
                                        "status": "200"
                                    },
                                    "response": {
                                        "photo_URL": "https://y.byu.edu/ry/ae/prod/person/cgi/personPhoto.cgi/123456789",
                                        "card_status": "",
                                        "ID_card_name": "John Albert Doe",
                                        "ID_card_role": "Student",
                                        "byu_id": "98-765-4321",
                                        "issue_number": "02",
                                        "dtf": false,
                                        "beard": false,
                                        "expiration_date": "31-DEC-2020",
                                        "unlisted": false,
                                        "lost_stolen": false,
                                        "id_card_roles": {
                                            "current": {
                                                "primary_role": "Student",
                                                "secondary_role": "full time student junior"
                                            },
                                            "when_issued": {
                                                "primary_role": "Student",
                                                "secondary_role": "full time student sophomore"
                                            }
                                        },
                                        "relationships": [
                                            {
                                                "type": "Child of:",
                                                "name": "Jack Doe",
                                                "person_id": "111222333",
                                                "deceased": "",
                                                "employee": "ADM/FT/TRM",
                                                "student": "Former Student",
                                                "affiliation": ""
                                            }
                                        ],
                                        "warnings": [
                                            "Non-Directory information is accessible only to yourself and to university personnel with a legitimate need to know"
                                        ]
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "There appears to be a syntax error in the composition of the service request.",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "object",
                                "properties": {
                                    "code": {
                                        "type": "integer"
                                    },
                                    "name": {
                                        "type": "string"
                                    },
                                    "message": {
                                        "type": "string"
                                    },
                                    "httpStatusCode": {
                                        "type": "integer"
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Failure to authenticate",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "object",
                                "properties": {
                                    "code": {
                                        "type": "integer"
                                    },
                                    "name": {
                                        "type": "string"
                                    },
                                    "message": {
                                        "type": "string"
                                    },
                                    "httpStatusCode": {
                                        "type": "integer"
                                    }
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "The user does not have access to the resource",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "object",
                                "properties": {
                                    "code": {
                                        "type": "integer"
                                    },
                                    "name": {
                                        "type": "string"
                                    },
                                    "message": {
                                        "type": "string"
                                    },
                                    "httpStatusCode": {
                                        "type": "integer"
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "The target resource cannot be found for the provided resouce identifiers",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "object",
                                "properties": {
                                    "code": {
                                        "type": "integer"
                                    },
                                    "name": {
                                        "type": "string"
                                    },
                                    "message": {
                                        "type": "string"
                                    },
                                    "httpStatusCode": {
                                        "type": "integer"
                                    }
                                }
                            }
                        }
                    },
                    "405": {
                        "description": "The service method is not supported by the service.",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "object",
                                "properties": {
                                    "code": {
                                        "type": "integer"
                                    },
                                    "name": {
                                        "type": "string"
                                    },
                                    "message": {
                                        "type": "string"
                                    },
                                    "httpStatusCode": {
                                        "type": "integer"
                                    }
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "A conflict has occured. The response structure may contain information about the conflict.",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "object",
                                "properties": {
                                    "code": {
                                        "type": "integer"
                                    },
                                    "name": {
                                        "type": "string"
                                    },
                                    "message": {
                                        "type": "string"
                                    },
                                    "httpStatusCode": {
                                        "type": "integer"
                                    }
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "An error occurred generating the response to the service request.",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "object",
                                "properties": {
                                    "code": {
                                        "type": "integer"
                                    },
                                    "name": {
                                        "type": "string"
                                    },
                                    "message": {
                                        "type": "string"
                                    },
                                    "httpStatusCode": {
                                        "type": "integer"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "summary": "PUT",
                "description": "Updates a person Id Card",
                "operationId": "updatePersonIdCard",
                "parameters": [
                    {
                        "name": "person_id",
                        "in": "path",
                        "description": "Name of the Id being updated",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "unlisted",
                        "description": "Unlist/List a card from the public directory",
                        "type": "string",
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "lost_stolen",
                        "description": "Report a card lost or stolen",
                        "type": "string",
                        "in": "query",
                        "required": false
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The Id that was updated",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "ID Card Service": {
                                    "type": "object",
                                    "properties": {
                                        "resource": {
                                            "type": "object",
                                            "properties": {
                                                "methods": {
                                                    "type": "object",
                                                    "properties": {
                                                        "options": {
                                                            "type": "array",
                                                            "items": {
                                                                "type": "string"
                                                            }
                                                        },
                                                        "adaptations": {
                                                            "type": "array",
                                                            "items": {
                                                                "type": "object",
                                                                "properties": {
                                                                    "PUT": {
                                                                        "type": "array",
                                                                        "items": {
                                                                            "type": "string"
                                                                        }
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    }
                                                },
                                                "URI": {
                                                    "type": "string"
                                                },
                                                "examples": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string"
                                                    }
                                                },
                                                "identifiers": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object",
                                                        "properties": {
                                                            "personid": {
                                                                "type": "object",
                                                                "properties": {
                                                                    "description": {
                                                                        "type": "string"
                                                                    },
                                                                    "required": {
                                                                        "type": "boolean"
                                                                    },
                                                                    "default": {
                                                                        "type": "string"
                                                                    }
                                                                }
                                                            },
                                                            "netid": {
                                                                "type": "object",
                                                                "properties": {
                                                                    "description": {
                                                                        "type": "string"
                                                                    },
                                                                    "required": {
                                                                        "type": "boolean"
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    }
                                                },
                                                "attributes": {
                                                    "type": "object",
                                                    "properties": {
                                                        "unlisted": {
                                                            "type": "object",
                                                            "properties": {
                                                                "description": {
                                                                    "type": "string"
                                                                },
                                                                "required": {
                                                                    "type": "boolean"
                                                                },
                                                                "default": {
                                                                    "type": "string"
                                                                }
                                                            }
                                                        },
                                                        "lost_stolen": {
                                                            "type": "object",
                                                            "properties": {
                                                                "description": {
                                                                    "type": "string"
                                                                },
                                                                "required": {
                                                                    "type": "boolean"
                                                                },
                                                                "default": {
                                                                    "type": "string"
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        },
                                        "request": {
                                            "type": "object",
                                            "properties": {
                                                "method": {
                                                    "type": "string"
                                                },
                                                "resource": {
                                                    "type": "string"
                                                },
                                                "attributes": {
                                                    "type": "string"
                                                },
                                                "status": {
                                                    "type": "string"
                                                }
                                            }
                                        },
                                        "response": {
                                            "type": "object",
                                            "properties": {
                                                "photo_URL": {
                                                    "type": "string"
                                                },
                                                "card_status": {
                                                    "type": "string"
                                                },
                                                "ID_card_name": {
                                                    "type": "string"
                                                },
                                                "ID_card_role": {
                                                    "type": "string"
                                                },
                                                "byu_id": {
                                                    "type": "string"
                                                },
                                                "issue_number": {
                                                    "type": "string"
                                                },
                                                "dtf": {
                                                    "type": "boolean"
                                                },
                                                "beard": {
                                                    "type": "boolean"
                                                },
                                                "expiration_date": {
                                                    "type": "string"
                                                },
                                                "unlisted": {
                                                    "type": "boolean"
                                                },
                                                "lost_stolen": {
                                                    "type": "boolean"
                                                },
                                                "id_card_roles": {
                                                    "type": "object",
                                                    "properties": {
                                                        "current": {
                                                            "type": "object",
                                                            "properties": {
                                                                "primary_role": {
                                                                    "type": "string"
                                                                },
                                                                "secondary_role": {
                                                                    "type": "string"
                                                                }
                                                            }
                                                        },
                                                        "when_issued": {
                                                            "type": "object",
                                                            "properties": {
                                                                "primary_role": {
                                                                    "type": "string"
                                                                },
                                                                "secondary_role": {
                                                                    "type": "string"
                                                                }
                                                            }
                                                        }
                                                    }
                                                },
                                                "relationships": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object",
                                                        "properties": {
                                                            "type": {
                                                                "type": "string"
                                                            },
                                                            "name": {
                                                                "type": "string"
                                                            },
                                                            "person_id": {
                                                                "type": "string"
                                                            },
                                                            "deceased": {
                                                                "type": "string"
                                                            },
                                                            "employee": {
                                                                "type": "string"
                                                            },
                                                            "student": {
                                                                "type": "string"
                                                            },
                                                            "affiliation": {
                                                                "type": "string"
                                                            }
                                                        }
                                                    }
                                                },
                                                "warnings": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string"
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "There appears to be a syntax error in the composition of the service request.",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "object",
                                "properties": {
                                    "code": {
                                        "type": "integer"
                                    },
                                    "name": {
                                        "type": "string"
                                    },
                                    "message": {
                                        "type": "string"
                                    },
                                    "httpStatusCode": {
                                        "type": "integer"
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Failure to authenticate",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "object",
                                "properties": {
                                    "code": {
                                        "type": "integer"
                                    },
                                    "name": {
                                        "type": "string"
                                    },
                                    "message": {
                                        "type": "string"
                                    },
                                    "httpStatusCode": {
                                        "type": "integer"
                                    }
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "The user does not have access to the resource",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "object",
                                "properties": {
                                    "code": {
                                        "type": "integer"
                                    },
                                    "name": {
                                        "type": "string"
                                    },
                                    "message": {
                                        "type": "string"
                                    },
                                    "httpStatusCode": {
                                        "type": "integer"
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "The target resource cannot be found for the provided resouce identifiers",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "object",
                                "properties": {
                                    "code": {
                                        "type": "integer"
                                    },
                                    "name": {
                                        "type": "string"
                                    },
                                    "message": {
                                        "type": "string"
                                    },
                                    "httpStatusCode": {
                                        "type": "integer"
                                    }
                                }
                            }
                        }
                    },
                    "405": {
                        "description": "The service method is not supported by the service.",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "object",
                                "properties": {
                                    "code": {
                                        "type": "integer"
                                    },
                                    "name": {
                                        "type": "string"
                                    },
                                    "message": {
                                        "type": "string"
                                    },
                                    "httpStatusCode": {
                                        "type": "integer"
                                    }
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "A conflict has occured. The response structure may contain information about the conflict.",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "object",
                                "properties": {
                                    "code": {
                                        "type": "integer"
                                    },
                                    "name": {
                                        "type": "string"
                                    },
                                    "message": {
                                        "type": "string"
                                    },
                                    "httpStatusCode": {
                                        "type": "integer"
                                    }
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "An error occurred generating the response to the service request.",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "object",
                                "properties": {
                                    "code": {
                                        "type": "integer"
                                    },
                                    "name": {
                                        "type": "string"
                                    },
                                    "message": {
                                        "type": "string"
                                    },
                                    "httpStatusCode": {
                                        "type": "integer"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/documentation": {
            "get": {
                "summary": "service definition",
                "description": "service definition",
                "operationId": "getServiceDocumentation",
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "WebService": {
                                    "type": "object",
                                    "properties": {
                                        "name": {
                                            "type": "string"
                                        },
                                        "operations": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "name": {
                                                        "type": "string"
                                                    },
                                                    "description": {
                                                        "type": "string"
                                                    },
                                                    "method": {
                                                        "type": "string"
                                                    },
                                                    "path": {
                                                        "type": "string"
                                                    },
                                                    "path_identifiers": {
                                                        "type": "array",
                                                        "items": {
                                                            "type": "object",
                                                            "properties": {
                                                                "name": {
                                                                    "type": "string"
                                                                },
                                                                "type": {
                                                                    "type": "string"
                                                                },
                                                                "format": {
                                                                    "type": "string"
                                                                }
                                                            }
                                                        }
                                                    },
                                                    "query_attributes": {
                                                        "type": "array",
                                                        "items": {
                                                            "type": "object",
                                                            "properties": {
                                                                "name": {
                                                                    "type": "string"
                                                                },
                                                                "type": {
                                                                    "type": "string"
                                                                },
                                                                "format": {
                                                                    "type": "string"
                                                                },
                                                                "required": {
                                                                    "type": "string"
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        },
                                        "errors": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "code": {
                                                        "type": "integer"
                                                    },
                                                    "name": {
                                                        "type": "string"
                                                    },
                                                    "message": {
                                                        "type": "string"
                                                    },
                                                    "httpStatusCode": {
                                                        "type": "integer"
                                                    }
                                                }
                                            }
                                        },
                                        "httpStatusCodes": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "code": {
                                                        "type": "integer"
                                                    },
                                                    "message": {
                                                        "type": "string"
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "personIdCard": {
            "type": "object",
            "properties": {
                "ID Card Service": {
                    "type": "object",
                    "properties": {
                        "resource": {
                            "type": "object",
                            "properties": {
                                "methods": {
                                    "type": "object",
                                    "properties": {
                                        "options": {
                                            "type": "array",
                                            "items": {
                                                "type": "string"
                                            }
                                        },
                                        "adaptations": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "PUT": {
                                                        "type": "array",
                                                        "items": {
                                                            "type": "string"
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                },
                                "URI": {
                                    "type": "string"
                                },
                                "examples": {
                                    "type": "array",
                                    "items": {
                                        "type": "string"
                                    }
                                },
                                "identifiers": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "personid": {
                                                "type": "object",
                                                "properties": {
                                                    "description": {
                                                        "type": "string"
                                                    },
                                                    "required": {
                                                        "type": "boolean"
                                                    },
                                                    "default": {
                                                        "type": "string"
                                                    }
                                                }
                                            },
                                            "netid": {
                                                "type": "object",
                                                "properties": {
                                                    "description": {
                                                        "type": "string"
                                                    },
                                                    "required": {
                                                        "type": "boolean"
                                                    }
                                                }
                                            }
                                        }
                                    }
                                },
                                "attributes": {
                                    "type": "object",
                                    "properties": {
                                        "unlisted": {
                                            "type": "object",
                                            "properties": {
                                                "description": {
                                                    "type": "string"
                                                },
                                                "required": {
                                                    "type": "boolean"
                                                },
                                                "default": {
                                                    "type": "string"
                                                }
                                            }
                                        },
                                        "lost_stolen": {
                                            "type": "object",
                                            "properties": {
                                                "description": {
                                                    "type": "string"
                                                },
                                                "required": {
                                                    "type": "boolean"
                                                },
                                                "default": {
                                                    "type": "string"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        },
                        "request": {
                            "type": "object",
                            "properties": {
                                "method": {
                                    "type": "string"
                                },
                                "resource": {
                                    "type": "string"
                                },
                                "attributes": {
                                    "type": "string"
                                },
                                "status": {
                                    "type": "string"
                                }
                            }
                        },
                        "response": {
                            "type": "object",
                            "properties": {
                                "photo_URL": {
                                    "type": "string"
                                },
                                "card_status": {
                                    "type": "string"
                                },
                                "ID_card_name": {
                                    "type": "string"
                                },
                                "ID_card_role": {
                                    "type": "string"
                                },
                                "byu_id": {
                                    "type": "string"
                                },
                                "issue_number": {
                                    "type": "string"
                                },
                                "dtf": {
                                    "type": "boolean"
                                },
                                "beard": {
                                    "type": "boolean"
                                },
                                "expiration_date": {
                                    "type": "string"
                                },
                                "unlisted": {
                                    "type": "boolean"
                                },
                                "lost_stolen": {
                                    "type": "boolean"
                                },
                                "id_card_roles": {
                                    "type": "object",
                                    "properties": {
                                        "current": {
                                            "type": "object",
                                            "properties": {
                                                "primary_role": {
                                                    "type": "string"
                                                },
                                                "secondary_role": {
                                                    "type": "string"
                                                }
                                            }
                                        },
                                        "when_issued": {
                                            "type": "object",
                                            "properties": {
                                                "primary_role": {
                                                    "type": "string"
                                                },
                                                "secondary_role": {
                                                    "type": "string"
                                                }
                                            }
                                        }
                                    }
                                },
                                "relationships": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "type": {
                                                "type": "string"
                                            },
                                            "name": {
                                                "type": "string"
                                            },
                                            "person_id": {
                                                "type": "string"
                                            },
                                            "deceased": {
                                                "type": "string"
                                            },
                                            "employee": {
                                                "type": "string"
                                            },
                                            "student": {
                                                "type": "string"
                                            },
                                            "affiliation": {
                                                "type": "string"
                                            }
                                        }
                                    }
                                },
                                "warnings": {
                                    "type": "array",
                                    "items": {
                                        "type": "string"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "resource": {
            "type": "object",
            "properties": {
                "methods": {
                    "type": "object",
                    "properties": {
                        "options": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        },
                        "adaptations": {
                            "type": "array",
                            "items": {
                                "type": "object",
                                "properties": {
                                    "PUT": {
                                        "type": "array",
                                        "items": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "URI": {
                    "type": "string"
                },
                "examples": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                },
                "identifiers": {
                    "type": "array",
                    "items": {
                        "type": "object",
                        "properties": {
                            "personid": {
                                "type": "object",
                                "properties": {
                                    "description": {
                                        "type": "string"
                                    },
                                    "required": {
                                        "type": "boolean"
                                    },
                                    "default": {
                                        "type": "string"
                                    }
                                }
                            },
                            "netid": {
                                "type": "object",
                                "properties": {
                                    "description": {
                                        "type": "string"
                                    },
                                    "required": {
                                        "type": "boolean"
                                    }
                                }
                            }
                        }
                    }
                },
                "attributes": {
                    "type": "object",
                    "properties": {
                        "unlisted": {
                            "type": "object",
                            "properties": {
                                "description": {
                                    "type": "string"
                                },
                                "required": {
                                    "type": "boolean"
                                },
                                "default": {
                                    "type": "string"
                                }
                            }
                        },
                        "lost_stolen": {
                            "type": "object",
                            "properties": {
                                "description": {
                                    "type": "string"
                                },
                                "required": {
                                    "type": "boolean"
                                },
                                "default": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "request": {
            "type": "object",
            "properties": {
                "method": {
                    "type": "string"
                },
                "resource": {
                    "type": "string"
                },
                "attributes": {
                    "type": "string"
                },
                "status": {
                    "type": "string"
                }
            }
        },
        "response": {
            "type": "object",
            "properties": {
                "photo_URL": {
                    "type": "string"
                },
                "card_status": {
                    "type": "string"
                },
                "ID_card_name": {
                    "type": "string"
                },
                "ID_card_role": {
                    "type": "string"
                },
                "byu_id": {
                    "type": "string"
                },
                "issue_number": {
                    "type": "string"
                },
                "dtf": {
                    "type": "boolean"
                },
                "beard": {
                    "type": "boolean"
                },
                "expiration_date": {
                    "type": "string"
                },
                "unlisted": {
                    "type": "boolean"
                },
                "lost_stolen": {
                    "type": "boolean"
                },
                "id_card_roles": {
                    "type": "object",
                    "properties": {
                        "current": {
                            "type": "object",
                            "properties": {
                                "primary_role": {
                                    "type": "string"
                                },
                                "secondary_role": {
                                    "type": "string"
                                }
                            }
                        },
                        "when_issued": {
                            "type": "object",
                            "properties": {
                                "primary_role": {
                                    "type": "string"
                                },
                                "secondary_role": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                },
                "relationships": {
                    "type": "array",
                    "items": {
                        "type": "object",
                        "properties": {
                            "type": {
                                "type": "string"
                            },
                            "name": {
                                "type": "string"
                            },
                            "person_id": {
                                "type": "string"
                            },
                            "deceased": {
                                "type": "string"
                            },
                            "employee": {
                                "type": "string"
                            },
                            "student": {
                                "type": "string"
                            },
                            "affiliation": {
                                "type": "string"
                            }
                        }
                    }
                },
                "warnings": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                }
            }
        },
        "id_card_roles": {
            "type": "object",
            "properties": {
                "current": {
                    "type": "object",
                    "properties": {
                        "primary_role": {
                            "type": "string"
                        },
                        "secondary_role": {
                            "type": "string"
                        }
                    }
                },
                "when_issued": {
                    "type": "object",
                    "properties": {
                        "primary_role": {
                            "type": "string"
                        },
                        "secondary_role": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "relationships": {
            "type": "array",
            "items": {
                "type": "object",
                "properties": {
                    "type": {
                        "type": "string"
                    },
                    "name": {
                        "type": "string"
                    },
                    "person_id": {
                        "type": "string"
                    },
                    "deceased": {
                        "type": "string"
                    },
                    "employee": {
                        "type": "string"
                    },
                    "student": {
                        "type": "string"
                    },
                    "affiliation": {
                        "type": "string"
                    }
                }
            }
        },
        "warnings": {
            "type": "array",
            "items": {
                "type": "string"
            }
        },
        "documentation": {
            "type": "object",
            "properties": {
                "WebService": {
                    "type": "object",
                    "properties": {
                        "name": {
                            "type": "string"
                        },
                        "operations": {
                            "type": "array",
                            "items": {
                                "type": "object",
                                "properties": {
                                    "name": {
                                        "type": "string"
                                    },
                                    "description": {
                                        "type": "string"
                                    },
                                    "method": {
                                        "type": "string"
                                    },
                                    "path": {
                                        "type": "string"
                                    },
                                    "path_identifiers": {
                                        "type": "array",
                                        "items": {
                                            "type": "object",
                                            "properties": {
                                                "name": {
                                                    "type": "string"
                                                },
                                                "type": {
                                                    "type": "string"
                                                },
                                                "format": {
                                                    "type": "string"
                                                }
                                            }
                                        }
                                    },
                                    "query_attributes": {
                                        "type": "array",
                                        "items": {
                                            "type": "object",
                                            "properties": {
                                                "name": {
                                                    "type": "string"
                                                },
                                                "type": {
                                                    "type": "string"
                                                },
                                                "format": {
                                                    "type": "string"
                                                },
                                                "required": {
                                                    "type": "string"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        },
                        "errors": {
                            "type": "array",
                            "items": {
                                "type": "object",
                                "properties": {
                                    "code": {
                                        "type": "integer"
                                    },
                                    "name": {
                                        "type": "string"
                                    },
                                    "message": {
                                        "type": "string"
                                    },
                                    "httpStatusCode": {
                                        "type": "integer"
                                    }
                                }
                            }
                        },
                        "httpStatusCodes": {
                            "type": "array",
                            "items": {
                                "type": "object",
                                "properties": {
                                    "code": {
                                        "type": "integer"
                                    },
                                    "message": {
                                        "type": "string"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "operations": {
            "type": "array",
            "items": {
                "type": "object",
                "properties": {
                    "name": {
                        "type": "string"
                    },
                    "description": {
                        "type": "string"
                    },
                    "method": {
                        "type": "string"
                    },
                    "path": {
                        "type": "string"
                    },
                    "path_identifiers": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "properties": {
                                "name": {
                                    "type": "string"
                                },
                                "type": {
                                    "type": "string"
                                },
                                "format": {
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "query_attributes": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "properties": {
                                "name": {
                                    "type": "string"
                                },
                                "type": {
                                    "type": "string"
                                },
                                "format": {
                                    "type": "string"
                                },
                                "required": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "errors": {
            "type": "array",
            "items": {
                "type": "object",
                "properties": {
                    "code": {
                        "type": "integer"
                    },
                    "name": {
                        "type": "string"
                    },
                    "message": {
                        "type": "string"
                    },
                    "httpStatusCode": {
                        "type": "integer"
                    }
                }
            }
        },
        "httpStatusCodes": {
            "type": "array",
            "items": {
                "type": "object",
                "properties": {
                    "code": {
                        "type": "integer"
                    },
                    "message": {
                        "type": "string"
                    }
                }
            }
        }
    },
    "x-mock_json": {
        "personIdCard": {
            "ID Card Service": {
                "resource": {
                    "methods": {
                        "options": [
                            "GET",
                            "PUT"
                        ],
                        "adaptations": [
                            {
                                "PUT": [
                                    "Tunnel through a GET with attributes in the query string name value pairs",
                                    "Tunnel through a POST with attributes in POST content name values pairs"
                                ]
                            }
                        ]
                    },
                    "URI": "/[personid|netid]",
                    "examples": [
                        "/",
                        "/123456789",
                        "/byu999"
                    ],
                    "identifiers": [
                        {
                            "personid": {
                                "description": "Unique identifier of an individual",
                                "required": false,
                                "default": "Identifier of authenticated individual"
                            }
                        },
                        {
                            "netid": {
                                "description": "Online account or network identifier of an individual",
                                "required": false
                            }
                        }
                    ],
                    "attributes": {
                        "unlisted": {
                            "description": "A boolean indicator.  If true indicates the desire make the ID Card unlisted (unavailable) except to those who have a legitimate need to know",
                            "required": false,
                            "default": "false"
                        },
                        "lost_stolen": {
                            "description": "A boolean indicator.  If true indicates that the ID Card has been lost or stolen",
                            "required": false,
                            "default": "false"
                        }
                    }
                },
                "request": {
                    "method": "GET",
                    "resource": "/json/123456789",
                    "attributes": "",
                    "status": "200"
                },
                "response": {
                    "photo_URL": "https://y.byu.edu/ry/ae/prod/person/cgi/personPhoto.cgi/123456789",
                    "card_status": "",
                    "ID_card_name": "John Albert Doe",
                    "ID_card_role": "Student",
                    "byu_id": "98-765-4321",
                    "issue_number": "02",
                    "dtf": false,
                    "beard": false,
                    "expiration_date": "31-DEC-2020",
                    "unlisted": false,
                    "lost_stolen": false,
                    "id_card_roles": {
                        "current": {
                            "primary_role": "Student",
                            "secondary_role": "full time student junior"
                        },
                        "when_issued": {
                            "primary_role": "Student",
                            "secondary_role": "full time student sophomore"
                        }
                    },
                    "relationships": [
                        {
                            "type": "Child of:",
                            "name": "Jack Doe",
                            "person_id": "111222333",
                            "deceased": "",
                            "employee": "ADM/FT/TRM",
                            "student": "Former Student",
                            "affiliation": ""
                        }
                    ],
                    "warnings": [
                        "Non-Directory information is accessible only to yourself and to university personnel with a legitimate need to know"
                    ]
                }
            }
        }
    }
}