{
    "swagger": "2.0",
    "info": {
        "title": "IdentityPersonPRORelationship",
        "description": "RelationshipService",
        "version": "v1"
    },
    "host": "api.byu.edu:443",
    "schemes": [
        "https"
    ],
    "basePath": "/domains/legacy/identity/person/PRO/relationship/v1",
    "produces": [
        "application/json",
        "application/xml"
    ],
    "paths": {
        "/*": {
            "get": {
                "summary": "Shows page using the current user's person Id",
                "description": "Shows page using the current user's person Id",
                "operationId": "getRelationshipPage",
                "parameters": [],
                "tags": [
                    "RelationshipService"
                ],
                "responses": {
                    "200": {
                        "description": "Service request is OK and a response has been generated.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "400": {
                        "description": "There appears to be a syntax error in the composition of the service request. The response structure may contain information about the error. If the base URI or service request URI is invalid, any response will come as an HTTP response.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "401": {
                        "description": "Failure to authenticate",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "403": {
                        "description": "The user does not have access to the resource.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "404": {
                        "description": "The target resource can not be found for the provided resource identifiers.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "500": {
                        "description": "An error occurred generating the response to the service request. This is strictly a server error and not an application error.",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/{personID}": {
            "get": {
                "summary": "Shows page using the specified person Id",
                "description": "Shows page using the specified person Id",
                "operationId": "getRelationshipPageById",
                "parameters": [
                    {
                        "name": "personID",
                        "description": "string -> 9 digit #",
                        "type": "string",
                        "in": "path",
                        "required": true
                    }
                ],
                "tags": [
                    "RelationshipService"
                ],
                "responses": {
                    "200": {
                        "description": "Service request is OK and a response has been generated.",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "RelationshipService": {
                                    "type": "object",
                                    "properties": {
                                        "request": {
                                            "type": "object",
                                            "properties": {
                                                "method": {
                                                    "type": "string"
                                                },
                                                "resource": {
                                                    "type": "string"
                                                },
                                                "attributes": {
                                                    "type": "string"
                                                },
                                                "status": {
                                                    "type": "integer"
                                                },
                                                "statusMessage": {
                                                    "type": "string"
                                                }
                                            }
                                        },
                                        "response": {
                                            "type": "object",
                                            "properties": {
                                                "relationshipsSaved": {
                                                    "type": "string"
                                                },
                                                "spouse": {
                                                    "type": "string"
                                                },
                                                "relationshipInformation": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object",
                                                        "properties": {
                                                            "preferredName": {
                                                                "type": "string"
                                                            },
                                                            "relationship": {
                                                                "type": "string"
                                                            },
                                                            "maritalStatus": {
                                                                "type": "string"
                                                            },
                                                            "age": {
                                                                "type": "integer"
                                                            },
                                                            "gender": {
                                                                "type": "string"
                                                            },
                                                            "studentRole": {
                                                                "type": "string"
                                                            },
                                                            "employeeRole": {
                                                                "type": "string"
                                                            },
                                                            "personID": {
                                                                "type": "string"
                                                            },
                                                            "verified": {
                                                                "type": "string"
                                                            }
                                                        }
                                                    }
                                                },
                                                "maximumAllowedRelationships": {
                                                    "type": "string"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        },
                        "examples": {
                            "application/json": {
                                "RelationshipService": {
                                    "request": {
                                        "method": "GET",
                                        "resource": "/123456789",
                                        "attributes": "",
                                        "status": 200,
                                        "statusMessage": "Service request is OK and a response has been generated."
                                    },
                                    "response": {
                                        "relationshipsSaved": "1",
                                        "spouse": "Y",
                                        "relationshipInformation": [
                                            {
                                                "preferredName": "Jane Doe",
                                                "relationship": "Spouse",
                                                "maritalStatus": "Married",
                                                "age": 23,
                                                "gender": "F",
                                                "studentRole": "Non-Matriculated",
                                                "employeeRole": "Non-Employee",
                                                "personID": "888777666",
                                                "verified": "HR"
                                            }
                                        ],
                                        "maximumAllowedRelationships": "20"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "There appears to be a syntax error in the composition of the service request. The response structure may contain information about the error. If the base URI or service request URI is invalid, any response will come as an HTTP response.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "401": {
                        "description": "Failure to authenticate",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "403": {
                        "description": "The user does not have access to the resource.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "404": {
                        "description": "The target resource can not be found for the provided resource identifiers.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "500": {
                        "description": "An error occurred generating the response to the service request. This is strictly a server error and not an application error.",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/{parm_name}/{parm_type}/{parm_value}/{year_term}": {
            "put": {
                "summary": "Not currently supported",
                "description": "Not currently supported",
                "operationId": "saveRelationshipInfo",
                "parameters": [
                    {
                        "name": "parm_name",
                        "description": "parameter name",
                        "type": "string",
                        "in": "path",
                        "required": true
                    },
                    {
                        "name": "parm_type",
                        "description": "parameter type",
                        "type": "string",
                        "in": "path",
                        "required": true
                    },
                    {
                        "name": "parm_value",
                        "description": "parameter value",
                        "type": "string",
                        "in": "path",
                        "required": true
                    },
                    {
                        "name": "year_term",
                        "description": "Year and term",
                        "type": "string",
                        "in": "path",
                        "required": true
                    }
                ],
                "tags": [
                    "RelationshipService"
                ],
                "responses": {
                    "200": {
                        "description": "Service request is OK and a response has been generated.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "400": {
                        "description": "There appears to be a syntax error in the composition of the service request. The response structure may contain information about the error. If the base URI or service request URI is invalid, any response will come as an HTTP response.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "401": {
                        "description": "Failure to authenticate",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "403": {
                        "description": "The user does not have access to the resource.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "404": {
                        "description": "The target resource can not be found for the provided resource identifiers.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "500": {
                        "description": "An error occurred generating the response to the service request. This is strictly a server error and not an application error.",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/delete/{parm_name}/{parm_type}/{parm_value}/{year_term}": {
            "get": {
                "summary": "Not currently supported",
                "description": "Not currently supported",
                "operationId": "deleteRelationshipInfo",
                "parameters": [
                    {
                        "name": "parm_name",
                        "description": "parameter name",
                        "type": "string",
                        "in": "path",
                        "required": true
                    },
                    {
                        "name": "parm_type",
                        "description": "parameter type",
                        "type": "string",
                        "in": "path",
                        "required": true
                    },
                    {
                        "name": "parm_value",
                        "description": "parameter value",
                        "type": "string",
                        "in": "path",
                        "required": true
                    },
                    {
                        "name": "year_term",
                        "description": "Year and term",
                        "type": "string",
                        "in": "path",
                        "required": true
                    }
                ],
                "tags": [
                    "RelationshipService"
                ],
                "responses": {
                    "200": {
                        "description": "Service request is OK and a response has been generated.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "400": {
                        "description": "There appears to be a syntax error in the composition of the service request. The response structure may contain information about the error. If the base URI or service request URI is invalid, any response will come as an HTTP response.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "401": {
                        "description": "Failure to authenticate",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "403": {
                        "description": "The user does not have access to the resource.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "404": {
                        "description": "The target resource can not be found for the provided resource identifiers.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "500": {
                        "description": "An error occurred generating the response to the service request. This is strictly a server error and not an application error.",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/documentation": {
            "get": {
                "summary": "service definition",
                "description": "service definition",
                "operationId": "getServiceDocumentation",
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "WebService": {
                                    "type": "object",
                                    "properties": {
                                        "name": {
                                            "type": "string"
                                        },
                                        "operations": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "name": {
                                                        "type": "string"
                                                    },
                                                    "description": {
                                                        "type": "string"
                                                    },
                                                    "method": {
                                                        "type": "string"
                                                    },
                                                    "path": {
                                                        "type": "string"
                                                    },
                                                    "path_identifiers": {
                                                        "type": "array",
                                                        "items": {
                                                            "type": "object",
                                                            "properties": {
                                                                "name": {
                                                                    "type": "string"
                                                                },
                                                                "type": {
                                                                    "type": "string"
                                                                },
                                                                "format": {
                                                                    "type": "string"
                                                                }
                                                            }
                                                        }
                                                    },
                                                    "query_attributes": {
                                                        "type": "array",
                                                        "items": {
                                                            "type": "object",
                                                            "properties": {
                                                                "name": {
                                                                    "type": "string"
                                                                },
                                                                "type": {
                                                                    "type": "string"
                                                                },
                                                                "format": {
                                                                    "type": "string"
                                                                },
                                                                "required": {
                                                                    "type": "string"
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        },
                                        "errors": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "code": {
                                                        "type": "integer"
                                                    },
                                                    "name": {
                                                        "type": "string"
                                                    },
                                                    "message": {
                                                        "type": "string"
                                                    },
                                                    "httpStatusCode": {
                                                        "type": "integer"
                                                    }
                                                }
                                            }
                                        },
                                        "httpStatusCodes": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "code": {
                                                        "type": "integer"
                                                    },
                                                    "message": {
                                                        "type": "string"
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "Relationship": {
            "type": "object",
            "properties": {
                "RelationshipService": {
                    "type": "object",
                    "properties": {
                        "request": {
                            "type": "object",
                            "properties": {
                                "method": {
                                    "type": "string"
                                },
                                "resource": {
                                    "type": "string"
                                },
                                "attributes": {
                                    "type": "string"
                                },
                                "status": {
                                    "type": "integer"
                                },
                                "statusMessage": {
                                    "type": "string"
                                }
                            }
                        },
                        "response": {
                            "type": "object",
                            "properties": {
                                "relationshipsSaved": {
                                    "type": "string"
                                },
                                "spouse": {
                                    "type": "string"
                                },
                                "relationshipInformation": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "preferredName": {
                                                "type": "string"
                                            },
                                            "relationship": {
                                                "type": "string"
                                            },
                                            "maritalStatus": {
                                                "type": "string"
                                            },
                                            "age": {
                                                "type": "integer"
                                            },
                                            "gender": {
                                                "type": "string"
                                            },
                                            "studentRole": {
                                                "type": "string"
                                            },
                                            "employeeRole": {
                                                "type": "string"
                                            },
                                            "personID": {
                                                "type": "string"
                                            },
                                            "verified": {
                                                "type": "string"
                                            }
                                        }
                                    }
                                },
                                "maximumAllowedRelationships": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "request": {
            "type": "object",
            "properties": {
                "method": {
                    "type": "string"
                },
                "resource": {
                    "type": "string"
                },
                "attributes": {
                    "type": "string"
                },
                "status": {
                    "type": "integer"
                },
                "statusMessage": {
                    "type": "string"
                }
            }
        },
        "response": {
            "type": "object",
            "properties": {
                "relationshipsSaved": {
                    "type": "string"
                },
                "spouse": {
                    "type": "string"
                },
                "relationshipInformation": {
                    "type": "array",
                    "items": {
                        "type": "object",
                        "properties": {
                            "preferredName": {
                                "type": "string"
                            },
                            "relationship": {
                                "type": "string"
                            },
                            "maritalStatus": {
                                "type": "string"
                            },
                            "age": {
                                "type": "integer"
                            },
                            "gender": {
                                "type": "string"
                            },
                            "studentRole": {
                                "type": "string"
                            },
                            "employeeRole": {
                                "type": "string"
                            },
                            "personID": {
                                "type": "string"
                            },
                            "verified": {
                                "type": "string"
                            }
                        }
                    }
                },
                "maximumAllowedRelationships": {
                    "type": "string"
                }
            }
        },
        "relationshipInformation": {
            "type": "array",
            "items": {
                "type": "object",
                "properties": {
                    "preferredName": {
                        "type": "string"
                    },
                    "relationship": {
                        "type": "string"
                    },
                    "maritalStatus": {
                        "type": "string"
                    },
                    "age": {
                        "type": "integer"
                    },
                    "gender": {
                        "type": "string"
                    },
                    "studentRole": {
                        "type": "string"
                    },
                    "employeeRole": {
                        "type": "string"
                    },
                    "personID": {
                        "type": "string"
                    },
                    "verified": {
                        "type": "string"
                    }
                }
            }
        },
        "documentation": {
            "type": "object",
            "properties": {
                "WebService": {
                    "type": "object",
                    "properties": {
                        "name": {
                            "type": "string"
                        },
                        "operations": {
                            "type": "array",
                            "items": {
                                "type": "object",
                                "properties": {
                                    "name": {
                                        "type": "string"
                                    },
                                    "description": {
                                        "type": "string"
                                    },
                                    "method": {
                                        "type": "string"
                                    },
                                    "path": {
                                        "type": "string"
                                    },
                                    "path_identifiers": {
                                        "type": "array",
                                        "items": {
                                            "type": "object",
                                            "properties": {
                                                "name": {
                                                    "type": "string"
                                                },
                                                "type": {
                                                    "type": "string"
                                                },
                                                "format": {
                                                    "type": "string"
                                                }
                                            }
                                        }
                                    },
                                    "query_attributes": {
                                        "type": "array",
                                        "items": {
                                            "type": "object",
                                            "properties": {
                                                "name": {
                                                    "type": "string"
                                                },
                                                "type": {
                                                    "type": "string"
                                                },
                                                "format": {
                                                    "type": "string"
                                                },
                                                "required": {
                                                    "type": "string"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        },
                        "errors": {
                            "type": "array",
                            "items": {
                                "type": "object",
                                "properties": {
                                    "code": {
                                        "type": "integer"
                                    },
                                    "name": {
                                        "type": "string"
                                    },
                                    "message": {
                                        "type": "string"
                                    },
                                    "httpStatusCode": {
                                        "type": "integer"
                                    }
                                }
                            }
                        },
                        "httpStatusCodes": {
                            "type": "array",
                            "items": {
                                "type": "object",
                                "properties": {
                                    "code": {
                                        "type": "integer"
                                    },
                                    "message": {
                                        "type": "string"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "operations": {
            "type": "array",
            "items": {
                "type": "object",
                "properties": {
                    "name": {
                        "type": "string"
                    },
                    "description": {
                        "type": "string"
                    },
                    "method": {
                        "type": "string"
                    },
                    "path": {
                        "type": "string"
                    },
                    "path_identifiers": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "properties": {
                                "name": {
                                    "type": "string"
                                },
                                "type": {
                                    "type": "string"
                                },
                                "format": {
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "query_attributes": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "properties": {
                                "name": {
                                    "type": "string"
                                },
                                "type": {
                                    "type": "string"
                                },
                                "format": {
                                    "type": "string"
                                },
                                "required": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "errors": {
            "type": "array",
            "items": {
                "type": "object",
                "properties": {
                    "code": {
                        "type": "integer"
                    },
                    "name": {
                        "type": "string"
                    },
                    "message": {
                        "type": "string"
                    },
                    "httpStatusCode": {
                        "type": "integer"
                    }
                }
            }
        },
        "httpStatusCodes": {
            "type": "array",
            "items": {
                "type": "object",
                "properties": {
                    "code": {
                        "type": "integer"
                    },
                    "message": {
                        "type": "string"
                    }
                }
            }
        }
    },
    "x-mock_json": {
        "Relationship": {
            "RelationshipService": {
                "request": {
                    "method": "GET",
                    "resource": "/123456789",
                    "attributes": "",
                    "status": 200,
                    "statusMessage": "Service request is OK and a response has been generated."
                },
                "response": {
                    "relationshipsSaved": "1",
                    "spouse": "Y",
                    "relationshipInformation": [
                        {
                            "preferredName": "Jane Doe",
                            "relationship": "Spouse",
                            "maritalStatus": "Married",
                            "age": 23,
                            "gender": "F",
                            "studentRole": "Non-Matriculated",
                            "employeeRole": "Non-Employee",
                            "personID": "888777666",
                            "verified": "HR"
                        }
                    ],
                    "maximumAllowedRelationships": "20"
                }
            }
        }
    }
}