{
    "swagger": "2.0",
    "info": {
        "title": "IdentityPersonPROPersonNames",
        "description": "PersonNamesService",
        "version": "v1"
    },
    "host": "api.byu.edu:443",
    "schemes": [
        "https"
    ],
    "basePath": "/domains/legacy/identity/person/PRO/personnames/v1",
    "produces": [
        "application/json",
        "application/xml"
    ],
    "paths": {
        "/{person_id}": {
            "get": {
                "summary": "Get person name",
                "description": "Get person name",
                "operationId": "GetPersonName",
                "parameters": [
                    {
                        "name": "person_id",
                        "description": "string -> ",
                        "type": "string",
                        "in": "path",
                        "required": true
                    }
                ],
                "tags": [
                    "PersonNamesService"
                ],
                "responses": {
                    "200": {
                        "description": "Service request is OK and a response has been generated.",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "PersonNamesService": {
                                    "type": "object",
                                    "properties": {
                                        "request": {
                                            "type": "object",
                                            "properties": {
                                                "method": {
                                                    "type": "string"
                                                },
                                                "resource": {
                                                    "type": "string"
                                                },
                                                "attributes": {
                                                    "type": "string"
                                                },
                                                "status": {
                                                    "type": "integer"
                                                },
                                                "statusMessage": {
                                                    "type": "string"
                                                }
                                            }
                                        },
                                        "response": {
                                            "type": "object",
                                            "properties": {
                                                "official_name": {
                                                    "type": "object",
                                                    "properties": {
                                                        "sort_name": {
                                                            "type": "string"
                                                        },
                                                        "surname": {
                                                            "type": "string"
                                                        },
                                                        "rest_of_name": {
                                                            "type": "string"
                                                        },
                                                        "first_name": {
                                                            "type": "string"
                                                        },
                                                        "middle_name": {
                                                            "type": "string"
                                                        },
                                                        "surname_position": {
                                                            "type": "string"
                                                        }
                                                    }
                                                },
                                                "preferred_name": {
                                                    "type": "object",
                                                    "properties": {
                                                        "preferred_first_name": {
                                                            "type": "string"
                                                        },
                                                        "use_preferred_name_on_id_card": {
                                                            "type": "boolean"
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        },
                        "examples": {
                            "application/json": {
                                "PersonNamesService": {
                                    "request": {
                                        "method": "GET",
                                        "resource": "/json/123456789",
                                        "attributes": "",
                                        "status": 200,
                                        "statusMessage": "Service request is OK and a response has been generated."
                                    },
                                    "response": {
                                        "official_name": {
                                            "sort_name": "Doe, John Albert",
                                            "surname": "Doe",
                                            "rest_of_name": "John Albert",
                                            "first_name": "John",
                                            "middle_name": "Albert",
                                            "surname_position": "L"
                                        },
                                        "preferred_name": {
                                            "preferred_first_name": "John",
                                            "use_preferred_name_on_id_card": false
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "There appears to be a syntax error in the composition of the service request. The response structure may contain information about the error. If the base URI or service request URI is invalid, any response will come as an HTTP response.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "401": {
                        "description": "Failure to authenticate",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "403": {
                        "description": "The user does not have access to the resource.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "404": {
                        "description": "The target resource can not be found for the provided resource identifiers.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "500": {
                        "description": "An error occurred generating the response to the service request. This is strictly a server error and not an application error.",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            },
            "put": {
                "summary": "Update a person's names.",
                "description": "Update a person's names.",
                "operationId": "Save Person Names",
                "parameters": [
                    {
                        "name": "person_id",
                        "description": "string -> ",
                        "type": "string",
                        "in": "path",
                        "required": true
                    },
                    {
                        "name": "sort_name",
                        "description": "Sort name",
                        "type": "string",
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "rest_of_name",
                        "description": "Rest of name",
                        "type": "string",
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "surname",
                        "description": "Surname",
                        "type": "string",
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "surname_first",
                        "description": "First surname",
                        "type": "string",
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "suffix",
                        "description": "Suffix",
                        "type": "string",
                        "enum": [
                            "Jr",
                            "Sr",
                            "II",
                            "III",
                            "IV",
                            "V",
                            "VI",
                            "VII"
                        ],
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "preferred_first_name",
                        "description": "Preferred first name",
                        "type": "string",
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "use_preferred_on_id_card",
                        "description": "Use your preferred ID card",
                        "type": "string",
                        "in": "query",
                        "required": false
                    }
                ],
                "tags": [
                    "PersonNamesService"
                ],
                "responses": {
                    "200": {
                        "description": "Service request is OK and a response has been generated.",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "PersonNamesService": {
                                    "type": "object",
                                    "properties": {
                                        "request": {
                                            "type": "object",
                                            "properties": {
                                                "method": {
                                                    "type": "string"
                                                },
                                                "resource": {
                                                    "type": "string"
                                                },
                                                "attributes": {
                                                    "type": "string"
                                                },
                                                "status": {
                                                    "type": "integer"
                                                },
                                                "statusMessage": {
                                                    "type": "string"
                                                }
                                            }
                                        },
                                        "response": {
                                            "type": "object",
                                            "properties": {
                                                "official_name": {
                                                    "type": "object",
                                                    "properties": {
                                                        "sort_name": {
                                                            "type": "string"
                                                        },
                                                        "surname": {
                                                            "type": "string"
                                                        },
                                                        "rest_of_name": {
                                                            "type": "string"
                                                        },
                                                        "first_name": {
                                                            "type": "string"
                                                        },
                                                        "middle_name": {
                                                            "type": "string"
                                                        },
                                                        "surname_position": {
                                                            "type": "string"
                                                        }
                                                    }
                                                },
                                                "preferred_name": {
                                                    "type": "object",
                                                    "properties": {
                                                        "preferred_first_name": {
                                                            "type": "string"
                                                        },
                                                        "use_preferred_name_on_id_card": {
                                                            "type": "boolean"
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "There appears to be a syntax error in the composition of the service request. The response structure may contain information about the error. If the base URI or service request URI is invalid, any response will come as an HTTP response.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "401": {
                        "description": "Failure to authenticate",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "403": {
                        "description": "The user does not have access to the resource.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "404": {
                        "description": "The target resource can not be found for the provided resource identifiers.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "500": {
                        "description": "An error occurred generating the response to the service request. This is strictly a server error and not an application error.",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/documentation": {
            "get": {
                "summary": "service definition",
                "description": "service definition",
                "operationId": "getServiceDocumentation",
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "WebService": {
                                    "type": "object",
                                    "properties": {
                                        "name": {
                                            "type": "string"
                                        },
                                        "operations": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "name": {
                                                        "type": "string"
                                                    },
                                                    "description": {
                                                        "type": "string"
                                                    },
                                                    "method": {
                                                        "type": "string"
                                                    },
                                                    "path": {
                                                        "type": "string"
                                                    },
                                                    "path_identifiers": {
                                                        "type": "array",
                                                        "items": {
                                                            "type": "object",
                                                            "properties": {
                                                                "name": {
                                                                    "type": "string"
                                                                },
                                                                "type": {
                                                                    "type": "string"
                                                                },
                                                                "format": {
                                                                    "type": "string"
                                                                }
                                                            }
                                                        }
                                                    },
                                                    "query_attributes": {
                                                        "type": "array",
                                                        "items": {
                                                            "type": "object",
                                                            "properties": {
                                                                "name": {
                                                                    "type": "string"
                                                                },
                                                                "type": {
                                                                    "type": "string"
                                                                },
                                                                "format": {
                                                                    "type": "string"
                                                                },
                                                                "required": {
                                                                    "type": "string"
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        },
                                        "errors": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "code": {
                                                        "type": "integer"
                                                    },
                                                    "name": {
                                                        "type": "string"
                                                    },
                                                    "message": {
                                                        "type": "string"
                                                    },
                                                    "httpStatusCode": {
                                                        "type": "integer"
                                                    }
                                                }
                                            }
                                        },
                                        "httpStatusCodes": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "code": {
                                                        "type": "integer"
                                                    },
                                                    "message": {
                                                        "type": "string"
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "namesService": {
            "type": "object",
            "properties": {
                "PersonNamesService": {
                    "type": "object",
                    "properties": {
                        "request": {
                            "type": "object",
                            "properties": {
                                "method": {
                                    "type": "string"
                                },
                                "resource": {
                                    "type": "string"
                                },
                                "attributes": {
                                    "type": "string"
                                },
                                "status": {
                                    "type": "integer"
                                },
                                "statusMessage": {
                                    "type": "string"
                                }
                            }
                        },
                        "response": {
                            "type": "object",
                            "properties": {
                                "official_name": {
                                    "type": "object",
                                    "properties": {
                                        "sort_name": {
                                            "type": "string"
                                        },
                                        "surname": {
                                            "type": "string"
                                        },
                                        "rest_of_name": {
                                            "type": "string"
                                        },
                                        "first_name": {
                                            "type": "string"
                                        },
                                        "middle_name": {
                                            "type": "string"
                                        },
                                        "surname_position": {
                                            "type": "string"
                                        }
                                    }
                                },
                                "preferred_name": {
                                    "type": "object",
                                    "properties": {
                                        "preferred_first_name": {
                                            "type": "string"
                                        },
                                        "use_preferred_name_on_id_card": {
                                            "type": "boolean"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "request": {
            "type": "object",
            "properties": {
                "method": {
                    "type": "string"
                },
                "resource": {
                    "type": "string"
                },
                "attributes": {
                    "type": "string"
                },
                "status": {
                    "type": "integer"
                },
                "statusMessage": {
                    "type": "string"
                }
            }
        },
        "response": {
            "type": "object",
            "properties": {
                "official_name": {
                    "type": "object",
                    "properties": {
                        "sort_name": {
                            "type": "string"
                        },
                        "surname": {
                            "type": "string"
                        },
                        "rest_of_name": {
                            "type": "string"
                        },
                        "first_name": {
                            "type": "string"
                        },
                        "middle_name": {
                            "type": "string"
                        },
                        "surname_position": {
                            "type": "string"
                        }
                    }
                },
                "preferred_name": {
                    "type": "object",
                    "properties": {
                        "preferred_first_name": {
                            "type": "string"
                        },
                        "use_preferred_name_on_id_card": {
                            "type": "boolean"
                        }
                    }
                }
            }
        },
        "official_name": {
            "type": "object",
            "properties": {
                "sort_name": {
                    "type": "string"
                },
                "surname": {
                    "type": "string"
                },
                "rest_of_name": {
                    "type": "string"
                },
                "first_name": {
                    "type": "string"
                },
                "middle_name": {
                    "type": "string"
                },
                "surname_position": {
                    "type": "string"
                }
            }
        },
        "preferred_name": {
            "type": "object",
            "properties": {
                "preferred_first_name": {
                    "type": "string"
                },
                "use_preferred_name_on_id_card": {
                    "type": "boolean"
                }
            }
        },
        "documentation": {
            "type": "object",
            "properties": {
                "WebService": {
                    "type": "object",
                    "properties": {
                        "name": {
                            "type": "string"
                        },
                        "operations": {
                            "type": "array",
                            "items": {
                                "type": "object",
                                "properties": {
                                    "name": {
                                        "type": "string"
                                    },
                                    "description": {
                                        "type": "string"
                                    },
                                    "method": {
                                        "type": "string"
                                    },
                                    "path": {
                                        "type": "string"
                                    },
                                    "path_identifiers": {
                                        "type": "array",
                                        "items": {
                                            "type": "object",
                                            "properties": {
                                                "name": {
                                                    "type": "string"
                                                },
                                                "type": {
                                                    "type": "string"
                                                },
                                                "format": {
                                                    "type": "string"
                                                }
                                            }
                                        }
                                    },
                                    "query_attributes": {
                                        "type": "array",
                                        "items": {
                                            "type": "object",
                                            "properties": {
                                                "name": {
                                                    "type": "string"
                                                },
                                                "type": {
                                                    "type": "string"
                                                },
                                                "format": {
                                                    "type": "string"
                                                },
                                                "required": {
                                                    "type": "string"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        },
                        "errors": {
                            "type": "array",
                            "items": {
                                "type": "object",
                                "properties": {
                                    "code": {
                                        "type": "integer"
                                    },
                                    "name": {
                                        "type": "string"
                                    },
                                    "message": {
                                        "type": "string"
                                    },
                                    "httpStatusCode": {
                                        "type": "integer"
                                    }
                                }
                            }
                        },
                        "httpStatusCodes": {
                            "type": "array",
                            "items": {
                                "type": "object",
                                "properties": {
                                    "code": {
                                        "type": "integer"
                                    },
                                    "message": {
                                        "type": "string"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "operations": {
            "type": "array",
            "items": {
                "type": "object",
                "properties": {
                    "name": {
                        "type": "string"
                    },
                    "description": {
                        "type": "string"
                    },
                    "method": {
                        "type": "string"
                    },
                    "path": {
                        "type": "string"
                    },
                    "path_identifiers": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "properties": {
                                "name": {
                                    "type": "string"
                                },
                                "type": {
                                    "type": "string"
                                },
                                "format": {
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "query_attributes": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "properties": {
                                "name": {
                                    "type": "string"
                                },
                                "type": {
                                    "type": "string"
                                },
                                "format": {
                                    "type": "string"
                                },
                                "required": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "errors": {
            "type": "array",
            "items": {
                "type": "object",
                "properties": {
                    "code": {
                        "type": "integer"
                    },
                    "name": {
                        "type": "string"
                    },
                    "message": {
                        "type": "string"
                    },
                    "httpStatusCode": {
                        "type": "integer"
                    }
                }
            }
        },
        "httpStatusCodes": {
            "type": "array",
            "items": {
                "type": "object",
                "properties": {
                    "code": {
                        "type": "integer"
                    },
                    "message": {
                        "type": "string"
                    }
                }
            }
        }
    },
    "x-mock_json": {
        "namesService": {
            "PersonNamesService": {
                "request": {
                    "method": "GET",
                    "resource": "/json/123456789",
                    "attributes": "",
                    "status": 200,
                    "statusMessage": "Service request is OK and a response has been generated."
                },
                "response": {
                    "official_name": {
                        "sort_name": "Doe, John Albert",
                        "surname": "Doe",
                        "rest_of_name": "John Albert",
                        "first_name": "John",
                        "middle_name": "Albert",
                        "surname_position": "L"
                    },
                    "preferred_name": {
                        "preferred_first_name": "John",
                        "use_preferred_name_on_id_card": false
                    }
                }
            }
        }
    }
}