{
    "swagger": "2.0",
    "info": {
        "title": "IdentityPersonPersonNames",
        "description": "PersonNamesService",
        "version": "v1"
    },
    "host": "api.byu.edu:443",
    "schemes": [
        "https"
    ],
    "basePath": "/domains/legacy/identity/person/personnames/v1",
    "produces": [
        "application/json"
    ],
    "paths": {
        "/{person_id_net_id}": {
            "put": {
                "summary": "Update a person's names.",
                "description": "Update a person's names.",
                "operationId": "savePersonNames",
                "parameters": [
                    {
                        "name": "person_id_net_id",
                        "description": "string -> person_id or net_id",
                        "type": "string",
                        "in": "path",
                        "required": true
                    }
                ],
                "tags": [
                    "PersonNamesService"
                ],
                "responses": {
                    "200": {
                        "description": "Service request is OK and a response has been generated.",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "Person Names Service": {
                                    "type": "object",
                                    "properties": {
                                        "resource": {
                                            "type": "object",
                                            "properties": {
                                                "methods": {
                                                    "type": "object",
                                                    "properties": {
                                                        "options": {
                                                            "type": "array",
                                                            "items": {
                                                                "type": "string"
                                                            }
                                                        },
                                                        "adaptations": {
                                                            "type": "array",
                                                            "items": {
                                                                "type": "object",
                                                                "properties": {
                                                                    "PUT": {
                                                                        "type": "array",
                                                                        "items": {
                                                                            "type": "string"
                                                                        }
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    }
                                                },
                                                "URI": {
                                                    "type": "string"
                                                },
                                                "examples": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string"
                                                    }
                                                },
                                                "identifiers": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object",
                                                        "properties": {
                                                            "personid": {
                                                                "type": "object",
                                                                "properties": {
                                                                    "description": {
                                                                        "type": "string"
                                                                    },
                                                                    "required": {
                                                                        "type": "boolean"
                                                                    },
                                                                    "default": {
                                                                        "type": "string"
                                                                    }
                                                                }
                                                            },
                                                            "netid": {
                                                                "type": "object",
                                                                "properties": {
                                                                    "description": {
                                                                        "type": "string"
                                                                    },
                                                                    "required": {
                                                                        "type": "boolean"
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    }
                                                },
                                                "attributes": {
                                                    "type": "object",
                                                    "properties": {
                                                        "surname": {
                                                            "type": "object",
                                                            "properties": {
                                                                "description": {
                                                                    "type": "string"
                                                                },
                                                                "required": {
                                                                    "type": "boolean"
                                                                }
                                                            }
                                                        },
                                                        "rest_of_name": {
                                                            "type": "object",
                                                            "properties": {
                                                                "description": {
                                                                    "type": "string"
                                                                },
                                                                "required": {
                                                                    "type": "boolean"
                                                                }
                                                            }
                                                        },
                                                        "surname_first": {
                                                            "type": "object",
                                                            "properties": {
                                                                "description": {
                                                                    "type": "string"
                                                                },
                                                                "required": {
                                                                    "type": "boolean"
                                                                }
                                                            }
                                                        },
                                                        "preferred_first_name": {
                                                            "type": "object",
                                                            "properties": {
                                                                "description": {
                                                                    "type": "string"
                                                                },
                                                                "required": {
                                                                    "type": "boolean"
                                                                }
                                                            }
                                                        },
                                                        "use_preferred_on_id_card": {
                                                            "type": "object",
                                                            "properties": {
                                                                "description": {
                                                                    "type": "string"
                                                                },
                                                                "required": {
                                                                    "type": "boolean"
                                                                }
                                                            }
                                                        },
                                                        "suffix": {
                                                            "type": "object",
                                                            "properties": {
                                                                "description": {
                                                                    "type": "string"
                                                                },
                                                                "required": {
                                                                    "type": "boolean"
                                                                },
                                                                "conditions": {
                                                                    "type": "string"
                                                                }
                                                            }
                                                        }
                                                    }
                                                },
                                                "note": {
                                                    "type": "string"
                                                }
                                            }
                                        },
                                        "request": {
                                            "type": "object",
                                            "properties": {
                                                "method": {
                                                    "type": "string"
                                                },
                                                "resource": {
                                                    "type": "string"
                                                },
                                                "attributes": {
                                                    "type": "string"
                                                },
                                                "status": {
                                                    "type": "string"
                                                }
                                            }
                                        },
                                        "response": {
                                            "type": "object",
                                            "properties": {
                                                "sort_name": {
                                                    "type": "string"
                                                },
                                                "surname": {
                                                    "type": "string"
                                                },
                                                "rest_of_name": {
                                                    "type": "string"
                                                },
                                                "first_name": {
                                                    "type": "string"
                                                },
                                                "middle_name": {
                                                    "type": "string"
                                                },
                                                "surname_first": {
                                                    "type": "boolean"
                                                },
                                                "suffix": {
                                                    "type": "string"
                                                },
                                                "suffix_table": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string"
                                                    }
                                                },
                                                "preferred_first_name": {
                                                    "type": "string"
                                                },
                                                "byu_id_card_name": {
                                                    "type": "string"
                                                },
                                                "warnings": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string"
                                                    }
                                                },
                                                "update_field_set": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string"
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "There appears to be a syntax error in the composition of the service request. The response structure may contain information about the error. If the base URI or service request URI is invalid, any response will come as an HTTP response.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "403": {
                        "description": "The user does not have access to the resource.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "404": {
                        "description": "The target resource can not be found for the provided resource identifiers.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "405": {
                        "description": "The service method is not supported by the service.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "409": {
                        "description": "A conflict has occurred. The response structure may contain information about the conflict.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "500": {
                        "description": "An error occurred generating the response to the service request. This is strictly a server error and not an application error.",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            },
            "get": {
                "summary": "Retrieve a person's names.",
                "description": "Retrieve a person's names.",
                "operationId": "getPersonNames",
                "parameters": [
                    {
                        "name": "person_id_net_id",
                        "description": "string -> person_id or net_id",
                        "type": "string",
                        "in": "path",
                        "required": true
                    }
                ],
                "tags": [
                    "PersonNamesService"
                ],
                "responses": {
                    "200": {
                        "description": "Service request is OK and a response has been generated.",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "Person Names Service": {
                                    "type": "object",
                                    "properties": {
                                        "resource": {
                                            "type": "object",
                                            "properties": {
                                                "methods": {
                                                    "type": "object",
                                                    "properties": {
                                                        "options": {
                                                            "type": "array",
                                                            "items": {
                                                                "type": "string"
                                                            }
                                                        },
                                                        "adaptations": {
                                                            "type": "array",
                                                            "items": {
                                                                "type": "object",
                                                                "properties": {
                                                                    "PUT": {
                                                                        "type": "array",
                                                                        "items": {
                                                                            "type": "string"
                                                                        }
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    }
                                                },
                                                "URI": {
                                                    "type": "string"
                                                },
                                                "examples": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string"
                                                    }
                                                },
                                                "identifiers": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object",
                                                        "properties": {
                                                            "personid": {
                                                                "type": "object",
                                                                "properties": {
                                                                    "description": {
                                                                        "type": "string"
                                                                    },
                                                                    "required": {
                                                                        "type": "boolean"
                                                                    },
                                                                    "default": {
                                                                        "type": "string"
                                                                    }
                                                                }
                                                            },
                                                            "netid": {
                                                                "type": "object",
                                                                "properties": {
                                                                    "description": {
                                                                        "type": "string"
                                                                    },
                                                                    "required": {
                                                                        "type": "boolean"
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    }
                                                },
                                                "attributes": {
                                                    "type": "object",
                                                    "properties": {
                                                        "surname": {
                                                            "type": "object",
                                                            "properties": {
                                                                "description": {
                                                                    "type": "string"
                                                                },
                                                                "required": {
                                                                    "type": "boolean"
                                                                }
                                                            }
                                                        },
                                                        "rest_of_name": {
                                                            "type": "object",
                                                            "properties": {
                                                                "description": {
                                                                    "type": "string"
                                                                },
                                                                "required": {
                                                                    "type": "boolean"
                                                                }
                                                            }
                                                        },
                                                        "surname_first": {
                                                            "type": "object",
                                                            "properties": {
                                                                "description": {
                                                                    "type": "string"
                                                                },
                                                                "required": {
                                                                    "type": "boolean"
                                                                }
                                                            }
                                                        },
                                                        "preferred_first_name": {
                                                            "type": "object",
                                                            "properties": {
                                                                "description": {
                                                                    "type": "string"
                                                                },
                                                                "required": {
                                                                    "type": "boolean"
                                                                }
                                                            }
                                                        },
                                                        "use_preferred_on_id_card": {
                                                            "type": "object",
                                                            "properties": {
                                                                "description": {
                                                                    "type": "string"
                                                                },
                                                                "required": {
                                                                    "type": "boolean"
                                                                }
                                                            }
                                                        },
                                                        "suffix": {
                                                            "type": "object",
                                                            "properties": {
                                                                "description": {
                                                                    "type": "string"
                                                                },
                                                                "required": {
                                                                    "type": "boolean"
                                                                },
                                                                "conditions": {
                                                                    "type": "string"
                                                                }
                                                            }
                                                        }
                                                    }
                                                },
                                                "note": {
                                                    "type": "string"
                                                }
                                            }
                                        },
                                        "request": {
                                            "type": "object",
                                            "properties": {
                                                "method": {
                                                    "type": "string"
                                                },
                                                "resource": {
                                                    "type": "string"
                                                },
                                                "attributes": {
                                                    "type": "string"
                                                },
                                                "status": {
                                                    "type": "string"
                                                }
                                            }
                                        },
                                        "response": {
                                            "type": "object",
                                            "properties": {
                                                "sort_name": {
                                                    "type": "string"
                                                },
                                                "surname": {
                                                    "type": "string"
                                                },
                                                "rest_of_name": {
                                                    "type": "string"
                                                },
                                                "first_name": {
                                                    "type": "string"
                                                },
                                                "middle_name": {
                                                    "type": "string"
                                                },
                                                "surname_first": {
                                                    "type": "boolean"
                                                },
                                                "suffix": {
                                                    "type": "string"
                                                },
                                                "suffix_table": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string"
                                                    }
                                                },
                                                "preferred_first_name": {
                                                    "type": "string"
                                                },
                                                "byu_id_card_name": {
                                                    "type": "string"
                                                },
                                                "warnings": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string"
                                                    }
                                                },
                                                "update_field_set": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string"
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        },
                        "examples": {
                            "application/json": {
                                "Person Names Service": {
                                    "resource": {
                                        "methods": {
                                            "options": [
                                                "GET",
                                                "PUT"
                                            ],
                                            "adaptations": [
                                                {
                                                    "PUT": [
                                                        "Tunnel through a GET with attributes in the query string name value pairs",
                                                        "Tunnel through a POST with attributes in POST content name values pairs"
                                                    ]
                                                }
                                            ]
                                        },
                                        "URI": "/[personid|netid]",
                                        "examples": [
                                            "/",
                                            "/123456789",
                                            "/byu999"
                                        ],
                                        "identifiers": [
                                            {
                                                "personid": {
                                                    "description": "Unique identifier of an individual",
                                                    "required": false,
                                                    "default": "Identifier of authenticated individual"
                                                }
                                            },
                                            {
                                                "netid": {
                                                    "description": "Online account or network identifier of an individual",
                                                    "required": false
                                                }
                                            }
                                        ],
                                        "attributes": {
                                            "surname": {
                                                "description": "Often the family name of the individual or last name",
                                                "required": false
                                            },
                                            "rest_of_name": {
                                                "description": "Given name or names",
                                                "required": false
                                            },
                                            "surname_first": {
                                                "description": "A boolean indicator.  If true (any non null value) indicates that the surname is read first instead of last.  A null value or false will indicate that the surname is to be read last.  If omitted no change will be made to the surname position setting.",
                                                "required": false
                                            },
                                            "preferred_first_name": {
                                                "description": "A name of individual choice",
                                                "required": false
                                            },
                                            "use_preferred_on_id_card": {
                                                "description": "A boolean indicator.  If true (any non null value) indicates that the preferred first name is to be printed on the ID card of the individual.  A null value or false will indicate that the given names, defined by the rest_of_name attribute, are to be printed on the ID card of the individual.  If omitted no change will be made to the ID card name setting.",
                                                "required": false
                                            },
                                            "suffix": {
                                                "description": "Name suffix such as Jr, Sr, II, etc...",
                                                "required": false,
                                                "conditions": "Must be a defined value in the provided suffix table set"
                                            }
                                        },
                                        "note": "If an attribute is not present in the PUT request, the current value in the database will be retained.  That is to say only the values that need changed need be present in the PUT request.  Examples: /[personid]?surname=Young, /[personid/preferred_first_name=Brigham, /[personid]?surname=Young&rest_of_name=Brigham&preferred_first_name=Brigham&surname_first=true"
                                    },
                                    "request": {
                                        "method": "GET",
                                        "resource": "/johnd",
                                        "attributes": "",
                                        "status": "200"
                                    },
                                    "response": {
                                        "sort_name": "Doe, John Albert",
                                        "surname": "Doe",
                                        "rest_of_name": "John Albert",
                                        "first_name": "John",
                                        "middle_name": "Albert",
                                        "surname_first": false,
                                        "suffix": "",
                                        "suffix_table": [
                                            "",
                                            "Jr",
                                            "Sr",
                                            "I",
                                            "II",
                                            "III",
                                            "IV",
                                            "V",
                                            "VI",
                                            "VII"
                                        ],
                                        "preferred_first_name": "John",
                                        "byu_id_card_name": "John Albert Doe",
                                        "warnings": [
                                            "Non-Directory information is accessible only to yourself and to university personnel with a legitimate need to know",
                                            "No update is allowed."
                                        ],
                                        "update_field_set": [
                                            ""
                                        ]
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "There appears to be a syntax error in the composition of the service request. The response structure may contain information about the error. If the base URI or service request URI is invalid, any response will come as an HTTP response.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "403": {
                        "description": "The user does not have access to the resource.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "404": {
                        "description": "The target resource can not be found for the provided resource identifiers.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "405": {
                        "description": "The service method is not supported by the service.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "409": {
                        "description": "A conflict has occurred. The response structure may contain information about the conflict.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "500": {
                        "description": "An error occurred generating the response to the service request. This is strictly a server error and not an application error.",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/documentation": {
            "get": {
                "summary": "service definition",
                "description": "service definition",
                "operationId": "getServiceDocumentation",
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "WebService": {
                                    "type": "object",
                                    "properties": {
                                        "name": {
                                            "type": "string"
                                        },
                                        "operations": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "name": {
                                                        "type": "string"
                                                    },
                                                    "description": {
                                                        "type": "string"
                                                    },
                                                    "method": {
                                                        "type": "string"
                                                    },
                                                    "path": {
                                                        "type": "string"
                                                    },
                                                    "path_identifiers": {
                                                        "type": "array",
                                                        "items": {
                                                            "type": "object",
                                                            "properties": {
                                                                "name": {
                                                                    "type": "string"
                                                                },
                                                                "type": {
                                                                    "type": "string"
                                                                },
                                                                "format": {
                                                                    "type": "string"
                                                                }
                                                            }
                                                        }
                                                    },
                                                    "query_attributes": {
                                                        "type": "array",
                                                        "items": {
                                                            "type": "object",
                                                            "properties": {
                                                                "name": {
                                                                    "type": "string"
                                                                },
                                                                "type": {
                                                                    "type": "string"
                                                                },
                                                                "format": {
                                                                    "type": "string"
                                                                },
                                                                "required": {
                                                                    "type": "string"
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        },
                                        "errors": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "code": {
                                                        "type": "integer"
                                                    },
                                                    "name": {
                                                        "type": "string"
                                                    },
                                                    "message": {
                                                        "type": "string"
                                                    },
                                                    "httpStatusCode": {
                                                        "type": "integer"
                                                    }
                                                }
                                            }
                                        },
                                        "httpStatusCodes": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "code": {
                                                        "type": "integer"
                                                    },
                                                    "message": {
                                                        "type": "string"
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "NamesService": {
            "type": "object",
            "properties": {
                "Person Names Service": {
                    "type": "object",
                    "properties": {
                        "resource": {
                            "type": "object",
                            "properties": {
                                "methods": {
                                    "type": "object",
                                    "properties": {
                                        "options": {
                                            "type": "array",
                                            "items": {
                                                "type": "string"
                                            }
                                        },
                                        "adaptations": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "PUT": {
                                                        "type": "array",
                                                        "items": {
                                                            "type": "string"
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                },
                                "URI": {
                                    "type": "string"
                                },
                                "examples": {
                                    "type": "array",
                                    "items": {
                                        "type": "string"
                                    }
                                },
                                "identifiers": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "personid": {
                                                "type": "object",
                                                "properties": {
                                                    "description": {
                                                        "type": "string"
                                                    },
                                                    "required": {
                                                        "type": "boolean"
                                                    },
                                                    "default": {
                                                        "type": "string"
                                                    }
                                                }
                                            },
                                            "netid": {
                                                "type": "object",
                                                "properties": {
                                                    "description": {
                                                        "type": "string"
                                                    },
                                                    "required": {
                                                        "type": "boolean"
                                                    }
                                                }
                                            }
                                        }
                                    }
                                },
                                "attributes": {
                                    "type": "object",
                                    "properties": {
                                        "surname": {
                                            "type": "object",
                                            "properties": {
                                                "description": {
                                                    "type": "string"
                                                },
                                                "required": {
                                                    "type": "boolean"
                                                }
                                            }
                                        },
                                        "rest_of_name": {
                                            "type": "object",
                                            "properties": {
                                                "description": {
                                                    "type": "string"
                                                },
                                                "required": {
                                                    "type": "boolean"
                                                }
                                            }
                                        },
                                        "surname_first": {
                                            "type": "object",
                                            "properties": {
                                                "description": {
                                                    "type": "string"
                                                },
                                                "required": {
                                                    "type": "boolean"
                                                }
                                            }
                                        },
                                        "preferred_first_name": {
                                            "type": "object",
                                            "properties": {
                                                "description": {
                                                    "type": "string"
                                                },
                                                "required": {
                                                    "type": "boolean"
                                                }
                                            }
                                        },
                                        "use_preferred_on_id_card": {
                                            "type": "object",
                                            "properties": {
                                                "description": {
                                                    "type": "string"
                                                },
                                                "required": {
                                                    "type": "boolean"
                                                }
                                            }
                                        },
                                        "suffix": {
                                            "type": "object",
                                            "properties": {
                                                "description": {
                                                    "type": "string"
                                                },
                                                "required": {
                                                    "type": "boolean"
                                                },
                                                "conditions": {
                                                    "type": "string"
                                                }
                                            }
                                        }
                                    }
                                },
                                "note": {
                                    "type": "string"
                                }
                            }
                        },
                        "request": {
                            "type": "object",
                            "properties": {
                                "method": {
                                    "type": "string"
                                },
                                "resource": {
                                    "type": "string"
                                },
                                "attributes": {
                                    "type": "string"
                                },
                                "status": {
                                    "type": "string"
                                }
                            }
                        },
                        "response": {
                            "type": "object",
                            "properties": {
                                "sort_name": {
                                    "type": "string"
                                },
                                "surname": {
                                    "type": "string"
                                },
                                "rest_of_name": {
                                    "type": "string"
                                },
                                "first_name": {
                                    "type": "string"
                                },
                                "middle_name": {
                                    "type": "string"
                                },
                                "surname_first": {
                                    "type": "boolean"
                                },
                                "suffix": {
                                    "type": "string"
                                },
                                "suffix_table": {
                                    "type": "array",
                                    "items": {
                                        "type": "string"
                                    }
                                },
                                "preferred_first_name": {
                                    "type": "string"
                                },
                                "byu_id_card_name": {
                                    "type": "string"
                                },
                                "warnings": {
                                    "type": "array",
                                    "items": {
                                        "type": "string"
                                    }
                                },
                                "update_field_set": {
                                    "type": "array",
                                    "items": {
                                        "type": "string"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "resource": {
            "type": "object",
            "properties": {
                "methods": {
                    "type": "object",
                    "properties": {
                        "options": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        },
                        "adaptations": {
                            "type": "array",
                            "items": {
                                "type": "object",
                                "properties": {
                                    "PUT": {
                                        "type": "array",
                                        "items": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "URI": {
                    "type": "string"
                },
                "examples": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                },
                "identifiers": {
                    "type": "array",
                    "items": {
                        "type": "object",
                        "properties": {
                            "personid": {
                                "type": "object",
                                "properties": {
                                    "description": {
                                        "type": "string"
                                    },
                                    "required": {
                                        "type": "boolean"
                                    },
                                    "default": {
                                        "type": "string"
                                    }
                                }
                            },
                            "netid": {
                                "type": "object",
                                "properties": {
                                    "description": {
                                        "type": "string"
                                    },
                                    "required": {
                                        "type": "boolean"
                                    }
                                }
                            }
                        }
                    }
                },
                "attributes": {
                    "type": "object",
                    "properties": {
                        "surname": {
                            "type": "object",
                            "properties": {
                                "description": {
                                    "type": "string"
                                },
                                "required": {
                                    "type": "boolean"
                                }
                            }
                        },
                        "rest_of_name": {
                            "type": "object",
                            "properties": {
                                "description": {
                                    "type": "string"
                                },
                                "required": {
                                    "type": "boolean"
                                }
                            }
                        },
                        "surname_first": {
                            "type": "object",
                            "properties": {
                                "description": {
                                    "type": "string"
                                },
                                "required": {
                                    "type": "boolean"
                                }
                            }
                        },
                        "preferred_first_name": {
                            "type": "object",
                            "properties": {
                                "description": {
                                    "type": "string"
                                },
                                "required": {
                                    "type": "boolean"
                                }
                            }
                        },
                        "use_preferred_on_id_card": {
                            "type": "object",
                            "properties": {
                                "description": {
                                    "type": "string"
                                },
                                "required": {
                                    "type": "boolean"
                                }
                            }
                        },
                        "suffix": {
                            "type": "object",
                            "properties": {
                                "description": {
                                    "type": "string"
                                },
                                "required": {
                                    "type": "boolean"
                                },
                                "conditions": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                },
                "note": {
                    "type": "string"
                }
            }
        },
        "request": {
            "type": "object",
            "properties": {
                "method": {
                    "type": "string"
                },
                "resource": {
                    "type": "string"
                },
                "attributes": {
                    "type": "string"
                },
                "status": {
                    "type": "string"
                }
            }
        },
        "response": {
            "type": "object",
            "properties": {
                "sort_name": {
                    "type": "string"
                },
                "surname": {
                    "type": "string"
                },
                "rest_of_name": {
                    "type": "string"
                },
                "first_name": {
                    "type": "string"
                },
                "middle_name": {
                    "type": "string"
                },
                "surname_first": {
                    "type": "boolean"
                },
                "suffix": {
                    "type": "string"
                },
                "suffix_table": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                },
                "preferred_first_name": {
                    "type": "string"
                },
                "byu_id_card_name": {
                    "type": "string"
                },
                "warnings": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                },
                "update_field_set": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                }
            }
        },
        "documentation": {
            "type": "object",
            "properties": {
                "WebService": {
                    "type": "object",
                    "properties": {
                        "name": {
                            "type": "string"
                        },
                        "operations": {
                            "type": "array",
                            "items": {
                                "type": "object",
                                "properties": {
                                    "name": {
                                        "type": "string"
                                    },
                                    "description": {
                                        "type": "string"
                                    },
                                    "method": {
                                        "type": "string"
                                    },
                                    "path": {
                                        "type": "string"
                                    },
                                    "path_identifiers": {
                                        "type": "array",
                                        "items": {
                                            "type": "object",
                                            "properties": {
                                                "name": {
                                                    "type": "string"
                                                },
                                                "type": {
                                                    "type": "string"
                                                },
                                                "format": {
                                                    "type": "string"
                                                }
                                            }
                                        }
                                    },
                                    "query_attributes": {
                                        "type": "array",
                                        "items": {
                                            "type": "object",
                                            "properties": {
                                                "name": {
                                                    "type": "string"
                                                },
                                                "type": {
                                                    "type": "string"
                                                },
                                                "format": {
                                                    "type": "string"
                                                },
                                                "required": {
                                                    "type": "string"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        },
                        "errors": {
                            "type": "array",
                            "items": {
                                "type": "object",
                                "properties": {
                                    "code": {
                                        "type": "integer"
                                    },
                                    "name": {
                                        "type": "string"
                                    },
                                    "message": {
                                        "type": "string"
                                    },
                                    "httpStatusCode": {
                                        "type": "integer"
                                    }
                                }
                            }
                        },
                        "httpStatusCodes": {
                            "type": "array",
                            "items": {
                                "type": "object",
                                "properties": {
                                    "code": {
                                        "type": "integer"
                                    },
                                    "message": {
                                        "type": "string"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "operations": {
            "type": "array",
            "items": {
                "type": "object",
                "properties": {
                    "name": {
                        "type": "string"
                    },
                    "description": {
                        "type": "string"
                    },
                    "method": {
                        "type": "string"
                    },
                    "path": {
                        "type": "string"
                    },
                    "path_identifiers": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "properties": {
                                "name": {
                                    "type": "string"
                                },
                                "type": {
                                    "type": "string"
                                },
                                "format": {
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "query_attributes": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "properties": {
                                "name": {
                                    "type": "string"
                                },
                                "type": {
                                    "type": "string"
                                },
                                "format": {
                                    "type": "string"
                                },
                                "required": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "errors": {
            "type": "array",
            "items": {
                "type": "object",
                "properties": {
                    "code": {
                        "type": "integer"
                    },
                    "name": {
                        "type": "string"
                    },
                    "message": {
                        "type": "string"
                    },
                    "httpStatusCode": {
                        "type": "integer"
                    }
                }
            }
        },
        "httpStatusCodes": {
            "type": "array",
            "items": {
                "type": "object",
                "properties": {
                    "code": {
                        "type": "integer"
                    },
                    "message": {
                        "type": "string"
                    }
                }
            }
        }
    },
    "x-mock_json": {
        "NamesService": {
            "Person Names Service": {
                "resource": {
                    "methods": {
                        "options": [
                            "GET",
                            "PUT"
                        ],
                        "adaptations": [
                            {
                                "PUT": [
                                    "Tunnel through a GET with attributes in the query string name value pairs",
                                    "Tunnel through a POST with attributes in POST content name values pairs"
                                ]
                            }
                        ]
                    },
                    "URI": "/[personid|netid]",
                    "examples": [
                        "/",
                        "/123456789",
                        "/byu999"
                    ],
                    "identifiers": [
                        {
                            "personid": {
                                "description": "Unique identifier of an individual",
                                "required": false,
                                "default": "Identifier of authenticated individual"
                            }
                        },
                        {
                            "netid": {
                                "description": "Online account or network identifier of an individual",
                                "required": false
                            }
                        }
                    ],
                    "attributes": {
                        "surname": {
                            "description": "Often the family name of the individual or last name",
                            "required": false
                        },
                        "rest_of_name": {
                            "description": "Given name or names",
                            "required": false
                        },
                        "surname_first": {
                            "description": "A boolean indicator.  If true (any non null value) indicates that the surname is read first instead of last.  A null value or false will indicate that the surname is to be read last.  If omitted no change will be made to the surname position setting.",
                            "required": false
                        },
                        "preferred_first_name": {
                            "description": "A name of individual choice",
                            "required": false
                        },
                        "use_preferred_on_id_card": {
                            "description": "A boolean indicator.  If true (any non null value) indicates that the preferred first name is to be printed on the ID card of the individual.  A null value or false will indicate that the given names, defined by the rest_of_name attribute, are to be printed on the ID card of the individual.  If omitted no change will be made to the ID card name setting.",
                            "required": false
                        },
                        "suffix": {
                            "description": "Name suffix such as Jr, Sr, II, etc...",
                            "required": false,
                            "conditions": "Must be a defined value in the provided suffix table set"
                        }
                    },
                    "note": "If an attribute is not present in the PUT request, the current value in the database will be retained.  That is to say only the values that need changed need be present in the PUT request.  Examples: /[personid]?surname=Young, /[personid/preferred_first_name=Brigham, /[personid]?surname=Young&rest_of_name=Brigham&preferred_first_name=Brigham&surname_first=true"
                },
                "request": {
                    "method": "GET",
                    "resource": "/johnd",
                    "attributes": "",
                    "status": "200"
                },
                "response": {
                    "sort_name": "Doe, John Albert",
                    "surname": "Doe",
                    "rest_of_name": "John Albert",
                    "first_name": "John",
                    "middle_name": "Albert",
                    "surname_first": false,
                    "suffix": "",
                    "suffix_table": [
                        "",
                        "Jr",
                        "Sr",
                        "I",
                        "II",
                        "III",
                        "IV",
                        "V",
                        "VI",
                        "VII"
                    ],
                    "preferred_first_name": "John",
                    "byu_id_card_name": "John Albert Doe",
                    "warnings": [
                        "Non-Directory information is accessible only to yourself and to university personnel with a legitimate need to know",
                        "No update is allowed."
                    ],
                    "update_field_set": [
                        ""
                    ]
                }
            }
        }
    }
}