{
    "paths": {
        "/columns": {
            "get": {
                "x-auth-type": "Application & Application User",
                "x-throttling-tier": "Unlimited",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "description": "db Configuration",
                        "name": "db",
                        "required": false,
                        "type": "string",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {}
                }
            }
        },
        "/columns/{schema}": {
            "get": {
                "x-auth-type": "Application & Application User",
                "x-throttling-tier": "Unlimited",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "description": "Schema name",
                        "name": "schema",
                        "type": "string",
                        "required": true,
                        "in": "path"
                    },
                    {
                        "description": "db Configuration",
                        "name": "db",
                        "required": false,
                        "type": "string",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {}
                }
            }
        },
        "/columns/{schema}/{table}": {
            "get": {
                "x-auth-type": "Application & Application User",
                "x-throttling-tier": "Unlimited",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "description": "Schema name",
                        "name": "schema",
                        "type": "string",
                        "required": true,
                        "in": "path"
                    },
                    {
                        "description": "Table name",
                        "name": "table",
                        "type": "string",
                        "required": true,
                        "in": "path"
                    },
                    {
                        "description": "db Configuration",
                        "name": "db",
                        "required": false,
                        "type": "string",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {}
                }
            }
        }
    },
    "swagger": "2.0",
    "info": {
        "title": "InfohubSchemaExport",
        "description": "Microservices created for Infohub oracle access",
        "version": "v1"
    },
    "basePath": "/domains/infohub/infohub-utils/v1",
    "host": "api.byu.edu:443"
}