{
    "basePath": "/domains/erp/fs/inventory_transactions/v1",
    "host": "api.byu.edu:443",
    "paths": {
        "/*": {
            "get": {
                "description": "",
                "parameters": [
                    {
                        "maxLength": 30,
                        "description": "Item ID",
                        "minLength": 1,
                        "name": "item_id",
                        "required": false,
                        "type": "string",
                        "in": "query",
                        "allowEmptyValue": true
                    },
                    {
                        "maxLength": 30,
                        "description": "Serial ID",
                        "minLength": 1,
                        "name": "serial_id",
                        "required": false,
                        "type": "string",
                        "in": "query",
                        "allowEmptyValue": true
                    },
                    {
                        "maxLength": 30,
                        "description": "Item Group",
                        "minLength": 1,
                        "name": "item_group",
                        "required": false,
                        "type": "string",
                        "in": "query",
                        "allowEmptyValue": true
                    },
                    {
                        "maxLength": 30,
                        "description": "Category",
                        "minLength": 1,
                        "name": "category_code",
                        "required": false,
                        "type": "string",
                        "in": "query",
                        "allowEmptyValue": true
                    },
                    {
                        "maxLength": 60,
                        "description": "CAS Registry Number",
                        "minLength": 1,
                        "name": "cas_id",
                        "required": false,
                        "type": "string",
                        "in": "query",
                        "allowEmptyValue": true
                    },
                    {
                        "maxLength": 30,
                        "description": "Transaction Type",
                        "minLength": 1,
                        "name": "transaction_type",
                        "required": false,
                        "type": "string",
                        "in": "query",
                        "allowEmptyValue": true
                    },
                    {
                        "maxLength": 10,
                        "description": "Effective Date",
                        "minLength": 1,
                        "name": "effective_date",
                        "required": false,
                        "type": "string",
                        "in": "query",
                        "allowEmptyValue": true
                    }
                ],
                "responses": {
                    "200": {
                        "schema": {
                            "$ref": "#/definitions/inventory_transactions"
                        },
                        "description": "The default response type is JSON.  Add an Accept header with value=application/xml to return an XML response.",
                        "examples": {
                            "application/json": {
                                "inventory_transactions": {
                                    "inventory_transaction": [
                                        {
                                            "product_family_code": "CHEMICALS",
                                            "po_id": {},
                                            "transaction_line_number": "2",
                                            "storage_location": "V-J-04",
                                            "transaction_type": "Sale",
                                            "customer_name": "Mouse, Mickey",
                                            "cas_registry_number": "71-43-2",
                                            "transaction_line_quantity": "1.0000",
                                            "category_id": "00255",
                                            "item_description": "BENZENE, HPLC (1 LT)",
                                            "net_id": "xxxxxxxx",
                                            "item_received_date": "2017-01-20",
                                            "transaction_type_id": "030",
                                            "transaction_datetime": "2017-02-01 10:02:09",
                                            "item_id": "000000000000005759",
                                            "storage_transfer_location": "C437 BNSN-Provo, UT  84602",
                                            "transaction_adjustment_type": {},
                                            "transaction_adjustment_description": {},
                                            "item_unit_of_measure": "LT",
                                            "item_group": "CHEMS CH",
                                            "category_code": "CH01",
                                            "item_serial_id": "BYUCS00FEB",
                                            "msr_number": "MSR0094564"
                                        },
                                        {
                                            "product_family_code": "CHEMICALS",
                                            "po_id": {},
                                            "transaction_line_number": "1",
                                            "storage_location": "V-U-04",
                                            "transaction_type": "Sale",
                                            "customer_name": "Duck, Daisy",
                                            "cas_registry_number": "67-63-0",
                                            "transaction_line_quantity": "1.0000",
                                            "category_id": "00255",
                                            "item_description": "iso-PROPYL ALCOHOL (4 LT)",
                                            "net_id": "xxxxxxxx",
                                            "item_received_date": "2016-11-30",
                                            "transaction_type_id": "030",
                                            "transaction_datetime": "2017-02-01 10:08:38",
                                            "item_id": "000000000000006746",
                                            "storage_transfer_location": "S161 ESC-Provo, UT  84602",
                                            "transaction_adjustment_type": {},
                                            "transaction_adjustment_description": {},
                                            "item_unit_of_measure": "LT",
                                            "item_group": "CHEMS CH",
                                            "category_code": "CH01",
                                            "item_serial_id": "BYUCS00EWD",
                                            "msr_number": "MSR0094565"
                                        }
                                    ]
                                }
                            }
                        }
                    }
                },
                "x-auth-type": "Application & Application User",
                "x-throttling-tier": "Unlimited"
            }
        }
    },
    "schemes": [
        "https"
    ],
    "produces": [
        "application/json"
    ],
    "swagger": "2.0",
    "definitions": {
        "product_family_code": {
            "maxLength": 10,
            "type": "string"
        },
        "inventory_transaction": {
            "properties": {
                "product_family_code": {
                    "$ref": "#/definitions/product_family_code"
                },
                "po_id": {
                    "$ref": "#/definitions/po_id"
                },
                "transaction_line_number": {
                    "$ref": "#/definitions/transaction_line_number"
                },
                "storage_location": {
                    "$ref": "#/definitions/storage_location"
                },
                "transaction_type": {
                    "$ref": "#/definitions/transaction_type"
                },
                "customer_name": {
                    "$ref": "#/definitions/customer_name"
                },
                "cas_registry_number": {
                    "$ref": "#/definitions/cas_registry_number"
                },
                "transaction_line_quantity": {
                    "$ref": "#/definitions/transaction_line_quantity"
                },
                "category_id": {
                    "$ref": "#/definitions/category_id"
                },
                "item_description": {
                    "$ref": "#/definitions/item_description"
                },
                "net_id": {
                    "$ref": "#/definitions/net_id"
                },
                "item_received_date": {
                    "$ref": "#/definitions/item_received_date"
                },
                "transaction_type_id": {
                    "$ref": "#/definitions/transaction_type_id"
                },
                "transaction_datetime": {
                    "$ref": "#/definitions/transaction_datetime"
                },
                "item_id": {
                    "$ref": "#/definitions/item_id"
                },
                "storage_transfer_location": {
                    "$ref": "#/definitions/storage_transfer_location"
                },
                "transaction_adjustment_type": {
                    "$ref": "#/definitions/transaction_adjustment_type"
                },
                "transaction_adjustment_description": {
                    "$ref": "#/definitions/transaction_adjustment_description"
                },
                "item_unit_of_measure": {
                    "$ref": "#/definitions/item_unit_of_measure"
                },
                "item_group": {
                    "$ref": "#/definitions/item_group"
                },
                "category_code": {
                    "$ref": "#/definitions/category_code"
                },
                "item_serial_id": {
                    "$ref": "#/definitions/item_serial_id"
                },
                "msr_number": {
                    "$ref": "#/definitions/msr_number"
                }
            }
        },
        "storage_location": {
            "maxLength": 60,
            "type": "string"
        },
        "transaction_type": {
            "maxLength": 25,
            "type": "string"
        },
        "transaction_line_quantity": {
            "format": "double",
            "type": "number"
        },
        "item_received_date": {
            "format": "date",
            "type": "string"
        },
        "transaction_type_id": {
            "maxLength": 3,
            "type": "string"
        },
        "transaction_adjustment_type": {
            "maxLength": 1,
            "type": "string"
        },
        "description": {
            "maxLength": 60,
            "type": "string"
        },
        "item_unit_of_measure": {
            "maxLength": 3,
            "type": "string"
        },
        "item_group": {
            "maxLength": 15,
            "type": "string"
        },
        "item_serial_id": {
            "maxLength": 20,
            "type": "string"
        },
        "msr_number": {
            "maxLength": 10,
            "type": "string"
        },
        "error": {
            "enum": [
                "400"
            ],
            "type": "string"
        },
        "po_id": {
            "maxLength": 10,
            "type": "string"
        },
        "transaction_line_number": {
            "format": "int32",
            "type": "integer"
        },
        "cas_registry_number": {
            "maxLength": 30,
            "type": "string"
        },
        "customer_name": {
            "maxLength": 30,
            "type": "string"
        },
        "category_id": {
            "maxLength": 5,
            "type": "string"
        },
        "item_description": {
            "maxLength": 60,
            "type": "string"
        },
        "net_id": {
            "maxLength": 30,
            "type": "string"
        },
        "inventory_transactions": {
            "items": {
                "$ref": "#/definitions/inventory_transaction"
            },
            "type": "array"
        },
        "transaction_datetime": {
            "format": "date-time",
            "type": "string"
        },
        "transaction_adjustment_description": {
            "maxLength": 254,
            "type": "string"
        },
        "storage_transfer_location": {
            "maxLength": 60,
            "type": "string"
        },
        "item_id": {
            "maxLength": 18,
            "type": "string"
        },
        "category_code": {
            "maxLength": 18,
            "type": "string"
        }
    },
    "info": {
        "title": "INVENTORY_TRANSACTIONS",
        "description": "This API returns CAS Inventory Transaction information based on request.",
        "version": "v1"
    }
}