{
    "basePath": "/domain/isp_ws/1.0",
    "paths": {
        "/*": {
            "put": {
                "x-auth-type": "Application & Application User",
                "x-throttling-tier": "Unlimited",
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            },
            "post": {
                "x-auth-type": "Application & Application User",
                "x-throttling-tier": "Unlimited",
                "responses": {
                    "201": {
                        "description": "Created"
                    }
                }
            },
            "get": {
                "x-auth-type": "Application & Application User",
                "x-throttling-tier": "Unlimited",
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            },
            "delete": {
                "x-auth-type": "Application & Application User",
                "x-throttling-tier": "Unlimited",
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        }
    },
    "host": "api.byu.edu:443",
    "swagger": "2.0",
    "info": {
        "title": "ISP",
        "description": "International Studies Program Web Services using UAPI spec.\n\nDocumentation:\n\nProduction: https://ispws-prd.byu-oit-studyabroad-prd.amazon.byu.edu/isp/swagger/json\n\nSandbox: https://ispws-dev.byu-oit-studyabroad-dev.amazon.byu.edu/isp/swagger/json",
        "version": "1.0"
    }
}