{
    "swagger": "2.0",
    "info": {
        "title": "LSAPIAssignmentsAssignment",
        "description": "Accesses Resources in the Learning Suite course management system",
        "version": "v1"
    },
    "host": "api.byu.edu:443",
    "schemes": [
        "https"
    ],
    "externalDocs": {
        "description": "External **documentation** link",
        "url": "https://byuoit.atlassian.net/wiki/display/WSO2/Assignment"
    },
    "basePath": "/domains/legacy/lsapi/assignments/assignment/v1",
    "produces": [
        "application/json"
    ],
    "paths": {
        "/*": {
            "post": {
                "summary": "Create assignment",
                "description": "Create assignment",
                "operationId": "CreateAssignment",
                "parameters": [],
                "tags": [
                    "AssignmentService"
                ],
                "responses": {
                    "201": {
                        "description": "Service request is OK and an assignment has been created.",
                        "schema": {
                            "$ref": "#/definitions/responseData"
                        }
                    },
                    "400": {
                        "description": "There appears to be a syntax error in the composition of the service request. The response structure may contain information about the error. If the base URI or service request URI is invalid, any response will come as an HTTP response.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "403": {
                        "description": "The user does not have access to the resource.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "404": {
                        "description": "The target resource can not be found for the provided resource identifiers.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "405": {
                        "description": "The service method is not supported by the service.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "409": {
                        "description": "A conflict has occurred. The response structure may contain information about the conflict.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "500": {
                        "description": "An error occurred generating the response to the service request. This is strictly a server error and not an application error.",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/{assignmentID}": {
            "get": {
                "summary": "Get assignment by ID",
                "description": "Get assignment by ID",
                "operationId": "GetByAssignmentID",
                "parameters": [
                    {
                        "name": "assignmentID",
                        "description": "individual identification of assignment",
                        "type": "string",
                        "in": "path",
                        "required": true
                    }
                ],
                "tags": [
                    "AssignmentService"
                ],
                "responses": {
                    "200": {
                        "description": "Service request is OK and a response has been generated.",
                        "schema": {
                            "$ref": "#/definitions/responseData"
                        }
                    },
                    "400": {
                        "description": "There appears to be a syntax error in the composition of the service request. The response structure may contain information about the error. If the base URI or service request URI is invalid, any response will come as an HTTP response.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "403": {
                        "description": "The user does not have access to the resource.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "404": {
                        "description": "The target resource can not be found for the provided resource identifiers.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "405": {
                        "description": "The service method is not supported by the service.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "409": {
                        "description": "A conflict has occurred. The response structure may contain information about the conflict.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "500": {
                        "description": "An error occurred generating the response to the service request. This is strictly a server error and not an application error.",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            },
            "put": {
                "summary": "Modify assignment",
                "description": "Modify assignment",
                "operationId": "ModifyAssignment",
                "parameters": [
                    {
                        "name": "assignmentID",
                        "description": "individual identification of assignment",
                        "type": "string",
                        "in": "path",
                        "required": true
                    }
                ],
                "tags": [
                    "AssignmentService"
                ],
                "responses": {
                    "200": {
                        "description": "Service request is OK and a response has been generated.",
                        "schema": {
                            "$ref": "#/definitions/responseData"
                        }
                    },
                    "400": {
                        "description": "There appears to be a syntax error in the composition of the service request. The response structure may contain information about the error. If the base URI or service request URI is invalid, any response will come as an HTTP response.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "403": {
                        "description": "The user does not have access to the resource.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "404": {
                        "description": "The target resource can not be found for the provided resource identifiers.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "405": {
                        "description": "The service method is not supported by the service.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "409": {
                        "description": "A conflict has occurred. The response structure may contain information about the conflict.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "500": {
                        "description": "An error occurred generating the response to the service request. This is strictly a server error and not an application error.",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            },
            "delete": {
                "summary": "Delete assignment",
                "description": "Delete assignment",
                "operationId": "DeleteAssignment",
                "parameters": [
                    {
                        "name": "assignmentID",
                        "description": "individual identification of assignment",
                        "type": "string",
                        "in": "path",
                        "required": true
                    }
                ],
                "tags": [
                    "AssignmentService"
                ],
                "responses": {
                    "200": {
                        "description": "Service request is OK and a response has been generated.",
                        "schema": {
                            "$ref": "#/definitions/responseData"
                        }
                    },
                    "400": {
                        "description": "There appears to be a syntax error in the composition of the service request. The response structure may contain information about the error. If the base URI or service request URI is invalid, any response will come as an HTTP response.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "403": {
                        "description": "The user does not have access to the resource.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "404": {
                        "description": "The target resource can not be found for the provided resource identifiers.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "405": {
                        "description": "The service method is not supported by the service.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "409": {
                        "description": "A conflict has occurred. The response structure may contain information about the conflict.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "500": {
                        "description": "An error occurred generating the response to the service request. This is strictly a server error and not an application error.",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/courseID/{courseID}": {
            "get": {
                "summary": "Get assignments by courseID",
                "description": "Get assignments by courseID",
                "operationId": "GetByCourseID",
                "parameters": [
                    {
                        "name": "courseID",
                        "description": "Identification of course",
                        "type": "string",
                        "in": "path",
                        "required": true
                    }
                ],
                "tags": [
                    "AssignmentService"
                ],
                "responses": {
                    "200": {
                        "description": "Service request is OK and a response has been generated.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "400": {
                        "description": "There appears to be a syntax error in the composition of the service request. The response structure may contain information about the error. If the base URI or service request URI is invalid, any response will come as an HTTP response.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "403": {
                        "description": "The user does not have access to the resource.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "404": {
                        "description": "The target resource can not be found for the provided resource identifiers.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "405": {
                        "description": "The service method is not supported by the service.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "409": {
                        "description": "A conflict has occurred. The response structure may contain information about the conflict.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "500": {
                        "description": "An error occurred generating the response to the service request. This is strictly a server error and not an application error.",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/courseID/{courseID}/{type}": {
            "get": {
                "summary": "Get assignments by courseID and type",
                "description": "Get assignments by courseID and type",
                "operationId": "GetByCourseIDType",
                "parameters": [
                    {
                        "name": "courseID",
                        "description": "Identification of course",
                        "type": "string",
                        "in": "path",
                        "required": true
                    },
                    {
                        "name": "type",
                        "description": "determines the type of assignment",
                        "type": "string",
                        "in": "path",
                        "required": true
                    }
                ],
                "tags": [
                    "AssignmentService"
                ],
                "responses": {
                    "200": {
                        "description": "Service request is OK and a response has been generated.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "400": {
                        "description": "There appears to be a syntax error in the composition of the service request. The response structure may contain information about the error. If the base URI or service request URI is invalid, any response will come as an HTTP response.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "403": {
                        "description": "The user does not have access to the resource.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "404": {
                        "description": "The target resource can not be found for the provided resource identifiers.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "405": {
                        "description": "The service method is not supported by the service.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "409": {
                        "description": "A conflict has occurred. The response structure may contain information about the conflict.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "500": {
                        "description": "An error occurred generating the response to the service request. This is strictly a server error and not an application error.",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/courseID/{courseID}/categoryID/{categoryID}": {
            "get": {
                "summary": "Get assignment by courseID and categoryID",
                "description": "Get assignment by courseID and categoryID",
                "operationId": "GetByCourseIDCategoryID",
                "parameters": [
                    {
                        "name": "courseID",
                        "description": "Identification of course",
                        "type": "string",
                        "in": "path",
                        "required": true
                    },
                    {
                        "name": "categoryID",
                        "description": "Identification of category",
                        "type": "string",
                        "in": "path",
                        "required": true
                    }
                ],
                "tags": [
                    "AssignmentService"
                ],
                "responses": {
                    "200": {
                        "description": "Service request is OK and a response has been generated.",
                        "schema": {
                            "$ref": "#/definitions/responseData"
                        }
                    },
                    "400": {
                        "description": "There appears to be a syntax error in the composition of the service request. The response structure may contain information about the error. If the base URI or service request URI is invalid, any response will come as an HTTP response.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "403": {
                        "description": "The user does not have access to the resource.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "404": {
                        "description": "The target resource can not be found for the provided resource identifiers.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "405": {
                        "description": "The service method is not supported by the service.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "409": {
                        "description": "A conflict has occurred. The response structure may contain information about the conflict.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "500": {
                        "description": "An error occurred generating the response to the service request. This is strictly a server error and not an application error.",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/courseID/{courseID}/beginDate/{beginDate}": {
            "get": {
                "summary": "get assignment by courseID and begin date",
                "description": "get assignment by courseID and begin date",
                "operationId": "GetByCourseIDBeginDate",
                "parameters": [
                    {
                        "name": "courseID",
                        "description": "Identification of course",
                        "type": "string",
                        "in": "path",
                        "required": true
                    },
                    {
                        "name": "beginDate",
                        "description": "Date when course began",
                        "type": "string",
                        "in": "path",
                        "required": true
                    }
                ],
                "tags": [
                    "AssignmentService"
                ],
                "responses": {
                    "200": {
                        "description": "Service request is OK and a response has been generated.",
                        "schema": {
                            "$ref": "#/definitions/responseData"
                        }
                    },
                    "400": {
                        "description": "There appears to be a syntax error in the composition of the service request. The response structure may contain information about the error. If the base URI or service request URI is invalid, any response will come as an HTTP response.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "403": {
                        "description": "The user does not have access to the resource.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "404": {
                        "description": "The target resource can not be found for the provided resource identifiers.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "405": {
                        "description": "The service method is not supported by the service.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "409": {
                        "description": "A conflict has occurred. The response structure may contain information about the conflict.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "500": {
                        "description": "An error occurred generating the response to the service request. This is strictly a server error and not an application error.",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/courseID/{courseID}/start/{startdate}/endDate/{endDate}": {
            "get": {
                "summary": "Get assignment by courseID, start date and end date",
                "description": "Get assignment by courseID, start date and end date",
                "operationId": "GetByCourseIDStartDateEndDate",
                "parameters": [
                    {
                        "name": "courseID",
                        "description": "Identification of course",
                        "type": "string",
                        "in": "path",
                        "required": true
                    },
                    {
                        "name": "startdate",
                        "description": "Date when course began",
                        "type": "string",
                        "in": "path",
                        "required": true
                    },
                    {
                        "name": "endDate",
                        "description": "Date when course ends",
                        "type": "string",
                        "in": "path",
                        "required": true
                    }
                ],
                "tags": [
                    "AssignmentService"
                ],
                "responses": {
                    "200": {
                        "description": "Service request is OK and a response has been generated.",
                        "schema": {
                            "$ref": "#/definitions/responseData"
                        }
                    },
                    "400": {
                        "description": "There appears to be a syntax error in the composition of the service request. The response structure may contain information about the error. If the base URI or service request URI is invalid, any response will come as an HTTP response.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "403": {
                        "description": "The user does not have access to the resource.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "404": {
                        "description": "The target resource can not be found for the provided resource identifiers.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "405": {
                        "description": "The service method is not supported by the service.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "409": {
                        "description": "A conflict has occurred. The response structure may contain information about the conflict.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "500": {
                        "description": "An error occurred generating the response to the service request. This is strictly a server error and not an application error.",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/instructorID/{instructorID}": {
            "get": {
                "summary": "Get assignments by instructor",
                "description": "Get assignments by instructor",
                "operationId": "GetByInstructor",
                "parameters": [
                    {
                        "name": "instructorID",
                        "description": "Identification of instructor",
                        "type": "string",
                        "in": "path",
                        "required": true
                    }
                ],
                "tags": [
                    "AssignmentService"
                ],
                "responses": {
                    "200": {
                        "description": "Service request is OK and a response has been generated.",
                        "schema": {
                            "$ref": "#/definitions/responseData"
                        }
                    },
                    "400": {
                        "description": "There appears to be a syntax error in the composition of the service request. The response structure may contain information about the error. If the base URI or service request URI is invalid, any response will come as an HTTP response.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "403": {
                        "description": "The user does not have access to the resource.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "404": {
                        "description": "The target resource can not be found for the provided resource identifiers.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "405": {
                        "description": "The service method is not supported by the service.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "409": {
                        "description": "A conflict has occurred. The response structure may contain information about the conflict.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "500": {
                        "description": "An error occurred generating the response to the service request. This is strictly a server error and not an application error.",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/rubric/{rubricID}": {
            "get": {
                "summary": "Get assignment by rubric",
                "description": "Get assignment by rubric",
                "operationId": "GetByRubric",
                "parameters": [
                    {
                        "name": "rubricID",
                        "description": "Identification of the rubric",
                        "type": "string",
                        "in": "path",
                        "required": true
                    }
                ],
                "tags": [
                    "AssignmentService"
                ],
                "responses": {
                    "200": {
                        "description": "Service request is OK and a response has been generated.",
                        "schema": {
                            "$ref": "#/definitions/responseData"
                        }
                    },
                    "400": {
                        "description": "There appears to be a syntax error in the composition of the service request. The response structure may contain information about the error. If the base URI or service request URI is invalid, any response will come as an HTTP response.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "403": {
                        "description": "The user does not have access to the resource.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "404": {
                        "description": "The target resource can not be found for the provided resource identifiers.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "405": {
                        "description": "The service method is not supported by the service.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "409": {
                        "description": "A conflict has occurred. The response structure may contain information about the conflict.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "500": {
                        "description": "An error occurred generating the response to the service request. This is strictly a server error and not an application error.",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/gbAssignmentID/{gbAssignmentID}": {
            "get": {
                "summary": "Get by gradebook assignment ID",
                "description": "Get by gradebook assignment ID",
                "operationId": "GetByGBAssignmentID",
                "parameters": [
                    {
                        "name": "gbAssignmentID",
                        "description": "Identifier of the gradebook",
                        "type": "string",
                        "in": "path",
                        "required": true
                    }
                ],
                "tags": [
                    "AssignmentService"
                ],
                "responses": {
                    "200": {
                        "description": "Service request is OK and a response has been generated.",
                        "schema": {
                            "$ref": "#/definitions/responseData"
                        }
                    },
                    "400": {
                        "description": "There appears to be a syntax error in the composition of the service request. The response structure may contain information about the error. If the base URI or service request URI is invalid, any response will come as an HTTP response.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "403": {
                        "description": "The user does not have access to the resource.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "404": {
                        "description": "The target resource can not be found for the provided resource identifiers.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "405": {
                        "description": "The service method is not supported by the service.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "409": {
                        "description": "A conflict has occurred. The response structure may contain information about the conflict.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "500": {
                        "description": "An error occurred generating the response to the service request. This is strictly a server error and not an application error.",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/zeroScoresDate/{Date}": {
            "get": {
                "summary": "Get by zero scores date",
                "description": "Get by zero scores date",
                "operationId": "GetByZeroScoresDate",
                "parameters": [
                    {
                        "name": "Date",
                        "description": "The date all scores have to be submitted",
                        "type": "string",
                        "in": "path",
                        "required": true
                    }
                ],
                "tags": [
                    "AssignmentService"
                ],
                "responses": {
                    "200": {
                        "description": "Service request is OK and a response has been generated.",
                        "schema": {
                            "$ref": "#/definitions/responseData"
                        }
                    },
                    "400": {
                        "description": "There appears to be a syntax error in the composition of the service request. The response structure may contain information about the error. If the base URI or service request URI is invalid, any response will come as an HTTP response.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "403": {
                        "description": "The user does not have access to the resource.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "404": {
                        "description": "The target resource can not be found for the provided resource identifiers.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "405": {
                        "description": "The service method is not supported by the service.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "409": {
                        "description": "A conflict has occurred. The response structure may contain information about the conflict.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "500": {
                        "description": "An error occurred generating the response to the service request. This is strictly a server error and not an application error.",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/onlineSubmission/{type}/courseID/{courseID}": {
            "get": {
                "summary": "Get by online Submission",
                "description": "Get by online submission",
                "operationId": "GetByOnlineSubmission",
                "parameters": [
                    {
                        "name": "courseID",
                        "description": "Identification of course",
                        "type": "string",
                        "in": "path",
                        "required": true
                    },
                    {
                        "name": "type",
                        "description": "determines the type of assignment",
                        "type": "string",
                        "in": "path",
                        "required": true
                    }
                ],
                "tags": [
                    "AssignmentService"
                ],
                "responses": {
                    "200": {
                        "description": "Service request is OK and a response has been generated.",
                        "schema": {
                            "$ref": "#/definitions/responseData"
                        }
                    },
                    "400": {
                        "description": "There appears to be a syntax error in the composition of the service request. The response structure may contain information about the error. If the base URI or service request URI is invalid, any response will come as an HTTP response.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "403": {
                        "description": "The user does not have access to the resource.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "404": {
                        "description": "The target resource can not be found for the provided resource identifiers.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "405": {
                        "description": "The service method is not supported by the service.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "409": {
                        "description": "A conflict has occurred. The response structure may contain information about the conflict.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "500": {
                        "description": "An error occurred generating the response to the service request. This is strictly a server error and not an application error.",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "responseData": {
            "type": "object",
            "properties": {
                "courseID": {
                    "type": "string",
                    "description": "12 digit course"
                },
                "categoryID": {
                    "type": "string",
                    "description": "12 digit course"
                },
                "type": {
                    "type": "string",
                    "description": "type of assignment"
                },
                "typeID": {
                    "type": "string",
                    "description": "12 digit course"
                },
                "name": {
                    "type": "string",
                    "description": "100 char assignment name"
                },
                "description": {
                    "type": "string",
                    "description": "MAX 12000 char description of the assignment"
                },
                "beginDate": {
                    "type": "number",
                    "description": "Begin date of assignment"
                },
                "dueDate": {
                    "type": "number",
                    "description": "Due date of assignment"
                },
                "points": {
                    "type": "number",
                    "description": "MAX 12000 char description of the assignment"
                },
                "weight": {
                    "type": "number",
                    "description": "Total number of points that an assignment is worth"
                },
                "extraCredit": {
                    "type": "boolean",
                    "description": "Is the assignment extra credit"
                },
                "graded": {
                    "type": "boolean",
                    "description": "Will the assignment be graded"
                },
                "gradingScale": {
                    "type": "string",
                    "description": "The UID of the grading scale associated with the assignment"
                },
                "rubric": {
                    "type": "string",
                    "description": "The UID of the rubric that is associated with this assignment"
                },
                "allowLateSubmission": {
                    "type": "boolean",
                    "description": "Is allowing late submissions allowed"
                },
                "scoreEntry": {
                    "type": "string"
                },
                "onlineSubmission": {
                    "type": "string"
                },
                "multipleFileSubmission": {
                    "type": "string"
                },
                "allowScoreDrop": {
                    "type": "boolean",
                    "description": "Will the score be dropped"
                },
                "includeScoreInFinalGrade": {
                    "type": "boolean",
                    "description": "Is the assignment included in the final grade?"
                },
                "passingScore": {
                    "type": "number",
                    "description": "This is the minimum passing score of the assignment"
                },
                "passScoreRequired": {
                    "type": "boolean",
                    "description": "Is a passing score required"
                },
                "minScore": {
                    "type": "number",
                    "description": "The minimum score that can be given"
                },
                "visibleDate": {
                    "type": "number",
                    "description": "When the assignment may be visable to the student. In timestamp form"
                },
                "scoreVisibleDate": {
                    "type": "number",
                    "description": "When the assignment score may be visible to the student. In timestamp form"
                },
                "displayOrderCalendar": {
                    "type": "number",
                    "description": "The order that the assignemnt will be displayed on the calendar page"
                },
                "displayOrderCalendarBegin": {
                    "type": "number",
                    "description": "The order that the exam beginDate will be displayed on the calendar page"
                },
                "displayOrder": {
                    "type": "number",
                    "description": "The order that the assignment will be displayed on the page"
                },
                "url": {
                    "type": "string",
                    "description": "Unique url identifier within a course for the assignment"
                }
            }
        }
    }
}