{
    "paths": {
        "/listings/{type}": {
            "get": {
                "x-auth-type": "Application & Application User",
                "x-throttling-tier": "Unlimited",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "description": "What type of listings do you want to see?",
                        "name": "type",
                        "enum": [
                            "men",
                            "women",
                            "family",
                            "graduate"
                        ],
                        "type": "string",
                        "required": true,
                        "in": "path"
                    }
                ],
                "responses": {
                    "200": {
                        "schema": {
                            "items": {
                                "$ref": "#/definitions/listing"
                            },
                            "type": "array"
                        },
                        "description": "Listings"
                    }
                }
            }
        }
    },
    "swagger": "2.0",
    "definitions": {
        "listing": {
            "properties": {
                "ss_reqd_for_fw": {
                    "type": "boolean"
                },
                "private_ss_rent": {
                    "format": "float",
                    "type": "number"
                },
                "shared_ss_rent": {
                    "format": "float",
                    "type": "number"
                },
                "shared_fw_rent": {
                    "format": "float",
                    "type": "number"
                },
                "avail_summer": {
                    "type": "boolean"
                },
                "phone_number": {
                    "type": "string"
                },
                "private_fw_rent": {
                    "format": "float",
                    "type": "number"
                },
                "avail_winter": {
                    "type": "boolean"
                },
                "website": {
                    "type": "string"
                },
                "shared_avail": {
                    "type": "integer"
                },
                "facility_address": {
                    "type": "string"
                },
                "date_available": {
                    "format": "datetime",
                    "type": "string"
                },
                "security_deposit": {
                    "type": "integer"
                },
                "facility_name": {
                    "type": "string"
                },
                "avail_fall": {
                    "type": "boolean"
                },
                "private_avail": {
                    "type": "integer"
                },
                "person_to_contact": {
                    "type": "string"
                },
                "avail_spring": {
                    "type": "boolean"
                },
                "longitude": {
                    "type": "number"
                },
                "latitude": {
                    "type": "number"
                },
                "email_address": {
                    "type": "string"
                }
            }
        }
    },
    "info": {
        "title": "MobileOchListings",
        "version": "v1"
    },
    "basePath": "/domains/och/v1",
    "host": "api.byu.edu:443"
}