{
    "basePath": "/domains/erp/sa/MyFinancialCenterEvents/v1",
    "paths": {
        "/service_indicators/{unique_id}/*": {
            "get": {
                "x-auth-type": "Application & Application User",
                "x-throttling-tier": "Unlimited",
                "description": "Returns information about Service Indicators that have been placed on a user's account in My Financial Center. The unique_id URL parameter is a value given in events that have been raised from My Financial Center when the Service Indicator was placed on the account.",
                "parameters": [
                    {
                        "name": "unique_id",
                        "required": true,
                        "type": "string",
                        "in": "path"
                    }
                ],
                "responses": {
                    "200": {
                        "schema": {
                            "$ref": "#/definitions/ServiceIndicatorModel"
                        },
                        "description": "Information about a service indicator in My Financial Center."
                    },
                    "400": {
                        "schema": {
                            "$ref": "#/definitions/ErrorModel"
                        },
                        "description": "Bad request. Error described in response body."
                    }
                }
            }
        },
        "/transactions/{unique_id}/*": {
            "get": {
                "x-auth-type": "Application & Application User",
                "x-throttling-tier": "Unlimited",
                "description": "Returns information about transactions that have posted to a user's account. The unique_id URL parameter is a value given in events that have been raised from My Financial Center when the transaction is intially posted the the account.",
                "parameters": [
                    {
                        "name": "unique_id",
                        "required": true,
                        "type": "string",
                        "in": "path"
                    }
                ],
                "responses": {
                    "200": {
                        "schema": {
                            "$ref": "#/definitions/TransactionModel"
                        },
                        "description": "Information about a My Financial Center trasaction"
                    },
                    "400": {
                        "schema": {
                            "$ref": "#/definitions/ErrorModel"
                        },
                        "description": "Bad request. Error described in response body."
                    }
                }
            }
        }
    },
    "swagger": "2.0",
    "definitions": {
        "TransactionModel": {
            "properties": {
                "amount": {
                    "format": "double",
                    "type": "number"
                },
                "due_date": {
                    "format": "date-time",
                    "type": "string"
                },
                "byu_id": {
                    "type": "string"
                },
                "year_term": {
                    "type": "string"
                },
                "descr": {
                    "type": "string"
                },
                "type": {
                    "type": "string"
                }
            }
        },
        "ErrorModel": {
            "properties": {
                "error_message": {
                    "type": "string"
                }
            }
        },
        "ServiceIndicatorModel": {
            "properties": {
                "service_impacts": {
                    "items": {
                        "properties": {
                            "service_impact": {
                                "type": "string"
                            }
                        },
                        "type": "object"
                    },
                    "type": "array"
                },
                "department": {
                    "type": "string"
                },
                "hold_description": {
                    "type": "string"
                },
                "byu_id": {
                    "type": "string"
                },
                "descr": {
                    "type": "string"
                }
            }
        }
    },
    "info": {
        "title": "MyFinancialCenterEvents",
        "description": "Detailed information about events raised from My Financial Center.",
        "contact": {
            "email": "sft_ft@byu.edu",
            "name": "OIT Student Financial Applications"
        },
        "version": "v1"
    },
    "host": "api.byu.edu:443"
}