{
    "paths": {
        "/*": {
            "get": {
                "x-auth-type": "Application & Application User",
                "x-throttling-tier": "Unlimited",
                "parameters": [
                    {
                        "maxLength": 9,
                        "description": "Employee ID",
                        "minLength": 9,
                        "name": "byu_id",
                        "required": true,
                        "type": "string",
                        "in": "query",
                        "allowEmptyValue": false
                    },
                    {
                        "maxLength": 10,
                        "description": "Effective Date",
                        "minLength": 10,
                        "name": "effective_date",
                        "required": false,
                        "type": "string",
                        "in": "query",
                        "allowEmptyValue": true
                    }
                ],
                "responses": {
                    "200": {}
                }
            },
            "options": {
                "x-auth-type": "Application & Application User",
                "x-throttling-tier": "Unlimited",
                "responses": {
                    "200": {}
                }
            }
        }
    },
    "swagger": "2.0",
    "info": {
        "title": "Name",
        "description": "This API is used to query the employee name.  Users must specify the byu_id element.  If the effective_date element is not specified, the service will return current data for the specified byu_id.",
        "version": "v1"
    },
    "basePath": "/domains/erp/hr/name/v1",
    "host": "api.byu.edu:443"
}