{
    "basePath": "/domains/netsuite/otis_departments/v1",
    "host": "api.byu.edu:443",
    "paths": {
        "/*": {
            "get": {
                "x-auth-type": "Application & Application User",
                "x-throttling-tier": "Unlimited",
                "description": "",
                "responses": {
                    "200": {
                        "schema": {
                            "$ref": "#/definitions/departments"
                        },
                        "description": "The default response type is JSON."
                    }
                }
            }
        }
    },
    "schemes": [
        "https"
    ],
    "produces": [
        "application/json"
    ],
    "swagger": "2.0",
    "definitions": {
        "department": {
            "description": "A row represents a single OTIS Department returned",
            "properties": {
                "title": {
                    "type": "string"
                },
                "phone": {
                    "type": "string"
                },
                "seq_order": {
                    "type": "string"
                },
                "email": {
                    "type": "string"
                },
                "web_url": {
                    "type": "string"
                },
                "phone_dept_id": {
                    "type": "string"
                },
                "bldg": {
                    "type": "string"
                },
                "room": {
                    "type": "string"
                },
                "parent_title": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "departments": {
            "items": {
                "$ref": "#/definitions/department"
            },
            "type": "array"
        }
    },
    "info": {
        "title": "OITNetsuiteOtisDepartments",
        "description": "This web service returns the list of OTIS Departments",
        "version": "v1"
    }
}