{
    "basePath": "/domains/netsuite/rooms/v1",
    "paths": {
        "/*": {
            "get": {
                "x-auth-type": "Application & Application User",
                "x-throttling-tier": "Unlimited",
                "description": "",
                "responses": {
                    "200": {
                        "schema": {
                            "$ref": "#/definitions/rooms"
                        },
                        "description": "The default response type is JSON."
                    }
                }
            }
        }
    },
    "host": "api.byu.edu:443",
    "schemes": [
        "https"
    ],
    "produces": [
        "application/json"
    ],
    "swagger": "2.0",
    "definitions": {
        "room": {
            "description": "A row represents a single OIT Netsuite Room returned",
            "properties": {
                "rnum": {
                    "type": "string"
                },
                "room": {
                    "type": "string"
                },
                "bnum": {
                    "type": "string"
                },
                "bldg_code": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "rooms": {
            "items": {
                "$ref": "#/definitions/room"
            },
            "type": "array"
        }
    },
    "info": {
        "title": "OITNetsuiteRooms",
        "description": "This web service returns the list of Netsuite Active Rooms",
        "version": "v1"
    }
}