{
    "paths": {
        "/userinfo": {
            "put": {
                "summary": "Get User Info",
                "x-auth-type": "Application & Application User",
                "x-throttling-tier": "Unlimited",
                "description": "Implementation of the OpenID Connect Userinfo spec. Can return results as a signed JWT or a plain JSON structure.",
                "produces": [
                    "application/json",
                    "application/jwt"
                ],
                "parameters": [
                    {
                        "description": "Must be 'openid'",
                        "name": "schema",
                        "required": true,
                        "type": "string",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {}
                }
            },
            "post": {
                "summary": "Get User Info",
                "x-auth-type": "Application & Application User",
                "x-throttling-tier": "Unlimited",
                "description": "Implementation of the OpenID Connect Userinfo spec. Can return results as a signed JWT or a plain JSON structure.",
                "produces": [
                    "application/json",
                    "application/jwt"
                ],
                "parameters": [
                    {
                        "description": "Must be 'openid'",
                        "name": "schema",
                        "required": true,
                        "type": "string",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {}
                }
            },
            "get": {
                "summary": "Get User Info",
                "x-auth-type": "Application & Application User",
                "x-throttling-tier": "Unlimited",
                "description": "Implementation of the OpenID Connect Userinfo spec. Can return results as a signed JWT or a plain JSON structure.",
                "produces": [
                    "application/json",
                    "application/jwt"
                ],
                "parameters": [
                    {
                        "description": "Must be 'openid'",
                        "name": "schema",
                        "required": true,
                        "type": "string",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {}
                }
            }
        }
    },
    "swagger": "2.0",
    "info": {
        "title": "OpenID-Userinfo",
        "version": "v1"
    },
    "basePath": "/openid-userinfo/v1",
    "host": "api.byu.edu:443"
}