{
    "paths": {
        "/*": {
            "put": {
                "x-auth-type": "Application & Application User",
                "x-throttling-tier": "Unlimited",
                "parameters": [
                    {
                        "schema": {
                            "type": "object"
                        },
                        "description": "Request Body",
                        "name": "Payload",
                        "required": false,
                        "in": "body"
                    }
                ],
                "responses": {
                    "200": {}
                }
            },
            "post": {
                "x-auth-type": "Application & Application User",
                "x-throttling-tier": "Unlimited",
                "parameters": [
                    {
                        "schema": {
                            "type": "object"
                        },
                        "description": "Request Body",
                        "name": "Payload",
                        "required": false,
                        "in": "body"
                    }
                ],
                "responses": {
                    "200": {}
                }
            },
            "get": {
                "x-auth-type": "Application & Application User",
                "x-throttling-tier": "Unlimited",
                "responses": {
                    "200": {}
                }
            },
            "delete": {
                "x-auth-type": "Application & Application User",
                "x-throttling-tier": "Unlimited",
                "responses": {
                    "200": {}
                }
            }
        }
    },
    "swagger": "2.0",
    "info": {
        "title": "Payments",
        "description": "A custom centralized receivables solution (CRS) that can easily integrate university systems with Cashnet. Additional steps must be taken other than subscribing to this API in order to enable payment processing for a system.\n\nAPI Documentation: https://pymts-ws-prd.byu-oit-paymentsystems-prd.amazon.byu.edu/docs",
        "version": "v3"
    },
    "basePath": "/domains/payments/v3",
    "host": "api.byu.edu:443"
}