{
    "basePath": "/PeopleSoft/1.0.0",
    "host": "api.byu.edu:443",
    "paths": {
        "/PSFT_SA/Y_REST.v1?": {
            "post": {
                "summary": "SA",
                "tags": [
                    "PeopleSoft"
                ],
                "x-auth-type": "Application & Application User",
                "x-throttling-tier": "Unlimited",
                "description": "SA",
                "parameters": [
                    {
                        "schema": {
                            "type": "string"
                        },
                        "name": "body_param",
                        "required": true,
                        "in": "body"
                    }
                ],
                "responses": {
                    "200": {
                        "description": ""
                    },
                    "400": {
                        "description": ""
                    },
                    "default": {
                        "description": "Unexpected error"
                    }
                },
                "operationId": "getSA"
            },
            "get": {
                "summary": "SA",
                "tags": [
                    "PeopleSoft"
                ],
                "x-auth-type": "Application & Application User",
                "x-throttling-tier": "Unlimited",
                "description": "SA",
                "responses": {
                    "200": {
                        "description": ""
                    },
                    "400": {
                        "description": ""
                    },
                    "default": {
                        "description": "Unexpected error"
                    }
                },
                "operationId": "getSA"
            },
            "options": {
                "summary": "SA Options",
                "tags": [
                    "PeopleSoft"
                ],
                "x-auth-type": "Application & Application User",
                "x-throttling-tier": "Unlimited",
                "description": "SA Options",
                "responses": {
                    "200": {
                        "description": ""
                    },
                    "400": {
                        "description": ""
                    },
                    "default": {
                        "description": "Unexpected error"
                    }
                },
                "operationId": "getSAOptions"
            }
        },
        "/PSFT_HR/Y_REST.v1?": {
            "post": {
                "summary": "HR",
                "tags": [
                    "PeopleSoft"
                ],
                "x-auth-type": "Application & Application User",
                "x-throttling-tier": "Unlimited",
                "description": "HR",
                "parameters": [
                    {
                        "schema": {
                            "type": "string"
                        },
                        "name": "body_param",
                        "required": true,
                        "in": "body"
                    }
                ],
                "responses": {
                    "200": {
                        "description": ""
                    },
                    "400": {
                        "description": ""
                    },
                    "default": {
                        "description": "Unexpected error"
                    }
                },
                "operationId": "getHR"
            },
            "get": {
                "summary": "HR",
                "tags": [
                    "PeopleSoft"
                ],
                "x-auth-type": "Application & Application User",
                "x-throttling-tier": "Unlimited",
                "description": "HR",
                "responses": {
                    "200": {
                        "description": ""
                    },
                    "400": {
                        "description": ""
                    },
                    "default": {
                        "description": "Unexpected error"
                    }
                },
                "operationId": "getHR"
            },
            "options": {
                "summary": "HR Options",
                "tags": [
                    "PeopleSoft"
                ],
                "x-auth-type": "Application & Application User",
                "x-throttling-tier": "Unlimited",
                "description": "HR Options",
                "responses": {
                    "200": {
                        "description": ""
                    },
                    "400": {
                        "description": ""
                    },
                    "default": {
                        "description": "Unexpected error"
                    }
                },
                "operationId": "getHROptions"
            }
        },
        "/PSFT_EP/Y_REST.v1?": {
            "post": {
                "summary": "EP",
                "tags": [
                    "PeopleSoft"
                ],
                "x-auth-type": "Application & Application User",
                "x-throttling-tier": "Unlimited",
                "description": "EP",
                "parameters": [
                    {
                        "schema": {
                            "type": "string"
                        },
                        "name": "body_param",
                        "required": true,
                        "in": "body"
                    }
                ],
                "responses": {
                    "200": {
                        "description": ""
                    },
                    "400": {
                        "description": ""
                    },
                    "default": {
                        "description": "Unexpected error"
                    }
                },
                "operationId": "getEP"
            },
            "get": {
                "summary": "EP",
                "tags": [
                    "PeopleSoft"
                ],
                "x-auth-type": "Application & Application User",
                "x-throttling-tier": "Unlimited",
                "description": "EP",
                "responses": {
                    "200": {
                        "description": ""
                    },
                    "400": {
                        "description": ""
                    },
                    "default": {
                        "description": "Unexpected error"
                    }
                },
                "operationId": "getEP"
            },
            "options": {
                "summary": "EP Options",
                "tags": [
                    "PeopleSoft"
                ],
                "x-auth-type": "Application & Application User",
                "x-throttling-tier": "Unlimited",
                "description": "EP Options",
                "responses": {
                    "200": {
                        "description": ""
                    },
                    "400": {
                        "description": ""
                    },
                    "default": {
                        "description": "Unexpected error"
                    }
                },
                "operationId": "getEPOptions"
            }
        }
    },
    "schemes": [
        "https"
    ],
    "produces": [
        "application/json"
    ],
    "swagger": "2.0",
    "consumes": [
        "application/json"
    ],
    "info": {
        "title": "PeopleSoftServices",
        "description": "PeopleSoft Services",
        "version": "1.0.0"
    }
}