{
    "basePath": "/domains/erp/hr/physical_facilities_time/v1",
    "paths": {
        "/*": {
            "get": {
                "x-auth-type": "Application & Application User",
                "summary": "Physical Facilities Time",
                "x-throttling-tier": "Unlimited",
                "description": "Return of Work Order information for Physical Facilities",
                "responses": {
                    "200": {
                        "schema": {
                            "$ref": "#/definitions/employees"
                        },
                        "description": "Service request is OK and a response has been generated."
                    },
                    "400": {
                        "schema": {
                            "$ref": "#/definitions/error_response"
                        },
                        "description": "An error is shown if there is no data to process and return."
                    },
                    "401": {
                        "$ref": "#/responses/401"
                    },
                    "403": {
                        "$ref": "#/responses/403"
                    },
                    "500": {
                        "$ref": "#/responses/500"
                    },
                    "504": {
                        "$ref": "#/responses/504"
                    },
                    "default": {
                        "$ref": "#/responses/default"
                    }
                }
            }
        }
    },
    "host": "api.byu.edu:443",
    "schemes": [
        "https"
    ],
    "produces": [
        "application/json"
    ],
    "swagger": "2.0",
    "definitions": {
        "ytime_dept": {
            "description": "Physical Facilities department number",
            "example": "169023",
            "type": "string"
        },
        "error": {
            "description": "error message",
            "type": "string"
        },
        "pnchdate": {
            "description": "The time that the punch is created",
            "example": "2019-08-08",
            "type": "string"
        },
        "ytime_srnum": {
            "description": "The service request number",
            "example": "21592",
            "type": "string"
        },
        "ytime_hrstype": {
            "description": "The type of work order hours submitted",
            "example": "regular",
            "type": "string"
        },
        "error_response": {
            "properties": {
                "error_message": {
                    "$ref": "#/definitions/error"
                }
            }
        },
        "ytime_rnetid": {
            "description": "The net_id of the person submitting the change",
            "example": "abc123",
            "type": "string"
        },
        "pnchloc": {
            "description": "What system the punch is generated from",
            "enum": [
                "WEB",
                "MBL",
                "CPI",
                "PPI"
            ],
            "example": "MBL",
            "type": "string"
        },
        "ytime_pnum": {
            "description": "Project number",
            "example": "P1048",
            "type": "string"
        },
        "byuid": {
            "pattern": "^[0-9]{9}$",
            "example": "012345678",
            "type": "string"
        },
        "ytime_hrs": {
            "description": "The hours submitted for work orders",
            "example": 3,
            "type": "integer"
        },
        "pnchtime": {
            "description": "The time that a punch is generated",
            "example": "15:22:27",
            "type": "string"
        },
        "pnchseq": {
            "description": "The sequence number associated with a punch",
            "example": 1,
            "type": "integer"
        },
        "ytime_opunit": {
            "description": "The operating unit that a work order is associated with",
            "example": "11440023",
            "type": "string"
        },
        "ytime_paypd": {
            "description": "The pay end date in which the punch was recorded.",
            "example": 21,
            "type": "integer"
        },
        "employees": {
            "items": {
                "$ref": "#/definitions/pf_time_data"
            },
            "description": "Collection of work order information for each employee",
            "type": "array"
        },
        "pf_time_data": {
            "description": "The information about a single employee",
            "properties": {
                "ytime_dept": {
                    "$ref": "#/definitions/ytime_dept"
                },
                "pnchloc": {
                    "$ref": "#/definitions/pnchloc"
                },
                "pnchdate": {
                    "$ref": "#/definitions/pnchdate"
                },
                "ytime_srnum": {
                    "$ref": "#/definitions/ytime_srnum"
                },
                "ytime_pnum": {
                    "$ref": "#/definitions/ytime_pnum"
                },
                "byuid": {
                    "$ref": "#/definitions/byuid"
                },
                "ytime_hrs": {
                    "$ref": "#/definitions/ytime_hrs"
                },
                "pnchtime": {
                    "$ref": "#/definitions/pnchtime"
                },
                "ytime_hrstype": {
                    "$ref": "#/definitions/ytime_hrstype"
                },
                "pnchseq": {
                    "$ref": "#/definitions/pnchseq"
                },
                "ytime_opunit": {
                    "$ref": "#/definitions/ytime_opunit"
                },
                "ytime_paypd": {
                    "$ref": "#/definitions/ytime_paypd"
                },
                "ytime_rnetid": {
                    "$ref": "#/definitions/ytime_rnetid"
                }
            },
            "type": "object"
        }
    },
    "parameters": {
        "byu_id": {
            "pattern": "^[0-9]{9}$",
            "description": "The nine-digit computer-generated ID assigned to each employee",
            "name": "byu_id",
            "required": true,
            "type": "string",
            "in": "path"
        }
    },
    "responses": {
        "401": {
            "description": "Authentication required to access data"
        },
        "403": {
            "description": "Forbidden"
        },
        "500": {
            "description": "Internal Server Error - Error occurred that wasn't the user's fault"
        },
        "504": {
            "description": "Gateway Timeout"
        },
        "default": {
            "description": "Unexpected error"
        }
    },
    "info": {
        "title": "PHYSICAL_FACILITIES_TIME",
        "description": "PF feed for work order information",
        "version": "v1"
    }
}