{
    "swagger": "2.0",
    "info": {
        "title": "Registration Schedules",
        "description": "Schedules Service in the Registration Domain - Supports Students v3 API - You're probably looking for those",
        "contact": {
            "email": "it@byu.edu",
            "name": "OIT Service Desk Support",
            "url": "https://it.byu.edu"
        },
        "license": {
            "name": "Apache 2.0",
            "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
        },
        "version": "v3"
    },
    "host": "api.byu.edu:443",
    "basePath": "/domains/registration/schedules/v2",
    "schemes": [
        "https"
    ],
    "consumes": [
        "application/json"
    ],
    "produces": [
        "application/json"
    ],
    "paths": {
        "/*": {
            "x-controller": "students",
            "get": {
                "summary": "students",
                "description": "Returns all information for the students",
                "responses": {
                    "200": {
                        "schema": {
                            "type": "object",
                            "required": [
                                "links",
                                "metadata",
                                "values"
                            ],
                            "properties": {
                                "links": {
                                    "type": "object",
                                    "required": [
                                        "students__info"
                                    ],
                                    "properties": {
                                        "students__info": {
                                            "type": "object",
                                            "required": [
                                                "rel",
                                                "href",
                                                "method"
                                            ],
                                            "properties": {
                                                "rel": {
                                                    "type": "string",
                                                    "default": "self",
                                                    "description": "The name of the link property or 'self' if the href value is the same as what is invoked to get the current object."
                                                },
                                                "href": {
                                                    "type": "string",
                                                    "description": "Use this URL to perform the specified action",
                                                    "default": "https://api.byu.edu/byuapi/students/v3/"
                                                },
                                                "method": {
                                                    "type": "string",
                                                    "default": "GET",
                                                    "description": "Use this HTTP method to perform the specified action",
                                                    "enum": [
                                                        "GET",
                                                        "PUT",
                                                        "POST",
                                                        "DELETE",
                                                        "OPTIONS"
                                                    ]
                                                }
                                            }
                                        }
                                    }
                                },
                                "metadata": {
                                    "allOf": [
                                        {
                                            "allOf": [
                                                {
                                                    "type": "object",
                                                    "required": [
                                                        "validation_response"
                                                    ],
                                                    "properties": {
                                                        "validation_response": {
                                                            "type": "object",
                                                            "required": [
                                                                "code",
                                                                "message"
                                                            ],
                                                            "properties": {
                                                                "code": {
                                                                    "type": "integer",
                                                                    "minimum": 100,
                                                                    "maximum": 599,
                                                                    "default": 200
                                                                },
                                                                "message": {
                                                                    "type": "string",
                                                                    "default": "Success"
                                                                }
                                                            }
                                                        },
                                                        "validation_information": {
                                                            "type": "array",
                                                            "items": {
                                                                "type": "string"
                                                            }
                                                        },
                                                        "restricted": {
                                                            "description": "Indicates if the data pertains to a restricted person - present for any data pertaining to an individual",
                                                            "type": "boolean",
                                                            "default": false
                                                        },
                                                        "cache": {
                                                            "description": "Present if data is cached",
                                                            "type": "object",
                                                            "properties": {
                                                                "date_time": {
                                                                    "type": "string",
                                                                    "format": "date-time"
                                                                }
                                                            }
                                                        }
                                                    },
                                                    "additionalProperties": true
                                                },
                                                {
                                                    "type": "object",
                                                    "required": [
                                                        "collection_size"
                                                    ],
                                                    "properties": {
                                                        "collection_size": {
                                                            "type": "integer",
                                                            "minimum": 0,
                                                            "default": 0
                                                        }
                                                    },
                                                    "additionalProperties": true
                                                }
                                            ]
                                        },
                                        {
                                            "type": "object",
                                            "required": [
                                                "field_sets_returned",
                                                "field_sets_available",
                                                "field_sets_default"
                                            ],
                                            "properties": {
                                                "field_sets_returned": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string"
                                                    },
                                                    "default": [
                                                        "basic"
                                                    ],
                                                    "example": [
                                                        "basic",
                                                        "enrolled_classes"
                                                    ]
                                                },
                                                "field_sets_available": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string"
                                                    },
                                                    "default": [
                                                        "basic",
                                                        "enrolled_classes"
                                                    ],
                                                    "example": [
                                                        "basic",
                                                        "enrolled_classes"
                                                    ]
                                                },
                                                "field_sets_default": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string"
                                                    },
                                                    "default": [
                                                        "basic"
                                                    ],
                                                    "example": [
                                                        "basic"
                                                    ]
                                                }
                                            },
                                            "additionalProperties": true
                                        }
                                    ]
                                },
                                "values": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "required": [
                                            "links",
                                            "metadata"
                                        ],
                                        "description": "All these properties besides links and metadata have the possibility of being an error_response. Swagger 2.0 doesn't let me express that.",
                                        "properties": {
                                            "links": {
                                                "type": "object",
                                                "required": [
                                                    "student__info"
                                                ],
                                                "properties": {
                                                    "student__info": {
                                                        "type": "object",
                                                        "required": [
                                                            "rel",
                                                            "href",
                                                            "method"
                                                        ],
                                                        "properties": {
                                                            "rel": {
                                                                "type": "string",
                                                                "default": "self",
                                                                "description": "The name of the link property or 'self' if the href value is the same as what is invoked to get the current object."
                                                            },
                                                            "href": {
                                                                "type": "string",
                                                                "description": "Use this URL to perform the specified action",
                                                                "default": "https://api.byu.edu/byuapi/students/v3/"
                                                            },
                                                            "method": {
                                                                "type": "string",
                                                                "default": "GET",
                                                                "description": "Use this HTTP method to perform the specified action",
                                                                "enum": [
                                                                    "GET",
                                                                    "PUT",
                                                                    "POST",
                                                                    "DELETE",
                                                                    "OPTIONS"
                                                                ]
                                                            }
                                                        }
                                                    }
                                                }
                                            },
                                            "metadata": {
                                                "allOf": [
                                                    {
                                                        "type": "object",
                                                        "required": [
                                                            "validation_response"
                                                        ],
                                                        "properties": {
                                                            "validation_response": {
                                                                "type": "object",
                                                                "required": [
                                                                    "code",
                                                                    "message"
                                                                ],
                                                                "properties": {
                                                                    "code": {
                                                                        "type": "integer",
                                                                        "minimum": 100,
                                                                        "maximum": 599,
                                                                        "default": 200
                                                                    },
                                                                    "message": {
                                                                        "type": "string",
                                                                        "default": "Success"
                                                                    }
                                                                }
                                                            },
                                                            "validation_information": {
                                                                "type": "array",
                                                                "items": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "restricted": {
                                                                "description": "Indicates if the data pertains to a restricted person - present for any data pertaining to an individual",
                                                                "type": "boolean",
                                                                "default": false
                                                            },
                                                            "cache": {
                                                                "description": "Present if data is cached",
                                                                "type": "object",
                                                                "properties": {
                                                                    "date_time": {
                                                                        "type": "string",
                                                                        "format": "date-time"
                                                                    }
                                                                }
                                                            }
                                                        },
                                                        "additionalProperties": true
                                                    },
                                                    {
                                                        "type": "object",
                                                        "required": [
                                                            "field_sets_returned",
                                                            "field_sets_available",
                                                            "field_sets_default"
                                                        ],
                                                        "properties": {
                                                            "field_sets_returned": {
                                                                "type": "array",
                                                                "items": {
                                                                    "type": "string"
                                                                },
                                                                "default": [
                                                                    "basic"
                                                                ],
                                                                "example": [
                                                                    "basic",
                                                                    "enrolled_classes"
                                                                ]
                                                            },
                                                            "field_sets_available": {
                                                                "type": "array",
                                                                "items": {
                                                                    "type": "string"
                                                                },
                                                                "default": [
                                                                    "basic",
                                                                    "enrolled_classes"
                                                                ],
                                                                "example": [
                                                                    "basic",
                                                                    "enrolled_classes"
                                                                ]
                                                            },
                                                            "field_sets_default": {
                                                                "type": "array",
                                                                "items": {
                                                                    "type": "string"
                                                                },
                                                                "default": [
                                                                    "basic"
                                                                ],
                                                                "example": [
                                                                    "basic"
                                                                ]
                                                            }
                                                        },
                                                        "additionalProperties": true
                                                    }
                                                ]
                                            },
                                            "basic": {
                                                "type": "object",
                                                "required": [
                                                    "metadata"
                                                ],
                                                "properties": {
                                                    "links": {
                                                        "type": "object",
                                                        "required": [
                                                            "basic__info"
                                                        ],
                                                        "properties": {
                                                            "basic__info": {
                                                                "type": "object",
                                                                "required": [
                                                                    "rel",
                                                                    "href",
                                                                    "method"
                                                                ],
                                                                "properties": {
                                                                    "rel": {
                                                                        "type": "string",
                                                                        "default": "self",
                                                                        "description": "The name of the link property or 'self' if the href value is the same as what is invoked to get the current object."
                                                                    },
                                                                    "href": {
                                                                        "type": "string",
                                                                        "description": "Use this URL to perform the specified action",
                                                                        "default": "https://api.byu.edu/byuapi/students/v3/"
                                                                    },
                                                                    "method": {
                                                                        "type": "string",
                                                                        "default": "GET",
                                                                        "description": "Use this HTTP method to perform the specified action",
                                                                        "enum": [
                                                                            "GET",
                                                                            "PUT",
                                                                            "POST",
                                                                            "DELETE",
                                                                            "OPTIONS"
                                                                        ]
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    },
                                                    "metadata": {
                                                        "type": "object",
                                                        "required": [
                                                            "validation_response"
                                                        ],
                                                        "properties": {
                                                            "validation_response": {
                                                                "type": "object",
                                                                "required": [
                                                                    "code",
                                                                    "message"
                                                                ],
                                                                "properties": {
                                                                    "code": {
                                                                        "type": "integer",
                                                                        "minimum": 100,
                                                                        "maximum": 599,
                                                                        "default": 200
                                                                    },
                                                                    "message": {
                                                                        "type": "string",
                                                                        "default": "Success"
                                                                    }
                                                                }
                                                            },
                                                            "validation_information": {
                                                                "type": "array",
                                                                "items": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "restricted": {
                                                                "description": "Indicates if the data pertains to a restricted person - present for any data pertaining to an individual",
                                                                "type": "boolean",
                                                                "default": false
                                                            },
                                                            "cache": {
                                                                "description": "Present if data is cached",
                                                                "type": "object",
                                                                "properties": {
                                                                    "date_time": {
                                                                        "type": "string",
                                                                        "format": "date-time"
                                                                    }
                                                                }
                                                            }
                                                        },
                                                        "additionalProperties": true
                                                    },
                                                    "byu_id": {
                                                        "type": "object",
                                                        "required": [
                                                            "value",
                                                            "api_type",
                                                            "key"
                                                        ],
                                                        "properties": {
                                                            "value": {
                                                                "type": "string",
                                                                "maxLength": 9
                                                            },
                                                            "description": {
                                                                "type": "string",
                                                                "maxLength": 50
                                                            },
                                                            "api_type": {
                                                                "type": "string",
                                                                "default": "read-only",
                                                                "enum": [
                                                                    "read-only",
                                                                    "related"
                                                                ]
                                                            },
                                                            "key": {
                                                                "type": "boolean",
                                                                "default": true
                                                            },
                                                            "related_resource": {
                                                                "type": "string"
                                                            }
                                                        },
                                                        "example": {
                                                            "value": "123456789",
                                                            "description": "Smith, Joseph",
                                                            "api_type": "read-only",
                                                            "key": true
                                                        }
                                                    },
                                                    "net_id": {
                                                        "type": "object",
                                                        "required": [
                                                            "value",
                                                            "api_type"
                                                        ],
                                                        "properties": {
                                                            "value": {
                                                                "type": "string",
                                                                "pattern": "^[a-z][a-z0-9]{0,8}$",
                                                                "x-nullable": true
                                                            },
                                                            "api_type": {
                                                                "type": "string",
                                                                "default": "read-only",
                                                                "enum": [
                                                                    "read-only"
                                                                ]
                                                            }
                                                        },
                                                        "example": {
                                                            "value": "fakenetid",
                                                            "api_type": "read-only"
                                                        }
                                                    },
                                                    "person_id": {
                                                        "type": "object",
                                                        "required": [
                                                            "value",
                                                            "api_type"
                                                        ],
                                                        "properties": {
                                                            "value": {
                                                                "type": "string",
                                                                "pattern": "^[0-9]{3}2[0-9]{4}2$"
                                                            },
                                                            "description": {
                                                                "type": "string",
                                                                "maxLength": 50
                                                            },
                                                            "api_type": {
                                                                "type": "string",
                                                                "default": "read-only",
                                                                "enum": [
                                                                    "read-only"
                                                                ]
                                                            }
                                                        },
                                                        "example": {
                                                            "value": "111211112",
                                                            "api_type": "read-only"
                                                        }
                                                    }
                                                },
                                                "example": {
                                                    "links": {
                                                        "basic__info": {
                                                            "rel": "self",
                                                            "href": "https://api.byu.edu/byuapi/students/v3/123456789",
                                                            "method": "GET"
                                                        }
                                                    },
                                                    "metadata": {
                                                        "validation_response": {
                                                            "code": 200,
                                                            "message": "Success"
                                                        },
                                                        "restricted": false
                                                    },
                                                    "byu_id": {
                                                        "value": "123456789",
                                                        "api_type": "read-only",
                                                        "key": true,
                                                        "description": "LastName, FirstName"
                                                    },
                                                    "person_id": {
                                                        "value": "111211112",
                                                        "api_type": "read-only"
                                                    }
                                                }
                                            },
                                            "enrolled_classes": {
                                                "type": "object",
                                                "required": [
                                                    "metadata"
                                                ],
                                                "properties": {
                                                    "links": {
                                                        "type": "object",
                                                        "required": [
                                                            "enrolled_classes__info"
                                                        ],
                                                        "properties": {
                                                            "enrolled_classes__info": {
                                                                "type": "object",
                                                                "required": [
                                                                    "rel",
                                                                    "href",
                                                                    "method"
                                                                ],
                                                                "properties": {
                                                                    "rel": {
                                                                        "type": "string",
                                                                        "default": "self",
                                                                        "description": "The name of the link property or 'self' if the href value is the same as what is invoked to get the current object."
                                                                    },
                                                                    "href": {
                                                                        "type": "string",
                                                                        "description": "Use this URL to perform the specified action",
                                                                        "default": "https://api.byu.edu/byuapi/students/v3/"
                                                                    },
                                                                    "method": {
                                                                        "type": "string",
                                                                        "default": "GET",
                                                                        "description": "Use this HTTP method to perform the specified action",
                                                                        "enum": [
                                                                            "GET",
                                                                            "PUT",
                                                                            "POST",
                                                                            "DELETE",
                                                                            "OPTIONS"
                                                                        ]
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    },
                                                    "metadata": {
                                                        "type": "object",
                                                        "required": [
                                                            "validation_response"
                                                        ],
                                                        "properties": {
                                                            "validation_response": {
                                                                "type": "object",
                                                                "required": [
                                                                    "code",
                                                                    "message"
                                                                ],
                                                                "properties": {
                                                                    "code": {
                                                                        "type": "integer",
                                                                        "minimum": 100,
                                                                        "maximum": 599,
                                                                        "default": 200
                                                                    },
                                                                    "message": {
                                                                        "type": "string",
                                                                        "default": "Success"
                                                                    }
                                                                }
                                                            },
                                                            "validation_information": {
                                                                "type": "array",
                                                                "items": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "restricted": {
                                                                "description": "Indicates if the data pertains to a restricted person - present for any data pertaining to an individual",
                                                                "type": "boolean",
                                                                "default": false
                                                            },
                                                            "cache": {
                                                                "description": "Present if data is cached",
                                                                "type": "object",
                                                                "properties": {
                                                                    "date_time": {
                                                                        "type": "string",
                                                                        "format": "date-time"
                                                                    }
                                                                }
                                                            }
                                                        },
                                                        "additionalProperties": true
                                                    },
                                                    "values": {
                                                        "type": "array",
                                                        "items": {
                                                            "type": "object",
                                                            "required": [
                                                                "links",
                                                                "metadata",
                                                                "byu_id",
                                                                "year_term",
                                                                "curriculum_id",
                                                                "title_code",
                                                                "section_number",
                                                                "teaching_area",
                                                                "course_number",
                                                                "added_by_byu_id",
                                                                "added_datetime",
                                                                "audit",
                                                                "term_code",
                                                                "class_provider",
                                                                "course_title",
                                                                "credit_hours",
                                                                "end_date",
                                                                "final_exam_schedule",
                                                                "help_section",
                                                                "honors_section",
                                                                "instructors",
                                                                "lab_section",
                                                                "lms_name",
                                                                "online_section",
                                                                "quiz_section",
                                                                "start_date",
                                                                "updated_by_byu_id",
                                                                "updated_datetime",
                                                                "when_taught",
                                                                "withdrawn",
                                                                "withdrawal_datetime"
                                                            ],
                                                            "properties": {
                                                                "links": {
                                                                    "type": "object",
                                                                    "required": [
                                                                        "enrolled_class__info"
                                                                    ],
                                                                    "properties": {
                                                                        "enrolled_class__info": {
                                                                            "type": "object",
                                                                            "required": [
                                                                                "rel",
                                                                                "href",
                                                                                "method"
                                                                            ],
                                                                            "properties": {
                                                                                "rel": {
                                                                                    "type": "string",
                                                                                    "default": "self",
                                                                                    "description": "The name of the link property or 'self' if the href value is the same as what is invoked to get the current object."
                                                                                },
                                                                                "href": {
                                                                                    "type": "string",
                                                                                    "description": "Use this URL to perform the specified action",
                                                                                    "default": "https://api.byu.edu/byuapi/students/v3/"
                                                                                },
                                                                                "method": {
                                                                                    "type": "string",
                                                                                    "default": "GET",
                                                                                    "description": "Use this HTTP method to perform the specified action",
                                                                                    "enum": [
                                                                                        "GET",
                                                                                        "PUT",
                                                                                        "POST",
                                                                                        "DELETE",
                                                                                        "OPTIONS"
                                                                                    ]
                                                                                }
                                                                            }
                                                                        },
                                                                        "modify_credit_hours": {
                                                                            "type": "object",
                                                                            "required": [
                                                                                "rel",
                                                                                "href",
                                                                                "method"
                                                                            ],
                                                                            "properties": {
                                                                                "rel": {
                                                                                    "type": "string",
                                                                                    "default": "self",
                                                                                    "description": "The name of the link property or 'self' if the href value is the same as what is invoked to get the current object."
                                                                                },
                                                                                "href": {
                                                                                    "type": "string",
                                                                                    "description": "Use this URL to perform the specified action",
                                                                                    "default": "https://api.byu.edu/byuapi/students/v3/"
                                                                                },
                                                                                "method": {
                                                                                    "type": "string",
                                                                                    "default": "GET",
                                                                                    "description": "Use this HTTP method to perform the specified action",
                                                                                    "enum": [
                                                                                        "GET",
                                                                                        "PUT",
                                                                                        "POST",
                                                                                        "DELETE",
                                                                                        "OPTIONS"
                                                                                    ]
                                                                                }
                                                                            }
                                                                        },
                                                                        "enrolled_class__drop": {
                                                                            "type": "object",
                                                                            "required": [
                                                                                "rel",
                                                                                "href",
                                                                                "method"
                                                                            ],
                                                                            "properties": {
                                                                                "rel": {
                                                                                    "type": "string",
                                                                                    "default": "self",
                                                                                    "description": "The name of the link property or 'self' if the href value is the same as what is invoked to get the current object."
                                                                                },
                                                                                "href": {
                                                                                    "type": "string",
                                                                                    "description": "Use this URL to perform the specified action",
                                                                                    "default": "https://api.byu.edu/byuapi/students/v3/"
                                                                                },
                                                                                "method": {
                                                                                    "type": "string",
                                                                                    "default": "GET",
                                                                                    "description": "Use this HTTP method to perform the specified action",
                                                                                    "enum": [
                                                                                        "GET",
                                                                                        "PUT",
                                                                                        "POST",
                                                                                        "DELETE",
                                                                                        "OPTIONS"
                                                                                    ]
                                                                                }
                                                                            }
                                                                        }
                                                                    }
                                                                },
                                                                "metadata": {
                                                                    "type": "object",
                                                                    "required": [
                                                                        "validation_response"
                                                                    ],
                                                                    "properties": {
                                                                        "validation_response": {
                                                                            "type": "object",
                                                                            "required": [
                                                                                "code",
                                                                                "message"
                                                                            ],
                                                                            "properties": {
                                                                                "code": {
                                                                                    "type": "integer",
                                                                                    "minimum": 100,
                                                                                    "maximum": 599,
                                                                                    "default": 200
                                                                                },
                                                                                "message": {
                                                                                    "type": "string",
                                                                                    "default": "Success"
                                                                                }
                                                                            }
                                                                        },
                                                                        "validation_information": {
                                                                            "type": "array",
                                                                            "items": {
                                                                                "type": "string"
                                                                            }
                                                                        },
                                                                        "restricted": {
                                                                            "description": "Indicates if the data pertains to a restricted person - present for any data pertaining to an individual",
                                                                            "type": "boolean",
                                                                            "default": false
                                                                        },
                                                                        "cache": {
                                                                            "description": "Present if data is cached",
                                                                            "type": "object",
                                                                            "properties": {
                                                                                "date_time": {
                                                                                    "type": "string",
                                                                                    "format": "date-time"
                                                                                }
                                                                            }
                                                                        }
                                                                    },
                                                                    "additionalProperties": true
                                                                },
                                                                "byu_id": {
                                                                    "type": "object",
                                                                    "required": [
                                                                        "value",
                                                                        "api_type",
                                                                        "key"
                                                                    ],
                                                                    "properties": {
                                                                        "value": {
                                                                            "type": "string",
                                                                            "maxLength": 9
                                                                        },
                                                                        "description": {
                                                                            "type": "string",
                                                                            "maxLength": 50
                                                                        },
                                                                        "api_type": {
                                                                            "type": "string",
                                                                            "default": "read-only",
                                                                            "enum": [
                                                                                "read-only",
                                                                                "related"
                                                                            ]
                                                                        },
                                                                        "key": {
                                                                            "type": "boolean",
                                                                            "default": true
                                                                        },
                                                                        "related_resource": {
                                                                            "type": "string"
                                                                        }
                                                                    },
                                                                    "example": {
                                                                        "value": "123456789",
                                                                        "description": "Smith, Joseph",
                                                                        "api_type": "read-only",
                                                                        "key": true
                                                                    }
                                                                },
                                                                "year_term": {
                                                                    "type": "object",
                                                                    "required": [
                                                                        "api_type",
                                                                        "value"
                                                                    ],
                                                                    "properties": {
                                                                        "api_type": {
                                                                            "default": "read-only",
                                                                            "enum": [
                                                                                "read-only"
                                                                            ],
                                                                            "type": "string"
                                                                        },
                                                                        "value": {
                                                                            "description": "The year term of the class",
                                                                            "type": "string",
                                                                            "pattern": "^[0-9]{5}$",
                                                                            "example": "20185"
                                                                        },
                                                                        "key": {
                                                                            "type": "boolean"
                                                                        },
                                                                        "description": {
                                                                            "type": "string",
                                                                            "example": "Fall 2017"
                                                                        },
                                                                        "long_description": {
                                                                            "type": "string",
                                                                            "example": "Fall Semester 2017"
                                                                        }
                                                                    }
                                                                },
                                                                "curriculum_id": {
                                                                    "type": "object",
                                                                    "required": [
                                                                        "api_type",
                                                                        "value"
                                                                    ],
                                                                    "properties": {
                                                                        "api_type": {
                                                                            "default": "read-only",
                                                                            "enum": [
                                                                                "read-only"
                                                                            ],
                                                                            "type": "string"
                                                                        },
                                                                        "value": {
                                                                            "description": "The value of the assigned curriculum ID of this course.",
                                                                            "type": "string",
                                                                            "pattern": "^[0-9]{5}$"
                                                                        },
                                                                        "key": {
                                                                            "type": "boolean"
                                                                        }
                                                                    },
                                                                    "example": {
                                                                        "value": "10314",
                                                                        "api_type": "read-only",
                                                                        "key": true
                                                                    }
                                                                },
                                                                "title_code": {
                                                                    "type": "object",
                                                                    "required": [
                                                                        "api_type",
                                                                        "value"
                                                                    ],
                                                                    "properties": {
                                                                        "api_type": {
                                                                            "default": "read-only",
                                                                            "enum": [
                                                                                "read-only"
                                                                            ],
                                                                            "type": "string"
                                                                        },
                                                                        "value": {
                                                                            "description": "The value of the assigned title code of this course.",
                                                                            "type": "string",
                                                                            "pattern": "^[0-9]{3}$"
                                                                        },
                                                                        "key": {
                                                                            "type": "boolean"
                                                                        }
                                                                    },
                                                                    "example": {
                                                                        "value": "000",
                                                                        "api_type": "read-only",
                                                                        "key": true
                                                                    }
                                                                },
                                                                "teaching_area": {
                                                                    "type": "object",
                                                                    "required": [
                                                                        "api_type",
                                                                        "value"
                                                                    ],
                                                                    "properties": {
                                                                        "api_type": {
                                                                            "default": "read-only",
                                                                            "enum": [
                                                                                "read-only"
                                                                            ],
                                                                            "type": "string"
                                                                        },
                                                                        "value": {
                                                                            "description": "The value of the assigned teaching area of this course.",
                                                                            "type": "string"
                                                                        },
                                                                        "key": {
                                                                            "type": "boolean"
                                                                        },
                                                                        "description": {
                                                                            "type": "string",
                                                                            "example": "Mathematics"
                                                                        }
                                                                    }
                                                                },
                                                                "course_number": {
                                                                    "type": "object",
                                                                    "required": [
                                                                        "api_type",
                                                                        "value"
                                                                    ],
                                                                    "properties": {
                                                                        "api_type": {
                                                                            "default": "read-only",
                                                                            "enum": [
                                                                                "read-only"
                                                                            ],
                                                                            "type": "string"
                                                                        },
                                                                        "value": {
                                                                            "description": "Catalog Number and Suffix of Class",
                                                                            "type": "string",
                                                                            "pattern": "^[0-9]{3}[A-Z]?$"
                                                                        },
                                                                        "key": {
                                                                            "type": "boolean"
                                                                        }
                                                                    }
                                                                },
                                                                "section_number": {
                                                                    "type": "object",
                                                                    "required": [
                                                                        "api_type",
                                                                        "value"
                                                                    ],
                                                                    "properties": {
                                                                        "api_type": {
                                                                            "default": "read-only",
                                                                            "enum": [
                                                                                "read-only"
                                                                            ],
                                                                            "type": "string"
                                                                        },
                                                                        "value": {
                                                                            "description": "The value of the section of this class.",
                                                                            "type": "string"
                                                                        },
                                                                        "key": {
                                                                            "type": "boolean"
                                                                        }
                                                                    }
                                                                },
                                                                "added_by_byu_id": {
                                                                    "type": "object",
                                                                    "required": [
                                                                        "api_type",
                                                                        "value"
                                                                    ],
                                                                    "properties": {
                                                                        "api_type": {
                                                                            "default": "system",
                                                                            "enum": [
                                                                                "system"
                                                                            ],
                                                                            "type": "string"
                                                                        },
                                                                        "description": {
                                                                            "description": "The display name of the identity that added the class. NULLABLE",
                                                                            "type": "string",
                                                                            "maxLength": 50,
                                                                            "default": null,
                                                                            "x-nullable": true
                                                                        },
                                                                        "value": {
                                                                            "description": "The BYU ID of the identity that added the class. NULLABLE",
                                                                            "type": "string",
                                                                            "maxLength": 9,
                                                                            "default": null,
                                                                            "x-nullable": true
                                                                        }
                                                                    }
                                                                },
                                                                "added_datetime": {
                                                                    "description": "The date/time the class was added, given in UTC",
                                                                    "type": "object",
                                                                    "required": [
                                                                        "api_type",
                                                                        "value"
                                                                    ],
                                                                    "properties": {
                                                                        "api_type": {
                                                                            "default": "system",
                                                                            "enum": [
                                                                                "system"
                                                                            ],
                                                                            "type": "string"
                                                                        },
                                                                        "value": {
                                                                            "type": "string",
                                                                            "format": "date-time",
                                                                            "default": null,
                                                                            "x-nullable": true,
                                                                            "description": "NULLABLE"
                                                                        }
                                                                    },
                                                                    "example": {
                                                                        "value": "2017-07-04T11:22:33.446Z",
                                                                        "api_type": "system"
                                                                    }
                                                                },
                                                                "audit": {
                                                                    "description": "Is the class being audited?",
                                                                    "type": "object",
                                                                    "required": [
                                                                        "api_type",
                                                                        "value"
                                                                    ],
                                                                    "properties": {
                                                                        "api_type": {
                                                                            "default": "read-only",
                                                                            "enum": [
                                                                                "read-only"
                                                                            ],
                                                                            "type": "string"
                                                                        },
                                                                        "value": {
                                                                            "type": "boolean",
                                                                            "default": false
                                                                        }
                                                                    },
                                                                    "example": {
                                                                        "value": false,
                                                                        "api_type": "read-only"
                                                                    }
                                                                },
                                                                "term_code": {
                                                                    "type": "object",
                                                                    "required": [
                                                                        "value",
                                                                        "api_type"
                                                                    ],
                                                                    "properties": {
                                                                        "value": {
                                                                            "type": "string",
                                                                            "minLength": 1,
                                                                            "maxLength": 1,
                                                                            "description": "NULLABLE",
                                                                            "x-nullable": true
                                                                        },
                                                                        "description": {
                                                                            "type": "string",
                                                                            "maxLength": 50,
                                                                            "description": "NULLABLE",
                                                                            "x-nullable": true
                                                                        },
                                                                        "api_type": {
                                                                            "type": "string",
                                                                            "default": "read-only",
                                                                            "enum": [
                                                                                "read-only"
                                                                            ]
                                                                        },
                                                                        "key": {
                                                                            "type": "boolean"
                                                                        }
                                                                    },
                                                                    "example": {
                                                                        "value": "S",
                                                                        "description": "Semester Long",
                                                                        "api_type": "read-only"
                                                                    }
                                                                },
                                                                "class_provider": {
                                                                    "type": "object",
                                                                    "required": [
                                                                        "value",
                                                                        "domain",
                                                                        "api_type"
                                                                    ],
                                                                    "properties": {
                                                                        "value": {
                                                                            "type": "string",
                                                                            "default": "DAY"
                                                                        },
                                                                        "domain": {
                                                                            "type": "string",
                                                                            "default": "https://api.byu.edu/byuapi/meta/registration/class_providers"
                                                                        },
                                                                        "api_type": {
                                                                            "type": "string",
                                                                            "default": "read-only",
                                                                            "enum": [
                                                                                "read-only"
                                                                            ]
                                                                        }
                                                                    },
                                                                    "example": {
                                                                        "value": "DAY",
                                                                        "domain": "https://api.byu.edu/byuapi/meta/registration/class_providers",
                                                                        "api_type": "read-only"
                                                                    }
                                                                },
                                                                "course_title": {
                                                                    "type": "object",
                                                                    "required": [
                                                                        "api_type",
                                                                        "related_resource",
                                                                        "value"
                                                                    ],
                                                                    "properties": {
                                                                        "api_type": {
                                                                            "default": "related",
                                                                            "enum": [
                                                                                "related"
                                                                            ],
                                                                            "type": "string"
                                                                        },
                                                                        "related_resource": {
                                                                            "default": "https://api.byu.edu/byuapi/courses/v1/",
                                                                            "type": "string"
                                                                        },
                                                                        "value": {
                                                                            "description": "The value of the course title. NULLABLE",
                                                                            "type": "string",
                                                                            "maxLength": 30,
                                                                            "example": "Introduction to Dance",
                                                                            "x-nullable": true
                                                                        }
                                                                    }
                                                                },
                                                                "credit_hours": {
                                                                    "type": "object",
                                                                    "required": [
                                                                        "api_type",
                                                                        "value"
                                                                    ],
                                                                    "properties": {
                                                                        "api_type": {
                                                                            "type": "string",
                                                                            "default": "read-only",
                                                                            "enum": [
                                                                                "read-only",
                                                                                "modifiable"
                                                                            ]
                                                                        },
                                                                        "value": {
                                                                            "default": 3,
                                                                            "description": "The value of the credit hours of the class.",
                                                                            "type": "number"
                                                                        }
                                                                    }
                                                                },
[...]
