{
    "paths": {
        "/attachment/{sysId}": {
            "get": {
                "x-auth-type": "Application & Application User",
                "summary": "Retrieve attachment metadata",
                "x-throttling-tier": "Unlimited",
                "parameters": [
                    {
                        "description": "Unique Identifier in ServiceNow of the record",
                        "name": "sysId",
                        "type": "string",
                        "required": true,
                        "in": "path"
                    }
                ],
                "responses": {
                    "200": {}
                }
            },
            "delete": {
                "x-auth-type": "Application & Application User",
                "summary": "Delete an attachment",
                "x-throttling-tier": "Unlimited",
                "parameters": [
                    {
                        "description": "Unique Identifier in ServiceNow of the record",
                        "name": "sysId",
                        "type": "string",
                        "required": true,
                        "in": "path"
                    }
                ],
                "responses": {
                    "200": {}
                }
            }
        },
        "/attachment/file": {
            "post": {
                "x-auth-type": "Application & Application User",
                "summary": "Upload an attachment from a binary request",
                "x-throttling-tier": "Unlimited",
                "parameters": [
                    {
                        "schema": {
                            "type": "object"
                        },
                        "description": "Request Body",
                        "name": "Payload",
                        "required": false,
                        "in": "body"
                    },
                    {
                        "description": "Table to attach file to",
                        "name": "table_name",
                        "type": "string",
                        "required": true,
                        "in": "query"
                    },
                    {
                        "description": "Record to attach the file to",
                        "name": "table_sys_id",
                        "type": "string",
                        "required": true,
                        "in": "query"
                    },
                    {
                        "description": "File name for the attachment",
                        "name": "file_name",
                        "type": "string",
                        "required": true,
                        "in": "query"
                    },
                    {
                        "description": "Encryption context to be used if file to be saved encrypted",
                        "name": "encryption_context",
                        "type": "string",
                        "required": false,
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {}
                }
            }
        },
        "/attachment/{sysId}/file": {
            "get": {
                "x-auth-type": "Application & Application User",
                "summary": "Retrieve attachment content",
                "x-throttling-tier": "Unlimited",
                "parameters": [
                    {
                        "description": "Unique Identifier in ServiceNow of the record",
                        "name": "sysId",
                        "type": "string",
                        "required": true,
                        "in": "path"
                    }
                ],
                "responses": {
                    "200": {}
                }
            }
        },
        "/attachment": {
            "get": {
                "x-auth-type": "Application & Application User",
                "summary": "Retrieve metadata for attachments",
                "x-throttling-tier": "Unlimited",
                "description": "Retrieve metadata for attachments\n",
                "parameters": [
                    {
                        "name": "sysparm_query",
                        "type": "string",
                        "required": false,
                        "in": "query"
                    },
                    {
                        "name": "sysparm_suppress_pagination_header",
                        "type": "string",
                        "required": false,
                        "in": "query"
                    },
                    {
                        "name": "sysparm_limit",
                        "type": "string",
                        "required": false,
                        "in": "query"
                    },
                    {
                        "name": "sysparm_query_category",
                        "type": "string",
                        "required": false,
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {}
                }
            }
        },
        "/attachment/upload": {
            "post": {
                "x-auth-type": "Application & Application User",
                "summary": "Upload an attachment from a multipart form",
                "x-throttling-tier": "Unlimited",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "table_name",
                        "type": "string",
                        "in": "formData"
                    },
                    {
                        "name": "table_sys_id",
                        "type": "string",
                        "in": "formData"
                    },
                    {
                        "items": {
                            "format": "binary",
                            "type": "string"
                        },
                        "name": "uploadFile",
                        "type": "array",
                        "in": "formData"
                    }
                ],
                "consumes": [
                    "multipart/form-data"
                ],
                "responses": {
                    "200": {}
                }
            }
        }
    },
    "swagger": "2.0",
    "info": {
        "title": "ServiceNowAttachment",
        "version": "v1"
    },
    "basePath": "/domains/servicenow/attach/v1",
    "host": "api.byu.edu:443"
}