{
    "paths": {
        "/diskusage": {
            "get": {
                "x-auth-type": "Application & Application User",
                "summary": "This endpoint will return disk usage data.",
                "x-throttling-tier": "Unlimited",
                "parameters": [
                    {
                        "description": "Either 'hp' or 'dell'",
                        "name": "san",
                        "required": false,
                        "type": "string",
                        "in": "query"
                    },
                    {
                        "description": "The start date of the time period.",
                        "name": "date1",
                        "required": false,
                        "type": "string",
                        "in": "query"
                    },
                    {
                        "description": "The end date of the time period.",
                        "name": "date2",
                        "required": false,
                        "type": "string",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {}
                }
            }
        },
        "/cad": {
            "get": {
                "x-auth-type": "Application & Application User",
                "summary": "This endpoint will return active directory data.",
                "x-throttling-tier": "Unlimited",
                "parameters": [
                    {
                        "description": "The start date of the time period.",
                        "name": "date1",
                        "required": false,
                        "type": "string",
                        "in": "query"
                    },
                    {
                        "description": "The end date of the time period.",
                        "name": "date2",
                        "required": false,
                        "type": "string",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {}
                }
            }
        },
        "/server": {
            "get": {
                "x-auth-type": "Application & Application User",
                "summary": "This endpoint will return information about an individual server.",
                "x-throttling-tier": "Unlimited",
                "parameters": [
                    {
                        "description": "This parameter is the name of the server.",
                        "name": "name",
                        "type": "string",
                        "required": true,
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {}
                }
            }
        }
    },
    "swagger": "2.0",
    "info": {
        "title": "Server_Stats",
        "description": "This API provides stats for servers managed by OIT.",
        "version": "v1"
    },
    "basePath": "/domains/server_stats/v1",
    "host": "api.byu.edu:443"
}