{
    "paths": {
        "/table/{tableName}/{sysId}": {
            "put": {
                "x-auth-type": "Application & Application User",
                "summary": "Modify a record",
                "x-throttling-tier": "Unlimited",
                "parameters": [
                    {
                        "description": "Which table",
                        "name": "tableName",
                        "type": "string",
                        "required": true,
                        "in": "path"
                    },
                    {
                        "description": "The unique idenitifer",
                        "name": "sysId",
                        "type": "string",
                        "required": true,
                        "in": "path"
                    },
                    {
                        "description": "Return the display value (true), actual value (false), or both (all) for reference fields (default: false)",
                        "name": "sysparm_display_value",
                        "required": false,
                        "type": "string",
                        "in": "query"
                    },
                    {
                        "description": "True to exclude Table API links for reference fields (default: false)",
                        "name": "sysparm_exclude_reference_link",
                        "type": "string",
                        "required": false,
                        "in": "query"
                    },
                    {
                        "description": "A comma-separated list of fields to return in the response",
                        "name": "sysparm_fields",
                        "type": "string",
                        "required": false,
                        "in": "query"
                    },
                    {
                        "description": "True to set raw value of input fields (default: false)",
                        "name": "sysparm_input_display_value",
                        "type": "string",
                        "required": false,
                        "in": "query"
                    },
                    {
                        "description": "True to suppress auto generationi of system fields (default: false)",
                        "name": "sysparm_suppress_auto_sys_field",
                        "type": "string",
                        "required": false,
                        "in": "query"
                    },
                    {
                        "description": "Render the response according to the specified UI view (overridden by sysparm_fields)",
                        "name": "sysparm_view",
                        "type": "string",
                        "required": false,
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            },
            "get": {
                "summary": "Retrieve a record",
                "x-auth-type": "Application & Application User",
                "x-throttling-tier": "Unlimited",
                "description": "Retrieves one incident per call based on the unique system identifier.  The 4 query parameters will modify the response.",
                "parameters": [
                    {
                        "description": "Which table",
                        "name": "tableName",
                        "required": true,
                        "type": "string",
                        "in": "path"
                    },
                    {
                        "description": "The unique idenitifer",
                        "name": "sysId",
                        "required": true,
                        "type": "string",
                        "in": "path"
                    },
                    {
                        "description": "Return the display value (true), actual value (false), or both (all) for reference fields (default: false)",
                        "name": "sysparm_display_value",
                        "required": false,
                        "type": "string",
                        "in": "query"
                    },
                    {
                        "description": "True to exclude Table API links for reference fields (default: false)",
                        "name": "sysparm_exclude_reference_link",
                        "type": "string",
                        "required": false,
                        "in": "query"
                    },
                    {
                        "description": "True to suppress pagination header (default:false)",
                        "name": "sysparm_suppress_pagination_header",
                        "type": "string",
                        "required": false,
                        "in": "query"
                    },
                    {
                        "description": "A comma-separated list of fields to return in the response",
                        "name": "sysparm_fields",
                        "type": "string",
                        "required": false,
                        "in": "query"
                    },
                    {
                        "description": "Render the response according to the specified UI view (overridden by sysparm_fields)",
                        "name": "sysparm_view",
                        "type": "string",
                        "required": false,
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        }
    },
    "swagger": "2.0",
    "info": {
        "title": "ServiceNowTableAPI2",
        "version": "v1"
    },
    "basePath": "/domains/servicenow/apiTable/v1",
    "host": "api.byu.edu:443"
}