{
    "paths": {
        "/items/{sys_id}": {
            "get": {
                "x-auth-type": "Application & Application User",
                "summary": "Get Item Identifiers",
                "x-throttling-tier": "Unlimited",
                "parameters": [
                    {
                        "name": "sys_id",
                        "required": true,
                        "type": "string",
                        "in": "path"
                    }
                ],
                "responses": {
                    "200": {}
                }
            }
        },
        "/cart/checkout": {
            "post": {
                "x-auth-type": "Application & Application User",
                "summary": "Checkout Cart",
                "x-throttling-tier": "Unlimited",
                "parameters": [
                    {
                        "schema": {
                            "type": "object"
                        },
                        "description": "Request Body",
                        "name": "Payload",
                        "required": false,
                        "in": "body"
                    }
                ],
                "responses": {
                    "200": {}
                }
            }
        },
        "/cart": {
            "get": {
                "x-auth-type": "Application & Application User",
                "summary": "Get Cart Identifiers",
                "x-throttling-tier": "Unlimited",
                "responses": {
                    "200": {}
                }
            }
        },
        "/cart/{cart_item_id}": {
            "put": {
                "x-auth-type": "Application & Application User",
                "summary": "Update Cart Item",
                "x-throttling-tier": "Unlimited",
                "parameters": [
                    {
                        "name": "cart_item_id",
                        "required": true,
                        "type": "string",
                        "in": "path"
                    },
                    {
                        "schema": {
                            "type": "object"
                        },
                        "description": "Request Body",
                        "name": "Payload",
                        "required": false,
                        "in": "body"
                    }
                ],
                "responses": {
                    "200": {}
                }
            }
        },
        "/items/{sys_id}/add_to_cart": {
            "post": {
                "x-auth-type": "Application & Application User",
                "summary": "Add Item to Cart",
                "x-throttling-tier": "Unlimited",
                "parameters": [
                    {
                        "name": "sys_id",
                        "required": true,
                        "type": "string",
                        "in": "path"
                    },
                    {
                        "schema": {
                            "type": "object"
                        },
                        "description": "Request Body",
                        "name": "Payload",
                        "required": false,
                        "in": "body"
                    }
                ],
                "responses": {
                    "200": {}
                }
            }
        }
    },
    "swagger": "2.0",
    "info": {
        "title": "Service_Catalog",
        "version": "v1"
    },
    "basePath": "/domains/servicenow/service_catalog/v1",
    "host": "api.byu.edu:443"
}