{
    "paths": {
        "/*": {
            "put": {
                "x-auth-type": "Application & Application User",
                "x-throttling-tier": "Unlimited",
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            },
            "post": {
                "x-auth-type": "Application & Application User",
                "x-throttling-tier": "Unlimited",
                "responses": {
                    "201": {
                        "description": "Created"
                    }
                }
            },
            "get": {
                "x-auth-type": "Application & Application User",
                "x-throttling-tier": "Unlimited",
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            },
            "delete": {
                "x-auth-type": "Application & Application User",
                "x-throttling-tier": "Unlimited",
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        }
    },
    "swagger": "2.0",
    "info": {
        "title": "StudentVotingTest",
        "description": "Student Voting API (under construction) built in new Custom Apps stack using UAPI spec.\n\nDocumentation: https://student-voting-v3.dev-oit-byu.amazon.byu.edu/$docs/api.html",
        "version": "dev"
    },
    "basePath": "/domains/student-voting-test/dev",
    "host": "api.byu.edu:443"
}