{
    "paths": {
        "/*": {
            "post": {
                "x-auth-type": "Application & Application User",
                "x-throttling-tier": "Unlimited",
                "responses": {
                    "201": {
                        "description": "Created"
                    }
                }
            },
            "put": {
                "x-auth-type": "Application & Application User",
                "x-throttling-tier": "Unlimited",
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            },
            "get": {
                "x-auth-type": "Application & Application User",
                "x-throttling-tier": "Unlimited",
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            },
            "delete": {
                "x-auth-type": "Application & Application User",
                "x-throttling-tier": "Unlimited",
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        }
    },
    "swagger": "2.0",
    "info": {
        "title": "StudentVoting",
        "description": "Student Voting API built in the Custom Apps stack using UAPI spec.\n\nDocumentation:\n\nProduction: https://student-voting-ws-prd.byu-oit-studentlifeservices-prd.amazon.byu.edu/$docs/api.html\n\nSandbox: https://student-voting-ws-dev.byu-oit-studentlifeservices-dev.amazon.byu.edu/$docs/api.html",
        "version": "v2"
    },
    "basePath": "/domains/student-voting/v2",
    "host": "api.byu.edu:443"
}