{
    "paths": {
        "/*": {
            "get": {
                "x-auth-type": "Application & Application User",
                "x-throttling-tier": "Unlimited",
                "parameters": [
                    {
                        "maxLength": 10,
                        "minLength": 10,
                        "description": "Supplier Identifier",
                        "name": "vendor_id",
                        "type": "string",
                        "required": false,
                        "allowEmptyValue": true,
                        "in": "query"
                    },
                    {
                        "maxLength": 50,
                        "minLength": 1,
                        "description": "Name of Supplier",
                        "name": "name",
                        "type": "string",
                        "required": false,
                        "allowEmptyValue": true,
                        "in": "query"
                    },
                    {
                        "maxLength": 30,
                        "minLength": 9,
                        "description": "Tax ID of Supplier",
                        "name": "tin",
                        "type": "string",
                        "required": false,
                        "allowEmptyValue": true,
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {}
                }
            },
            "options": {
                "x-auth-type": "Application & Application User",
                "x-throttling-tier": "Unlimited",
                "responses": {
                    "200": {}
                }
            }
        }
    },
    "swagger": "2.0",
    "info": {
        "title": "Supplier_Information",
        "description": "Supplier information that is returned includes basic information and current status of the supplier.  Address sequence numbers for order, invoicing, shipping, etc. and supplier contact information which could contain more than one contact on file.  Addresses listed for the supplier are also included as well as basic 1099 Tax Information on file for the supplier.",
        "version": "v1"
    },
    "externalDocs": {
        "description": "Documentation",
        "url": "https://byuoit.atlassian.net/wiki/display/WSO2/API+Web+Service+Documentation+Index"
    },
    "basePath": "/domains/erp/fs/supplier_information/v1",
    "host": "api.byu.edu:443"
}