{
    "basePath": "/domains/erp/fs/supplier_specific/v1",
    "host": "api.byu.edu:443",
    "paths": {
        "/*": {
            "get": {
                "summary": "Returns ID, Name, Zip, State, City, Address",
                "x-auth-type": "Application & Application User",
                "x-throttling-tier": "Unlimited",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "description": "use * as a wild card",
                        "name": "supplier_name",
                        "type": "string",
                        "required": true,
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "schema": {
                            "properties": {
                                "Validation Response": {
                                    "items": {
                                        "properties": {
                                            "Message": {
                                                "type": "string"
                                            }
                                        },
                                        "type": "object"
                                    },
                                    "type": "array"
                                },
                                "Suppliers": {
                                    "items": {
                                        "properties": {
                                            "supplier_id": {
                                                "type": "string"
                                            },
                                            "Addresses": {
                                                "items": {
                                                    "properties": {
                                                        "address_line_4": {
                                                            "type": "string"
                                                        },
                                                        "supplier_email": {
                                                            "type": "string"
                                                        },
                                                        "address_line_1": {
                                                            "type": "string"
                                                        },
                                                        "supplier_postal_code": {
                                                            "type": "string"
                                                        },
                                                        "address_line_3": {
                                                            "type": "string"
                                                        },
                                                        "address_line_2": {
                                                            "type": "string"
                                                        },
                                                        "supplier_state": {
                                                            "type": "string"
                                                        },
                                                        "supplier_address_type": {
                                                            "type": "string"
                                                        },
                                                        "supplier_city": {
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "type": "array"
                                            },
                                            "supplier_name": {
                                                "type": "string"
                                            }
                                        },
                                        "type": "object"
                                    },
                                    "type": "array"
                                }
                            }
                        },
                        "description": "success"
                    },
                    "400": {
                        "schema": {
                            "properties": {
                                "Validation Response": {
                                    "items": {
                                        "properties": {
                                            "Message": {
                                                "type": "string"
                                            },
                                            "Reason": {
                                                "type": "string"
                                            }
                                        },
                                        "type": "object"
                                    },
                                    "type": "array"
                                }
                            }
                        },
                        "description": "failure"
                    }
                }
            }
        }
    },
    "swagger": "2.0",
    "info": {
        "title": "Supplier_Specific",
        "version": "v1"
    }
}