{
    "swagger": "2.0",
    "info": {
        "title": "SyllabusBuilderSyllabus",
        "description": "This service accesses resources in the Learning Suite.",
        "version": "v1"
    },
    "externalDocs": {
        "description": "External **documentation** link",
        "url": "https://byuoit.atlassian.net/wiki/display/WSO2/Syllabus"
    },
    "host": "api.byu.edu:443",
    "schemes": [
        "https"
    ],
    "basePath": "/domains/legacy/syllabusbuilder/syllabus/v1",
    "produces": [
        "application/json",
        "application/xml"
    ],
    "paths": {
        "/courseID/{courseID}": {
            "get": {
                "summary": "Get syllabus by course",
                "description": "Get syllabus by course",
                "operationId": "getSyllabusByCourse",
                "parameters": [
                    {
                        "name": "courseID",
                        "description": "Course identification",
                        "type": "string",
                        "in": "path",
                        "required": true
                    }
                ],
                "tags": [
                    "SyllabusService"
                ],
                "responses": {
                    "200": {
                        "description": "Service request is OK and a response has been generated.",
                        "schema": {
                            "$ref": "#/definitions/SyllabusResponse"
                        }
                    },
                    "400": {
                        "description": "There appears to be a syntax error in the composition of the service request. The response structure may contain information about the error. If the base URI or service request URI is invalid, any response will come as an HTTP response.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "403": {
                        "description": "The user does not have access to the resource.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "404": {
                        "description": "The target resource can not be found for the provided resource identifiers.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "405": {
                        "description": "The service method is not supported by the service.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "409": {
                        "description": "A conflict has occurred. The response structure may contain information about the conflict.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "500": {
                        "description": "An error occurred generating the response to the service request. This is strictly a server error and not an application error.",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/{syllabusID}": {
            "get": {
                "summary": "Get syllabus by ID",
                "description": "Get syllabus by ID",
                "operationId": "GetSyllabusByID",
                "parameters": [
                    {
                        "name": "syllabusID",
                        "description": "Syllabus Identification",
                        "type": "string",
                        "in": "path",
                        "required": true
                    }
                ],
                "tags": [
                    "SyllabusService"
                ],
                "responses": {
                    "200": {
                        "description": "Service request is OK and a response has been generated.",
                        "schema": {
                            "$ref": "#/definitions/SyllabusResponse"
                        }
                    },
                    "400": {
                        "description": "There appears to be a syntax error in the composition of the service request. The response structure may contain information about the error. If the base URI or service request URI is invalid, any response will come as an HTTP response.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "403": {
                        "description": "The user does not have access to the resource.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "404": {
                        "description": "The target resource can not be found for the provided resource identifiers.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "405": {
                        "description": "The service method is not supported by the service.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "409": {
                        "description": "A conflict has occurred. The response structure may contain information about the conflict.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "500": {
                        "description": "An error occurred generating the response to the service request. This is strictly a server error and not an application error.",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            },
            "put": {
                "summary": "Modify Syllabus",
                "description": "Modify syllabus",
                "operationId": "modifySyllabus",
                "parameters": [
                    {
                        "name": "syllabusID",
                        "description": "Syllabus identification",
                        "type": "string",
                        "in": "path",
                        "required": true
                    }
                ],
                "tags": [
                    "SyllabusService"
                ],
                "responses": {
                    "200": {
                        "description": "Service request is OK and a response has been generated.",
                        "schema": {
                            "$ref": "#/definitions/SyllabusRequest"
                        }
                    },
                    "400": {
                        "description": "There appears to be a syntax error in the composition of the service request. The response structure may contain information about the error. If the base URI or service request URI is invalid, any response will come as an HTTP response.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "403": {
                        "description": "The user does not have access to the resource.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "404": {
                        "description": "The target resource can not be found for the provided resource identifiers.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "405": {
                        "description": "The service method is not supported by the service.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "409": {
                        "description": "A conflict has occurred. The response structure may contain information about the conflict.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "500": {
                        "description": "An error occurred generating the response to the service request. This is strictly a server error and not an application error.",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            },
            "delete": {
                "summary": "Delete Syllabus",
                "description": "Delete syllabus",
                "operationId": "deleteSyllabus",
                "parameters": [
                    {
                        "name": "syllabusID",
                        "description": "Syllabus Identification",
                        "type": "string",
                        "in": "path",
                        "required": true
                    }
                ],
                "tags": [
                    "SyllabusService"
                ],
                "responses": {
                    "200": {
                        "description": "Service request is OK and a response has been generated.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "400": {
                        "description": "There appears to be a syntax error in the composition of the service request. The response structure may contain information about the error. If the base URI or service request URI is invalid, any response will come as an HTTP response.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "403": {
                        "description": "The user does not have access to the resource.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "404": {
                        "description": "The target resource can not be found for the provided resource identifiers.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "405": {
                        "description": "The service method is not supported by the service.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "409": {
                        "description": "A conflict has occurred. The response structure may contain information about the conflict.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "500": {
                        "description": "An error occurred generating the response to the service request. This is strictly a server error and not an application error.",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/*": {
            "post": {
                "summary": "Create Syllabus",
                "description": "Create syllabus",
                "operationId": "createSyllabus",
                "parameters": [],
                "tags": [
                    "SyllabusService"
                ],
                "responses": {
                    "200": {
                        "description": "Service request is OK and a response has been generated.",
                        "schema": {
                            "$ref": "#/definitions/SyllabusRequest"
                        }
                    },
                    "400": {
                        "description": "There appears to be a syntax error in the composition of the service request. The response structure may contain information about the error. If the base URI or service request URI is invalid, any response will come as an HTTP response.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "403": {
                        "description": "The user does not have access to the resource.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "404": {
                        "description": "The target resource can not be found for the provided resource identifiers.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "405": {
                        "description": "The service method is not supported by the service.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "409": {
                        "description": "A conflict has occurred. The response structure may contain information about the conflict.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "500": {
                        "description": "An error occurred generating the response to the service request. This is strictly a server error and not an application error.",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/documentation": {
            "get": {
                "summary": "Service definition",
                "description": "Service definitions",
                "operationId": "getServiceDocumentation",
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "SyllabusRequest": {
            "type": "object",
            "properties": {
                "curriculumID": {
                    "type": "string"
                },
                "titleCode": {
                    "type": "string"
                },
                "period": {
                    "type": "string"
                },
                "owner": {
                    "type": "string"
                },
                "courseID": {
                    "type": "string"
                }
            }
        },
        "SyllabusResponse": {
            "type": "object",
            "properties": {
                "id": {
                    "type": "string"
                },
                "curriculumID": {
                    "type": "string"
                },
                "titleCode": {
                    "type": "string"
                },
                "period": {
                    "type": "string"
                },
                "owner": {
                    "type": "string"
                },
                "courseID": {
                    "type": "string"
                }
            }
        }
    }
}