{
    "swagger": "2.0",
    "info": {
        "title": "transfersTransferCollege",
        "description": "Transfer Colleges data",
        "version": "v1",
        "license": {
            "name": "Apache 2.0",
            "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
        }
    },
    "host": "api.byu.edu:443",
    "schemes": [
        "https"
    ],
    "basePath": "/domains/transfers/transfer_colleges/v1",
    "produces": [
        "application/json"
    ],
    "paths": {
        "/*": {
            "x-controller": "transfer_colleges",
            "get": {
                "summary": "transfers Codes",
                "description": "Retrieve a collection of transfer_colleges through query parameters",
                "operationId": "getTransferColleges",
                "parameters": [
                    {
                        "name": "updated_after",
                        "in": "query",
                        "description": "Updated after datetime",
                        "required": false,
                        "type": "string",
                        "format": "date-time",
                        "x-contains-special-characters": true
                    }
                ],
                "tags": [
                    "Transfer Colleges"
                ],
                "responses": {
                    "200": {
                        "description": "Retrieve a collection of transfer colleges",
                        "schema": {
                            "description": "A collection of transfer colleges",
                            "type": "object",
                            "required": [
                                "links",
                                "metadata",
                                "values"
                            ],
                            "properties": {
                                "links": {
                                    "description": "Hypermedia links that impact the transfer college collection",
                                    "type": "object",
                                    "required": [
                                        "transfer_colleges__info"
                                    ],
                                    "properties": {
                                        "transfer_colleges__info": {
                                            "type": "object",
                                            "required": [
                                                "rel",
                                                "href",
                                                "method"
                                            ],
                                            "properties": {
                                                "rel": {
                                                    "type": "string",
                                                    "enum": [
                                                        "self"
                                                    ],
                                                    "default": "self"
                                                },
                                                "href": {
                                                    "type": "string",
                                                    "format": "uri",
                                                    "default": "https://api.byu.edu/domains/transfers/transfer_colleges/v1"
                                                },
                                                "method": {
                                                    "type": "string",
                                                    "enum": [
                                                        "GET"
                                                    ],
                                                    "default": "GET"
                                                }
                                            }
                                        },
                                        "transfer_colleges__create": {
                                            "type": "object",
                                            "required": [
                                                "rel",
                                                "href",
                                                "method"
                                            ],
                                            "properties": {
                                                "rel": {
                                                    "type": "string",
                                                    "enum": [
                                                        "transfer_colleges__create"
                                                    ],
                                                    "default": "transfer_colleges__create"
                                                },
                                                "href": {
                                                    "type": "string",
                                                    "format": "uri",
                                                    "default": "https://api.byu.edu/domains/transfers/transfer_colleges/v1/{college_code}",
                                                    "x-template": "https://api.byu.edu/domains/transfers/transfer_colleges/v1/:college_code"
                                                },
                                                "method": {
                                                    "type": "string",
                                                    "enum": [
                                                        "PUT"
                                                    ],
                                                    "default": "PUT"
                                                }
                                            }
                                        }
                                    }
                                },
                                "metadata": {
                                    "allOf": [
                                        {
                                            "type": "object",
                                            "required": [
                                                "validation_response"
                                            ],
                                            "properties": {
                                                "validation_response": {
                                                    "type": "object",
                                                    "required": [
                                                        "code",
                                                        "message"
                                                    ],
                                                    "properties": {
                                                        "code": {
                                                            "type": "integer",
                                                            "default": 200,
                                                            "x-variable": "code"
                                                        },
                                                        "message": {
                                                            "type": "string",
                                                            "default": "Successful",
                                                            "x-variable": "message"
                                                        }
                                                    }
                                                },
                                                "validation_information": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string"
                                                    },
                                                    "x-variable": "validation_information"
                                                }
                                            },
                                            "additionalProperties": true
                                        },
                                        {
                                            "type": "object",
                                            "required": [
                                                "collection_size"
                                            ],
                                            "properties": {
                                                "collection_size": {
                                                    "type": "integer",
                                                    "minimum": 0,
                                                    "default": 0,
                                                    "x-variable": "collection_size"
                                                }
                                            },
                                            "additionalProperties": true
                                        }
                                    ]
                                },
                                "values": {
                                    "type": "array",
                                    "items": {
                                        "description": "A transfer college",
                                        "type": "object",
                                        "properties": {
                                            "links": {
                                                "description": "Hypermedia links that impact the transfer college",
                                                "type": "object",
                                                "required": [
                                                    "transfer_college__info"
                                                ],
                                                "properties": {
                                                    "transfer_college__info": {
                                                        "type": "object",
                                                        "required": [
                                                            "rel",
                                                            "href",
                                                            "method"
                                                        ],
                                                        "properties": {
                                                            "rel": {
                                                                "type": "string",
                                                                "enum": [
                                                                    "self"
                                                                ],
                                                                "default": "self"
                                                            },
                                                            "href": {
                                                                "type": "string",
                                                                "format": "uri",
                                                                "default": "https://api.byu.edu/domains/transfers/transfer_colleges/v1/{college_code}",
                                                                "x-template": "https://api.byu.edu/domains/transfers/transfer_colleges/v1/:college_code"
                                                            },
                                                            "method": {
                                                                "type": "string",
                                                                "enum": [
                                                                    "GET"
                                                                ],
                                                                "default": "GET"
                                                            }
                                                        }
                                                    },
                                                    "transfer_college__modify": {
                                                        "type": "object",
                                                        "required": [
                                                            "rel",
                                                            "href",
                                                            "method"
                                                        ],
                                                        "properties": {
                                                            "rel": {
                                                                "type": "string",
                                                                "enum": [
                                                                    "transfer_college__modify"
                                                                ],
                                                                "default": "transfer_college__modify"
                                                            },
                                                            "href": {
                                                                "type": "string",
                                                                "format": "uri",
                                                                "default": "https://api.byu.edu/domains/transfers/transfer_colleges/v1/{college_code}",
                                                                "x-template": "https://api.byu.edu/domains/transfers/transfer_colleges/v1/:college_code"
                                                            },
                                                            "method": {
                                                                "type": "string",
                                                                "enum": [
                                                                    "PUT"
                                                                ],
                                                                "default": "PUT"
                                                            }
                                                        }
                                                    }
                                                }
                                            },
                                            "metadata": {
                                                "type": "object",
                                                "required": [
                                                    "validation_response"
                                                ],
                                                "properties": {
                                                    "validation_response": {
                                                        "type": "object",
                                                        "required": [
                                                            "code",
                                                            "message"
                                                        ],
                                                        "properties": {
                                                            "code": {
                                                                "type": "integer",
                                                                "default": 200,
                                                                "x-variable": "code"
                                                            },
                                                            "message": {
                                                                "type": "string",
                                                                "default": "Successful",
                                                                "x-variable": "message"
                                                            }
                                                        }
                                                    },
                                                    "validation_information": {
                                                        "type": "array",
                                                        "items": {
                                                            "type": "string"
                                                        },
                                                        "x-variable": "validation_information"
                                                    }
                                                },
                                                "additionalProperties": true
                                            },
                                            "college_code": {
                                                "description": "A unique college_code",
                                                "type": "string",
                                                "maxLength": 5,
                                                "example": "00000",
                                                "x-variable": "college_code"
                                            },
                                            "active_status": {
                                                "description": "active_status",
                                                "type": "string",
                                                "enum": [
                                                    "Y",
                                                    "N"
                                                ],
                                                "example": "Y",
                                                "x-variable": "active_status"
                                            },
                                            "college_name_long": {
                                                "description": "college_name_long",
                                                "type": "string",
                                                "maxLength": 100,
                                                "example": "Utah Valley University",
                                                "x-variable": "college_name_long"
                                            },
                                            "college_type": {
                                                "description": "college_type",
                                                "type": "string",
                                                "maxLength": 25,
                                                "example": "4 Year",
                                                "x-variable": "college_type"
                                            },
                                            "college_name": {
                                                "description": "college_name",
                                                "type": "string",
                                                "maxLength": 35,
                                                "example": "Utah Valley University",
                                                "x-variable": "college_name"
                                            },
                                            "address_line_2": {
                                                "description": "address_line_2",
                                                "type": "string",
                                                "maxLength": 35,
                                                "example": "",
                                                "x-variable": "address_line_2"
                                            },
                                            "address_line_3": {
                                                "description": "address_line_3",
                                                "type": "string",
                                                "maxLength": 35,
                                                "example": "",
                                                "x-variable": "address_line_3"
                                            },
                                            "address_line_4": {
                                                "description": "address_line_4",
                                                "type": "string",
                                                "maxLength": 35,
                                                "example": "",
                                                "x-variable": "address_line_4"
                                            },
                                            "address_line_5": {
                                                "description": "address_line_5",
                                                "type": "string",
                                                "maxLength": 35,
                                                "example": "",
                                                "x-variable": "address_line_5"
                                            },
                                            "college_city": {
                                                "description": "college_city",
                                                "type": "string",
                                                "maxLength": 30,
                                                "example": "Orem",
                                                "x-variable": "college_city"
                                            },
                                            "college_state": {
                                                "description": "college_state",
                                                "type": "string",
                                                "maxLength": 2,
                                                "example": "UT",
                                                "x-variable": "college_state"
                                            },
                                            "college_zip": {
                                                "description": "college_zip",
                                                "type": "string",
                                                "maxLength": 9,
                                                "example": "000000",
                                                "x-variable": "college_zip"
                                            },
                                            "college_country": {
                                                "description": "college_country",
                                                "type": "string",
                                                "maxLength": 3,
                                                "example": "USA",
                                                "x-variable": "college_country"
                                            },
                                            "prev_college_id": {
                                                "description": "prev_college_id",
                                                "type": "string",
                                                "maxLength": 5,
                                                "example": "04931",
                                                "x-variable": "prev_college_id"
                                            },
                                            "accreditation": {
                                                "description": "accreditation",
                                                "type": "string",
                                                "maxLength": 2,
                                                "example": "AG",
                                                "x-variable": "accreditation"
                                            },
                                            "accept_period": {
                                                "description": "accept_period",
                                                "type": "string",
                                                "enum": [
                                                    "Y",
                                                    "N"
                                                ],
                                                "example": "Y",
                                                "x-variable": "accept_period"
                                            },
                                            "semester_quarter": {
                                                "description": "semester_quarter",
                                                "type": "string",
                                                "enum": [
                                                    "Q",
                                                    "S",
                                                    ""
                                                ],
                                                "example": "S",
                                                "x-variable": "semester_quarter"
                                            },
                                            "date_time_updated": {
                                                "description": "date_time_updated - will be in ISO format like the example or an empty string (for some old data)",
                                                "type": "string",
                                                "example": "2014-08-11T00:00:00.000Z",
                                                "x-variable": "date_time_updated"
                                            },
                                            "updated_by_id": {
                                                "description": "updated_by_id",
                                                "type": "string",
                                                "maxLength": 9,
                                                "example": "111111111",
                                                "x-variable": "updated_by_id"
                                            },
                                            "egpa_multiplier": {
                                                "description": "egpa_multiplier",
                                                "type": "string",
                                                "maxLength": 8,
                                                "example": "0.0",
                                                "x-variable": "egpa_multiplier"
                                            },
                                            "aliases": {
                                                "type": "object",
                                                "required": [
                                                    "links",
                                                    "metadata",
                                                    "values"
                                                ],
                                                "properties": {
                                                    "links": {
                                                        "description": "Hypermedia links that impact the transfer college aliases",
                                                        "type": "object",
                                                        "default": {}
                                                    },
                                                    "metadata": {
                                                        "allOf": [
                                                            {
                                                                "type": "object",
                                                                "required": [
                                                                    "validation_response"
                                                                ],
                                                                "properties": {
                                                                    "validation_response": {
                                                                        "type": "object",
                                                                        "required": [
                                                                            "code",
                                                                            "message"
                                                                        ],
                                                                        "properties": {
                                                                            "code": {
                                                                                "type": "integer",
                                                                                "default": 200,
                                                                                "x-variable": "code"
                                                                            },
                                                                            "message": {
                                                                                "type": "string",
                                                                                "default": "Successful",
                                                                                "x-variable": "message"
                                                                            }
                                                                        }
                                                                    },
                                                                    "validation_information": {
                                                                        "type": "array",
                                                                        "items": {
                                                                            "type": "string"
                                                                        },
                                                                        "x-variable": "validation_information"
                                                                    }
                                                                },
                                                                "additionalProperties": true
                                                            },
                                                            {
                                                                "type": "object",
                                                                "required": [
                                                                    "collection_size"
                                                                ],
                                                                "properties": {
                                                                    "collection_size": {
                                                                        "type": "integer",
                                                                        "minimum": 0,
                                                                        "default": 0,
                                                                        "x-variable": "collection_size"
                                                                    }
                                                                },
                                                                "additionalProperties": true
                                                            }
                                                        ]
                                                    },
                                                    "values": {
                                                        "type": "array",
                                                        "items": {
                                                            "type": "object",
                                                            "required": [
                                                                "links",
                                                                "metadata",
                                                                "college_code",
                                                                "alias_name",
                                                                "date_time_updated",
                                                                "updated_by_id"
                                                            ],
                                                            "properties": {
                                                                "links": {
                                                                    "description": "Hypermedia links that impact this alias",
                                                                    "type": "object",
                                                                    "default": {}
                                                                },
                                                                "metadata": {
                                                                    "type": "object",
                                                                    "required": [
                                                                        "validation_response"
                                                                    ],
                                                                    "properties": {
                                                                        "validation_response": {
                                                                            "type": "object",
                                                                            "required": [
                                                                                "code",
                                                                                "message"
                                                                            ],
                                                                            "properties": {
                                                                                "code": {
                                                                                    "type": "integer",
                                                                                    "default": 200,
                                                                                    "x-variable": "code"
                                                                                },
                                                                                "message": {
                                                                                    "type": "string",
                                                                                    "default": "Successful",
                                                                                    "x-variable": "message"
                                                                                }
                                                                            }
                                                                        },
                                                                        "validation_information": {
                                                                            "type": "array",
                                                                            "items": {
                                                                                "type": "string"
                                                                            },
                                                                            "x-variable": "validation_information"
                                                                        }
                                                                    },
                                                                    "additionalProperties": true
                                                                },
                                                                "college_code": {
                                                                    "description": "A unique college_code",
                                                                    "type": "string",
                                                                    "maxLength": 5,
                                                                    "example": "00000",
                                                                    "x-variable": "college_code"
                                                                },
                                                                "alias_name": {
                                                                    "type": "string",
                                                                    "maxLength": 100,
                                                                    "x-variable": "alias_name"
                                                                },
                                                                "date_time_updated": {
                                                                    "type": "string",
                                                                    "x-variable": "date_time_updated"
                                                                },
                                                                "updated_by_id": {
                                                                    "type": "string",
                                                                    "maxLength": 9,
                                                                    "x-variable": "updated_by_id"
                                                                }
                                                            }
                                                        },
                                                        "x-variable": "values"
                                                    }
                                                },
                                                "example": {
                                                    "links": {},
                                                    "metadata": {
                                                        "collection_size": 1,
                                                        "validation_response": {
                                                            "code": 200,
                                                            "message": "Successful"
                                                        }
                                                    },
                                                    "values": [
                                                        {
                                                            "links": {},
                                                            "metadata": {
                                                                "validation_response": {
                                                                    "code": 200,
                                                                    "message": "Successful"
                                                                }
                                                            },
                                                            "college_code": "00000",
                                                            "alias_name": "Utah Valley State College",
                                                            "date_time_updated": "2003-08-27T06:00:00.000Z",
                                                            "updated_by_id": "CNVRSN"
                                                        }
                                                    ]
                                                },
                                                "x-variable": "aliases"
                                            },
                                            "attributes": {
                                                "type": "object",
                                                "required": [
                                                    "links",
                                                    "metadata",
                                                    "values"
                                                ],
                                                "properties": {
                                                    "links": {
                                                        "description": "Hypermedia links that impact the transfer college attributes",
                                                        "type": "object",
                                                        "default": {}
                                                    },
                                                    "metadata": {
                                                        "allOf": [
                                                            {
                                                                "type": "object",
                                                                "required": [
                                                                    "validation_response"
                                                                ],
                                                                "properties": {
                                                                    "validation_response": {
                                                                        "type": "object",
                                                                        "required": [
                                                                            "code",
                                                                            "message"
                                                                        ],
                                                                        "properties": {
                                                                            "code": {
                                                                                "type": "integer",
                                                                                "default": 200,
                                                                                "x-variable": "code"
                                                                            },
                                                                            "message": {
                                                                                "type": "string",
                                                                                "default": "Successful",
                                                                                "x-variable": "message"
                                                                            }
                                                                        }
                                                                    },
                                                                    "validation_information": {
                                                                        "type": "array",
                                                                        "items": {
                                                                            "type": "string"
                                                                        },
                                                                        "x-variable": "validation_information"
                                                                    }
                                                                },
                                                                "additionalProperties": true
                                                            },
                                                            {
                                                                "type": "object",
                                                                "required": [
                                                                    "collection_size"
                                                                ],
                                                                "properties": {
                                                                    "collection_size": {
                                                                        "type": "integer",
                                                                        "minimum": 0,
                                                                        "default": 0,
                                                                        "x-variable": "collection_size"
                                                                    }
                                                                },
                                                                "additionalProperties": true
                                                            }
                                                        ]
                                                    },
                                                    "values": {
                                                        "type": "array",
                                                        "items": {
                                                            "type": "object",
                                                            "properties": {
                                                                "links": {
                                                                    "description": "Hypermedia links that impact this transfer college attribute",
                                                                    "type": "object",
                                                                    "default": {}
                                                                },
                                                                "metadata": {
                                                                    "type": "object",
                                                                    "required": [
                                                                        "validation_response"
                                                                    ],
                                                                    "properties": {
                                                                        "validation_response": {
                                                                            "type": "object",
                                                                            "required": [
                                                                                "code",
                                                                                "message"
                                                                            ],
                                                                            "properties": {
                                                                                "code": {
                                                                                    "type": "integer",
                                                                                    "default": 200,
                                                                                    "x-variable": "code"
                                                                                },
                                                                                "message": {
                                                                                    "type": "string",
                                                                                    "default": "Successful",
                                                                                    "x-variable": "message"
                                                                                }
                                                                            }
                                                                        },
                                                                        "validation_information": {
                                                                            "type": "array",
                                                                            "items": {
                                                                                "type": "string"
                                                                            },
                                                                            "x-variable": "validation_information"
                                                                        }
                                                                    },
                                                                    "additionalProperties": true
                                                                },
                                                                "college_code": {
                                                                    "description": "A unique college_code",
                                                                    "type": "string",
                                                                    "maxLength": 5,
                                                                    "example": "00000",
                                                                    "x-variable": "college_code"
                                                                },
                                                                "attribute_name": {
                                                                    "type": "string",
                                                                    "maxLength": 35,
                                                                    "x-variable": "attribute_name"
                                                                },
                                                                "attribute_type": {
                                                                    "type": "string",
                                                                    "maxLength": 35,
                                                                    "x-variable": "attribute_type"
                                                                },
                                                                "attribute_description": {
                                                                    "type": "string",
                                                                    "maxLength": 4000,
                                                                    "x-variable": "attribute_description"
                                                                }
                                                            }
                                                        },
                                                        "x-variable": "values"
                                                    }
                                                },
                                                "example": {
                                                    "links": {},
                                                    "metadata": {
                                                        "collection_size": 1,
                                                        "validation_response": {
                                                            "code": 200,
                                                            "message": "Successful"
                                                        }
                                                    },
                                                    "values": [
                                                        {
                                                            "links": {},
                                                            "metadata": {
                                                                "validation_response": {
                                                                    "code": 200,
                                                                    "message": "Successful"
                                                                }
                                                            },
                                                            "college_code": "00000",
                                                            "attribute_name": "ADMISSIONS CONSORTIUM",
                                                            "attribute_type": "1.0",
                                                            "attribute_description": "Consortium school given 1.0 as the consortium factor used in the Admissions Transfer Index."
                                                        }
                                                    ]
                                                },
                                                "x-variable": "attributes"
                                            }
                                        },
                                        "example": {
                                            "links": {
                                                "transfer_college__info": {
                                                    "rel": "self",
                                                    "href": "https://api.byu.edu/domains/transfers/transfer_colleges/v1/00000",
                                                    "method": "GET"
                                                },
                                                "transfer_college__modify": {
                                                    "rel": "transfer_college__modify",
                                                    "href": "https://api.byu.edu/domains/transfers/transfer_colleges/v1/00000",
                                                    "method": "PUT"
                                                }
                                            },
                                            "metadata": {
                                                "validation_response": {
                                                    "code": 200,
                                                    "message": "Successful"
                                                }
                                            },
                                            "college_code": "00000",
                                            "active_status": "Y",
                                            "college_name_long": "Utah Valley University",
                                            "college_type": "4 Year",
                                            "college_name": "Utah Valley University",
                                            "address_line_2": "",
                                            "address_line_3": "",
                                            "address_line_4": "",
                                            "address_line_5": "",
                                            "college_city": "Orem",
                                            "college_state": "UT",
                                            "college_zip": "000000",
                                            "college_country": "USA",
                                            "prev_college_id": "04931",
                                            "accreditation": "AG",
                                            "accept_period": "Y",
                                            "semester_quarter": "S",
                                            "date_time_updated": "2014-08-11T00:00:00.000Z",
                                            "updated_by_id": "111111111",
                                            "egpa_multiplier": "0.0",
                                            "attributes": {
                                                "links": {},
                                                "metadata": {
                                                    "collection_size": 1,
                                                    "validation_response": {
                                                        "code": 200,
                                                        "message": "Successful"
                                                    }
                                                },
                                                "values": [
                                                    {
                                                        "links": {},
                                                        "metadata": {
                                                            "validation_response": {
                                                                "code": 200,
                                                                "message": "Successful"
                                                            }
                                                        },
                                                        "college_code": "00000",
                                                        "attribute_name": "ADMISSIONS CONSORTIUM",
                                                        "attribute_type": "1.0",
                                                        "attribute_description": "Consortium school given 1.0 as the consortium factor used in the Admissions Transfer Index."
                                                    }
                                                ]
                                            },
                                            "aliases": {
                                                "links": {},
                                                "metadata": {
                                                    "collection_size": 1,
                                                    "validation_response": {
                                                        "code": 200,
                                                        "message": "Successful"
                                                    }
                                                },
                                                "values": [
                                                    {
                                                        "links": {},
                                                        "metadata": {
                                                            "validation_response": {
                                                                "code": 200,
                                                                "message": "Successful"
                                                            }
                                                        },
                                                        "college_code": "00000",
                                                        "alias_name": "Utah Valley State College",
                                                        "date_time_updated": "2003-08-27T06:00:00.000Z",
                                                        "updated_by_id": "CNVRSN"
                                                    }
                                                ]
                                            }
                                        }
                                    },
                                    "x-variable": "values"
                                }
                            },
                            "example": {
                                "links": {
                                    "transfer_colleges__info": {
                                        "rel": "self",
                                        "href": "https://api.byu.edu/domains/transfers/transfer_colleges/v1/",
                                        "method": "GET"
                                    },
                                    "transfer_colleges__create": {
                                        "rel": "transfer_colleges__create",
                                        "href": "https://api.byu.edu/domains/transfers/transfer_colleges/v1/{college_code}",
                                        "method": "PUT"
                                    }
                                },
                                "metadata": {
                                    "collection_size": 1,
                                    "validation_response": {
                                        "code": 200,
                                        "message": "Successful"
                                    }
                                },
                                "values": [
                                    {
                                        "links": {
                                            "transfer_college__info": {
                                                "rel": "self",
                                                "href": "https://api.byu.edu/domains/transfers/transfer_colleges/v1/00000",
                                                "method": "GET"
                                            },
                                            "transfer_college__modify": {
                                                "rel": "transfer_college__modify",
                                                "href": "https://api.byu.edu/domains/transfers/transfer_colleges/v1/00000",
                                                "method": "PUT"
                                            }
                                        },
                                        "metadata": {
                                            "validation_response": {
                                                "code": 200,
                                                "message": "Successful"
                                            }
                                        },
                                        "college_code": "00000",
                                        "active_status": "Y",
                                        "college_name_long": "Utah Valley University",
                                        "college_type": "4 Year",
                                        "college_name": "Utah Valley University",
                                        "address_line_2": "",
                                        "address_line_3": "",
                                        "address_line_4": "",
                                        "address_line_5": "",
                                        "college_city": "Orem",
                                        "college_state": "UT",
                                        "college_zip": "000000",
                                        "college_country": "USA",
                                        "prev_college_id": "04931",
                                        "accreditation": "AG",
                                        "accept_period": "Y",
                                        "semester_quarter": "S",
                                        "date_time_updated": "2014-08-11T00:00:00.000Z",
                                        "updated_by_id": "111111111",
                                        "egpa_multiplier": "0.0",
                                        "attributes": {
                                            "links": {},
                                            "metadata": {
                                                "collection_size": 1,
                                                "validation_response": {
                                                    "code": 200,
                                                    "message": "Successful"
                                                }
                                            },
                                            "values": [
                                                {
                                                    "links": {},
                                                    "metadata": {
                                                        "validation_response": {
                                                            "code": 200,
                                                            "message": "Successful"
                                                        }
                                                    },
                                                    "college_code": "00000",
                                                    "attribute_name": "ADMISSIONS CONSORTIUM",
                                                    "attribute_type": "1.0",
                                                    "attribute_description": "Consortium school given 1.0 as the consortium factor used in the Admissions Transfer Index."
                                                }
                                            ]
                                        },
                                        "aliases": {
                                            "links": {},
                                            "metadata": {
                                                "collection_size": 1,
                                                "validation_response": {
                                                    "code": 200,
                                                    "message": "Successful"
                                                }
                                            },
                                            "values": [
                                                {
                                                    "links": {},
                                                    "metadata": {
                                                        "validation_response": {
                                                            "code": 200,
                                                            "message": "Successful"
                                                        }
                                                    },
                                                    "college_code": "00000",
                                                    "alias_name": "Utah Valley State College",
                                                    "date_time_updated": "2003-08-27T06:00:00.000Z",
                                                    "updated_by_id": "CNVRSN"
                                                }
                                            ]
                                        }
                                    }
                                ]
                            }
                        },
                        "examples": {
                            "application/json": {
                                "links": {
                                    "transfer_colleges__info": {
                                        "rel": "self",
                                        "href": "https://api.byu.edu/domains/transfers/transfer_colleges/v1/",
                                        "method": "GET"
                                    },
                                    "transfer_colleges__create": {
                                        "rel": "transfer_colleges__create",
                                        "href": "https://api.byu.edu/domains/transfers/transfer_colleges/v1/{college_code}",
                                        "method": "PUT"
                                    }
                                },
                                "metadata": {
                                    "collection_size": 1,
                                    "validation_response": {
                                        "code": 200,
                                        "message": "Successful"
                                    }
                                },
                                "values": [
                                    {
                                        "links": {
                                            "transfer_college__info": {
                                                "rel": "self",
                                                "href": "https://api.byu.edu/domains/transfers/transfer_colleges/v1/00000",
                                                "method": "GET"
                                            },
                                            "transfer_college__modify": {
                                                "rel": "transfer_college__modify",
                                                "href": "https://api.byu.edu/domains/transfers/transfer_colleges/v1/00000",
                                                "method": "PUT"
                                            }
                                        },
                                        "metadata": {
                                            "validation_response": {
                                                "code": 200,
                                                "message": "Successful"
                                            }
                                        },
                                        "college_code": "00000",
                                        "active_status": "Y",
                                        "college_name_long": "Utah Valley University",
                                        "college_type": "4 Year",
                                        "college_name": "Utah Valley University",
                                        "address_line_2": "",
                                        "address_line_3": "",
                                        "address_line_4": "",
                                        "address_line_5": "",
                                        "college_city": "Orem",
                                        "college_state": "UT",
                                        "college_zip": "000000",
                                        "college_country": "USA",
                                        "prev_college_id": "04931",
                                        "accreditation": "AG",
                                        "accept_period": "Y",
                                        "semester_quarter": "S",
                                        "date_time_updated": "2014-08-11T00:00:00.000Z",
                                        "updated_by_id": "111111111",
                                        "egpa_multiplier": "0.0",
                                        "attributes": {
                                            "links": {},
                                            "metadata": {
                                                "collection_size": 1,
                                                "validation_response": {
                                                    "code": 200,
                                                    "message": "Successful"
                                                }
                                            },
                                            "values": [
                                                {
                                                    "links": {},
                                                    "metadata": {
                                                        "validation_response": {
                                                            "code": 200,
                                                            "message": "Successful"
                                                        }
                                                    },
                                                    "college_code": "00000",
                                                    "attribute_name": "ADMISSIONS CONSORTIUM",
                                                    "attribute_type": "1.0",
                                                    "attribute_description": "Consortium school given 1.0 as the consortium factor used in the Admissions Transfer Index."
                                                }
                                            ]
                                        },
                                        "aliases": {
                                            "links": {},
                                            "metadata": {
                                                "collection_size": 1,
                                                "validation_response": {
                                                    "code": 200,
                                                    "message": "Successful"
                                                }
                                            },
                                            "values": [
                                                {
                                                    "links": {},
                                                    "metadata": {
                                                        "validation_response": {
                                                            "code": 200,
                                                            "message": "Successful"
                                                        }
                                                    },
                                                    "college_code": "00000",
                                                    "alias_name": "Utah Valley State College",
                                                    "date_time_updated": "2003-08-27T06:00:00.000Z",
                                                    "updated_by_id": "CNVRSN"
                                                }
                                            ]
                                        }
                                    }
                                ]
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid Request - unable to interpret request",
                        "schema": {
                            "type": "object",
                            "required": [
                                "metadata"
                            ],
                            "properties": {
                                "metadata": {
                                    "type": "object",
                                    "required": [
                                        "validation_response"
                                    ],
                                    "properties": {
                                        "validation_response": {
                                            "type": "object",
                                            "required": [
                                                "code",
                                                "message"
                                            ],
                                            "properties": {
                                                "code": {
                                                    "type": "integer",
                                                    "default": 200,
                                                    "x-variable": "code"
                                                },
                                                "message": {
                                                    "type": "string",
                                                    "default": "Successful",
                                                    "x-variable": "message"
                                                }
                                            }
                                        },
                                        "validation_information": {
                                            "type": "array",
                                            "items": {
                                                "type": "string"
                                            },
                                            "x-variable": "validation_information"
                                        }
                                    },
                                    "additionalProperties": true
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Authentication required to access data",
                        "schema": {
                            "type": "object",
                            "required": [
                                "metadata"
                            ],
                            "properties": {
                                "metadata": {
                                    "type": "object",
                                    "required": [
                                        "validation_response"
                                    ],
                                    "properties": {
                                        "validation_response": {
                                            "type": "object",
                                            "required": [
                                                "code",
                                                "message"
                                            ],
                                            "properties": {
                                                "code": {
                                                    "type": "integer",
                                                    "default": 200,
                                                    "x-variable": "code"
                                                },
                                                "message": {
                                                    "type": "string",
                                                    "default": "Successful",
                                                    "x-variable": "message"
                                                }
                                            }
                                        },
                                        "validation_information": {
                                            "type": "array",
                                            "items": {
                                                "type": "string"
                                            },
                                            "x-variable": "validation_information"
                                        }
                                    },
                                    "additionalProperties": true
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Access denied to protected data",
                        "schema": {
                            "type": "object",
                            "required": [
                                "metadata"
                            ],
                            "properties": {
                                "metadata": {
                                    "type": "object",
                                    "required": [
                                        "validation_response"
                                    ],
                                    "properties": {
                                        "validation_response": {
                                            "type": "object",
                                            "required": [
                                                "code",
                                                "message"
                                            ],
                                            "properties": {
                                                "code": {
                                                    "type": "integer",
                                                    "default": 200,
                                                    "x-variable": "code"
                                                },
                                                "message": {
                                                    "type": "string",
                                                    "default": "Successful",
                                                    "x-variable": "message"
                                                }
                                            }
                                        },
                                        "validation_information": {
                                            "type": "array",
                                            "items": {
                                                "type": "string"
                                            },
                                            "x-variable": "validation_information"
                                        }
                                    },
                                    "additionalProperties": true
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "Query parameters conflict or are malformed",
                        "schema": {
                            "type": "object",
                            "required": [
                                "metadata"
                            ],
                            "properties": {
                                "metadata": {
                                    "type": "object",
                                    "required": [
                                        "validation_response"
                                    ],
                                    "properties": {
                                        "validation_response": {
                                            "type": "object",
                                            "required": [
                                                "code",
                                                "message"
                                            ],
                                            "properties": {
                                                "code": {
                                                    "type": "integer",
                                                    "default": 200,
                                                    "x-variable": "code"
                                                },
                                                "message": {
                                                    "type": "string",
                                                    "default": "Successful",
                                                    "x-variable": "message"
                                                }
                                            }
                                        },
                                        "validation_information": {
                                            "type": "array",
                                            "items": {
                                                "type": "string"
                                            },
                                            "x-variable": "validation_information"
                                        }
                                    },
                                    "additionalProperties": true
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "type": "object",
                            "required": [
                                "metadata"
                            ],
                            "properties": {
                                "metadata": {
                                    "type": "object",
                                    "required": [
                                        "validation_response"
                                    ],
                                    "properties": {
                                        "validation_response": {
                                            "type": "object",
                                            "required": [
                                                "code",
                                                "message"
                                            ],
                                            "properties": {
                                                "code": {
                                                    "type": "integer",
                                                    "default": 200,
                                                    "x-variable": "code"
                                                },
                                                "message": {
                                                    "type": "string",
                                                    "default": "Successful",
                                                    "x-variable": "message"
                                                }
                                            }
                                        },
                                        "validation_information": {
                                            "type": "array",
                                            "items": {
                                                "type": "string"
                                            },
                                            "x-variable": "validation_information"
                                        }
                                    },
                                    "additionalProperties": true
                                }
                            }
                        }
                    }
                }
            }
        },
        "/{college_code}": {
            "x-controller": "transfer_college",
            "get": {
                "summary": "transfers Codes",
                "description": "Retrieve a specific transfer college",
                "operationId": "getTransferCollege",
                "parameters": [
                    {
                        "name": "college_code",
                        "in": "path",
                        "description": "college_code path parameter",
                        "required": true,
                        "type": "string",
                        "maxLength": 5
                    }
                ],
                "tags": [
                    "Transfer Colleges"
                ],
                "responses": {
                    "200": {
                        "description": "A specific transfer college",
                        "schema": {
                            "description": "A transfer college",
                            "type": "object",
                            "properties": {
                                "links": {
                                    "description": "Hypermedia links that impact the transfer college",
                                    "type": "object",
                                    "required": [
                                        "transfer_college__info"
                                    ],
                                    "properties": {
                                        "transfer_college__info": {
                                            "type": "object",
                                            "required": [
                                                "rel",
                                                "href",
                                                "method"
                                            ],
                                            "properties": {
                                                "rel": {
                                                    "type": "string",
                                                    "enum": [
                                                        "self"
                                                    ],
                                                    "default": "self"
                                                },
                                                "href": {
                                                    "type": "string",
                                                    "format": "uri",
                                                    "default": "https://api.byu.edu/domains/transfers/transfer_colleges/v1/{college_code}",
                                                    "x-template": "https://api.byu.edu/domains/transfers/transfer_colleges/v1/:college_code"
                                                },
                                                "method": {
                                                    "type": "string",
                                                    "enum": [
                                                        "GET"
                                                    ],
                                                    "default": "GET"
                                                }
                                            }
                                        },
                                        "transfer_college__modify": {
                                            "type": "object",
                                            "required": [
                                                "rel",
                                                "href",
                                                "method"
                                            ],
                                            "properties": {
                                                "rel": {
                                                    "type": "string",
                                                    "enum": [
                                                        "transfer_college__modify"
                                                    ],
                                                    "default": "transfer_college__modify"
                                                },
                                                "href": {
                                                    "type": "string",
                                                    "format": "uri",
                                                    "default": "https://api.byu.edu/domains/transfers/transfer_colleges/v1/{college_code}",
                                                    "x-template": "https://api.byu.edu/domains/transfers/transfer_colleges/v1/:college_code"
                                                },
                                                "method": {
                                                    "type": "string",
                                                    "enum": [
                                                        "PUT"
                                                    ],
                                                    "default": "PUT"
                                                }
                                            }
                                        }
                                    }
                                },
                                "metadata": {
                                    "type": "object",
                                    "required": [
                                        "validation_response"
                                    ],
                                    "properties": {
                                        "validation_response": {
                                            "type": "object",
                                            "required": [
                                                "code",
                                                "message"
                                            ],
                                            "properties": {
                                                "code": {
                                                    "type": "integer",
                                                    "default": 200,
                                                    "x-variable": "code"
                                                },
                                                "message": {
                                                    "type": "string",
                                                    "default": "Successful",
                                                    "x-variable": "message"
                                                }
                                            }
                                        },
                                        "validation_information": {
                                            "type": "array",
                                            "items": {
                                                "type": "string"
                                            },
                                            "x-variable": "validation_information"
                                        }
                                    },
                                    "additionalProperties": true
                                },
                                "college_code": {
                                    "description": "A unique college_code",
                                    "type": "string",
                                    "maxLength": 5,
                                    "example": "00000",
                                    "x-variable": "college_code"
                                },
                                "active_status": {
                                    "description": "active_status",
                                    "type": "string",
                                    "enum": [
                                        "Y",
                                        "N"
                                    ],
                                    "example": "Y",
                                    "x-variable": "active_status"
                                },
                                "college_name_long": {
                                    "description": "college_name_long",
                                    "type": "string",
                                    "maxLength": 100,
                                    "example": "Utah Valley University",
                                    "x-variable": "college_name_long"
                                },
                                "college_type": {
                                    "description": "college_type",
                                    "type": "string",
                                    "maxLength": 25,
                                    "example": "4 Year",
                                    "x-variable": "college_type"
                                },
                                "college_name": {
                                    "description": "college_name",
                                    "type": "string",
                                    "maxLength": 35,
                                    "example": "Utah Valley University",
                                    "x-variable": "college_name"
                                },
                                "address_line_2": {
                                    "description": "address_line_2",
                                    "type": "string",
                                    "maxLength": 35,
                                    "example": "",
                                    "x-variable": "address_line_2"
                                },
                                "address_line_3": {
                                    "description": "address_line_3",
                                    "type": "string",
                                    "maxLength": 35,
                                    "example": "",
                                    "x-variable": "address_line_3"
                                },
                                "address_line_4": {
                                    "description": "address_line_4",
                                    "type": "string",
                                    "maxLength": 35,
                                    "example": "",
                                    "x-variable": "address_line_4"
                                },
                                "address_line_5": {
                                    "description": "address_line_5",
                                    "type": "string",
                                    "maxLength": 35,
                                    "example": "",
                                    "x-variable": "address_line_5"
                                },
                                "college_city": {
                                    "description": "college_city",
                                    "type": "string",
                                    "maxLength": 30,
                                    "example": "Orem",
                                    "x-variable": "college_city"
                                },
                                "college_state": {
                                    "description": "college_state",
                                    "type": "string",
                                    "maxLength": 2,
                                    "example": "UT",
                                    "x-variable": "college_state"
                                },
                                "college_zip": {
[...]
