{
    "basePath": "/domains/legacy/tuition/tuiwebservice/v1",
    "host": "api.byu.edu:443",
    "paths": {
        "/{byu_id}/{year_term}": {
            "get": {
                "summary": "Calculate tuition",
                "tags": [
                    "TuitionCalcService"
                ],
                "x-auth-type": "Application & Application User",
                "x-throttling-tier": "Unlimited",
                "description": "Calculate tuition",
                "parameters": [
                    {
                        "description": "string -> individual person identifier",
                        "name": "byu_id",
                        "type": "string",
                        "required": true,
                        "in": "path"
                    },
                    {
                        "description": "string -> Specific year and term",
                        "name": "year_term",
                        "type": "string",
                        "required": true,
                        "in": "path"
                    }
                ],
                "responses": {
                    "200": {
                        "schema": {
                            "type": "string"
                        },
                        "description": "Service request is OK and a response has been generated."
                    },
                    "400": {
                        "schema": {
                            "type": "string"
                        },
                        "description": "There appears to be a syntax error in the composition of the service request. The response structure may contain information about the error. If the base URI or service request URI is invalid, any response will come as an HTTP response."
                    },
                    "403": {
                        "schema": {
                            "type": "string"
                        },
                        "description": "The user does not have access to the resource."
                    },
                    "404": {
                        "schema": {
                            "type": "string"
                        },
                        "description": "The target resource can not be found for the provided resource identifiers."
                    },
                    "405": {
                        "schema": {
                            "type": "string"
                        },
                        "description": "The service method is not supported by the service."
                    },
                    "409": {
                        "schema": {
                            "type": "string"
                        },
                        "description": "A conflict has occurred. The response structure may contain information about the conflict."
                    },
                    "500": {
                        "schema": {
                            "type": "string"
                        },
                        "description": "An error occurred generating the response to the service request. This is strictly a server error and not an application error."
                    }
                },
                "operationId": "CalculateTuition"
            }
        },
        "/documentation": {
            "get": {
                "summary": "service definition",
                "x-auth-type": "Application & Application User",
                "x-throttling-tier": "Unlimited",
                "description": "service definition",
                "responses": {
                    "200": {
                        "schema": {
                            "type": "string"
                        },
                        "description": "Success"
                    }
                },
                "operationId": "getServiceDocumentation"
            }
        }
    },
    "schemes": [
        "https"
    ],
    "produces": [
        "application/json"
    ],
    "swagger": "2.0",
    "definitions": {},
    "info": {
        "title": "TuitionTuiWebService",
        "description": "TuitionCalcService",
        "version": "v1"
    }
}