{
    "basePath": "/domains/erp/hr/tuition_benefit_eligibility/v1",
    "host": "api.byu.edu:443",
    "paths": {
        "/*": {
            "get": {
                "summary": "Determine tuition benefit eligibility for employee",
                "description": "Gets the eligibility for an employee for the Tuition Benefit",
                "parameters": [
                    {
                        "pattern": "^[0-9]{9}$",
                        "description": "A 9 digit employee ID",
                        "name": "byu_id",
                        "required": true,
                        "type": "string",
                        "in": "query"
                    },
                    {
                        "description": "The date to check against in the format defined by RFC 3339, section 5.6, for example: 2017-07-21",
                        "name": "program_date",
                        "format": "date",
                        "type": "string",
                        "in": "query"
                    },
                    {
                        "pattern": "^(\\d|1\\d)(\\.[05])?$",
                        "description": "The number of credit hours to request, in decimal form. E.g 12.5, 6.0, or 3",
                        "name": "credit_hours",
                        "required": true,
                        "type": "number",
                        "in": "query"
                    },
                    {
                        "maxLength": 5,
                        "description": "Numerical designation of calendar year and semester/term. Format is yyyyt where t is a single digit of 1 = Winter, 3 = Spring, 4 = Summer, 5 = Fall",
                        "name": "year_term",
                        "type": "string",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "schema": {
                            "properties": {
                                "tuition_flag": {
                                    "description": "Whether or not the person can take the requested number of credits",
                                    "type": "boolean"
                                },
                                "year_term": {
                                    "description": "The year term code that was determined from the parameters passed in",
                                    "type": "string"
                                }
                            },
                            "required": [
                                "tuition_flag",
                                "year_term"
                            ]
                        },
                        "description": "Success",
                        "examples": {
                            "application/json": {
                                "tuition_flag": true,
                                "year_term": "20183"
                            }
                        }
                    },
                    "400": {
                        "schema": {
                            "properties": {
                                "status": {
                                    "properties": {
                                        "reason": {
                                            "description": "The reason the request failed.",
                                            "type": "string"
                                        },
                                        "byu_id": {
                                            "description": "The string passed in as the byu_id parameter.",
                                            "type": "string"
                                        },
                                        "year_term": {
                                            "description": "The string passed in as the year_term parameter.",
                                            "type": "string"
                                        },
                                        "program_date": {
                                            "description": "The string passed in as the program_date parameter.",
                                            "type": "string"
                                        },
                                        "credit_hours": {
                                            "description": "The string passed in as the credit_hours parameter.",
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "reason"
                                    ]
                                }
                            }
                        },
                        "description": "Bad Request",
                        "examples": {
                            "application/json": {
                                "status": {
                                    "reason": "byu_id, credit_hours and either program_date or year_term are required parameters",
                                    "byu_id": "555266100",
                                    "year_term": "20183",
                                    "credit_hours": null,
                                    "program_date": null
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                },
                "x-auth-type": "Application & Application User",
                "x-throttling-tier": "Unlimited"
            }
        }
    },
    "swagger": "2.0",
    "info": {
        "title": "Tuition_Benefit_Eligibility",
        "description": "Determines if someone is eligible to get the tuition benefit for a specified number of credits in a given term. The service will look up how many credits the person was, is, or will be enrolled in on the specified date, adding the additional credits specified in the web service request, and compares the total credits with the Tuition Eligibility rules.",
        "version": "v1"
    }
}