{
    "paths": {
        "/*": {
            "get": {
                "x-auth-type": "Application & Application User",
                "x-throttling-tier": "Unlimited",
                "parameters": [
                    {
                        "maxLength": 8,
                        "description": "Voucher ID",
                        "minLength": 1,
                        "name": "voucher_id",
                        "required": false,
                        "type": "string",
                        "in": "query",
                        "allowEmptyValue": true
                    },
                    {
                        "maxLength": 10,
                        "description": "Supplier ID",
                        "minLength": 1,
                        "name": "vendor_id",
                        "required": false,
                        "type": "string",
                        "in": "query",
                        "allowEmptyValue": true
                    },
                    {
                        "maxLength": 30,
                        "description": "Invoice ID",
                        "minLength": 1,
                        "name": "invoice_id",
                        "required": false,
                        "type": "string",
                        "in": "query",
                        "allowEmptyValue": true
                    }
                ],
                "responses": {
                    "200": {
                        "schema": {
                            "properties": {
                                "get_voucher": {
                                    "properties": {
                                        "voucher_id": {
                                            "type": "string"
                                        },
                                        "gross_amt": {
                                            "type": "string"
                                        },
                                        "origin": {
                                            "type": "string"
                                        },
                                        "line": {
                                            "properties": {
                                                "unit_of_measure": {
                                                    "type": "string"
                                                },
                                                "merchandise_amount": {
                                                    "type": "string"
                                                },
                                                "line_number": {
                                                    "type": "string"
                                                },
                                                "quantity": {
                                                    "type": "string"
                                                },
                                                "unit_price": {
                                                    "type": "string"
                                                },
                                                "distribution": {
                                                    "properties": {
                                                        "amount": {
                                                            "type": "string"
                                                        },
                                                        "class_fld": {
                                                            "type": "string"
                                                        },
                                                        "distribution_line_number": {
                                                            "type": "string"
                                                        },
                                                        "account": {
                                                            "type": "string"
                                                        },
                                                        "operating_unit": {
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "invoice_id": {
                                            "type": "string"
                                        },
                                        "vendor_id": {
                                            "type": "string"
                                        },
                                        "invoice_dt": {
                                            "type": "string"
                                        },
                                        "pymnt_terms_cd": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        },
                        "description": "success"
                    }
                }
            },
            "options": {
                "x-auth-type": "Application & Application User",
                "x-throttling-tier": "Unlimited",
                "responses": {
                    "200": {}
                }
            }
        }
    },
    "swagger": "2.0",
    "externalDocs": {
        "description": "Example Documentation",
        "url": "https://byuoit.atlassian.net/wiki/display/WSO2/API+Web+Service+Documentation+Index"
    },
    "info": {
        "title": "Voucher",
        "description": "This API Looks up a voucher by voucher_id, invoice_id, or vendor_id or a combination of all 3.",
        "version": "v1"
    },
    "basePath": "/domains/erp/fs/get_voucher/v1",
    "host": "api.byu.edu:443"
}