{
    "basePath": "/domains/legacy/wasd/v1",
    "paths": {
        "/*": {
            "get": {
                "x-auth-type": "Application & Application User",
                "summary": "Just a test endpoint for now",
                "tags": [
                    "wasdInfo"
                ],
                "x-throttling-tier": "Unlimited",
                "description": "Just a test endpoint for now",
                "parameters": [],
                "responses": {
                    "200": {
                        "schema": {
                            "type": "string"
                        },
                        "description": "Service request is OK and a response has been generated."
                    },
                    "400": {
                        "schema": {
                            "type": "string"
                        },
                        "description": "There appears to be a syntax error in the composition of the service request. The response structure may contain information about the error. If the base URI or service request URI is invalid, any response will come as an HTTP response."
                    },
                    "403": {
                        "schema": {
                            "type": "string"
                        },
                        "description": "The user does not have access to the resource."
                    },
                    "500": {
                        "schema": {
                            "type": "string"
                        },
                        "description": "An error occurred generating the response to the service request. This is strictly a server error and not an application error."
                    }
                },
                "operationId": "WASD Info"
            }
        }
    },
    "host": "api.byu.edu:443",
    "schemes": [
        "https"
    ],
    "produces": [
        "application/json"
    ],
    "swagger": "2.0",
    "definitions": {},
    "info": {
        "title": "wasdInfo",
        "description": "wasdInfoService: A test service used by Jesse Lyons, he's using it so please refer to him before you add or delete anything.",
        "version": "v1"
    }
}