{
    "paths": {
        "/*": {
            "post": {
                "x-auth-type": "Application & Application User",
                "x-throttling-tier": "Unlimited",
                "parameters": [
                    {
                        "schema": {
                            "type": "object"
                        },
                        "description": "Request Body",
                        "name": "Payload",
                        "required": false,
                        "in": "body"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            },
            "options": {
                "x-auth-type": "Application & Application User",
                "x-throttling-tier": "Unlimited",
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        }
    },
    "swagger": "2.0",
    "consumes": [
        "application/xml",
        "application/json"
    ],
    "externalDocs": {
        "description": "Example Documentation",
        "url": "https://byuoit.atlassian.net/wiki/display/WSO2/WORK_ORDER"
    },
    "info": {
        "title": "work_order",
        "description": "This API is used to load work order data from physical facilities.",
        "version": "v1"
    },
    "basePath": "/domains/erp/hr/work_order/v1",
    "host": "api.byu.edu:443"
}