{
    "paths": {
        "/stream": {
            "get": {
                "tags": [
                    "Streams"
                ],
                "summary": "Get a stream from the pool",
                "x-auth-type": "Application & Application User",
                "x-throttling-tier": "Unlimited",
                "parameters": [
                    {
                        "name": "longitude",
                        "type": "string",
                        "required": false,
                        "in": "query"
                    },
                    {
                        "name": "latitude",
                        "type": "string",
                        "required": false,
                        "in": "query"
                    },
                    {
                        "name": "phone_number",
                        "type": "string",
                        "required": false,
                        "in": "query"
                    },
                    {
                        "name": "byu_id",
                        "type": "string",
                        "required": true,
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Ok"
                    },
                    "401": {
                        "description": "User cannot perform this task."
                    },
                    "403": {
                        "description": "User cannot call this resource."
                    },
                    "404": {
                        "description": "Streams cannot be found."
                    },
                    "500": {
                        "description": "Server Error."
                    }
                }
            }
        },
        "/stream/{stream_id}": {
            "delete": {
                "tags": [
                    "Streams"
                ],
                "summary": "Deletes the stream or adds back to pool",
                "x-auth-type": "Application & Application User",
                "x-throttling-tier": "Unlimited",
                "x-scope": "",
                "parameters": [
                    {
                        "name": "stream_id",
                        "type": "string",
                        "required": true,
                        "in": "path"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Ok"
                    },
                    "401": {
                        "description": "User cannot perform this task."
                    },
                    "403": {
                        "description": "User cannot call this resource."
                    },
                    "404": {
                        "description": "Stream cannot be found."
                    },
                    "500": {
                        "description": "Server Error."
                    }
                }
            }
        }
    },
    "swagger": "2.0",
    "info": {
        "title": "Wowza-Streaming",
        "description": "Get and Delete Wowza streams from BYU's pool of streams",
        "version": "v1.0"
    },
    "basePath": "/wowza/v1.0",
    "host": "api.byu.edu:443"
}