{
    "basePath": "/domains/erp/hr/service_request_auth/v1",
    "paths": {
        "/{service_id}": {
            "get": {
                "x-auth-type": "Application & Application User",
                "summary": "Get service request authorization information for a given service id.",
                "x-throttling-tier": "Unlimited",
                "description": "Get service request authorization information for a given service id.",
                "parameters": [
                    {
                        "$ref": "#/parameters/service_id"
                    }
                ],
                "responses": {
                    "200": {
                        "schema": {
                            "$ref": "#/definitions/service_request_authorization"
                        },
                        "description": "Successfully returned service request authorization information."
                    },
                    "400": {
                        "$ref": "#/responses/400"
                    },
                    "401": {
                        "$ref": "#/responses/401"
                    },
                    "403": {
                        "$ref": "#/responses/403"
                    },
                    "404": {
                        "$ref": "#/responses/404"
                    },
                    "500": {
                        "$ref": "#/responses/500"
                    },
                    "504": {
                        "$ref": "#/responses/504"
                    },
                    "default": {
                        "$ref": "#/responses/default"
                    }
                }
            },
            "delete": {
                "x-auth-type": "Application & Application User",
                "summary": "Delete service request authorization.",
                "x-throttling-tier": "Unlimited",
                "description": "Delete service request authorization from service request auth table.",
                "parameters": [
                    {
                        "$ref": "#/parameters/service_id"
                    }
                ],
                "responses": {
                    "200": {
                        "schema": {
                            "$ref": "#/definitions/response"
                        },
                        "description": "Successfully deleted service request(s)"
                    },
                    "400": {
                        "$ref": "#/responses/400"
                    },
                    "401": {
                        "$ref": "#/responses/401"
                    },
                    "403": {
                        "$ref": "#/responses/403"
                    },
                    "404": {
                        "$ref": "#/responses/404"
                    },
                    "500": {
                        "$ref": "#/responses/500"
                    },
                    "504": {
                        "$ref": "#/responses/504"
                    },
                    "default": {
                        "$ref": "#/responses/default"
                    }
                }
            }
        },
        "/*": {
            "post": {
                "x-auth-type": "Application & Application User",
                "summary": "Create or update new service request",
                "x-throttling-tier": "Unlimited",
                "description": "Create or update new service request",
                "parameters": [
                    {
                        "$ref": "#/parameters/service_request_authorization_body"
                    }
                ],
                "responses": {
                    "200": {
                        "schema": {
                            "$ref": "#/definitions/service_request_authorizations"
                        },
                        "description": "Response to adds or updates of single or multiple service requests"
                    },
                    "207": {
                        "schema": {
                            "$ref": "#/definitions/service_request_authorizations"
                        },
                        "description": "Successfully saved some service request authorizations but there were errors to others"
                    },
                    "400": {
                        "$ref": "#/responses/400"
                    },
                    "401": {
                        "$ref": "#/responses/401"
                    },
                    "403": {
                        "$ref": "#/responses/403"
                    },
                    "404": {
                        "$ref": "#/responses/404"
                    },
                    "500": {
                        "$ref": "#/responses/500"
                    },
                    "504": {
                        "$ref": "#/responses/504"
                    },
                    "default": {
                        "$ref": "#/responses/default"
                    }
                }
            },
            "get": {
                "x-auth-type": "Application & Application User",
                "summary": "Get all service request authorization information.",
                "x-throttling-tier": "Unlimited",
                "description": "Get all service request authorization information.",
                "responses": {
                    "200": {
                        "schema": {
                            "$ref": "#/definitions/service_request_authorizations"
                        },
                        "description": "Successfully returned service authorization requests."
                    },
                    "400": {
                        "$ref": "#/responses/400"
                    },
                    "401": {
                        "$ref": "#/responses/401"
                    },
                    "403": {
                        "$ref": "#/responses/403"
                    },
                    "404": {
                        "$ref": "#/responses/404"
                    },
                    "500": {
                        "$ref": "#/responses/500"
                    },
                    "504": {
                        "$ref": "#/responses/504"
                    },
                    "default": {
                        "$ref": "#/responses/default"
                    }
                }
            }
        }
    },
    "host": "api.byu.edu:443",
    "schemes": [
        "https"
    ],
    "produces": [
        "application/json",
        "application/xml"
    ],
    "swagger": "2.0",
    "definitions": {
        "service_id": {
            "description": "A string up to 20 characters that represents a service id",
            "example": "123456",
            "type": "string"
        },
        "message": {
            "description": "The response message from the system",
            "example": "success",
            "type": "string"
        },
        "response": {
            "properties": {
                "service_id": {
                    "$ref": "#/definitions/service_id"
                },
                "status": {
                    "$ref": "#/definitions/status"
                }
            },
            "type": "object"
        },
        "service_request_authorization": {
            "description": "The information about a service request authorization",
            "properties": {
                "service_id": {
                    "$ref": "#/definitions/service_id"
                },
                "status": {
                    "$ref": "#/definitions/status"
                },
                "department_id": {
                    "$ref": "#/definitions/department_id"
                }
            },
            "type": "object"
        },
        "service_request_authorization_body": {
            "items": {
                "description": "the information needed for a service request authorization",
                "properties": {
                    "service_id": {
                        "$ref": "#/definitions/service_id"
                    },
                    "service_request_description": {
                        "$ref": "#/definitions/department_id"
                    }
                },
                "required": [
                    "service_id",
                    "department_id"
                ],
                "type": "object"
            },
            "description": "the body required to create a new service_request_authorization",
            "type": "array"
        },
        "status": {
            "description": "the information from the system",
            "properties": {
                "message": {
                    "$ref": "#/definitions/message"
                },
                "code": {
                    "$ref": "#/definitions/code"
                }
            },
            "type": "object"
        },
        "service_request_authorizations": {
            "items": {
                "$ref": "#/definitions/service_request_authorization"
            },
            "description": "collection of service request authorizations",
            "type": "array"
        },
        "department_id": {
            "description": "A string up to 10 characters that represents a department id",
            "example": "169027",
            "type": "string"
        },
        "code": {
            "description": "HTML response status code",
            "example": "200",
            "type": "string"
        }
    },
    "parameters": {
        "service_id": {
            "description": "",
            "name": "service_id",
            "type": "string",
            "required": true,
            "in": "path"
        },
        "service_request_authorization_body": {
            "schema": {
                "$ref": "#/definitions/service_request_authorization_body"
            },
            "description": "service request authorization body",
            "name": "service_request_authorization_body",
            "required": true,
            "in": "body"
        }
    },
    "responses": {
        "400": {
            "description": "Invalid Request - unable to interpret request"
        },
        "401": {
            "description": "Authentication required to access data"
        },
        "403": {
            "description": "Access denied to protected data"
        },
        "404": {
            "description": "The requested resource does not exist"
        },
        "500": {
            "description": "Internal Server Error"
        },
        "504": {
            "description": "Gateway Timeout"
        },
        "default": {
            "description": "Unexpected error"
        }
    },
    "info": {
        "title": "YTIME_SERVICE_REQUEST_AUTHORIZATIONS",
        "description": "Provides the ability to update service request authorization information.",
        "version": "v1"
    }
}