{
    "basePath": "/domains/erp/hr/ytime_lunch_punch/v1",
    "host": "api.byu.edu:443",
    "paths": {
        "/{byu_id}": {
            "post": {
                "summary": "Submit lunch punch.",
                "x-auth-type": "Application & Application User",
                "x-throttling-tier": "Unlimited",
                "description": "Submit lunch punch for byu employee on given date",
                "parameters": [
                    {
                        "$ref": "#/parameters/byu_id"
                    },
                    {
                        "$ref": "#/parameters/punch_information"
                    }
                ],
                "responses": {
                    "200": {
                        "schema": {
                            "$ref": "#/definitions/punch_response"
                        },
                        "description": "Response from adding lunch punch to existing punch."
                    },
                    "400": {
                        "$ref": "#/responses/400"
                    },
                    "401": {
                        "$ref": "#/responses/401"
                    },
                    "403": {
                        "$ref": "#/responses/403"
                    },
                    "404": {
                        "$ref": "#/responses/404"
                    },
                    "500": {
                        "$ref": "#/responses/500"
                    },
                    "504": {
                        "$ref": "#/responses/504"
                    },
                    "default": {
                        "$ref": "#/responses/default"
                    }
                }
            }
        }
    },
    "schemes": [
        "https"
    ],
    "produces": [
        "application/json",
        "application/xml"
    ],
    "swagger": "2.0",
    "parameters": {
        "punch_information": {
            "schema": {
                "$ref": "#/definitions/punch_body"
            },
            "description": "Punch Information",
            "name": "lunch_punch",
            "required": true,
            "in": "body"
        },
        "byu_id": {
            "pattern": "^[0-9]{9}$",
            "description": "The nine-digit computer-generated ID assigned to each employee",
            "name": "byu_id",
            "required": true,
            "type": "string",
            "in": "path"
        }
    },
    "definitions": {
        "punch_type": {
            "description": "Character defining whether an employee is clocking in or out",
            "enum": [
                "I",
                "O",
                "T"
            ],
            "example": "I",
            "type": "string"
        },
        "location_description": {
            "description": "Additional information regarding the time punch location.",
            "example": "ITB-1034-PI3TC",
            "type": "string"
        },
        "has_exception": {
            "description": "Indicates that the employee has exception(s) on the indicated date (true) or not (false)",
            "example": false,
            "type": "boolean"
        },
        "date": {
            "description": "Information pertaining to a date",
            "type": "string"
        },
        "time_collection_source": {
            "description": "Identifer of the device used to record the time punch. Examples include PHN (phone), WEB (web), CPI (PI time clock) and MBL (mobile)",
            "enum": [
                "MBL",
                "CPI",
                "PPI"
            ],
            "example": "CPI",
            "type": "string"
        },
        "punch_time": {
            "description": "The specific time when a time punch is recorded. Formatted HH:MM:SS.",
            "example": "10:30:00",
            "type": "string"
        },
        "lunch_punch": {
            "description": "The information that will be returned as a result of a request.",
            "properties": {
                "duration": {
                    "$ref": "#/definitions/duration"
                },
                "status": {
                    "$ref": "#/definitions/status"
                },
                "employee_record": {
                    "$ref": "#/definitions/employee_record"
                },
                "start_time": {
                    "$ref": "#/definitions/start_time"
                },
                "punch_date": {
                    "$ref": "#/definitions/punch_date"
                }
            },
            "type": "object",
            "required": [
                "employee_record",
                "punch_date",
                "start_time",
                "duration"
            ]
        },
        "employee_record": {
            "description": "The number that corresponds to a particular job for an employee when they work multiple jobs concurrently on campus",
            "example": "0",
            "type": "string"
        },
        "punch": {
            "description": "Information for a punch",
            "properties": {
                "punch_time": {
                    "$ref": "#/definitions/punch_time"
                },
                "duration": {
                    "$ref": "#/definitions/duration"
                },
                "punch_zone": {
                    "$ref": "#/definitions/punch_zone"
                },
                "employee_record": {
                    "$ref": "#/definitions/employee_record"
                },
                "location_description": {
                    "$ref": "#/definitions/location_description"
                },
                "punch_date": {
                    "$ref": "#/definitions/punch_date"
                },
                "time_collection_source": {
                    "$ref": "#/definitions/time_collection_source"
                }
            },
            "type": "object",
            "required": [
                "employee_record",
                "punch_date",
                "punch_time",
                "duration",
                "time_collection_source"
            ]
        },
        "status": {
            "description": "Response from web call",
            "properties": {
                "message": {
                    "$ref": "#/definitions/message"
                },
                "code": {
                    "$ref": "#/definitions/code"
                }
            },
            "type": "object"
        },
        "punch_zone": {
            "description": "The time zone that a punch is submitted in.",
            "example": "-06:00",
            "type": "string"
        },
        "code": {
            "description": "HTML response status code",
            "example": "200",
            "type": "string"
        },
        "punch_response": {
            "properties": {
                "lunch_punch": {
                    "$ref": "#/definitions/timesheet"
                }
            },
            "type": "object"
        },
        "error_response": {
            "$ref": "#/definitions/lunch_punch"
        },
        "has_work_order_exception": {
            "description": "Indicates that the employee has work order exception(s) on the indicated date (true) or not (false)",
            "example": false,
            "type": "boolean"
        },
        "sequence_number": {
            "maxLength": 15,
            "description": "The unique number id of a punch in the system",
            "example": 5,
            "type": "integer"
        },
        "message": {
            "description": "The response message from the system",
            "example": "lunch punch recorded",
            "type": "string"
        },
        "duration": {
            "description": "The amount of time taken for a lunch break. Formatted HH:MM:SS",
            "example": "00:30:00",
            "type": "string"
        },
        "punched_hours": {
            "description": "Aggregate of time worked for the day based on In and Out punches. If the employee has any uncorrected exceptions it will display --:--",
            "example": "00:00",
            "type": "string"
        },
        "has_punch_exception": {
            "description": "Indicates that the employee has exception(s) on the indicated date (true) or not (false)",
            "example": false,
            "type": "boolean"
        },
        "deletable_pair": {
            "description": "One of the punches in each set of punches with matching numbers can be deleted.",
            "example": 2,
            "type": "integer"
        },
        "punch_body": {
            "properties": {
                "punch": {
                    "$ref": "#/definitions/punch"
                }
            },
            "type": "object"
        },
        "start_time": {
            "description": "The specific time when a time punch is recorded. Formatted HH:MM:SS.",
            "example": "10:30:00",
            "type": "string"
        },
        "other_hours": {
            "description": "Aggregate of other time recorded for the day (sick, vacation, on-call, etc.). If the employee has any uncorrected exceptions it will display --:--",
            "example": "00:00",
            "type": "string"
        },
        "hours_worked": {
            "description": "The number of hours worked.",
            "format": "double",
            "example": 15,
            "type": "number"
        },
        "clock_in": {
            "description": "True for an in punch, False for an out punch.",
            "example": false,
            "type": "boolean"
        },
        "punch_date": {
            "description": "The date when a time punch is recorded. Also known as the Date Under Report (DUR). Formatted YYYY-MM-DD.",
            "example": "2018-01-01",
            "type": "string"
        },
        "timesheet": {
            "description": "Information pertaining to a date",
            "properties": {
                "punched_hours": {
                    "$ref": "#/definitions/punched_hours"
                },
                "has_punch_exception": {
                    "$ref": "#/definitions/has_punch_exception"
                },
                "other_hours": {
                    "$ref": "#/definitions/other_hours"
                },
                "date": {
                    "$ref": "#/definitions/date"
                },
                "has_exception": {
                    "$ref": "#/definitions/has_exception"
                },
                "has_work_order_exception": {
                    "$ref": "#/definitions/has_work_order_exception"
                },
                "punches": {
                    "items": {
                        "$ref": "#/definitions/punch_info"
                    },
                    "description": "Collection of punches for a date",
                    "type": "array"
                }
            },
            "type": "object"
        },
        "punch_info": {
            "properties": {
                "sequence_number": {
                    "$ref": "#/definitions/sequence_number"
                },
                "punch_time": {
                    "$ref": "#/definitions/punch_time"
                },
                "deletable_pair": {
                    "$ref": "#/definitions/deletable_pair"
                },
                "punch_type": {
                    "$ref": "#/definitions/punch_type"
                },
                "start_time": {
                    "$ref": "#/definitions/start_time"
                },
                "hours_worked": {
                    "$ref": "#/definitions/hours_worked"
                },
                "clock_in": {
                    "$ref": "#/definitions/clock_in"
                }
            }
        }
    },
    "consumes": [
        "application/json",
        "application/xml"
    ],
    "responses": {
        "400": {
            "schema": {
                "$ref": "#/definitions/error_response"
            },
            "description": "Invalid Request - unable to interpret request"
        },
        "401": {
            "description": "Authentication required to access data"
        },
        "403": {
            "description": "Access denied to protected data"
        },
        "404": {
            "description": "The requested resource does not exist"
        },
        "500": {
            "description": "Internal Server Error"
        },
        "504": {
            "description": "Gateway Timeout"
        },
        "default": {
            "description": "Unexpected error"
        }
    },
    "info": {
        "title": "YTIME_LUNCHPUNCH",
        "description": "Provides ability add lunch times in the middle of a day.",
        "version": "v1"
    }
}