{
    "basePath": "/domains/erp/hr/service_requests/v1",
    "paths": {
        "/{service_id}": {
            "get": {
                "x-auth-type": "Application & Application User",
                "summary": "Get information for given service request id.",
                "x-throttling-tier": "Unlimited",
                "description": "Get information for given service request id.",
                "parameters": [
                    {
                        "$ref": "#/parameters/service_id"
                    }
                ],
                "responses": {
                    "200": {
                        "schema": {
                            "$ref": "#/definitions/service_request"
                        },
                        "description": "Successfully returned service request information."
                    },
                    "400": {
                        "$ref": "#/responses/400"
                    },
                    "401": {
                        "$ref": "#/responses/401"
                    },
                    "403": {
                        "$ref": "#/responses/403"
                    },
                    "404": {
                        "$ref": "#/responses/404"
                    },
                    "500": {
                        "$ref": "#/responses/500"
                    },
                    "504": {
                        "$ref": "#/responses/504"
                    },
                    "default": {
                        "$ref": "#/responses/default"
                    }
                }
            },
            "delete": {
                "x-auth-type": "Application & Application User",
                "summary": "Delete service request",
                "x-throttling-tier": "Unlimited",
                "description": "Delete service request from service request and service request auth tables",
                "parameters": [
                    {
                        "$ref": "#/parameters/service_id"
                    }
                ],
                "responses": {
                    "200": {
                        "schema": {
                            "$ref": "#/definitions/response"
                        },
                        "description": "Successfully deleted service request(s)"
                    },
                    "400": {
                        "$ref": "#/responses/400"
                    },
                    "401": {
                        "$ref": "#/responses/401"
                    },
                    "403": {
                        "$ref": "#/responses/403"
                    },
                    "404": {
                        "$ref": "#/responses/404"
                    },
                    "500": {
                        "$ref": "#/responses/500"
                    },
                    "504": {
                        "$ref": "#/responses/504"
                    },
                    "default": {
                        "$ref": "#/responses/default"
                    }
                }
            }
        },
        "/*": {
            "post": {
                "x-auth-type": "Application & Application User",
                "summary": "Create new service request",
                "x-throttling-tier": "Unlimited",
                "description": "Create new service request",
                "parameters": [
                    {
                        "schema": {
                            "$ref": "#/definitions/service_request_body"
                        },
                        "description": "Punch Information",
                        "name": "service_body_request",
                        "required": true,
                        "in": "body"
                    }
                ],
                "responses": {
                    "200": {
                        "schema": {
                            "$ref": "#/definitions/service_requests"
                        },
                        "description": "adds or updates single or multiple service requests"
                    },
                    "207": {
                        "schema": {
                            "$ref": "#/definitions/service_requests"
                        },
                        "description": "partial information was saved"
                    },
                    "400": {
                        "$ref": "#/responses/400"
                    },
                    "401": {
                        "$ref": "#/responses/401"
                    },
                    "403": {
                        "$ref": "#/responses/403"
                    },
                    "404": {
                        "$ref": "#/responses/404"
                    },
                    "500": {
                        "$ref": "#/responses/500"
                    },
                    "504": {
                        "$ref": "#/responses/504"
                    },
                    "default": {
                        "$ref": "#/responses/default"
                    }
                }
            },
            "get": {
                "x-auth-type": "Application & Application User",
                "summary": "Return information for service requests.",
                "x-throttling-tier": "Unlimited",
                "description": "Return information for service requests.",
                "responses": {
                    "200": {
                        "schema": {
                            "$ref": "#/definitions/service_requests"
                        },
                        "description": "Service Requests are in the response body."
                    },
                    "400": {
                        "$ref": "#/responses/400"
                    },
                    "401": {
                        "$ref": "#/responses/401"
                    },
                    "403": {
                        "$ref": "#/responses/403"
                    },
                    "404": {
                        "$ref": "#/responses/404"
                    },
                    "500": {
                        "$ref": "#/responses/500"
                    },
                    "504": {
                        "$ref": "#/responses/504"
                    },
                    "default": {
                        "$ref": "#/responses/default"
                    }
                }
            }
        }
    },
    "host": "api.byu.edu:443",
    "schemes": [
        "https"
    ],
    "produces": [
        "application/json",
        "application/xml"
    ],
    "swagger": "2.0",
    "definitions": {
        "service_id": {
            "description": "A string up to 20 characters that represents a service id",
            "example": "123456",
            "type": "string"
        },
        "message": {
            "description": "The response message from the system",
            "example": "success",
            "type": "string"
        },
        "response": {
            "description": "The response body for a delete operation",
            "properties": {
                "service_id": {
                    "$ref": "#/definitions/service_id"
                },
                "status": {
                    "$ref": "#/definitions/status"
                }
            },
            "type": "object"
        },
        "status": {
            "description": "the information from the system",
            "properties": {
                "message": {
                    "$ref": "#/definitions/message"
                },
                "code": {
                    "$ref": "#/definitions/code"
                }
            },
            "type": "object"
        },
        "project_id": {
            "description": "A string up to 15 characters that represents a project.",
            "example": "P103419",
            "type": "string"
        },
        "expiration_date": {
            "description": "Format YYYY-MM-DD",
            "example": "2020-04-20",
            "type": "string"
        },
        "service_request_body": {
            "items": {
                "description": "the information needed for a service request",
                "properties": {
                    "service_id": {
                        "$ref": "#/definitions/service_id"
                    },
                    "expiration_date": {
                        "$ref": "#/definitions/expiration_date"
                    },
                    "project_id": {
                        "$ref": "#/definitions/project_id"
                    },
                    "work_order_id": {
                        "$ref": "#/definitions/work_order_id"
                    },
                    "service_request_description": {
                        "$ref": "#/definitions/service_request_description"
                    }
                },
                "required": [
                    "service_id",
                    "service_request_description",
                    "work_order_id",
                    "project_id",
                    "expiration_date"
                ],
                "type": "object"
            },
            "description": "the body required to create a new service_request",
            "type": "array"
        },
        "work_order_id": {
            "description": "A string up to 15 characters that represents an individual work order",
            "example": "ABC123",
            "type": "string"
        },
        "service_request_description": {
            "description": "A string up to 60 characters describing what the service request is",
            "example": "Mens Lockeroom. Shower handle has fallen apart.",
            "type": "string"
        },
        "code": {
            "description": "HTML response status code",
            "example": "200",
            "type": "string"
        },
        "service_requests": {
            "items": {
                "$ref": "#/definitions/service_request"
            },
            "description": "collection of service requests",
            "type": "array"
        },
        "service_request": {
            "description": "The information about a service request",
            "properties": {
                "service_id": {
                    "$ref": "#/definitions/service_id"
                },
                "status": {
                    "$ref": "#/definitions/status"
                },
                "expiration_date": {
                    "$ref": "#/definitions/expiration_date"
                },
                "project_id": {
                    "$ref": "#/definitions/project_id"
                },
                "work_order_id": {
                    "$ref": "#/definitions/work_order_id"
                },
                "service_request_description": {
                    "$ref": "#/definitions/service_request_description"
                }
            },
            "type": "object"
        }
    },
    "parameters": {
        "service_id": {
            "description": "A string up to 20 characters that identifies a service",
            "name": "service_id",
            "type": "string",
            "required": true,
            "in": "path"
        }
    },
    "responses": {
        "400": {
            "description": "Invalid Request - unable to interpret request"
        },
        "401": {
            "description": "Authentication required to access data"
        },
        "403": {
            "description": "Access denied to protected data"
        },
        "404": {
            "description": "The requested resource does not exist"
        },
        "500": {
            "description": "Internal Server Error"
        },
        "504": {
            "description": "Gateway Timeout"
        },
        "default": {
            "description": "Unexpected error"
        }
    },
    "info": {
        "title": "YTIME_SERVICE_REQUESTS",
        "description": "Web services to update service request information.",
        "version": "v1"
    }
}